$primary-color: #008080;


body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fafafa;
    color: #414141;
}

a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
}

a, button, input[type="submit"], .btn{
    text-transform: uppercase;
    font-size: 13px;
}

#error{
    color: #c0392b;
}
