$navbar-height: 70px;

nav{
    background-color: $primary-color;
    height: $navbar-height;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 100;

    .fa{
        margin-right: 10px;
    }
    .caret{
        margin-left: 10px;
    }
    img{
        width: 60px;
        margin-top: 14px;
        margin-bottom: 4px;
    }
    a, a:visited{
        color: #fff;
    }
    a:hover, a:active, button:hover, button:active{
        color: #eee;
    }

    .menu-item{
        padding: 24px 16px;
        display: inline-block;
    }

    .active{
        background-color: darken($primary-color, 10%);
    }

    button{
        background-color: transparent;
        border: none;
        color: #fff;
    }

    #event-menu{
        margin-right: 24px;
    }

    .dropdown{
        ul{
            li{

                a{
                    padding-top: 8px;
                    padding-bottom: 8px;
                    color: #414141;
                }
            }
        }
    }
}
