@import 'base';
@import 'navbar';

body{
    height: 100vh;
    margin: 0;
    padding: 0;

    .split-pane{
        height: calc(100vh - $navbar-height)!important;

        .split-pane-divider{
            background-color: rgba(0, 0, 0, 0.2);
        }
        #left-component{
            width: 40em;
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
            background-color: #fff;
        }
        #divider{
            left: 40em;
            width: 3px;
            background-color: transparent;
        }
        #right-component{
            left: 40em;
            margin-left: 3px;
        }
    }
}
