@import 'base';

body{
    padding: 0;
    background-color: #f5f5f5;


    #header{
        background-color: $primary-color;
        color: #fff;
        height: 72px;
        text-transform: uppercase;

        a{
            color: #fff;
            float: right;
            padding-top: 36px;
            font-size: 1.2em;
        }
    }
    #body{
        padding-top: 32px;

        #add-crisis-board{
            padding: 24px;
            background-color: #fff;
            box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.2);

            #add-crisis{
                .fa{
                    padding-right: 4px;
                }
            }
            #name-of-crisis{
                margin-top: 16px;
                margin-bottom: 16px;
            }
            select{
                margin-bottom: 16px;
            }
            #padded-label{
                padding-top: 8px;
            }

            #selected-location-list{
                height: 144px;
                overflow-y: scroll;
                background-color: #f0f0f0;
                padding: 10px 16px;

                ul{
                    list-style: none;
                    padding-left: 0;

                    li{
                        text-indent: -16px;
                        padding-left: 20px;

                        a{
                            color: #e78c6c;
                            margin-left: 10px;
                            cursor: pointer;
                            .fa{
                                margin-right: 6px;
                            }
                        }
                    }
                }
                #empty-text{
                    text-align: center;
                    margin-top: 32px;
                    font-size: 1.2em;
                    color: #aaa;
                    text-transform: uppercase;
                }
            }
        }
        #active-crisis-map{
            padding: 24px;
            background-color: #fff;
            box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.2);
        }
        #filters{
            margin-bottom: 24px;
            margin-top: 24px;
        }
    }

}
