@import 'base';

body{
    padding: 0;
    background-color: #f5f5f5;


    #header{
        background-color: $primary-color;
        color: #fff;
        height: 72px;
        text-transform: uppercase;

        a{
            color: #fff;
            float: right;
            padding-top: 36px;
            font-size: 1.2em;
        }
    }
    #body{
        padding-top: 32px;

        #add-crisis-board{
            padding: 24px;
            background-color: #fff;
            box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.2);

            #add-crisis{
                .fa{
                    padding-right: 4px;
                }
            }
            #name-of-crisis{
                margin-top: 16px;
                margin-bottom: 16px;
            }
            select{
                margin-bottom: 16px;
            }
            #padded-label{
                padding-top: 8px;
            }
        }
    }

}
