@import 'base';
@import 'navbar';

nav{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

body{
    margin-top: $navbar-height;
    padding: 0;
    background-color: #f5f5f5;

    #map-section{
        h2{
            display: inline-block;
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 24px 16px 16px 16px;
        }
        #the-map{
            background: transparent;
            height: 480px;
        }
    }
    #body{
        box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.3);
        min-height: 50vh;

        #filters{
            padding: 16px 0;
        }
        label{
            color: #969696;
            font-size: 0.8em;
            text-transform: uppercase;
            vertical-align: sub;
        }
        h3{

            font-size: 1.2em;
            text-transform: uppercase;
        }

        #timeline-table{
            width: 100%;
            border-spacing: 4px;
            border-collapse: separate;

            td{
                padding: 6px;
                text-align: center;
                background-color: #fff;
            }
            .week-id {
                background-color: #bdc3c7;
                font-weight: bold;
            }
            .first-td {
                background-color: #bdc3c7;
                font-weight: bold;
            }
            .active{
                background-color: #ef5350;
            }
            .country-name{
                color: #FAFAFA;
                font-weight: bold;
                background-color: #008080;
            }
        }
    }
    #add-crisis-board{
        padding: 24px;
        background-color: #fff;
        box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.2);

        #add-crisis{
            .fa{
                padding-right: 4px;
            }
        }
        #name-of-crisis{
            margin-top: 16px;
            margin-bottom: 16px;
        }
        select{
            margin-bottom: 16px;
        }
        #padded-label{
            padding-top: 8px;
        }

        #selected-location-list{
            height: 144px;
            overflow-y: scroll;
            background-color: #f0f0f0;
            padding: 10px 16px;

            ul{
                list-style: none;
                padding-left: 0;

                li{
                    text-indent: -16px;
                    padding-left: 20px;

                    a{
                        color: #e78c6c;
                        margin-left: 10px;
                        cursor: pointer;
                        .fa{
                            margin-right: 6px;
                        }
                    }
                }
            }
            #empty-text{
                text-align: center;
                margin-top: 32px;
                font-size: 1.2em;
                color: #aaa;
                text-transform: uppercase;
            }
        }
    }
}
