@import 'base';
@import 'navbar';

body{
    background-color: #f0f0f0;
}

#main{
    h2{
        margin-top: 24px;
        margin-bottom: 32px;
    }
    #country-list{
        background-color: #fff;
        box-shadow: 2px 0 5px 3px rgba( 0, 0, 0, 0.2);

        h3{
            padding: 32px;
            padding-bottom: 0;
        }

        .country{
            padding: 16px 32px;
            cursor: pointer;
            .event{
                color: #969696;
            }
        }
        .country:hover{
            background-color: rgba(0,0,0,0.1);
            .event{
                    color: #717171;
            }
        }
    }
    #report-list{
        background-color: #fff;
        box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.2);

        header{
            padding: 32px;
            background-color: #fff;
            color: #008080;

            h3{
                margin-top: 0;
                padding-bottom: 0;
                display: inline-block;
            }
        }
        .reports{
            #weekly-report-list{
                .weekly-report{
                    padding: 10px 24px;

                    button{
                        float: right;
                        margin-right: 16px;
                        margin-top: 16px;
                    }
                }
            }
            #monthly-report-list{
                .monthly-report{
                    padding: 10px 24px;

                    .fa{
                        margin-right: 10px;
                    }
                }
            }

        }
    }
}
