@import 'base';
@import 'navbar';

body{
    background-color: #f0f0f0;
    min-height: 100vh;
}

#main{
    padding-top: 24px;
    header{
        height: 140px;
        h2{
            margin-top: 0;
            margin-bottom: 32px;
            text-transform: uppercase;
        }
        #filters{
            margin-bottom: 24px;

            label{
                margin-top: 8px;
            }
        }
    }

    #entries{
        height: calc(100vh - 250px)!important;
        background-color: #fff;
        box-shadow: 2px 0 5px 3px rgba( 0, 0, 0, 0.2);
        overflow-y: scroll;

        .entry{
            padding: 10px 32px;
            cursor: pointer;

            .details{
                color: #969696;
            }
        }
    }

    #report-content{
        height: calc(100vh - 250px)!important;
        background-color: #fff;
        box-shadow: 2px 0 5px 3px rgba( 0, 0, 0, 0.2);
        overflow-y: scroll;
        position: relative;

        #navigator{
            padding-top: 16px;
            a{
                display: inline-block;
                padding: 10px 24px;
            }
        }

    }
}
