#page-one{
    #multimedia-viewer{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 101;
        background-color: rgba(0,0,0,0.96);

        #viewer-wrapper{
            text-align: center;

            img{
                outline: none;
                max-height: 72vh;
                margin-top: 14vh;
                width: auto;
            }
            label{
                margin-top: 16px;
                font-size: 2em;
                color: #fff;
            }
        }
    }
    .split-pane{
        height: calc(100vh - #{$navbar-height} - 2px)!important;

        .split-pane-divider{
            background-color: rgba(0, 0, 0, 0.2);
        }
        #left-component{
            height: 100%;
            width: 33vw;
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
            background-color: #fff;
            overflow-x: hidden;
            position: relative;

            .fa{
                margin-right: 0;
            }
            #lead-options-container{
                padding: 8px;
                width: 100%;
                margin-bottom: 4px;
                height: 48px;
                background-color: #f0f0f0;

                #zoom-buttons{
                    text-align: right;

                    button{
                        @include btn-shadow-lg();
                    }
                    .fa{
                        font-size: 1.2em;
                    }
                }
            }
            #lead-preview-container{
                #lead-preview{
                    height: calc(100vh - #{$navbar-height} - 56px);
                    box-sizing: border-box;
                    border: none;
                }
                iframe{
                    width: 100%;
                }
                #lead-simplified-preview{
                    height: calc(100vh - 144px);
                    overflow-x: auto;
                    padding: 16px;
                }
            }
            #multimedia-pane{
                position: fixed;
                left: 0;
                bottom: -236px;
                width: inherit;
                background-color: #1d1f21;
                transform: translateZ(0);
                min-height: 284px;
                text-align: right;
                color: #fff;
                transition: 0.2s all ease-in-out;

                #expand-pane{
                    color: #fff;
                    cursor: pointer;
                    padding: 10px 16px;
                    transition: 0.2s all ease-in-out;
                }
                #multimedia-container{
                    display: flex;
                    overflow-x: auto;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: space-between;

                    .multimedia{
                        text-align: center;
                        padding: 2px 8px;
                        cursor: pointer;

                        img{
                            max-height: 180px;
                            width: auto;
                        }
                        label{
                            height: 36px;
                            vertical-align: sub;
                        }
                    }
                }
            }
            .open{
                bottom: 0!important;

                #expand-pane{
                    transform: rotate(180deg);
                }
            }
        }
        #divider{
            left: 33vw;
            width: 3px;
            z-index: 21;
            background-color: transparent;
        }
        #right-component{
            left: 33vw;
            margin-left: 3px;
            padding-top: 24px;

            .btn{
                margin-right: 8px;
                @include btn-shadow-sm();
                margin-bottom: 2px;
            }
            .row{
                margin-bottom: 24px;
            }
            .save-excerpt{
                float: right;
            }
            .cancel{
                float: right;
            }
            #edit-entries-btn{
                float: right;
            }
            #excerpt-text{
                height: 96px;
                margin-bottom: 10px;
            }
            #matrix-one{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;

                td{
                    color: #fff;
                }

                .pillar{
                    margin-top: 4px;
                    margin-bottom: 4px;
                    -webkit-user-select: none;

                    .pillar-header{
                        display: inline-block;
                        padding: 6px 10px;
                        margin-right: 2px;
                        background-color: #fff;
                        text-align: center;
                        width: 192px;
                        float: left;
                    }
                    .sub-pillars{
                        margin-left: 204px;
                    }
                    .sub-pillar{
                        text-indent: 0;
                        display: inline-block;
                        padding: 6px 10px;
                        margin-right: 2px;
                        margin-bottom: 2px;
                        cursor: pointer;
                        background-color: #ddd;
                        transition: 0.2s all ease-in-out;
                    }
                    .active{
                        transform: scaleY(1.1), scaleX(1.02);
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
            #matrix-two{
                width: 100%;
                border-spacing: 2px;
                border-collapse: separate;

                tbody{
                    td{
                        color: #fff;
                    }
                }

                td{
                    padding: 6px;
                    text-align: center;
                    strong{
                        text-transform: uppercase;
                    }
                }
                .sector {
                    width: 7%;
                }
                .pillar-header {
                    background-color: #f7caac;
                }
                .subpillar {
                    background-color: lighten(#f7caac, 5%);
                }
                .attribute-block {
                    cursor: pointer;
                }

            }

        }
    }
    #edit-entries-btn{
        float: right;
    }
    #excerpt-text{
        height: 96px;
    }
    #pillars{
        display: flex;
        flex-direction: column;

        .pillar{
            margin-top: 4px;
            margin-bottom: 4px;
            -webkit-user-select: none;

            .pillar-header{
                display: inline-block;
                padding: 24px;
                margin-right: 2px;
                background-color: #ccc;
            }
            .sub-pillar{
                display: inline-block;
                padding: 24px;
                margin-right: 2px;
                cursor: pointer;
                background-color: #eee;
                transition: 0.2s all ease-in-out;
            }
            .active{
                transform: scaleY(1.1);
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
}
