#page-two{
    height: calc(100vh - #{$navbar-height});
    overflow-y: auto;

    #button-pane{
        position: fixed;
        z-index: 100;
        background-color: #fff;
        width: 100%;
        @include shadow();
        text-align: right;

        button{
            color: white;
            margin: 16px 5px;
            @include btn-shadow-md ;
            padding: 6px 6px;
            &.cancel-button{
                background-color: $danger-color;

            }
            &.save-button{
                background-color: $info-color;

            }
            &.save-and-next-button{
                background-color: $info-color;

            }
            &.switch-page{
                background-color: $primary-color;

            }
            i{
                padding-right: 10px;
            }
        }
    }

    .entries {
        margin-top: 64px;

        .entry-container{
            position: relative;
            overflow: hidden;
            background-color: #fff;
            padding: 10px 16px;
            border: 1px solid rgba(0, 0, 0, 0.1);

            .action-buttons {
                width: 100vw;
                position: absolute;
                right: 10px;
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                a {
                    z-index: 1;
                    margin-bottom: 2px;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    cursor: pointer;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
                }

                .edit-entry-button {
                    background-color: $info-color;
                    margin-bottom: 10px;
                }
                .delete-entry-button {
                    background-color: $danger-color;
                }
            }

            .entry {
                position: relative;

                .input-element, .multiselect, .scale-container, .geolocations, .organigram, .matrix1d-list-container, .matrix2d-list-container {
                    >header {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 24px;

                        >*:not(:first-child) {
                            padding-left: 5px;
                        }
                    }

                    input {
                        width: 100%;
                        height: calc(100% - 24px);
                    }
                }
                .matrix1d-list {
                    width: $matrix1d-width;
                }
                .matrix2d-list {
                    width: $matrix2d-width;
                }
                .geolocations, .organigram, .matrix1d-list-container, .matrix2d-list-container {
                    top: 0;

                }
                .apply-button {
                    cursor: pointer;

                    &.apply-all {
                        color: #f39c12;
                    }

                    &.apply-below {
                        color: #3498db;
                    }
                }

                .excerpt-box-container {
                    position: absolute;

                    textarea {
                        width: 100%;
                        height: calc(100% - 20px);
                        padding: 16px;
                    }
                }

                .image-box-container {
                    position: absolute;

                    .image-box {
                        width: 100%;
                        height: calc(100% - 20px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #fff;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }

                .scale-container {
                    position: absolute;

                    .scale {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: calc(100% - 24px);

                        span {
                            display: inline-block;
                            width: 10px;
                            height: 20px;
                            margin: 0 2px;
                            border-radius: 2px;

                            &.active {
                                width: 12px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }

    }

}

.chart-div {
    .org-node {
        user-select: none;
        cursor: pointer;
        padding: 8px;
    }

    .active-org-node {
        color: white;
        background-color: $primary-color;
    }
}

.matrix2d-list-container {
    >label{
        margin-bottom: 10px;
    }
    .matrix2d-list {
        .row {
            display: flex;
            padding: 6px 0;
            justify-content: space-between;
            // margin-top: 8px;

            > div {
                flex-basis: calc(50% - 6px);
            }
            a { cursor: pointer; }
            .pillar, .sector {
                font-weight: $font-weight-bold;
            }
            .fa-plus {
                color: $primary-color
            }
            .fa-times {
                color: $danger-color;
                margin-left: 2px;
            }
            .subsector {
                padding: 2px;
            }
            .subsectors-dropdown {
                outline: none;
                flex-direction: column;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);

                .item{
                    padding: 2px 6px;
                    text-transform: none;
                    display: block;
                    width: 100%;
                    cursor: pointer;

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.06);
                    }
                }
            }
        }
    }
}
