#page-one{
    .split-pane{
        height: calc(100vh - #{$navbar-height});
        $left-component-width: 33vw;

        #left-component{
            height: 100%;
            width: $left-component-width;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
            background-color: #f0f0f0;
            overflow-x: hidden;
            position: relative;
            $lead-options-container-height: 48px;

            #lead-options-container{
                height: $lead-options-container-height;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
                background-color: #fff;

                #lead-view-options{
                    flex-basis: 60%;

                    label{
                        display: inline-block;
                        cursor: pointer;
                        height: 48px;
                        font-weight: $font-weight-bold;
                        padding: calc(calc(48px - #{$text-size-sm}) / 2) 16px 0 16px;

                        input{
                            display: none;
                        }

                        &.active{
                            color: $primary-color;
                            border-bottom: 3px solid $primary-color;
                        }
                    }
                }
                #zoom-buttons{
                    flex-basis: 40%;
                    align-self: stretch;
                    display: flex;
                    justify-content: flex-end;

                    button{
                        width: 56px;
                        color: $label-color;
                        height: 100%;
                        border: none;
                        background-color: #fff;
                        color: $label-color;
                        font-size: $text-size-xl;
                    }
                }
            }
            #lead-preview-container{
                position: relative;

                #lead-preview{
                    height: calc(100vh - #{$navbar-height} - #{$lead-options-container-height});
                }
                iframe{
                    border: none;
                    width: 100%;
                }

                #process-button{

                    z-index: auto;
                    position: absolute;
                    bottom: 15px;
                    right: 75px;
                    height: 35px;
                    width: 35px;
                    border-radius: 30px;
                    border: 1px solid #fff;
                    background-color: rgba(256, 256, 256,.8);
                    @include shadow;

                    i{
                            color: rgba(0, 0, 0,0.4);
                    }

                    &:hover{
                        .fa{
                            color: #009900;
                        }
                    }

                    &:focus{
                        .fa{
                            color: #009900;
                        }

                    }

                }
                #pending-button{

                    z-index: auto;
                    position: absolute;
                    bottom: 15px;
                    right: 30px;
                    height: 35px;
                    width: 35px;
                    border-radius: 30px;
                    border: 1px solid #fff;
                    background-color: rgba(256, 256, 256,0.8);
                    @include shadow;

                    i{
                            color: rgba(0, 0, 0,0.4);
                    }
                    &:hover{
                        .fa{
                            color: #cc6600;
                        }
                    }
                    &:focus{
                        .fa{
                            color: #cc6600;
                        }

                    }
                }

                #lead-simplified-preview{
                    height: calc(100vh - #{$navbar-height} - #{$lead-options-container-height});
                    overflow-x: auto;
                    padding: 16px;

                    pre {
                        word-break: normal;
                        white-space: pre-wrap;
                    }
                }
                #lead-images-preview{
                    position: relative;
                    height: calc(100vh - #{$navbar-height} - #{$lead-options-container-height});

                    .image-viewer{
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 101;
                        background-color: rgba(0,0,0,0.96);

                        .viewer-close-btn{
                            position: absolute;
                            right: 12px;
                            top: 0;
                            height: 48px;
                            width: 48px;
                            background-color: rgba(0, 0, 0, 0.9);
                            color: #fff;
                            cursor: pointer;
                            float: right;
                            text-align: center;

                            .fa{
                                margin-top: 12px;
                            }
                        }
                        .image-align-wrapper{
                            display: flex;
                            align-items: center;
                            height: calc(100vh - #{$navbar-height} - #{$lead-options-container-height});
                            width: $left-component-width;
                            overflow-x: auto;
                            margin: auto;
                            overflow-y: auto;

                            .image-wrapper{
                                flex: none;
                                margin: auto;

                                img{
                                    height: calc(100vh - #{$navbar-height} - #{$lead-options-container-height} - 64px);
                                    width: auto;
                                }
                            }
                        }
                        ::-webkit-scrollbar-track{
                            background-color: #f0f0f0;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                        }
                        ::-webkit-scrollbar-thumb {
                            background-color: rgba(0, 0, 0, 0.3);
                        }
                    }
                    #lead-images-container{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        padding: 5px 10px;
                        overflow-x: none;
                        overflow-y: auto;

                        .image{
                            text-align: center;
                            padding: 2px 8px;
                            cursor: pointer;

                            img{
                                max-height: 196px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
        #divider{
            left: calc(#{$left-component-width} + 5px);
            width: 0;
            background-color: transparent;
        }
        #right-component{
            left: calc(#{$left-component-width} + 2px);

            #page-one-header{
                height: 48px;
                padding: 10px 16px;
                display: flex;
                justify-content: space-between;

                #excerpt-controls{
                    flex-basis: 50%;
                    display: flex;

                    .action-buttons{
                        color: #fff;
                        #add-excerpt{ background-color: $info-color; }
                        #delete-excerpt{ background-color: $danger-color; }

                    }
                }
                .page-controls{
                    flex-basis: 50%;
                    display: flex;
                    justify-content: flex-end;

                    .cancel{ background-color: $danger-color; }
                    .save-excerpt{ background-color: $info-color; }
                    .save-and-next{background-color: $info-color;}
                    .cancel, .save-excerpt, .save-and-next{
                        .fa{
                            margin-right: 10px;
                        }
                    }
                    #edit-entries-btn{
                        background-color: $primary-color;
                        margin-left: 10px;

                        .fa{
                            margin-left: 10px;
                        }
                    }
                }
                button{
                    height: 100%;
                    margin-left: 4px;
                    color: #fff;
                    border: none;
                    outline: none;
                    padding: 4px 10px;
                    cursor: pointer;
                    @include btn-shadow-md;
                }
                select{
                    background-color: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    outline: none;
                    margin-right: 10px;
                    padding: 4px 10px;
                }
            }
            #excerpt-input-group{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px;

                #excerpt-text-container{
                    flex-basis: 60%;
                    position: relative;

                    textarea{
                        width: 100%;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 5px 10px;
                    }

                    a {
                        position: absolute;
                        right: 24px;
                        bottom: 16px;
                        color: #27ae60;
                        cursor: pointer;
                    }
                }
                #excerpt-image-wrapper{
                    width: 38%;
                    flex: none;

                    #excerpt-image-container{
                        background-color: #fff;
                        width: 100%;
                        height: 96px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 5px 10px;

                        .image{
                            text-align: center;
                            padding: 2px 8px;
                            cursor: pointer;

                            img{
                                max-height: 48px;
                                width: auto;
                            }
                        }
                    }
                }
            }
            #matrix-one-bob-wrapper{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 16px;
                margin-bottom: 10px;

                #matrix-one{
                    flex-basis: 80%;

                    .pillar{
                        margin-top: 4px;
                        margin-bottom: 4px;
                        -webkit-user-select: none;
                        display: flex;

                        .pillar-header{
                            flex-basis: 192px;
                            padding: 10px;
                            margin-right: 10px;
                            background-color: #fff;
                            flex-grow: 0;
                            flex-shrink: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: default;
                        }
                        .sub-pillars{
                            flex-basis: calc(100% - 200px);
                            display: flex;
                            flex-wrap: wrap;

                            .sub-pillar{
                                padding: 10px;
                                margin: 2px;
                                cursor: pointer;
                                background-color: #ddd;

                                &.active{
                                    background-color: $primary-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                #best-of-bullshits{
                    flex-basis: 16%;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 96px;
                    background-color: #ddd;
                    cursor: pointer;

                    &.active {
                        background-color: #e04696;
                        color: #fff;
                    }
                }
            }
            #matrix-two{
                padding: 0 16px;
                width: 100%;
                border-spacing: 2px;
                border-collapse: separate;

                td{
                    padding: 6px;
                    text-align: center;
                    -webkit-user-select: none;
                    cursor: default;

                    strong{
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                    }
                    &.subpillar{
                        cursor: default;
                    }
                    &.attribute-block {
                        cursor: pointer;
                    }
                }
                .sector {
                    width: 7%;
                }
            }
        }
    }

    #excerpt-text{
        height: 96px;
    }
}

// #multimedia-pane{
//     position: fixed;
//     left: 0;
//     bottom: -236px;
//     width: inherit;
//     background-color: #1d1f21;
//     transform: translateZ(0);
//     min-height: 284px;
//     text-align: right;
//     color: #fff;
//     transition: 0.2s all ease-in-out;
//
//     #expand-pane{
//         color: #fff;
//         cursor: pointer;
//         padding: 10px 16px;
//         transition: 0.2s all ease-in-out;
//     }
//     #multimedia-container{
//         display: flex;
//         overflow-x: auto;
//         flex-wrap: nowrap;
//         flex-direction: row;
//         justify-content: space-between;
//
//         .multimedia{
//             text-align: center;
//             padding: 2px 8px;
//             cursor: pointer;
//
//             img{
//                 max-height: 180px;
//                 width: auto;
//             }
//             label{
//                 height: 36px;
//                 vertical-align: sub;
//             }
//         }
//     }
// }
// .open{
//     bottom: 0!important;
//
//     #expand-pane{
//         transform: rotate(180deg);
//     }
// }
