#loading-animation{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 2em;
        color: #969696;
        font-weight: $font-weight-thin;
        text-transform: lowercase;
        margin-top: 64px;
    }
    #loader {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-left: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-spacing: 10px 50px;
        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50%{
            transform: rotate(180deg) scale(1.2);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }
}

@import 'entry-filters';

#entries{
    padding: 0 16px;

    p.message {
        text-align: center;
        margin-top: 100px;
        font-size: 1.5em;
        color: $label-color;
    }

    .entry{
        margin-bottom: 10px;
        box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.5);

        .entry-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.66);
            color: #fff;

            >div{
                &:first-child{  // lead and users
                    padding: 10px 16px;
                }
            }
            h2{
                margin: 0;
                flex-basis: 80%;
                color: inherit;
                margin-bottom: 5px;
                font-size: $text-size-lg;
                text-transform: none;

                a {
                    color: #fff;
                }
            }
            p{
                margin: 0;
                flex-basis: 100%;

                .fa{ margin-right: 10px; }
                span{ margin-right: 16px; }
            }
            .action-buttons{
                flex-basis: 112px;
                flex-shrink: 0;
                align-self: stretch;
                display: flex;
                justify-content: space-between;


                a{
                    width: 56px;
                    height: 100%;
                    font-size: $text-size-sl;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                    cursor: pointer;
                }
                .delete-btn{ background-color: $danger-color; color: #fff;}
                .edit-btn{ background-color: $info-color; color: #fff; }
            }
        }
    }
    .information-list{
        .information{
            display: flex;
            padding: 10px;
            justify-content: space-between;
            background-color: #f5f5f5;

            &:nth-child(odd){ background-color: #fff; }
            > *{ padding: 0 6px; }
            .excerpt{
                flex-basis: 25%;
                text-align: justify;
                line-height: 1.5;
                margin: 0;

                .excerpt-image{
                    width: 100%;
                    border: 2px dashed $primary-color;
                }
            }
            date{ font-family: 'Inconsolata', monospace; font-size: 1.2em; margin-top: 10px; display: inline-block;}
            > div{
                // Severity, reliability, information date
                &:nth-child(2){
                    flex-basis: 10%;
                    flex-shrink: 0;
                    min-width: 174px;

                    > div{
                        min-height: 48px;
                        label{ min-width: 84px; }
                    }
                    .severity, .reliability{
                        span{
                            width: 8px;
                            height: 16px;
                            display: inline-block;
                            border-radius: 2px;
                            margin-right: 1px;
                        }
                        @for $i from 0 through 5 { ._#{$i}{ opacity: ($i/5); } }
                        .active{ width: 12px; height: 24px; margin-bottom: -4px; }
                    }
                    .reliability{ span{ background-color: $reliability-base; } }
                    .severity{ span{ background-color: $severity-base; } }
                }
                &:nth-child(3){ flex-basis: 12%; }
                &:nth-child(4){ flex-basis: 14%; }
                &:nth-child(5){ flex-basis: 10%; }
                &:nth-child(6){ flex-basis: 10%; }
                &:nth-child(7){
                    flex-basis: 20%;
                    .pillar-header{
                        display: flex;

                        label{
                            flex-basis: 50%;
                        }
                    }
                    .attribute{
                        display: flex!important;
                        >*{
                            flex-basis: 50%;
                        }
                        .pillar, .sector{
                            font-weight: $font-weight-bold;
                        }
                        .sub-sector, .sub-pillar{
                            color: $label-color;
                        }
                    }
                }
                &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7){
                    span{
                        display: block;
                        line-height: 1;
                        margin-bottom: 10px;
                        padding-left: 10px;
                    }
                    label{
                        padding: 6px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
