#loading-animation{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 2em;
        color: #969696;
        font-weight: $font-weight-thin;
        text-transform: lowercase;
        margin-top: 64px;
    }
    #loader {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-left: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-spacing: 10px 50px;
        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50%{
            transform: rotate(180deg) scale(1.2);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }
}

#filters{
    .first-child{
        padding-right: 4px;
    }
    .low-padding{
        padding-left: 4px;
        padding-right: 4px;
    }
    .last-child{
        padding-left: 4px;
    }

    .form-control, .selectize-input{
        border: none;
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border-radius: 3px;

        &:active, &:focus {
            border: 1px solid $primary-color;
        }
    }
    .focus{
        border: 1px solid $primary-color;
    }
}

#entries{
    .entry{
        background-color: #fff;
        color: #414141;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        margin-bottom: 16px;

        .entry-title-extra{
            margin-left: 16px;
            text-transform: uppercase;
            i{
                margin-right: 10px;
            }
            .created-by{
                margin-right: 24px;
            }
        }
        .btn-action{
            float: right;
            width: 40px;
            margin: 10px;
            margin-top: 16px;
        }
        h2{
            margin-top: 16px;
            margin-bottom: 8px;
            margin-left: 16px;
        }
        .information{
            background-color: #f0f0f0;
            padding: 16px;

            label{
                text-transform: uppercase;
                font-size: 0.8em;
                color: #969696;
            }
            .severity, .reliability{
                margin-top: 8px;
                span{
                    width: 10px;
                    height: 16px;
                    background-color: #ccc;
                    display: inline-block;
                }
                label{
                    vertical-align: super;
                    margin-right: 16px;
                }
            }
            $reliability-base: #1A2386;
            .reliability{
                ._1{ background-color: lighten($reliability-base, 50%); }
                ._2{ background-color: lighten($reliability-base, 40%); }
                ._3{ background-color: lighten($reliability-base, 30%);  }
                ._4{ background-color: lighten($reliability-base, 20%); }
                ._5{ background-color: lighten($reliability-base, 10%); }
                ._6{ background-color: lighten($reliability-base, 5%); }
                .active{ transform: scale(1.2); }
            }

            .severity{
                ._1{ background-color: lighten($severity-base, 40%); }
                ._2{ background-color: lighten($severity-base, 30%); }
                ._3{ background-color: lighten($severity-base, 20%);  }
                ._4{ background-color: lighten($severity-base, 10%); }
                ._5{ background-color: lighten($severity-base, 5%); }
                ._6{ background-color: lighten($severity-base, 0%); }
                .active{ transform: scale(1.2); }
            }

            .excerpt{
                min-height: 96px;
                white-space: pre-line;
            }
            .affected-group{
                color: #e74c3c;
            }
            .geo-location{
                margin-top: 4px;
            }
            .geo-location, .affected-group{
                padding: 0 4px;
                min-height: 64px;
            }
            .vulnerable-group, .specific-need-group{
                min-height: 64px;
                padding: 0 4px;
            }
            .pillar, .sector{
                font-weight: bold;
            }
            .sub-pillar, .sub-sector{
                font-size: 0.9em;
            }
        }
        .information:nth-child(even){
            background-color: #fafafa;
        }
    }
}
