#loading-animation{
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: 2em;
        color: #969696;
        font-weight: $font-weight-thin;
        text-transform: lowercase;
        margin-top: 64px;
    }
    #loader {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-left: 2px solid $primary-color;
        border-right: 2px solid $primary-color;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        border-spacing: 10px 50px;
        animation: loading 1s infinite linear;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50%{
            transform: rotate(180deg) scale(1.2);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }
}

@import 'entry-filters';

#entries{
    .first-child{
        padding-right: 2px;
    }
    .low-padding{
        padding-left: 2px;
        padding-right: 2px;
    }
    .last-child{
        padding-left: 2px;
    }
    .entry{
        background-color: #fff;
        color: #414141;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 -2px 16px -5px rgba(0, 0, 0, 0.5);
        margin-bottom: 10px;

        .entry-title-extra{
            margin-left: 16px;
            text-transform: uppercase;
            font-size: 0.8em;
            i{
                margin-right: 10px;
            }
            .created-by{
                margin-right: 24px;
            }
        }
        .btn-action{
            float: right;
            width: 40px;
            margin: 10px;
            margin-top: 16px;
            @include btn-shadow-sm();
        }
        h2{
            margin-top: 16px;
            margin-bottom: 8px;
            margin-left: 16px;
            font-size: 1.2em;
        }
        .information{
            background-color: #f8f8f8;
            padding: 10px 16px 0 16px;

            label{
                min-width: 72px;
                margin-right: 10px;
                vertical-align: middle;
            }
            .second-col{
                padding: 0 10px 10px 10px;

                hr{
                    margin: 16px 32px 16px 0;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                }
                .reliability{
                    margin-bottom: 10px;
                }
                .severity, .reliability{
                    span{
                        width: 8px;
                        height: 16px;
                        background-color: #ccc;
                        display: inline-block;
                        border: none;
                        border-radius: 2px;
                        margin-right: 1px;
                    }
                }
                $reliability-base: #1A2386;
                .reliability{
                    ._1{ background-color: lighten($reliability-base, 50%); }
                    ._2{ background-color: lighten($reliability-base, 40%); }
                    ._3{ background-color: lighten($reliability-base, 30%);  }
                    ._4{ background-color: lighten($reliability-base, 20%); }
                    ._5{ background-color: lighten($reliability-base, 10%); }
                    ._6{ background-color: lighten($reliability-base, 5%); }
                    .active{ width: 12px; height: 24px; margin-bottom: -4px;}
                }
                .severity{
                    ._1{ background-color: lighten($severity-base, 40%); }
                    ._2{ background-color: lighten($severity-base, 30%); }
                    ._3{ background-color: lighten($severity-base, 20%);  }
                    ._4{ background-color: lighten($severity-base, 10%); }
                    ._5{ background-color: lighten($severity-base, 5%); }
                    ._6{ background-color: lighten($severity-base, 0%); }
                    .active{ width: 12px; height: 24px; margin-bottom: -4px;}
                }
            }
            .excerpt{
                min-height: 96px;
                white-space: pre-line;
                padding: 0 16px 0 0;
                margin-bottom: 0;
                text-align: justify;
            }
            .affected-group{
                color: #e74c3c;
            }
            date, .number{
                font-family: 'Inconsolata', monospace;
            }
            .affected-group, .vulnerable-group{
                min-height: 48px;
            }
            .geo-location, .affected-group, .vulnerable-group, .specific-need-group{
                span{
                    display: block;

                    &:before{
                        content:'•';
                        margin-right: 10px;
                    }
                }
                padding-bottom: 10px;
            }
            .pillar, .sector{
                font-weight: bold;
            }
            .sub-pillar, .sub-sector{
                font-size: 0.9em;
                word-wrap: break-word;
            }
        }
        .information:nth-child(even){
            background-color: #fff;
        }
    }
}
