#visualizations{

    .visualization-block{
        background-color: #fff;
        margin-bottom: 24px;
        @include shadow();

        h3{
            margin: 0;
            padding: 16px 16px 26px 16px;
            text-transform: uppercase;
        }
    }

    #entry-timeline-wrapper{
        padding-bottom: 16px;

        #entry-count{
            position: absolute;
            right: 32px;
            top: 10px;
            font-size: $text-size-md;
        }
    }
    #severity-legend{
        padding-bottom: 10px;

        .severity{
            display: inline-block;
            height: 16px;
            width: 24px;
            margin-left: 24px;
            cursor: pointer;

            &:hover{
                box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8);
            }
        }
        .severity-1{background-color: lighten($severity-base, 50%);}
        .severity-2{background-color: lighten($severity-base, 40%);}
        .severity-3{background-color: lighten($severity-base, 30%);}
        .severity-4{background-color: lighten($severity-base, 20%);}
        .severity-5{background-color: lighten($severity-base, 10%);}
        .severity-6{background-color: lighten($severity-base, 0%);}
        label{
            font-size: $text-size-md;
            margin-left: 10px;
            vertical-align: super;
        }
        p{
            margin-bottom: 6px;
        }
    }
    #sectors-visualization{
        height: 540px;
        overflow-y: auto;

        img{
            height: 24px;
            margin-right: 10px;
            display: inline-block;
        }
    }

    .attr-visualization{
        padding-bottom: 16px;

        .attr{
            padding: 6px;

            label{
                padding-left: 10px;
                margin-right: 8px;
                width: 112px;
                vertical-align: middle;
                text-align: right;
                line-height: 1;
            }
            .severities{
                display: inline-block;
                height: 24px;
                vertical-align: middle;

                .severity{
                    display: inline-block;
                    height: 24px;
                    cursor: pointer;

                    &:hover{
                        box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8);
                    }
                }
                .severity-1{background-color: lighten($severity-base, 50%);}
                .severity-2{background-color: lighten($severity-base, 40%);}
                .severity-3{background-color: lighten($severity-base, 30%);}
                .severity-4{background-color: lighten($severity-base, 20%);}
                .severity-5{background-color: lighten($severity-base, 10%);}
                .severity-6{background-color: lighten($severity-base, 0%);}
            }

        }
    }

    #attr-visualizations-container{
        .severity{
            height: 16px;
        }
    }

    #map-controls{
        text-align: center;
        padding: 8px;
        max-width: 80%;
        background-color: rgba(255, 255, 255, 0.88);
        position: absolute;
        left: 10%;
        bottom: 48px;
        border-radius: 3px;
        @include shadow();

        #admin-level-buttons{
            button{
                margin: 4px!important;
            }
        }
    }
    #country-select-wrapper{
        width: 260px;
        position: absolute;
        top: 24px;
        left: 48px;

        .selectize-input{
            @include shadow();
        }
    }
    #pie-wrapper {
        width: 256px;
        height: 256px;

        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 0.88);
        position: absolute;
        top: 24px;
        right: 48px;
        border-radius: 3px;

        svg{
            margin-left: 24px;
            margin-top: -16px;
            width: 208px;
            height: 208px;
            background: transparent;
            border-radius: 50%;
        }
        path {
            cursor: pointer;
            fill: transparent;
            stroke-width: 56;
            transition: all 0.2s ease-in-out;

            &:hover{
                stroke-width: 64;
                stroke-linecap: butt;
            }
        }
        .severity-1{stroke: lighten($severity-base, 50%);}
        .severity-2{stroke: lighten($severity-base, 40%);}
        .severity-3{stroke: lighten($severity-base, 30%);}
        .severity-4{stroke: lighten($severity-base, 20%);}
        .severity-5{stroke: lighten($severity-base, 10%);}
        .severity-6{stroke: lighten($severity-base, 0%);}
    }
    #the-map {
        position: relative;
        height: 540px;

        #map-shadow-overlay{
            pointer-events:none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            box-shadow: inset 10px 0 15px -8px rgba(0, 0, 0, 0.5);
        }
        path {
            stroke: #717171;
            stroke-width: 1px;
            stroke-linejoin: round;
        }
        .leaflet-top{
            z-index: 1;
            top: auto;
            bottom: 24px;
            left: 24px;
        }
    }
    #entry-header{
        padding: 16px 24px;
        h3{
            text-transform: uppercase;
            margin: 0;
        }
    }
    #entry-timeline-container{
        height: 160px;
        cursor: crosshair;

        #entry-timeline{
            width: 100%;
            height: 100%;
        }
    }
}
