main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;

    > header{
        flex-basis: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 16px;

        h1{
            margin: 0;
            text-transform: uppercase;
        }
    }
    > section{
        box-sizing: border-box;

        &:nth-child(2){ flex-basis: 66%; }  // country panel
        &:nth-child(3){ flex-basis: 33%; }  // weekly report panel
    }
    #country-panel{
        border: 1px solid rgba(0, 0, 0, 0.1);

        #country-panel-header{
            height: 56px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            #crisis-status{
                input{ display: none; }
                label{
                    padding: 6px 16px;
                    cursor: pointer;
                    height: 100%;
                    vertical-align: baseline;
                    padding-top: calc(calc(56px - #{$text-size-sm}) / 2);
                }
                .active{
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                }
            }

            // search input
            >div:nth-child(2){
                flex-basis: 320px;
                align-self: center;
                margin-right: 16px;
                border: 1px solid rgba(0, 0, 0, 0.1);

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 10px;

                i{ flex-basis: 10%; }
                input{
                    flex-basis: 90%;
                    outline: none;
                    border: none;
                }
            }
        }
        #country-list{
            #country-list-header{
                height: 32px;
                background-color: #f0f0f0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px;
                overflow-y: scroll;
                overflow-x: hidden;

                label{
                    margin: 0;

                    &:nth-child(1){ flex-basis: 10%; }
                    &:nth-child(2){ flex-basis: 15%; }
                    &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){ flex-basis: 12%; }
                    &:nth-child(7), &:nth-child(8){ flex-basis: 11%; }
                    &:nth-child(9){ flex-basis: 5%; }

                    &[data-sort]{ cursor: pointer; }
                    &.asc{
                        &:after{
                            content: '⇂';
                            color: $primary-color;
                        }
                    }
                    &.dsc{
                        &:after{
                            content: '↾';
                            color: $primary-color;
                        }
                    }

                }
            }
            #countries{
                height: calc(100vh - #{$navbar-height} - 48px - 64px - 32px);
                overflow: hidden;
                overflow-y: scroll;
                backface-visibility: hidden;

                .country{
                    min-height: 100px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 0px 10px;
                    box-sizing: border-box;
                    cursor: pointer;

                    > div{
                        padding: 0 2px;

                        &:nth-child(1){ flex-basis: 10%; }
                        &:nth-child(2){ flex-basis: 15%; }
                        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){ flex-basis: 12%; }
                        &:nth-child(7), &:nth-child(8){ flex-basis: 11%; }
                        &:nth-child(9){ flex-basis: 5%; }
                    }
                    .assigned-to{
                        flex-basis: 8%;

                        span{
                            display: block;
                            font-size: $text-size-sm;

                            .fa{ margin-right: 4px; }
                        }
                    }
                    .fa{ margin-right: 8px; }
                    .fa-arrow-up{ color: #27ae60; }
                    .fa-arrow-down{ color: #c0392b; }
                    .fa-arrow-right{ color: #b79622; }
                    &.active{
                        border-left: 3px solid $primary-color;
                        background-color: rgba(0, 128, 128, 0.1);
                    }
                    .viz{
                        height: 50px;
                        margin-top: 6px;
                        text-align: center;
                        position: relative;

                        .health-bar-invalid{
                            height: 12px;
                            background-color: rgba(0, 0, 0, 0.1);
                            margin-bottom: 4px;
                        }
                        .health-bar{
                            height: 12px;
                            background-color: #414141;
                            margin-bottom: 4px;

                            .health-indicator{
                                height: 100%;
                                background-color: #7CB342;
                            }
                        }
                        .no-change-block{
                            width: 24px;
                            height: 24px;
                            margin: auto;
                            border-radius: 50%;
                            background-color: #e74c3c;
                        }
                        .change-block{
                            width: 24px;
                            height: 24px;
                            top: 12px;
                            left: calc(50% - 12px);
                            margin: auto;
                            border-radius: 50%;
                            background-color: #27ae60;
                            position: absolute;
                        }
                        path{ stroke: #7f8c8d; }
                    }
                    &:nth-child(odd){
                        background-color: #fafafa;
                    }
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }
    #weekly-report-panel{
        border: 1px solid rgba(0, 0, 0, 0.1);

        #weekly-report-panel-header{
            height: 56px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 0 16px;

            h2{
                margin: 0;
                flex-basis: 50%;
                text-transform: uppercase;
                color: $primary-color;
            }
            div{ flex-basis: 50%; }
        }
        #weekly-report-list{
            h3{
                margin: 0;
                text-transform: uppercase;
            }
            #weekly-report-list-header{
                height: 64px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;

                button{
                    background-color: $primary-color;
                    border: none;
                    color: #fff;
                    padding: 4px 10px;
                    @include btn-shadow-sm;

                    .fa{
                        margin-right: 10px;
                    }
                }
            }
            #weekly-reports{
                height: calc(100vh - #{$navbar-height} - 48px - 64px - 64px);
                overflow: hidden;
                overflow-y: auto;

                .weekly-report{
                    height: 32px;
                    display: flex;
                    padding: 0 16px;
                    justify-content: space-between;
                    align-items: center;

                    h4{
                        flex-basis: 16%;
                        margin: 0;
                        font-size: $text-size-md;
                    }
                    p{ margin: 0; }
                    date{ font-family: 'Inconsolata', monospace; }
                    .action-buttons{
                        text-align: right;
                        flex-basis: 40%;

                        a{
                            margin-left: 24px;
                            cursor: pointer;

                            .fa{
                                margin-right: 10px;
                            }
                        }
                        .delete-btn{
                            color: #e74c3c;
                        }
                    }

                    &:nth-child(odd){
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.jqstooltip {
    box-sizing: content-box;
    font-size: 13px;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.9) !important;

}
.jqsfield {
    font-size: 13px !important;
    /*set the text color here */
}
