#humanitarian-access{
    > div{
        display: flex;

        input, select{
            outline: none;
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }
        #human-access-field-list{
            flex-basis: 60%;

            .human-access-field{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                min-height: 48px;

                label{ width: 38%; }
                select{ width: 10%; }
                input{ width: 24%; }
                .source-new {
                    width: 23%;
                }
            }
        }
        #human-access-pin-field-list{
            flex-basis: 40%;

            .human-access-pin-field{
                padding: 0 16px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 10px;

                label{
                    margin-top: 10px;
                    margin-bottom: 5px;
                    width: 100%;
                }
                input{
                    margin-bottom: 6px;

                    &:nth-child(2){ width: 33%; }
                    &:nth-child(3){ width: 65%; }
                    &:nth-child(4){ width: 100%; }
                }
                .source-new {
                    width: 65%;
                }

            }
        }
    }
    .source-new {
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.2);
        min-height: 24px;
        position: relative;

        .source{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 6px;
            position: relative;
            cursor: pointer;
            word-break: break-all;

            .name{
                flex-basis: 85%;
                overflow: hidden;
                flex-grow: 0;
                flex-shrink: 0;
            }
            .delete{
                flex-basis: 5%;
                color: $error-color;
            }
            date{
                flex-basis: 100%;
                font-family: 'Inconsolata', monospace;
            }
            @import 'display-card';
        }
    }
}
