#weekly-severity-score{
    > div{
        display: flex;
        justify-content: space-between;
        min-height: 72px;
        padding: 0 24px;

        >*{
            flex-basis: 30%;
        }
    }
    input{
        outline: none;
        border: 1px solid transparent;
        width: 100%;
        padding: 4px 10px;
    }

    .score-0{
        background-color: rgba(231,76,60,0.2);
    }
    .score-1{
        color: rgba(0, 0, 0, 0.6);
        background-color: rgba(231,76,60,0.5);
    }
    .score-2{
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(231,76,60,0.75);
    }
    .score-3{
        color: rgb(255, 255, 255);
        background-color: rgba(231,76,60,1);
    }

    .dynamic{
        color: $primary-color;
    }

    #hdi{
        background-color: rgba(0,0,0,0.3);
    }
    #hdi-rank{
        background-color: rgba(0,0,0,0.3);
    }
    #mortality-rate{
        background-color: rgba(0,0,0,0.3);
    }
    #uprooted-people{
        background-color: rgba(0,0,0,0.3);
    }
    #uprooted-percentage{
        background-color: rgba(0,0,0,0.3);
    }
}
