#humanitarian-profile{

    #human-profile-field-list{

        .human-profile-field {
            &:nth-child(odd){
                background-color: #fff;
            }
        }

        .human-profile-field, .human-profile-subfield, .human-profile-child{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            input{
                outline: none;
                box-shadow: none;
                border: 1px solid transparent;
                box-sizing: border-box;
                padding: 3px 5px;
            }
            .sub{
                padding-left: 24px;
                font-weight: $font-weight-normal;
            }
            > *{
                flex-basis: 23%;
                box-sizing: border-box;
                margin: 8px 0;
            }
            > a{
                flex-basis: 24px;
                cursor: pointer;
                color: $primary-color;
            }
            > div {
                flex-basis: 100%;
            }
            .source-new {
                display: inline-block;
                flex-basis: 23%;
                border: 1px solid lighten($primary-color, 10%);
                min-height: 24px;
                position: relative;

                .source{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #fff;
                    padding: 6px;
                    position: relative;
                    cursor: pointer;

                    .name{
                        flex-basis: 85%;
                        overflow: hidden;
                        flex-grow: 0;
                        flex-shrink: 0;
                    }
                    .delete{
                        flex-basis: 5%;
                        color: $error-color;
                    }
                    date{
                        flex-basis: 100%;
                        font-family: 'Inconsolata', monospace;
                    }
                    .display-card{
                        position: absolute;
                        left: calc(100% + 8px);
                        top: -24px;
                        width: 300px;
                        color: #fff;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        background-color: #414141;
                        border-radius: 5px;
                        cursor: default;
                        @include shadow();

                        &.focus {
                            display: flex;
                        }

                        a {
                            color: #fff;
                        }

                        .severity-color{
                            flex-basis: 36px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            width: 0;
                        	height: 0;
                        	border-top: 36px solid blue;
                        	border-right: 36px solid transparent;
                            border-top-radius: 5px;
                            margin-bottom: 8px;
                        }
                        .source-url{
                            flex-basis: 24px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            padding: 6px 4px;
                            cursor: pointer;
                        }
                        .source-excerpt-container{
                            flex-basis: 100%;
                            flex-grow: 0;
                            flex-shrink: 0;
                            padding: 0 24px;
                            margin: -16px 0;
                            text-align: justify;

                            .source-details{
                                flex-wrap: wrap;
                                align-items: flex-start;

                                >div{
                                    display: flex;
                                    flex-wrap: wrap;
                                    flex-basis: 100%;
                                    margin-bottom: 8px;
                                    align-items: baseline;

                                    label{
                                        text-align: left;
                                        color: #fff;
                                        width: 72px;
                                    }
                                    span{
                                        flex-basis: calc(100% - 72px);
                                        align-self: flex-end;
                                    }
                                }
                            }
                        }
                        .source-flip{
                            flex-basis: 24px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            align-self: flex-end;
                            padding: 4px 6px;
                            cursor: pointer;
                        }
                        .reliability-color{
                            flex-basis: 36px;
                            flex-grow: 0;
                            flex-shrink: 0;
                            width: 0;
                            height: 0;
                            border-bottom: 36px solid red;
                            border-left: 36px solid transparent;
                        }
                        &:before {
                            content:"";
                            position: absolute;
                            right: 100%;
                            top: 24px;
                            width: 0;
                            height: 0;
                            border-top: 8px solid transparent;
                            border-right: 16px solid #414141;
                            border-bottom: 8px solid transparent;
                        }

                        .reliability-color {
                            @for $i from 0 through 6 { &._#{$i}{ border-bottom: 36px solid lighten($reliability-base, (6-$i)*10); } }
                        }
                        .severity-color {
                            @for $i from 0 through 6 { &._#{$i}{ border-top: 36px solid lighten($severity-base, (6-$i)*10); } }
                        }
                    }
                    &:nth-child(odd){
                        background-color: #f5f5f5;
                    }
                }
            }
        }

        .human-profile-child{
            margin: 0 0 8px 0;

            input {
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            > *{
                margin: 0!important;
            }

            .remove-child{
                color: $danger-color;
            }
        }
    }

    #humanitarian-profile-field-error{
        padding: 16px;
        text-align: center;
        color: #e74c3c;
        margin: 0;
    }
}
