#reporting-parameters{

    .input-wrapper{
        input{
            width: 100%;
            outline: none;
            padding: 2px 5px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);
            font-size: $text-size-sm;
        }
    }
    span{
        font-family: 'Inconsolata', monospace;
        font-size: 1.2em;
        text-transform: uppercase;
    }
    label{
        margin-right: 10px;
        margin-bottom: 5px;

    }
}

#reporting-parameters > div{
    display: flex;
    flex-wrap: wrap;
    >div{
        margin-bottom: 24px;
        margin-right: 24px;
        flex-basis: 16%;

    }
}
