#humanitarian-access{
    > div{
        display: flex;

        input, select{
            outline: none;
            padding: 5px 10px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }
        #human-access-field-list{
            flex-basis: 60%;

            .human-access-field{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;
                min-height: 48px;

                label{ width: 38%; }
                select{ width: 10%; }
                input{ width: 24%; }
                .source-new {
                    width: 23%;
                }
            }
        }
        #human-access-pin-field-list{
            flex-basis: 40%;

            .human-access-pin-field{
                padding: 0 16px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 10px;

                label{
                    margin-top: 10px;
                    margin-bottom: 5px;
                    width: 100%;
                }
                input{
                    margin-bottom: 6px;
                    &:nth-child(2){ width: 33%; }
                }
                .source-warning-wrapper{
                    width: 65%;
                    margin-bottom: 4px;

                    .warning-error{
                        color: $danger-color;
                        position: absolute;
                        pointer-events: none;
                        margin: 0;
                        font-size: 0.8em;

                        .fa{
                            margin-right: 4px;
                        }
                    }
                    &.error-padding{
                        padding-bottom: 12px;
                    }
                }
                .comment-warning-wrapper{
                    width: 100%;

                    input{
                        width: 100%;
                    }
                    .warning-error{
                        color: $danger-color;
                        position: absolute;
                        pointer-events: none;
                        margin: 0;
                        font-size: 0.8em;

                        .fa{
                            margin-right: 4px;
                        }
                    }
                    &.error-padding{
                        padding-bottom: 12px;
                    }
                }
            }
        }
        .source-new {
            display: inline-block;
            border: 1px solid rgba(0, 0, 0, 0.2);
            min-height: 24px;
            width: 100%;
            position: relative;

            .source{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                background-color: #fff;
                padding: 6px;
                position: relative;
                cursor: pointer;
                word-break: break-all;

                .name{
                    width: 100%;
                    margin-right: 4px;
                    overflow: hidden;
                    flex-grow: 0;
                    flex-shrink: 0;
                }
                .delete{
                    margin-left: auto;
                    color: $error-color;
                }
                date{
                    font-family: 'Inconsolata', monospace;
                }
                @import 'display-card';
            }
        }
    }
}
