{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | {% if lead %}Edit{% else %}Add{% endif %} Lead
{% endblock %}

{% block head %}
<link href="{% static 'css/add-lead.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/add-sos.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">

<script src="{% static 'js/add-sos.js' %}"></script>

{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="title">Survey of Survey</div>
        <form>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="assesment-title"  placeholder="Title of assessment">
                        <input type="text" class="form-control " name="lead-organization"  placeholder="Lead Organization">
                        <input type="text" class="form-control" name="other-assesment-partners"  placeholder="Other assessment partners">
                        <input type="text" class="form-control " name="assesment-frequency" placeholder="Assessment Frequency">
                        <input type="text" class="form-control" name="assesment-status" placeholder="Assessment Status">
                        <input type="text" class="form-control " name="assesment-confidentiality" placeholder="Assessment Confidentiality">
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" name="source-proximity"  placeholder="Proximity to the source">
                        <input type="text" class="form-control" name="analysis-unit"  placeholder="Unit of analysis">
                        <input type="text" class="form-control" name="start-of-field"  placeholder="Start of field data collection">
                        <input type="text" class="form-control" name="end-of-field"  placeholder="End of field data collection">
                        <input type="text" class="form-control" name="sampling-type" placeholder="Sampling type">
                    </div>
                </div>
            </div>
            <div id="sector-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-title">
                            Sectors covered by the assesment
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div id="sectors">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1">
                        <div id="sector-input">
                            <div class="title"></div>
                            <div class="group">
                                <label>Quantification</label>
                                <input type=text class="form-control" placeholder="Quantification" id="quantification">
                            </div>
                            <div class="group">
                                <label>Analytical value</label>
                                <input type=text class="form-control" placeholder="Analytical Value" id="analytical-value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="action-block">
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
