{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | {% if lead %}Edit{% else %}Add{% endif %} Lead
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/add-lead.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/selectize.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/dropzone.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/dropzone.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/leads/add-lead.js' %}"></script>


{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<section id="main">
    <h2>{% if lead %}Edit{% else %}Add{% endif %} Lead</h2>
    <form id="attachment-dropzone" class="dropzone" method="post">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name" placeholder="Enter a descriptive name" {%if lead%}value="{{lead.name}}" {%endif%} required>
        <label>Source:</label>
        <!--select id="source" name="source" placeholder="Select source type">
            <option value="">Select source type</option>
            {% for s in sources %}
            <option value="{{s.pk}}" {% if lead and lead.source == s %} selected {% endif %}>{{s}}</option>
            {% endfor %}
        </select-->
        <input type="text" name="source" placeholder="Enter source" {% if lead %}value="{{lead.source_name}}"{% endif %}>
        <div {%if lead %} {% else %} style="display: none;"{% endif %}>
            <label>Crisis:</label>
            <select name="event" id="crisis-lead" placeholder="Select crisis">
                <option value="">Select Crisis</option>
                {% for e in events %}
                <option value="{{e.pk}}" {% if e.pk == event.pk %}selected{% endif %}>{{e.name}}</option>
                {% endfor %}
            </select>
            <!-- <input type="text" name="crisis-lead" placeholder="Enter crisis" {% if lead %}value="{{e.pk}}"{% endif %}> -->
        </div>
        <label>Confidentiality:</label>
        <select id="confidentiality" name="confidentiality">
            {% for c in confidentialities %}
            <option value="{{c.0}}" {% if lead and lead.confidentiality == c.0 %} selected {% endif %}>{{c.1}}</option>
            {% endfor %}
        </select>
        <label>Assign to:</label>
        <select id="assigned-to" name="assigned-to" placeholder="Select user">
            <option value="">Select user</option>
            {% for u in users %}
            <option value="{{u.pk}}" {% if lead and lead.assigned_to == u %} selected {% endif %}}>
            {{u.first_name}} {{u.last_name}}
            </option>
            {% endfor %}
        </select>
        <label>Publication date:</label>
        <div style="position:relative;">
            <input type="date" name="publish-date" placeholder="yyyy-mm-dd" {% if lead %}value="{{lead.published_at|date:"Y-m-d"}}"{% endif %}>
        </div>
        <div id="radio-btn-container">
            <label>Type:</label>
            <label><input type="radio" name="lead-type" value="website" {% if not lead or lead.lead_type == 'URL' %} checked {% endif %}>Website</label>
            <label><input type="radio" name="lead-type" value="manual" {% if lead and lead.lead_type == 'MAN' %} checked {% endif %}>Manual Entry</label>
            <label><input type="radio" name="lead-type" value="attachment" {% if lead and lead.lead_type == 'ATT' %} checked {% endif %}>Attachment</label>
        </div>
        <div id="description-row">
            <label>Description:</label><br>
            <textarea name="description" placeholder="Enter description" rows="16">{% if lead %}{{lead.description}}{% endif %}</textarea>
        </div>
        <div id="url-row">
            <label>URL</label>
            <input type="text" name="url" placeholder="Enter url" {% if lead %}value="{{lead.url}}"{% endif %}>
        </div>
        <div id="website-row">
            <label>Website</label>
            <input type="text" name="website" placeholder="Enter website" {% if lead %}value="{{lead.website}}"{% endif %}>
        </div>
        <div id="attachment-row">
            <label>
                Attachment:
                {% if lead and lead.attachment %}<br>
                <a href="{{lead.attachment.upload.url}}">{{lead.attachment.upload.name}}</a>
                <br>Upload new file to replace.
                {% endif %}
            </label>
            <div class="dropzone-container">
                <div class="dz-message"> Click or Drop file here </div>
                <div class="dropzone-previews"></div>
            </div>
        </div>
        <div class="actions">
            <!--button class="btn btn-default" name="post" value="save-and-another">Save and add another</button-->
            <a href="{% url 'leads:leads' event.pk %}" onclick="return confirm('All changes will be discarded. Are you sure?');" id="cancel-btn" class="btn btn-default">Cancel</a>
            <button class="submit-btn" type="submit">Submit</button>
            <button name="add-entry" class="submit-btn" type="submit">Submit and Add Entry</button>
        </div>
    </form>
</section>

<script>
var url;
{% if lead %}
url = "{% url 'leads:edit' event=event.pk id=lead.pk %}";
{% else %}
url = "{% url 'leads:add' event=event.pk %}";
{% endif %}

Dropzone.options.attachmentDropzone = {
    {% if lead %}
    url: url,
    {% else %}
    url: url,
    {% endif %}
    autoProcessQueue: false,
    uploadMultiple: false,
    addRemoveLinks: true,
    parallelUploads: 100,
    maxFiles: 1,
    previewsContainer: ".dropzone-previews",
    clickable: ".dropzone-container",

    init: function() {
        // On maximum file succedded, delete files to replace by new one.
        this.on("maxfilesexceeded", function(file) {
            this.removeAllFiles();
            this.addFile(file);
        });

        var dz = this;
        $("button[type=submit]").on("click", function(e) {
            // if (!confirm("Are you sure you want to save these changes?")) {
            //    e.preventDefault();
            //    e.stopPropagation();
            //    return;
            // }
            var leadtype = $("input[name='lead-type']:checked").val();
            if (leadtype == "attachment" && dz.getQueuedFiles().length > 0) {
                e.preventDefault();
                e.stopPropagation();
                dz.processQueue();
            }
        });

        // for multiple: sendingmultiple
        this.on("sending", function() {
            $(".submit-btn").prop("disabled", true);
        });

        // for multiple, successmultiple
        this.on("success", function(files, response) {
            if (response.url) {
                window.location.href = response.url;
            } else {
                window.location.href = url;
            }
        });

        // for multiple, errormultiple
        this.on("error", function(files, response) {
            // TODO: Show error.
            $(".submit-btn").prop("disabled", false);
        });
    },
};
</script>

{% endblock %}
