{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Add Lead
{% endblock %}

{% block head %}
<link href="{% static 'css/add-manual.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap-select.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>

{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="title">Create Lead: Manual Entry</div>
        <div class="form-wrapper">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <form id="attachment-dropzone" class="dropzone" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="name" placeholder="Enter a descriptive name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Source:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="source" class="selectpicker form-control" title="Select source type">
                                    {% for s in sources %}
                                    <option value="{{s.pk}}">{{s}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Content Format:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="content-format" class="selectpicker form-control" title="Select content format">
                                    {% for c in content_formats %}
                                    <option value="{{c.pk}}">{{c}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Confidentiality:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="confidentiality" class="selectpicker">
                                    {% for c in confidentialities %}
                                    <option value="{{c.0}}">{{c.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Assign to:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="assigned-to" class="selectpicker" title="Select user">
                                    {% for u in users %}
                                    <option value="{{u.pk}}">
                                    {{u.first_name}} {{u.last_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <!-- TODO: Datepicker -->
                                <label>Published at:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="publish-date" placeholder="dd-mm-yyyy">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Description:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control" name="description" placeholder="Enter description" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <div class="label-container" id="attachment-label-container">
                                    <label>Attachments:</label>
                                </div>

                                <div class="dropzone-container">
                                    <div class="dz-message"> Click or Drop files here </div>
                                    <div class="dropzone-previews"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 actions">
                                <!--button class="btn btn-default" name="post" value="save-and-another">Save and add another</button-->
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    Dropzone.options.attachmentDropzone = {
        url: "{% url 'leads:add-manual' %}",
        autoProcessQueue: false,
        uploadMultiple: true,
        addRemoveLinks: true,
        parallelUploads: 100,
        maxFiles: 100,
        previewsContainer: ".dropzone-previews",

        init: function() {
            var dz = this;
            this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                if (dz.getQueuedFiles().length > 0) {
                    e.preventDefault();
                    e.stopPropagation();
                    dz.processQueue();
                }
            });

            this.on("successmultiple", function(files, response) {
                window.location.href = "{% url 'leads:leads' %}";
            });
        },
    };
</script>

{% endblock %}
