{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | {% if lead %}Edit{% else %}Add{% endif %} Lead
{% endblock %}

{% block head %}
<link href="{% static 'css/add-lead.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap-select.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dropzone.js' %}"></script>

{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="title">{% if lead %}Edit{% else %}Create{% endif %} Lead</div>
        <div class="form-wrapper">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <form id="attachment-dropzone" class="dropzone" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="name" placeholder="Enter a descriptive name" {%if lead%}value="{{lead.name}}" {%endif%} required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Source:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="source" class="selectpicker form-control" title="Select source type">
                                    {% for s in sources %}
                                    <option value="{{s.pk}}" {% if lead and lead.source == s %} selected {% endif %}>{{s}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Content Format:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="content-format" class="selectpicker form-control" title="Select content format">
                                    {% for c in content_formats %}
                                    <option value="{{c.pk}}" {% if lead and lead.content_format == c %} selected {% endif %}>{{c}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Confidentiality:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="confidentiality" class="selectpicker">
                                    {% for c in confidentialities %}
                                    <option value="{{c.0}}" {% if lead and lead.confidentiality == c.0 %} selected {% endif %}>{{c.1}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Assign to:</label>
                            </div>
                            <div class="col-md-9">
                                <select name="assigned-to" class="selectpicker" title="Select user">
                                    {% for u in users %}
                                    <option value="{{u.pk}}" {% if lead and lead.assigned_to == u %} selected {% endif %}}>
                                    {{u.first_name}} {{u.last_name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <!-- TODO: Datepicker -->
                                <label>Published at:</label>
                            </div>
                            <div class="col-md-9">
                                <input type="date" name="publish-date" placeholder="yyyy-mm-dd" {% if lead %}value="{{lead.published_at|date:"Y-m-d"}}"{% endif %}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 label-container">
                                <label>Type:</label>
                            </div>
                            <div class="col-md-9">
                                <label class="radio-inline"><input type="radio" name="lead-type" value="website" {% if not lead or lead.lead_type == 'URL' %} checked {% endif %}>Website</label>
                                <label class="radio-inline"><input type="radio" name="lead-type" value="manual" {% if lead and lead.lead_type == 'MAN' %} checked {% endif %}>Manual Entry</label>
                            </div>
                        </div>
                        <div class="row" id="description-row">
                            <div class="col-md-3 label-container">
                                <label>Description:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control" name="description" placeholder="Enter description" rows="4">{% if lead %}{{lead.description}}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="row" id="url-row">
                            <div class="col-md-3 label-container">
                                <label>URL</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="url" placeholder="Enter url" {% if lead %}value="{{lead.url}}"{% endif %}>
                            </div>
                        </div>
                        <div class="row" id="website-row">
                            <div class="col-md-3 label-container">
                                <label>Website</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="website" placeholder="Enter website" {% if lead %}value="{{lead.website}}"{% endif %}>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-11 col-md-offset-1">
                                <div class="label-container" id="attachment-label-container">
                                    <label>
                                        Attachments:
                                        {% if lead %} {% for l in lead.attachment_set.all %}<br>
                                        <a href="{{l.upload.url}}">{{l.upload.name}}</a>
                                        {% endfor %} {% endif %}
                                    </label>
                                </div>

                                <div class="dropzone-container">
                                    <div class="dz-message"> Click or Drop files here </div>
                                    <div class="dropzone-previews"></div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 actions">
                                <!--button class="btn btn-default" name="post" value="save-and-another">Save and add another</button-->
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
$(document).ready(function() {
    function adjustLeadType(type){
        if(type == "website"){
            $('#description-row').hide();
            $('#url-row').show();
            $('#website-row').show();
        }else{
            $('#description-row').show();
            $('#url-row').hide();
            $('#website-row').hide();
        }
    }
    $("input[name='lead-type']:radio").change(function () {
        adjustLeadType($("input[name='lead-type']:checked").val());
    });

    adjustLeadType($("input[name='lead-type']:checked").val());
});

Dropzone.options.attachmentDropzone = {
    url: "{% url 'leads:add' %}",
    autoProcessQueue: false,
    uploadMultiple: true,
    addRemoveLinks: true,
    parallelUploads: 100,
    maxFiles: 100,
    previewsContainer: ".dropzone-previews",
    clickable: ".dropzone-container",

    init: function() {
        var dz = this;
        this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
            if (dz.getQueuedFiles().length > 0) {
                e.preventDefault();
                e.stopPropagation();
                dz.processQueue();
            }
        });

        this.on("sendingmultiple", function() {
            // TODO: Hide the form.
        });

        this.on("successmultiple", function(files, response) {
            window.location.href = "{% url 'leads:leads' %}";
        });

        this.on("errormultiple", function(files, response) {
            // TODO: Show error.
        });
    },
};
</script>

{% endblock %}
