{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Add Lead
{% endblock %}

{% block head %}
<link href="{% static 'css/add-manual.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/bootstrap-select.min.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="title">Create Lead: Manual Entry</div>
        <div class="form-wrapper">
            <form>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="name" placeholder="Enter a descriptive name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Source:</label>
                    </div>
                    <div class="col-md-5">
                        <select name="source" class="selectpicker form-control" title="Select source type">
                            {% for s in sources %}
                            <option value="{{s.pk}}">{{s}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Content Format:</label>
                    </div>
                    <div class="col-md-5">
                        <select name="content-format" class="selectpicker form-control" title="Select content format">
                            {% for c in content_formats %}
                            <option value="{{c.pk}}">{{c}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Confidentiality:</label>
                    </div>
                    <div class="col-md-5">
                        <select name="confidentiality" class="selectpicker">
                            {% for c in confidentialities %}
                            <option value="{{c.0}}">{{c.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Assign to:</label>
                    </div>
                    <div class="col-md-5">
                        <select name="assign-to" class="selectpicker" title="Select user">
                            {% for u in users %}
                            <option value="{{u.pk}}">
                            {{u.first_name}} {{u.last_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Published at:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="publish-date" placeholder="dd-mm-yyyy">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 label-container">
                        <label>Description:</label>
                    </div>
                    <div class="col-md-5">
                        <textarea  class="form-control" name="description" placeholder="Enter description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 actions">
                        <button class="btn btn-default">Save and add another</button>
                        <button class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
