{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | {% if sos %}Edit{% else %}Add{% endif %} Survey of Survey
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/add-sos.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/selectize.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/split-pane.css' %}" type="text/css" rel="stylesheet">


<script src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script src="{% watchful_static_url 'js/common/split-pane.js' %}"></script>
<script src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<link rel="stylesheet" href="{% watchful_static_url 'css/leaflet.label.css' %}" >
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="{% watchful_static_url 'js/common/leaflet.label.js' %}"></script>
<script src="{% watchful_static_url 'js/common/utils.js' %}"></script>

<style>

</style>

<script>
    // Is simplified option selected?
    var isSimplified;
    // Simplified version of the lead.
    var leadSimplifiedHtml = $('<div> {% if lead_simplified %}{{lead_simplified|escapejs}}{% endif %} </div>');
    leadSimplifiedHtml.find('p').each(function(){
        $(this).replaceWith($(this).text() + '\n\n')
    });
    var leadSimplified = leadSimplifiedHtml.text().trim();

    // Map selections
    var mapSelections = [
    {% if sos %}
    {% for selection in sos.map_selections.all %}
    "{{selection.admin_level.country.code}}:{{selection.admin_level.level}}:{{selection.name}}{% if selection.pcode != "" %}:{{selection.pcode}}{% endif %}",
    {% endfor %}
    {% endif %}
    ];

    var csrf_token = "{% csrf_token %}";

    var sectorData = [];
    {% if sos and not sos.sectors_covered == "{}" %}
    sectorData = {{sos.sectors_covered|safe}};
    {% endif %}

    {% for sc in sectors_covered %}
        if (sectorData.filter(function(item) { return item.id == '{{sc.identifier}}'; }).length == 0)
            sectorData.push(
                { id: '{{sc.identifier}}', title: '{{sc.name}}', quantification: null, analytical_value: null }
            );
    {% endfor %}

    var default_quantification = "{{default_quantification.pk}}";
    var default_analytical_value = "{{default_analytical_value.pk}}";

    // Affected groups.
    // name, parent, tooltip.
    var affected_groups = [
        {% for group in affected_groups %}
        ['{{group}}', '{% if group.parent %}{{group.parent}}{% endif %}', ''],
        {% endfor %}
    ];

    // Select affected groups.
    var selected_groups = [
    {% if sos %}{% for group in affected_groups %}
    {% if group in sos.selected_affected_groups %}{row:{{forloop.counter0}}, column:null},{% endif %}
    {% endfor %}{% endif %}
    ];
</script>

{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<div id="map-modal" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select locations</h4>
            </div>
            <div class="modal-body">
                <div id="the-map" style="height:500px;"></div>
            </div>
            <div class="modal-footer">
                <div id="admin-level-buttons"></div>
            </div>
        </div>
    </div>
</div>



<div class="split-pane fixed-left">
    <div class="split-pane-component" id="left-component">
        {% if lead_simplified %}
        <div id="lead-options-container">
            <div class="btn-group" data-toggle="buttons" {% if lead.lead_type == 'MAN' %} style="display:none;" {% endif %}>
                <label class="btn btn-default radio-inline active"><input type="radio" name="lead-view-option" value="simplified" checked>Simplified</label>
                <label class="btn btn-default radio-inline"><input type="radio" name="lead-view-option" value="original">Original</label>
            </div>
            <button class="btn btn-regular btn-zoom" id="zoom-out" data-toggle="tooltip" title="zoom out"><i class="fa fa-search-minus"></i></button>
            <button class="btn btn-regular btn-zoom" id="zoom-in" data-toggle="tooltip" title="zoom in"><i class="fa fa-search-plus"></i></button>
            <div id="tag-buttons" style="max-height:200px; overflow:auto;"></div>
        </div>
        {% endif %}

        <div id="lead-preview-container">
            {% if lead.lead_type == 'URL' %}
            <iframe sandbox="allow-scripts" id="lead-preview" src="{{ lead.url }}"></iframe>
            {% elif lead.lead_type == 'ATT' %}
            <iframe sandbox="allow-scripts" id="lead-preview" src="{{ lead.attachment.upload.url}}"></iframe>
            {% endif %}
            <div id="lead-simplified-preview"></div>
        </div>
    </div>
    <div class="split-pane-divider" id="my-divider"></div>
    <div class="split-pane-component" id="right-component">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <h2>Survey of Survey</h2>
                </div>
                <div class="col-md-3" style="text-align:right;">
                    <button class="btn btn-danger" id="cancel-btn" onclick="if (confirm('All changes will be discarded. Are you sure?')) location.href='{% url "leads:leads" event.pk %}'"><i class="fa fa-times"></i>Cancel</button>
                    <button class="btn btn-primary" id="save-btn"><i class="fa fa-plus"></i>Save</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="save-data form-control" id="assesment-title" placeholder="Title of assessment" {% if sos and sos.title %}value="{{sos.title}}"{% endif %}>
                    <input type="text" class="save-data form-control" id="lead-organization" placeholder="Lead Organization" {% if sos and sos.lead_organization %}value="{{sos.lead_organization}}"{% endif %}>
                    <input type="text" class="save-data form-control" id="other-assesment-partners" placeholder="Other assessment partners" {% if sos and sos.partners %}value="{{sos.partners}}"{% endif %}>
                    <select class="save-data selectize-control" id="assesment-frequency" placeholder="Assessment Frequency">
                        <option>Select frequency</option>
                        {% for frequency in frequencies %}
                        <option value="{{frequency.pk}}" {% if sos and sos.frequency == frequency %}selected{% endif %}>{{frequency}}</option>
                        {% endfor %}
                    </select>
                    <select class="save-data selectize-control" id="assesment-status" placeholder="Assessment Status">
                        <option>Select status</option>
                        {% for status in statuses %}
                        <option value="{{status.pk}}" {% if sos and sos.status == status %}selected{% endif %}>{{status}}</option>
                        {% endfor %}
                    </select>
                    <select class="save-data selectize-control" id="assesment-confidentiality" placeholder="Assessment Confidentiality">
                        <option>Select confidentiality</option>
                        {% for confidentiality in confidentialities %}
                        <option value="{{confidentiality.pk}}" {% if sos and sos.confidentiality == confidentiality %}selected{% endif %}>{{confidentiality}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <select class="save-data selectize-control" id="source-proximity"  placeholder="Proximity to the source">
                        <option>Select proximity to source</option>
                        {% for proximity in proximities %}
                        <option value="{{proximity.pk}}" {% if sos and sos.proximity_to_source == proximity %}selected{% endif %}>{{proximity}}</option>
                        {% endfor %}
                    </select>
                    <select class="save-data selectize-control" id="analysis-unit"  placeholder="Unit of analysis" multiple>
                        {% for unit in units_of_analysis %}
                        <option value="{{unit.pk}}" {% if sos and unit in sos.unit_of_analysis.all %}selected{% endif %}>{{unit}}</option>
                        {% endfor %}
                    </select>
                    </select>

                    <select class="save-data selectize-control" id="data-collection-technique"  placeholder="Data collection technique" multiple>
                    {% for dc in data_collection_techniques %}
                    <option value="{{dc.pk}}" {% if sos and dc in sos.data_collection_technique.all %}selected{% endif %}>{{dc}}</option>
                    {% endfor %}
                    </select>
                    <div class="row" style="padding-top: 8px;">
                        <div class="col-md-6">
                            <label>Start date of data collection: </label>
                            <div style="position: relative;">
                                <input class="save-data form-control" id="start-of-field" placeholder="Start of field data collection" type="date" {% if sos and sos.start_data_collection %}value="{{sos.start_data_collection|date:"Y-m-d"}}"{% endif %}>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>End date of data collection: </label>
                            <div style="position: relative;">
                                <input class="save-data form-control" id="end-of-field" placeholder="End of field data collection" type="date" {% if sos and sos.end_data_collection %}value="{{sos.end_data_collection|date:"Y-m-d"}}"{% endif %}>
                            </div>
                        </div>
                    </div>

                    <select class="save-data selectize-control" id="sampling-type" placeholder="Sampling type">
                    <option>Select sampling type</option>
                    {% for type in sampling_types %}
                    <option value="{{type.pk}}" {% if sos and sos.sampling_type == type %}selected{% endif %}>{{type}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <!--div id="the-map" style="height:300px;"></div-->
                    <div class="form-group">
                        <select name="country" id="country" placeholder="Select a country">
                            {% for country in event.countries.all %}
                            <option value="{{country.pk}}">{{country.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-9">
                                <select name="manual-location-input" id="manual-location-input" placeholder="Add a location">
                                    <option value="">Add a location</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#map-modal"><i class="fa fa-map"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="selected-location-list">
                                    <p id="empty-text" hidden>No location added!</p>
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="sector-block">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Sectors covered by the assesment</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div id="sectors">
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <div id="sector-input">
                            <h4 class="title"></h4>
                            <div class="group">
                                <label>Quantification</label>
                                <select class="form-control" placeholder="Quantification" id="quantification">
                                <!--option value="">Quantification</option-->
                                {% for quantification in quantifications %}
                                <option value="{{quantification.pk}}" {% if quantification == default_quantification %}selected{% endif %}>{{quantification}}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="group">
                                <label>Analytical value</label>
                                <select class="form-control" placeholder="Analytical Value" id="analytical-value">
                                <!--option value="">Analytical value</option-->
                                {% for value in analytical_values %}
                                <option value="{{value.pk}}" {% if value == default_analytical_value %}selected{% endif %}>{{value}}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h4>Affected Groups</h4>
                        <div id="chart-div"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% watchful_static_url 'js/sos/add-sos.js' %}"></script>
<script src="{% watchful_static_url 'js/sos/add-sos-map.js' %}"></script>
{% endblock %}
