{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Leads
{% endblock %}

{% block head %}
<link href="{% static 'css/leads.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="block" id="action-block">
            <div class="title">Add Lead</div>
            <a class="btn btn-default"><i class="fa fa-plus"></i>Add Mannual Entry</a>
            <a class="btn btn-default"><i class="fa fa-plus"></i>Add Attachment</a>
            <a class="btn btn-default"><i class="fa fa-plus"></i>Add URL</a>
        </div>
        <hr>
        <div class="block" id="leads-block">
            <div class="title">Current Leads</div>
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011/04/25</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Garrett Winters</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>63</td>
                        <td>2011/07/25</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Cedric Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>22</td>
                        <td>2012/03/29</td>
                        <td>$433,060</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
