{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Leads
{% endblock %}

{% block head %}
<script>
    var currentEvent = {{event.pk}};
    var postUrl = "{% url 'leads:add' event.pk %}";
</script>
<link href="{% static 'css/leads.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/leads.js' %}"></script>
{% endblock %}

{% block body %}

<div id="date-range-input" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Enter date range</h3>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label>start date:</label><br>
                        <input type="date" id="start-date" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label>end date:</label><br>
                        <input type="date" id="end-date" class="form-control">
                    </div>
                </div>
                <div style="margin-top: 24px; text-align: right;">
                    <button type="button" class="btn btn-default" id="cancel-btn" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" id="ok-btn" style="min-width: 50px; margin-left: 16px;" >OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'navbar.html' %}

<section id="main">
    <div class="container-fluid">
        <div class="block" id="action-block">
            <a class="btn btn-default" href="{% url 'leads:add-sos' event=event.pk %}"><i class="fa fa-plus"></i>Add Survey of Survey</a>
            <a class="btn btn-default" href="{% url 'leads:add' event=event.pk %}"><i class="fa fa-plus"></i>Add Lead</a>
        </div>

        <div class="block" id="leads-block">
            <h2>Current Leads</h2>
            <div class="row" id="filters">
                <div class="col-sm-12">
                    <label>Apply filter:</label>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <select id="assigned-to-filter" placeholder="Assigned to">
                        <option value="">Assigned to</option>
                    </select>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <select id="date-created-filter" placeholder="Date Created">
                        <option value="">Date Created</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="last-seven-days">Last 7 days</option>
                        <option value="this-week">This week</option>
                        <option value="last-thirty-days">Last 30 days</option>
                        <option value="this-month">This month</option>
                        <option value="range">Range</option>
                    </select>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <select id="date-published-filter" placeholder="Date Published">
                        <option value="">Date Published</option>
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="last-seven-days">Last 7 days</option>
                        <option value="this-week">This week</option>
                        <option value="last-thirty-days">Last 30 days</option>
                        <option value="this-month">This month</option>
                        <option value="range">Range</option>
                    </select>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <select id="confidentiality-filter" placeholder="Confidentiality">
                        <option value="">Confidentiality</option>
                        <option value="Unprotected">Unprotected</option>
                        <option value="Protected">Protected</option>
                        <option value="Restricted">Restricted</option>
                        <option value="Confidential">Confidential</option>
                    </select>
                </div>
                <div class="col-sm-3 col-md-2 col-xs-6">
                    <select id="status-filter" placeholder="Status">
                        <option value="">Status</option>
                        <option value="Pending">Pending</option>
                        <option value="Processed">Processed</option>
                    </select>
                </div>
            </div>
            <table id="leads-table" class="table  table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Assigned</th>
                        <th>Name</th>
                        <th>Published</th>
                        <th>Confidentiality</th>
                        <th>Source</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<div id="drag-overlay" hidden>
    <div id="border">
        Drop the file here to add a lead from attachment
    </div>
</div>

<div id="add-lead-from-attachment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3>Add Lead</h3>
            <form id="add-lead-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Name</label></div>
                    <div class="col-sm-9"><input type="text" name="name" class="form-control" placeholder="Enter a descriptive name" required></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Source</label></div>
                    <div class="col-sm-9">
                        <select id="source" name="source" placeholder="Select source type">
                            {% for s in sources %}
                            <option value="{{s.pk}}">{{s}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Confidentiality</label></div>
                    <div class="col-sm-9">
                        <select id="confidentiality" name="confidentiality">
                            {% for c in confidentialities %}
                            <option value="{{c.0}}">{{c.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Assign to</label></div>
                    <div class="col-md-9">
                        <select id="assigned-to" name="assigned-to" placeholder="Select user">
                            <option value="">Select user</option>
                            {% for u in users %}
                            <option value="{{u.pk}}">{{u.first_name}} {{u.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Published at</label></div>
                    <div class="col-sm-9"><input type="date" name="publish-date" class="form-control" placeholder="yyyy-mm-dd"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 input-label"><label>Attachments</label></div>
                    <div class="col-sm-9" id="attachments-list"></div>
                </div>
                <div class="row" id="action-row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<form id="process-form" style="visibility:collapse;" method="post" action="{% url 'leads:mark_processed' event=event.pk %}">
    {% csrf_token %}
    <input id="process-id" name="id" type="text">
    <input id="process-status" name="status" type="text">
</form>
<form id="delete-form" style="visibility:collapse;" method="post" action="{% url 'leads:delete' event=event.pk %}">
    {% csrf_token %}
    <input id="delete-id" name="id" type="text">
</form>

{% endblock %}
