{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Leads
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/modal.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/leads.css' %}" type="text/css" rel="stylesheet">

<script>
    var currentEvent = {{event.pk}};
    var postUrl = "{% url 'leads:add' event.pk %}";
</script>

<script type="text/javascript" src="{% watchful_static_url 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/leads/leads.js' %}"></script>
{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<main>
    <a id="add-lead-btn" href="{% url 'leads:add' event=event.pk %}" ><i class="fa fa-plus"></i>Add new lead</a>
    <div id="filters">
        <label>Apply filter:</label>
        <select id="assigned-to-filter" placeholder="Assigned to">
            <option value="">Assigned to</option>
        </select>
        <select id="date-created-filter" placeholder="Date Created">
            <option value="">Date Created</option>
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="last-seven-days">Last 7 days</option>
            <option value="this-week">This week</option>
            <option value="last-thirty-days">Last 30 days</option>
            <option value="this-month">This month</option>
            <option value="range">Range</option>
        </select>
        <select id="date-published-filter" placeholder="Date Published">
            <option value="">Date Published</option>
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="last-seven-days">Last 7 days</option>
            <option value="this-week">This week</option>
            <option value="last-thirty-days">Last 30 days</option>
            <option value="this-month">This month</option>
            <option value="range">Range</option>
        </select>
        <select id="confidentiality-filter" placeholder="Confidentiality">
            <option value="">Confidentiality</option>
            <option value="Unprotected">Unprotected</option>
            <option value="Protected">Protected</option>
            <option value="Restricted">Restricted</option>
            <option value="Confidential">Confidential</option>
        </select>
        <select id="status-filter" placeholder="Status">
            <option value="">Status</option>
            <option value="Pending">Pending</option>
            <option value="Processed">Processed</option>
        </select>
    </div>
    <div id="leads-table-wrapper">
        <table id="leads-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Created on</th>
                    <th>Created by</th>
                    <th>Assigned to</th>
                    <th>Name</th>
                    <th>Published</th>
                    <th>Confidentiality</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</main>
<div id="drag-overlay" hidden>
    <div id="border">
        Drop the file here to add a lead from attachment
    </div>
</div>

<form id="process-form" method="post" action="{% url 'leads:mark_processed' event=event.pk %}" hidden>
    {% csrf_token %}
    <input id="process-id" name="id" type="text">
    <input id="process-status" name="status" type="text">
</form>
<form id="delete-form" method="post" action="{% url 'leads:delete' event=event.pk %}" hidden>
    {% csrf_token %}
    <input id="delete-id" name="id" type="text">
</form>

<div class="modal-container" hidden>
    <div id="date-range-input" class="modal" hidden>
        <header>
            <h3 class="modal-title">Enter date range</h3>
        </header>
        <div class="input-container">
            <label>start date:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="input-container">
            <label>end date:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
            <button id="ok-btn" class="success" data-action="proceed"><i class="fa fa-check"></i>Ok</button>
        </div>
    </div>

    <div id="add-lead-modal" class="modal" hidden>
        <header>
            <h3 class="modal-title">Add Lead</h3>
        </header>
        <form id="add-lead-form">
            {% csrf_token %}
            <div class="input-container">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter a descriptive name" required>
            </div>
            <div class="input-container">
                <label>Source</label>
                <input id="source" name="source" placeholder="Select source type">
            </div>
            <div class="select-container">
                <label>Confidentiality</label>
                <select id="confidentiality" name="confidentiality">
                    {% for c in confidentialities %}
                    <option value="{{c.0}}">{{c.1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-container">
                <label>Assign to</label>
                <select id="assigned-to" name="assigned-to" placeholder="Select user">
                    <option value="">Select user</option>
                    {% for u in users %}
                    <option value="{{u.pk}}">{{u.first_name}} {{u.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-container">
                <label>Published at</label>
                <input type="date" name="publish-date" placeholder="yyyy-mm-dd">
            </div>
            <div class="input-container attachment-row">
                <label>Attachments</label>
                <div id="attachments-list"></div>
            </div>
            <div class="textarea-container manual-row">
                <label>Description</label>
                <textarea id="manual-text"></textarea>
            </div>
            <input type="submit" style="width:0; height:0; opacity:0;">
        </form>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
            <button id="submit-btn" class="success" data-action="submit" data-persist="true"><i class="fa fa-check"></i>Submit</button>
        </div>
    </div>
</div>
{% endblock %}
