{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Survey of surveys
{% endblock %}

{% block head %}
<script>
    var currentEvent = {{event.pk}};
</script>
<link href="{% watchful_static_url 'css/sos.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/datatables.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>

<script type="text/javascript" src="{% watchful_static_url 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/sos/sos.js' %}"></script>
{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<main>
    <table id="sos-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Created</th>
                <th>Title</th>
                <th>Location</th>
                <th>Sectors Covered</th>
                <th>Affected Groups</th>
                <th>Lead Organization</th>
                <th>Assessment Frequency</th>
                <th>Assessment Confidentiality</th>
                <th>Assessment Status</th>
                <th>Proximity to Source</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
<main>

{% endblock %}
