
<div class="row">
    <div class="col-md-12">
        <div class="block-title">
            Sectors covered by the assesment
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Water Supply</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Hygine</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Sanitation</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Food</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Livelihood</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Health</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Nutrition</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Shelter</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Non Food Items</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Protection</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Child Protection</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Humanitarian Access</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>

    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">...</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">...</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">...</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Market</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Logistic</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>
    <div class="col-md-2 col-sm-4">
        <div class=" form-group">
            <label class=" control-label">Commercial</label>
            <input type="text" class="form-control" name=""  placeholder="Quantification"/>
            <input type="text" class="form-control " name=""  placeholder="Analytical Value"/>
        </div>
    </div>

</div>
