@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
body{
    width: 600px;
    height: 588px;
    font-size: 13px;
    margin: 0;
}
@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
#add-lead-form{
    padding: 24px 32px;
}
h1{
    margin: 0;
    height: 54px;
    font-size: 1.5em;
    font-weight: 600;
    color: #008080;
}
#action{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 54px;
}
.fa{
    margin-left: 10px;
    margin-right: 10px;
}
#action button{
    outline: none;
    background-color: none;
    border: none;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.2em;
}
#submit{
    color: #008080;
}
#submit-and-add-entry{
    color: #414141;
}
