option_settings:
  - namespace: aws:elasticbeanstalk:application
    option_name: Application Healthcheck URL
    value: "/"

option_settings:
  - option_name: "DEBUG"
    value: "False"
  - option_name: "IN_DOCKER"
    value: "True"
  - option_name: "ALLOWED_HOST"
    value: "deep-dev.m3bc2unknr.us-east-1.elasticbeanstalk.com"
  - option_name: "STATIC_ROOT"
    value: "/var/www/static"
  - option_name: "MEDIA_ROOT"
    value: "/var/www/media"
  - option_name: "USE_S3"
    value: "True"
  - option_name: "AWS_STORAGE_BUCKET_NAME"
    value: "deep-dev"
  - option_name: "AWS_ACCESS_KEY_ID"
    value: ""
  - option_name: "AWS_SECRET_ACCESS_KEY"
    value: ""
