option_settings:
  - option_name: "DEBUG"
    value: "False"
  - option_name: "IN_DOCKER"
    value: "True"
  - option_name: "ALLOWED_HOST"
    value: "deep-dev.m3bc2unknr.us-east-1.elasticbeanstalk.com"
  - option_name: "STATIC_ROOT"
    value: "/var/www/static"
  - option_name: "MEDIA_ROOT"
    value: "/var/www/media"
