
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Configs files
Dockerrun.aws.json
.mydockercfg
.ebextensions/environmentvariables.config
.ebextensions/nginx.conf
.ebextensions/env-instance
