
#body-section{
    padding-top: 30px;
}

#under-construction{
    font-size: 3em;
    font-weight: 300;
    color: #ccc;

}

#download-extension-link{
    margin-top: 100px;
}

#download-extension-link a{
    padding: 10px 50px;
    text-transform: uppercase;
}
