::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 125px;
      height: 40px; }
  body > nav #project-select-container {
    flex-basis: 20%; }
    body > nav #project-select-container .selectize-control.single .selectize-input, body > nav #project-select-container .selectize-control.single.single, body > nav #project-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #project-select-container .selectize-input {
      border: none; }
      body > nav #project-select-container .selectize-input > div, body > nav #project-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #project-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #project-select-container #project-dropdown-alt {
      vertical-align: middle;
      color: #fff;
      font-size: 12px; }
      body > nav #project-select-container #project-dropdown-alt .fa {
        width: 16px; }
  body > nav #main-menu {
    flex-basis: 50%; }
  body > nav #extra-menu {
    flex-basis: calc(20% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items a, body > nav #extra-menu .dropdown .items button {
          display: block;
          width: 100%;
          text-align: left;
          padding: 16px;
          text-transform: uppercase;
          color: #414141;
          cursor: pointer;
          outline: none;
          border: none;
          text-decoration: none;
          background-color: transparent; }
          body > nav #extra-menu .dropdown .items a .fa, body > nav #extra-menu .dropdown .items button .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items a:hover, body > nav #extra-menu .dropdown .items button:hover {
            background-color: rgba(0, 0, 0, 0.1); }

body {
  height: 100vh;
  margin: 0;
  padding: 0; }
  body h1, body h2, body h3, body h4 {
    margin: 0;
    text-transform: uppercase; }
  body .split-pane {
    height: calc(100vh - 56px);
    font-size: 12px; }
    body .split-pane .split-pane-divider {
      background: rgba(0, 0, 0, 0.2); }
    body .split-pane #left-component {
      height: 100%;
      width: 40em;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
      background-color: #f0f0f0;
      overflow-x: hidden;
      z-index: 11; }
      body .split-pane #left-component #lead-options-container {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
        background-color: #fff; }
        body .split-pane #left-component #lead-options-container #lead-view-options {
          flex-basis: 60%; }
          body .split-pane #left-component #lead-options-container #lead-view-options label {
            display: inline-block;
            cursor: pointer;
            height: 48px;
            font-weight: 500;
            padding: calc(calc(48px - 12px) / 2) 16px 0 16px; }
            body .split-pane #left-component #lead-options-container #lead-view-options label input {
              display: none; }
            body .split-pane #left-component #lead-options-container #lead-view-options label.active {
              color: #008080;
              border-bottom: 3px solid #008080; }
        body .split-pane #left-component #lead-options-container #zoom-buttons {
          flex-basis: 40%;
          align-self: stretch;
          display: flex;
          justify-content: flex-end; }
          body .split-pane #left-component #lead-options-container #zoom-buttons button {
            width: 56px;
            color: rgba(0, 0, 0, 0.5);
            height: 100%;
            border: none;
            background-color: #fff;
            color: rgba(0, 0, 0, 0.5);
            font-size: 17px; }
      body .split-pane #left-component #lead-preview-container #lead-preview {
        height: calc(100vh - 56px - 48px); }
      body .split-pane #left-component #lead-preview-container iframe {
        border: none;
        width: 100%; }
      body .split-pane #left-component #lead-preview-container #lead-simplified-preview {
        height: calc(100vh - 56px - 48px);
        overflow-x: auto;
        padding: 16px; }
        body .split-pane #left-component #lead-preview-container #lead-simplified-preview pre {
          word-break: normal;
          white-space: pre-wrap; }
    body .split-pane #divider {
      left: 40em;
      width: 3px;
      background-color: transparent; }
    body .split-pane #right-component {
      left: 40em;
      z-index: 1; }
      body .split-pane #right-component > header {
        height: 48px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 16px;
        border: 2px solid rgba(0, 0, 0, 0.1); }
        body .split-pane #right-component > header button {
          padding: 6px 16px;
          color: #fff;
          box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5); }
          body .split-pane #right-component > header button:active {
            box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5); }
          body .split-pane #right-component > header button .fa {
            margin-right: 10px; }
        body .split-pane #right-component > header #save-btn {
          margin-left: 10px;
          background-color: #3498db; }
        body .split-pane #right-component > header #cancel-btn {
          background-color: #e74c3c; }
      body .split-pane #right-component #input-fields {
        display: flex;
        padding: 0 8px; }
        body .split-pane #right-component #input-fields > div {
          flex-basis: 33%; }
          body .split-pane #right-component #input-fields > div > div {
            padding: 8px; }
            body .split-pane #right-component #input-fields > div > div label {
              width: 100%;
              margin-bottom: 5px; }
            body .split-pane #right-component #input-fields > div > div > input, body .split-pane #right-component #input-fields > div > div > select {
              width: 100%;
              outline: none;
              border: 1px solid rgba(0, 0, 0, 0.1);
              padding: 3px 10px;
              background-color: #fff; }
          body .split-pane #right-component #input-fields > div #date-fields-wrapper {
            display: flex;
            justify-content: space-between;
            position: relative; }
            body .split-pane #right-component #input-fields > div #date-fields-wrapper > div {
              flex-basis: 49%; }
              body .split-pane #right-component #input-fields > div #date-fields-wrapper > div > input {
                width: 100%;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.1);
                padding: 3px 10px; }
          body .split-pane #right-component #input-fields > div #map-select-wrapper {
            display: flex;
            justify-content: space-between; }
            body .split-pane #right-component #input-fields > div #map-select-wrapper label {
              flex-basis: 60%; }
            body .split-pane #right-component #input-fields > div #map-select-wrapper a {
              color: #008080;
              cursor: pointer; }
              body .split-pane #right-component #input-fields > div #map-select-wrapper a .fa {
                margin-right: 10px; }
          body .split-pane #right-component #input-fields > div #selected-location-list {
            height: 144px;
            overflow-y: scroll;
            border: 1px solid rgba(0, 0, 0, 0.05);
            background-color: #f0f0f0; }
            body .split-pane #right-component #input-fields > div #selected-location-list ul {
              list-style: none;
              padding-left: 0;
              margin: 0; }
              body .split-pane #right-component #input-fields > div #selected-location-list ul li {
                text-indent: -16px;
                padding: 3px 10px;
                padding-left: 32px; }
                body .split-pane #right-component #input-fields > div #selected-location-list ul li a {
                  color: #e74c3c;
                  margin-left: 10px;
                  cursor: pointer; }
                  body .split-pane #right-component #input-fields > div #selected-location-list ul li a .fa {
                    margin-right: 6px; }
                body .split-pane #right-component #input-fields > div #selected-location-list ul li:nth-child(even) {
                  background-color: #fff; }
            body .split-pane #right-component #input-fields > div #selected-location-list #empty-text {
              text-align: center;
              margin-top: 32px;
              font-size: 1.2em;
              color: #aaa;
              text-transform: uppercase; }
      body .split-pane #right-component #sector-block {
        display: flex;
        flex-wrap: wrap; }
        body .split-pane #right-component #sector-block header {
          flex-basis: 100%;
          height: 48px;
          padding: 0 16px;
          display: flex;
          align-items: center;
          background-color: #fff;
          border-top: 1px solid rgba(0, 0, 0, 0.1); }
        body .split-pane #right-component #sector-block #sectors {
          flex-basis: 20%;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.1); }
          body .split-pane #right-component #sector-block #sectors a {
            display: block;
            padding: 6px 16px;
            cursor: pointer;
            position: relative; }
            body .split-pane #right-component #sector-block #sectors a:hover {
              background-color: rgba(0, 0, 0, 0.1); }
            body .split-pane #right-component #sector-block #sectors a.active {
              background-color: #008080;
              color: #fff; }
            body .split-pane #right-component #sector-block #sectors a.filled:after {
              content: '';
              display: inline-block;
              position: absolute;
              right: 6px;
              top: 8px;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: #3498db; }
        body .split-pane #right-component #sector-block #sector-input {
          flex-basis: 30%;
          padding: 16px; }
          body .split-pane #right-component #sector-block #sector-input h4 {
            margin-bottom: 16px; }
          body .split-pane #right-component #sector-block #sector-input > div {
            padding: 10px 0; }
            body .split-pane #right-component #sector-block #sector-input > div label {
              margin-bottom: 10px; }
        body .split-pane #right-component #sector-block #affected-groups {
          border: 1px solid rgba(0, 0, 0, 0.1);
          flex-basis: 50%;
          min-width: 512px;
          padding: 16px;
          box-sizing: border-box; }
          body .split-pane #right-component #sector-block #affected-groups h4 {
            text-align: center;
            margin-bottom: 24px; }
          body .split-pane #right-component #sector-block #affected-groups .affected-group {
            background-color: #fff;
            cursor: pointer; }
          body .split-pane #right-component #sector-block #affected-groups .active-affected-group {
            color: #fff;
            background-color: #008080; }
          body .split-pane #right-component #sector-block #affected-groups .google-visualization-orgchart-linebottom {
            border-bottom: 1px solid #008080 !important; }
          body .split-pane #right-component #sector-block #affected-groups #chart-div {
            overflow: hidden; }
        body .split-pane #right-component #sector-block h4 {
          font-weight: 300;
          font-size: 19px; }
  body #map-modal {
    width: 800px; }
    body #map-modal #the-map {
      height: 60vh; }
      body #map-modal #the-map path {
        stroke: #717171;
        stroke-width: 1px;
        stroke-linejoin: round; }
    body #map-modal #admin-level-buttons {
      text-align: center; }
      body #map-modal #admin-level-buttons button {
        padding: 4px 10px; }
        body #map-modal #admin-level-buttons button.active {
          background-color: #008080;
          color: #fff; }

/*# sourceMappingURL=add-sos.css.map */
