::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    padding: 18px; }
    nav #crisis-wrapper .selectize-input, nav #crisis-wrapper .input-active {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 0;
      color: #b3caca;
      font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input .item, nav #crisis-wrapper .input-active .item {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input input, nav #crisis-wrapper .input-active input {
        text-transform: uppercase !important;
        color: #b3caca; }
      nav #crisis-wrapper .selectize-input:after, nav #crisis-wrapper .input-active:after {
        margin-top: -10px;
        border-color: #b3caca transparent transparent transparent; }
    nav #crisis-wrapper .dropdown-active:after {
      border-color: transparent transparent #b3caca transparent; }
    nav #crisis-wrapper .selectize-dropdown {
      text-align: left !important; }
    nav #crisis-wrapper .focus {
      border: none;
      color: #fff;
      box-shadow: none; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  height: 100vh;
  margin: 0;
  padding: 0; }
  body .split-pane {
    height: calc(100vh - 56px);
    font-size: 12px; }
    body .split-pane .split-pane-divider {
      background: rgba(0, 0, 0, 0.2); }
    body .split-pane #left-component {
      width: 40em;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      background-color: #fff; }
      body .split-pane #left-component .btn-zoom {
        opacity: 75%;
        font-size: 1.5em;
        background-color: #fafafa;
        float: right; }
      body .split-pane #left-component #zoom-in {
        right: 52px; }
      body .split-pane #left-component #zoom-out {
        right: 10px; }
      body .split-pane #left-component #lead-options-container {
        padding: 8px; }
        body .split-pane #left-component #lead-options-container button {
          padding: 5px 10px;
          border-radius: 0;
          line-height: 1;
          margin-right: 8px;
          margin-bottom: 5px; }
        body .split-pane #left-component #lead-options-container #tag-buttons {
          margin-top: 10px; }
      body .split-pane #left-component #lead-preview-container {
        height: calc(100% - 70px); }
      body .split-pane #left-component #lead-preview {
        width: 100%;
        height: 100%;
        border: none;
        display: none; }
      body .split-pane #left-component #lead-simplified-preview {
        width: 100%;
        padding: 16px;
        background-color: #fafafa; }
        body .split-pane #left-component #lead-simplified-preview div {
          color: #717171;
          white-space: pre-wrap;
          line-height: 1.5; }
        body .split-pane #left-component #lead-simplified-preview h1 {
          font-size: 1.5em; }
    body .split-pane #my-divider {
      left: 40em;
      /* Same as left component width */
      width: 3px;
      background-color: transparent; }
    body .split-pane #right-component {
      left: 40em;
      /* Same as left component width */
      margin-left: 3px;
      /* Same as divider width */
      padding-top: 10px; }
      body .split-pane #right-component #chart-div {
        overflow: hidden; }
      body .split-pane #right-component .affected-group {
        background-color: #f0f0f0;
        cursor: pointer; }
      body .split-pane #right-component .active-affected-group {
        color: #fff;
        background-color: #008080; }
      body .split-pane #right-component .google-visualization-orgchart-linebottom {
        border-bottom: 1px solid #008080 !important; }
      body .split-pane #right-component h2 {
        margin-bottom: 32px; }
      body .split-pane #right-component #save-btn, body .split-pane #right-component #cancel-btn {
        margin-top: 16px;
        margin-left: 10px; }
        body .split-pane #right-component #save-btn .fa, body .split-pane #right-component #cancel-btn .fa {
          margin-right: 10px; }
      body .split-pane #right-component .form-control {
        margin-bottom: 16px; }
      body .split-pane #right-component #selected-location-list {
        height: 150px;
        overflow-y: scroll;
        background-color: #f0f0f0;
        margin-top: 16px; }
        body .split-pane #right-component #selected-location-list ul {
          list-style: none;
          padding-left: 16px;
          padding-top: 10px; }
        body .split-pane #right-component #selected-location-list #empty-text {
          text-align: center;
          margin-top: 24px; }
        body .split-pane #right-component #selected-location-list .fa {
          margin-right: 10px;
          color: #e74c3c; }
      body .split-pane #right-component #sector-block {
        padding: 0 50px; }
        body .split-pane #right-component #sector-block h3 {
          margin-bottom: 24px; }
        body .split-pane #right-component #sector-block h4 {
          text-transform: uppercase; }
        body .split-pane #right-component #sector-block .control-label {
          padding-left: 6px; }
        body .split-pane #right-component #sector-block .sector {
          display: block;
          padding: 6px 24px;
          text-align: right;
          text-transform: uppercase;
          cursor: pointer; }
        body .split-pane #right-component #sector-block .active {
          background-color: rgba(0, 0, 0, 0.1); }
        body .split-pane #right-component #sector-block .filled::after {
          content: "\2713";
          margin-right: -20px;
          padding-left: 10px; }
        body .split-pane #right-component #sector-block #sector-input .title {
          margin-bottom: 32px; }
        body .split-pane #right-component #sector-block #sector-input .group {
          margin-bottom: 24px; }
        body .split-pane #right-component #sector-block #sector-input label {
          margin-bottom: 12px; }
  body #map-modal .modal-body {
    padding: 0; }
    body #map-modal .modal-body #the-map {
      height: 60vh; }
      body #map-modal .modal-body #the-map path {
        stroke: #717171;
        stroke-width: 1px;
        stroke-linejoin: round; }

/*# sourceMappingURL=add-sos.css.map */
