body, html{
    height: 100vh;
    margin: 0;
    padding: 0;
}

.split-pane{
    height: calc(100vh - 60px)!important;
}
.split-pane-divider {
    background: rgba(0, 0, 0, 0.2);
}

#left-component {
    width: 40em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#my-divider {
    left: 40em; /* Same as left component width */
    width: 3px;
    background-color: transparent;
}
#right-component {
    left: 40em;  /* Same as left component width */
    margin-left: 3px;  /* Same as divider width */
}

#lead-options-container{
    /*height: 80px;*/
    padding: 8px;
    background-color: #f5f5f5;
}
#lead-options-container button{
    padding: 5px 10px;
    border-radius: 0;
    line-height: 1;
    margin-right: 8px;
    margin-bottom: 5px;
}
#lead-options-container #tag-buttons{
    margin-top: 10px;
}

#lead-preview-container{
    height: calc(100% - 85px);
}

#lead-preview{
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

#lead-simplified-preview{
    width: 100%;
}
#lead-simplified-preview div{
    color: #717171;
    white-space: pre-wrap;
    line-height: 1.5;
}
#lead-simplified-preview{
    padding: 16px;
    background-color: #fafafa;
}
#lead-simplified-preview h1{
    font-size: 1.5em;
}


#affected-groups{
    text-align: center;
}
#affected-groups button{
    margin-bottom: 24px;
}


/*.tree *{
    margin: 0;
    padding: 0
}
.tree .checkbox{
    border: 1px solid #f0f0f0;

    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
}
.tree li {
	float: left;
    text-align: center;
	list-style-type: none;
    position: relative;

}
.tree li::after{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 100%;
    height: 10px;
    border-top: 1px solid #008080;
    border-left: 1px solid #008080;
}

.tree{
    padding: 16px;
}*/


/*Map*/
#the-map path {
    stroke: #414141;
    stroke-width: 2px;
    stroke-linejoin: round;
}


/*Information Attributes*/
#information-attributes .attr-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 8px 0px;
}
#selected-attr-title{
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px 16px 0px;
}

#information-attributes .flexrow {
    display: flex;
    flex-flow: row wrap;
}

table{border-collapse: separate!important;}

#information-attributes .attr {
    flex: 1;
    font-size: 1em;
    text-align: center;
    margin: 3px;
    padding: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
#information-attributes .active{
    background-color: #008080;
    color: #fff;
}

.attr-input{
    margin-bottom: 10px;
}

.affected-group{
    background-color: #f0f0f0;
    cursor: pointer;
}
.active-affected-group{
    color: #fff;
    background-color: #008080;
}
.google-visualization-orgchart-linebottom {
    border-bottom: 1px solid #008080!important;
}
