body, html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.split-pane{
    height: calc(100vh - 60px)!important;
}
.split-pane-divider {
    background: rgba(0, 0, 0, 0.2);
}

#left-component {
    width: 40em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
#my-divider {
    left: 40em; /* Same as left component width */
    width: 3px;
    background-color: transparent;
}
#right-component {
    left: 40em;  /* Same as left component width */
    margin-left: 3px;  /* Same as divider width */
}

#lead-options-container{
    height: 80px;
    padding: 8px;
    background-color: #f5f5f5;
}
#lead-options-container button{
    padding: 5px 10px;
    border-radius: 0;
    line-height: 1;
    margin-right: 8px;
}
#lead-options-container #tag-buttons{
    margin-top: 10px;
}

#lead-preview-container{
    height: calc(100% - 85px);
}

#lead-preview{
    width: 100%;
    height: 100%;
    border: none;
}
#lead-select{
}



.tree ul {
	padding-top: 20px; position: relative;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{

}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {

}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #18bc9c;
}

/*Map*/
#the-map path {
    stroke: #414141;
    stroke-width: 2px;
    stroke-linejoin: round;
}
