body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  height: 100vh;
  margin: 0;
  padding: 0; }
  body .fa-long-arrow-right {
    margin-right: 0;
    margin-left: 10px; }
  body .fa-long-arrow-left {
    margin-right: 10px;
    margin-left: 0; }
  body #page-one .split-pane {
    height: calc(100vh - 56px - 2px) !important; }
    body #page-one .split-pane .split-pane-divider {
      background-color: rgba(0, 0, 0, 0.2); }
    body #page-one .split-pane #left-component {
      width: 40em;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      overflow-x: hidden; }
      body #page-one .split-pane #left-component .fa {
        margin-right: 0; }
      body #page-one .split-pane #left-component #lead-options-container {
        padding: 8px;
        width: 100%;
        margin-bottom: 4px;
        height: 48px;
        background-color: #f0f0f0; }
        body #page-one .split-pane #left-component #lead-options-container #zoom-buttons {
          text-align: right; }
          body #page-one .split-pane #left-component #lead-options-container #zoom-buttons button {
            box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
            body #page-one .split-pane #left-component #lead-options-container #zoom-buttons button:active {
              box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
          body #page-one .split-pane #left-component #lead-options-container #zoom-buttons .fa {
            font-size: 1.2em; }
      body #page-one .split-pane #left-component #lead-preview-container #lead-preview {
        height: calc(100vh - 56px - 56px);
        box-sizing: border-box;
        border: none; }
      body #page-one .split-pane #left-component #lead-preview-container iframe {
        width: 100%; }
      body #page-one .split-pane #left-component #lead-preview-container #lead-simplified-preview {
        padding: 16px; }
    body #page-one .split-pane #divider {
      left: 40em;
      width: 3px;
      background-color: transparent; }
    body #page-one .split-pane #right-component {
      left: 40em;
      margin-left: 3px;
      padding-top: 24px; }
      body #page-one .split-pane #right-component .btn {
        margin-right: 8px;
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
        body #page-one .split-pane #right-component .btn:active {
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
      body #page-one .split-pane #right-component .row {
        margin-bottom: 24px; }
      body #page-one .split-pane #right-component .save-excerpt {
        float: right; }
      body #page-one .split-pane #right-component .cancel {
        float: right; }
      body #page-one .split-pane #right-component #edit-entries-btn {
        float: right; }
      body #page-one .split-pane #right-component #excerpt-text {
        height: 96px; }
      body #page-one .split-pane #right-component #matrix-one {
        display: flex;
        flex-direction: column; }
        body #page-one .split-pane #right-component #matrix-one .pillar {
          margin-top: 4px;
          margin-bottom: 4px;
          -webkit-user-select: none; }
          body #page-one .split-pane #right-component #matrix-one .pillar .pillar-header {
            display: inline-block;
            padding: 8px 10px;
            margin-right: 2px;
            background-color: #fff;
            text-align: center;
            width: 192px; }
          body #page-one .split-pane #right-component #matrix-one .pillar .sub-pillar {
            display: inline-block;
            padding: 8px 10px;
            margin-right: 2px;
            cursor: pointer;
            background-color: #ddd;
            transition: 0.2s all ease-in-out; }
          body #page-one .split-pane #right-component #matrix-one .pillar .active {
            transform: scaleY(1.1), scaleX(1.02);
            background-color: #008080;
            color: #fff; }
      body #page-one .split-pane #right-component #matrix-two {
        width: 100%;
        border-spacing: 4px;
        border-collapse: separate; }
        body #page-one .split-pane #right-component #matrix-two td {
          padding: 6px;
          text-align: center; }
        body #page-one .split-pane #right-component #matrix-two .sector {
          width: 7%; }
        body #page-one .split-pane #right-component #matrix-two .pillar-header {
          background-color: #f7caac; }
        body #page-one .split-pane #right-component #matrix-two .subpillar {
          background-color: #f9d9c3; }
        body #page-one .split-pane #right-component #matrix-two .attribute-block {
          cursor: pointer; }
  body #page-one #edit-entries-btn {
    float: right; }
  body #page-one #excerpt-text {
    height: 96px; }
  body #page-one #pillars {
    display: flex;
    flex-direction: column; }
    body #page-one #pillars .pillar {
      margin-top: 4px;
      margin-bottom: 4px;
      -webkit-user-select: none; }
      body #page-one #pillars .pillar .pillar-header {
        display: inline-block;
        padding: 24px;
        margin-right: 2px;
        background-color: #ccc; }
      body #page-one #pillars .pillar .sub-pillar {
        display: inline-block;
        padding: 24px;
        margin-right: 2px;
        cursor: pointer;
        background-color: #eee;
        transition: 0.2s all ease-in-out; }
      body #page-one #pillars .pillar .active {
        transform: scaleY(1.1);
        background-color: #008080;
        color: #fff; }
  body #page-two {
    padding-top: 24px; }
    body #page-two .btn {
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      body #page-two .btn:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
    body #page-two .btn-affected, body #page-two .btn-map {
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      body #page-two .btn-affected:active, body #page-two .btn-map:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
    body #page-two #entries {
      margin-top: 24px;
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
      body #page-two #entries h3 {
        margin-top: 0;
        margin-bottom: 24px;
        text-transform: uppercase; }
      body #page-two #entries .entry {
        padding: 16px;
        padding-bottom: 0;
        background-color: #fff; }
        body #page-two #entries .entry .severity, body #page-two #entries .entry .reliability {
          cursor: pointer; }
          body #page-two #entries .entry .severity span, body #page-two #entries .entry .reliability span {
            width: 10px;
            height: 16px;
            margin: 1px;
            background-color: #ccc;
            display: inline-block;
            cursor: pointer; }
          body #page-two #entries .entry .severity label, body #page-two #entries .entry .reliability label {
            vertical-align: super;
            margin-right: 16px; }
        body #page-two #entries .entry .reliability {
          cursor: pointer; }
          body #page-two #entries .entry .reliability ._1 {
            background-color: #aab0ed; }
          body #page-two #entries .entry .reliability ._2 {
            background-color: #7f88e5; }
          body #page-two #entries .entry .reliability ._3 {
            background-color: #5561dc; }
          body #page-two #entries .entry .reliability ._4 {
            background-color: #2b3ad3; }
          body #page-two #entries .entry .reliability ._5 {
            background-color: #232fa8; }
          body #page-two #entries .entry .reliability ._6 {
            background-color: #1e2993; }
          body #page-two #entries .entry .reliability .active {
            transform: scale(1.4); }
        body #page-two #entries .entry .severity {
          cursor: pointer; }
          body #page-two #entries .entry .severity ._1 {
            background-color: #f2adad; }
          body #page-two #entries .entry .severity ._2 {
            background-color: #ec8080; }
          body #page-two #entries .entry .severity ._3 {
            background-color: #e55454; }
          body #page-two #entries .entry .severity ._4 {
            background-color: #de2828; }
          body #page-two #entries .entry .severity ._5 {
            background-color: #cd1f1f; }
          body #page-two #entries .entry .severity ._6 {
            background-color: #b71c1c; }
          body #page-two #entries .entry .severity .active {
            transform: scale(1.4); }
        body #page-two #entries .entry .excerpt {
          font-size: 0.9em;
          overflow: hidden;
          margin-bottom: 16px; }
        body #page-two #entries .entry .geo-location {
          margin-top: 4px;
          font-weight: bold; }
        body #page-two #entries .entry .affected-group {
          color: #e74c3c; }
        body #page-two #entries .entry .geo-location, body #page-two #entries .entry .affected-group {
          padding: 4px;
          min-height: 64px; }
          body #page-two #entries .entry .geo-location a, body #page-two #entries .entry .affected-group a {
            float: right; }
          body #page-two #entries .entry .geo-location .fa, body #page-two #entries .entry .affected-group .fa {
            margin-right: 0; }
          body #page-two #entries .entry .geo-location img, body #page-two #entries .entry .affected-group img {
            width: 24px;
            height: 24px; }
        body #page-two #entries .entry .attribute-list {
          display: flex;
          flex-direction: column; }
          body #page-two #entries .entry .attribute-list .attribute {
            margin-bottom: 2px;
            display: block;
            font-size: 0.9em;
            text-align: left; }
            body #page-two #entries .entry .attribute-list .attribute a {
              font-size: 0.9em;
              cursor: pointer; }
        body #page-two #entries .entry .sub-sector-list {
          list-style: none; }
        body #page-two #entries .entry .btn-action {
          width: 32px;
          height: 32px;
          text-align: center;
          padding: 0;
          padding-top: 4px;
          margin-bottom: 10px; }
          body #page-two #entries .entry .btn-action .fa {
            margin: 0; }
        body #page-two #entries .entry .pillar, body #page-two #entries .entry .sector {
          font-weight: bold; }
        body #page-two #entries .entry .sub-pillar, body #page-two #entries .entry .sub-sector {
          font-size: 0.9em; }
        body #page-two #entries .entry a.sub-sector {
          color: #008080; }
      body #page-two #entries .entry:nth-child(even) {
        background-color: #f5f5f5; }
  body #chart-div table {
    border-collapse: separate; }
  body #chart-div .affected-group {
    background-color: #f0f0f0;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 1em; }
  body #chart-div .active-affected-group {
    background-color: #008080;
    color: #fff; }
  body .modal h4 {
    text-transform: uppercase; }
  body #map-modal #admin-level-buttons {
    margin-bottom: 16px; }
  body #map-modal .modal-body {
    padding: 0; }
    body #map-modal .modal-body #the-map {
      height: 50vh; }
      body #map-modal .modal-body #the-map path {
        stroke: #717171;
        stroke-width: 1px;
        stroke-linejoin: round; }
  body #map-modal .modal-footer {
    text-align: left; }
    body #map-modal .modal-footer #selected-location-list {
      height: 144px;
      overflow-y: scroll;
      background-color: #f0f0f0;
      padding: 10px 16px; }
      body #map-modal .modal-footer #selected-location-list ul {
        list-style: none;
        padding-left: 0; }
        body #map-modal .modal-footer #selected-location-list ul li {
          text-indent: -16px;
          padding-left: 20px; }
          body #map-modal .modal-footer #selected-location-list ul li a {
            color: #e78c6c;
            margin-left: 10px;
            cursor: pointer; }
            body #map-modal .modal-footer #selected-location-list ul li a .fa {
              margin-right: 6px; }
      body #map-modal .modal-footer #selected-location-list #empty-text {
        text-align: center;
        margin-top: 32px;
        font-size: 1.2em;
        color: #aaa;
        text-transform: uppercase; }

/*# sourceMappingURL=add-entry.css.map */
