::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 100%; }
  body > nav #report-link-wrapper {
    flex-basis: 10%; }
  body > nav #crisis-select-container {
    flex-basis: 30%; }
    body > nav #crisis-select-container .selectize-control.single .selectize-input, body > nav #crisis-select-container .selectize-control.single.single, body > nav #crisis-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #crisis-select-container .selectize-input {
      border: none; }
      body > nav #crisis-select-container .selectize-input > div, body > nav #crisis-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #crisis-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #crisis-select-container a {
      vertical-align: middle; }
  body > nav #main-menu {
    flex-basis: 30%; }
  body > nav #extra-menu {
    flex-basis: calc(20% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items div {
          padding: 16px;
          text-transform: uppercase;
          color: #414141; }
          body > nav #extra-menu .dropdown .items div .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items div:hover {
            background-color: rgba(0, 0, 0, 0.1); }

body {
  height: 100vh;
  margin: 0;
  padding: 0; }
  body h1, body h2, body h3, body h4 {
    margin: 0;
    text-transform: uppercase; }
  body .split-pane {
    height: calc(100vh - 56px);
    font-size: 12px; }
    body .split-pane .split-pane-divider {
      background: rgba(0, 0, 0, 0.2); }
    body .split-pane #left-component {
      width: 40em;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
      background-color: #fff; }
      body .split-pane #left-component .btn-zoom {
        opacity: 75%;
        font-size: 1.5em;
        background-color: #fafafa;
        float: right; }
      body .split-pane #left-component #zoom-in {
        right: 52px; }
      body .split-pane #left-component #zoom-out {
        right: 10px; }
      body .split-pane #left-component #lead-options-container {
        padding: 8px; }
        body .split-pane #left-component #lead-options-container button {
          padding: 5px 10px;
          border-radius: 0;
          line-height: 1;
          margin-right: 8px;
          margin-bottom: 5px; }
        body .split-pane #left-component #lead-options-container #tag-buttons {
          margin-top: 10px; }
      body .split-pane #left-component #lead-preview-container #lead-preview {
        height: calc(100vh - 56px - 56px);
        box-sizing: border-box;
        border: none; }
      body .split-pane #left-component #lead-preview-container iframe {
        width: 100%; }
      body .split-pane #left-component #lead-preview-container #lead-simplified-preview {
        height: calc(100vh - 144px);
        overflow-x: auto;
        padding: 16px; }
        body .split-pane #left-component #lead-preview-container #lead-simplified-preview pre {
          white-space: pre-wrap;
          word-break: normal;
          background: inherit;
          color: inherit;
          font: inherit;
          border: inherit;
          text-align: justify; }
    body .split-pane #my-divider {
      left: 40em;
      /* Same as left component width */
      width: 3px;
      background-color: transparent; }
    body .split-pane #right-component {
      left: 40em;
      /* Same as left component width */
      margin: 24px 16px;
      padding-bottom: 48px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body .split-pane #right-component > div {
        flex-basis: 32%; }
        body .split-pane #right-component > div > input[type="text"], body .split-pane #right-component > div input[type="number"], body .split-pane #right-component > div input[type="date"] {
          width: 100%;
          height: 32px;
          padding: 0 8px;
          margin: 0 8px 8px 0;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          background-color: #fff; }
          body .split-pane #right-component > div > input[type="text"]:focus, body .split-pane #right-component > div input[type="number"]:focus, body .split-pane #right-component > div input[type="date"]:focus {
            border-color: #008080; }
        body .split-pane #right-component > div .selectize-control {
          margin-bottom: 8px; }
          body .split-pane #right-component > div .selectize-control .selectize-input {
            min-height: 32px;
            border-radius: 3px;
            padding: 6px 4px; }
        body .split-pane #right-component > div #date-fields-wrapper {
          display: flex;
          justify-content: space-between; }
          body .split-pane #right-component > div #date-fields-wrapper > div {
            flex-basis: 49%; }
        body .split-pane #right-component > div #location-select-wrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap; }
          body .split-pane #right-component > div #location-select-wrapper > div {
            flex-basis: 80%; }
          body .split-pane #right-component > div #location-select-wrapper button {
            box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
            height: 80%; }
            body .split-pane #right-component > div #location-select-wrapper button:active {
              box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
        body .split-pane #right-component > div #selected-location-list {
          height: 150px;
          overflow-y: scroll;
          background-color: #f0f0f0; }
          body .split-pane #right-component > div #selected-location-list ul {
            list-style: none;
            padding-left: 16px;
            padding-top: 10px; }
          body .split-pane #right-component > div #selected-location-list #empty-text {
            text-align: center;
            margin-top: 24px; }
          body .split-pane #right-component > div #selected-location-list .fa {
            margin-right: 10px;
            color: #e74c3c; }
      body .split-pane #right-component #sos-header {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        body .split-pane #right-component #sos-header button {
          box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7);
          margin-left: 16px; }
          body .split-pane #right-component #sos-header button:active {
            box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
          body .split-pane #right-component #sos-header button i {
            margin-right: 10px; }
      body .split-pane #right-component h2 {
        margin-bottom: 32px; }
      body .split-pane #right-component #sector-block {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        body .split-pane #right-component #sector-block > * {
          box-sizing: border-box; }
        body .split-pane #right-component #sector-block h3 {
          flex-basis: 100%; }
        body .split-pane #right-component #sector-block #sectors {
          flex-basis: 25%; }
          body .split-pane #right-component #sector-block #sectors .sector {
            display: block;
            padding: 6px 24px;
            text-align: right;
            text-transform: uppercase;
            cursor: pointer; }
        body .split-pane #right-component #sector-block #sector-input {
          flex-basis: 25%; }
          body .split-pane #right-component #sector-block #sector-input .title {
            margin-bottom: 32px; }
          body .split-pane #right-component #sector-block #sector-input label {
            margin-bottom: 12px; }
        body .split-pane #right-component #sector-block #affected-group-wrapper {
          flex-basis: 40%; }
          body .split-pane #right-component #sector-block #affected-group-wrapper .affected-group {
            background-color: #fff;
            cursor: pointer; }
          body .split-pane #right-component #sector-block #affected-group-wrapper .active-affected-group {
            color: #fff;
            background-color: #008080; }
          body .split-pane #right-component #sector-block #affected-group-wrapper .google-visualization-orgchart-linebottom {
            border-bottom: 1px solid #008080 !important; }
          body .split-pane #right-component #sector-block #affected-group-wrapper #chart-div {
            overflow: hidden; }
        body .split-pane #right-component #sector-block .control-label {
          padding-left: 6px; }
        body .split-pane #right-component #sector-block .active {
          background-color: rgba(0, 0, 0, 0.1); }
        body .split-pane #right-component #sector-block .filled::after {
          content: "\2713";
          margin-right: -20px;
          padding-left: 10px; }
  body #map-modal .modal-body {
    padding: 0; }
    body #map-modal .modal-body #the-map {
      height: 60vh; }
      body #map-modal .modal-body #the-map path {
        stroke: #717171;
        stroke-width: 1px;
        stroke-linejoin: round; }

/*# sourceMappingURL=add-sos.css.map */
