body {
    background-color: #fff;
    color: #717171;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

a, a:hover, a:visited{
    text-decoration: none;
    outline: none;
}

a{
    color: #404040;
    font-weight: bold;
}
