::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  line-height: 1.8;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  body h1, body h2, body h3, body h4 {
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle; }
  body input[type="text"], body input[type="number"], body input[type="url"] {
    width: 100%;
    height: 32px;
    padding: 0 16px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff; }
    body input[type="text"]:focus, body input[type="number"]:focus, body input[type="url"]:focus {
      border-color: #008080; }
  body header {
    flex-basis: 100%;
    height: 56px;
    background-color: #004d4d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
    body header a {
      color: #fff; }
      body header a .fa {
        margin-right: 10px; }
      body header a:hover {
        color: #fff; }
  body aside {
    flex-basis: 25%; }
    body aside #countries-header {
      height: 144px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 16px 0 16px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      body aside #countries-header h2 {
        flex-basis: 60%;
        font-weight: 500;
        font-size: 19px; }
      body aside #countries-header #search-wrapper {
        flex-basis: 100%;
        position: relative;
        margin: 8px 0; }
        body aside #countries-header #search-wrapper input {
          width: 100%;
          height: 32px;
          outline: none;
          padding: 0 16px 0 32px;
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px; }
        body aside #countries-header #search-wrapper i {
          position: absolute;
          left: 10px;
          top: 8px;
          color: rgba(0, 0, 0, 0.3);
          font-size: 16px; }
    body aside #country-list {
      padding: 0 16px;
      height: calc(100vh - 56px - 144px); }
      body aside #country-list #countries {
        overflow-y: auto;
        height: 100%; }
        body aside #country-list #countries .country {
          padding: 16px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          cursor: pointer; }
          body aside #country-list #countries .country.active {
            background-color: #008080;
            color: #fff; }
  body main {
    flex-basis: 75%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
    body main #navigator {
      background-color: #fafafa;
      box-sizing: border-box;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      body main #navigator > div {
        flex-basis: 70%; }
        body main #navigator > div:last-child {
          text-align: right;
          flex-basis: 30%;
          padding: 0 24px; }
      body main #navigator a {
        padding: 10px 24px 14px 24px;
        font-size: 14px;
        cursor: pointer; }
        body main #navigator a.nav-active {
          border-bottom: 2px solid #008080; }
        body main #navigator a.invalid {
          color: #008080;
          animation: blink 2s infinite linear; }
@keyframes blink {
  0% {
    color: #008080; }
  30% {
    color: #e74c3c; }
  70% {
    color: #e74c3c; }
  100% {
    color: #008080; } }
      body main #navigator #save-btn, body main #navigator #delete-btn {
        margin-left: 8px;
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
        body main #navigator #save-btn:active, body main #navigator #delete-btn:active {
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
        body main #navigator #save-btn .fa, body main #navigator #delete-btn .fa {
          margin-right: 10px; }
    body main #content-wrapper :invalid {
      border-color: #e74c3c; }
    body main #content-wrapper #country-detail > div {
      max-height: calc(100vh - 56px - 48px);
      overflow-y: auto;
      background-color: #fff;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start !important; }
      body main #content-wrapper #country-detail > div h2, body main #content-wrapper #country-detail > div h3 {
        margin: 0; }
      body main #content-wrapper #country-detail > div #country-detail-header {
        height: 48px;
        flex-basis: 100%;
        padding: 0 24px;
        display: flex;
        align-items: center; }
      body main #content-wrapper #country-detail > div #country-detail-inputs {
        flex-basis: 40%;
        align-self: flex-start;
        padding: 0 10px 0 24px; }
      body main #content-wrapper #country-detail > div #map-wrapper {
        flex-basis: 60%;
        padding: 0 24px 0 10px; }
        body main #content-wrapper #country-detail > div #map-wrapper #the-map {
          height: 440px;
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
          body main #content-wrapper #country-detail > div #map-wrapper #the-map path {
            stroke: #717171;
            stroke-width: 1px;
            stroke-linejoin: round; }
        body main #content-wrapper #country-detail > div #map-wrapper #map-controls {
          margin-top: 8px;
          width: 100%;
          display: inline-block;
          background-color: rgba(255, 255, 255, 0.88); }
          body main #content-wrapper #country-detail > div #map-wrapper #map-controls #admin-level-buttons button {
            margin: 4px !important;
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
      body main #content-wrapper #country-detail > div #admin-level-list {
        flex-basis: 100%; }
      body main #content-wrapper #country-detail > div #admin-level-list-header {
        display: flex;
        justify-content: space-between;
        height: 48px;
        align-items: center;
        padding: 0 24px;
        border-top: 2px solid rgba(0, 0, 0, 0.05);
        margin-top: 16px; }
      body main #content-wrapper #country-detail > div .admin-level-details {
        background-color: #f0f0f0;
        padding: 16px 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; }
        body main #content-wrapper #country-detail > div .admin-level-details > div {
          flex-basis: 24%; }
          body main #content-wrapper #country-detail > div .admin-level-details > div:nth-child(6) {
            margin-top: 16px; }
          body main #content-wrapper #country-detail > div .admin-level-details > div:last-child {
            flex-basis: 7%; }
            body main #content-wrapper #country-detail > div .admin-level-details > div:last-child label {
              cursor: pointer;
              font-size: 15px;
              color: #e74c3c; }
              body main #content-wrapper #country-detail > div .admin-level-details > div:last-child label input {
                margin-right: 10px;
                margin-top: 0;
                vertical-align: middle;
                border: none;
                box-shadow: none; }
              body main #content-wrapper #country-detail > div .admin-level-details > div:last-child label span {
                display: inline-block; }
        body main #content-wrapper #country-detail > div .admin-level-details:nth-child(even) {
          background: #fafafa; }
        body main #content-wrapper #country-detail > div .admin-level-details .file-input {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          left: 0;
          top: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1; }
        body main #content-wrapper #country-detail > div .admin-level-details .file-input + label {
          margin-left: 10px;
          margin-right: 10px;
          padding: 6px 24px;
          background-color: #fff;
          font-size: 1em;
          border-radius: 3px;
          display: inline-block;
          cursor: pointer;
          box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
          body main #content-wrapper #country-detail > div .admin-level-details .file-input + label:active {
            box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
          body main #content-wrapper #country-detail > div .admin-level-details .file-input + label i {
            margin-right: 10px; }
        body main #content-wrapper #country-detail > div .admin-level-details .geojson-current {
          display: inline-block; }
      body main #content-wrapper #country-detail > div #add-new-admin-level {
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
        body main #content-wrapper #country-detail > div #add-new-admin-level:active {
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
        body main #content-wrapper #country-detail > div #add-new-admin-level i {
          margin-right: 10px; }
    body main #content-wrapper #key-figures {
      background-color: #fff;
      height: calc(100vh - 56px - 48px);
      padding: 24px;
      overflow-y: scroll;
      overflow-x: hidden; }
      body main #content-wrapper #key-figures .key-figure {
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        body main #content-wrapper #key-figures .key-figure h2 {
          font-weight: bold;
          flex-basis: 100%;
          font-size: 15px;
          margin-top: 10px;
          margin-bottom: 8px; }
        body main #content-wrapper #key-figures .key-figure input:read-only {
          background-color: rgba(0, 0, 0, 0.1); }
        body main #content-wrapper #key-figures .key-figure > div {
          flex-basis: 30%;
          padding: 0 8px; }
    body main #content-wrapper #population-data {
      background-color: #fff;
      height: calc(100vh - 56px - 48px);
      padding: 24px;
      overflow-y: scroll;
      overflow-x: hidden; }
      body main #content-wrapper #population-data > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start; }
        body main #content-wrapper #population-data > div > div {
          flex-basis: 30%;
          margin: 8px 4px; }
          body main #content-wrapper #population-data > div > div:nth-child(2) {
            flex-basis: 50%; }
    body main #content-wrapper #seasonal-calendar {
      background-color: #fff;
      height: calc(100vh - 56px - 48px);
      padding: 24px;
      overflow-y: scroll;
      overflow-x: hidden; }
    body main #content-wrapper #media-sources > div {
      background-color: #fff;
      height: calc(100vh - 56px - 48px);
      padding: 24px;
      display: flex;
      justify-content: space-between; }
      body main #content-wrapper #media-sources > div > div {
        flex-basis: 33%;
        overflow: auto; }
        body main #content-wrapper #media-sources > div > div .media-source-header {
          padding: 10px 24px;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between; }
          body main #content-wrapper #media-sources > div > div .media-source-header a {
            cursor: pointer;
            margin: 0; }
        body main #content-wrapper #media-sources > div > div label {
          flex-basis: 100%; }
        body main #content-wrapper #media-sources > div > div .media-source {
          padding: 10px 24px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center; }
          body main #content-wrapper #media-sources > div > div .media-source input {
            flex-basis: 90%; }
            body main #content-wrapper #media-sources > div > div .media-source input:not(:last-child) {
              margin-bottom: 10px; }
          body main #content-wrapper #media-sources > div > div .media-source a {
            color: #e04756;
            cursor: pointer; }
          body main #content-wrapper #media-sources > div > div .media-source:nth-child(odd) {
            background-color: #f0f0f0; }
    body main #content-wrapper .last-checked-date {
      color: rgba(0, 0, 0, 0.5);
      flex-basis: 100%; }

/*# sourceMappingURL=country-management.css.map */
