::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

body h1, body h2, body h3, body h4 {
  text-transform: uppercase;
  margin: 0;
  vertical-align: middle; }
body header {
  background-color: #004d4d;
  color: #fff;
  height: 56px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body header h1 {
    padding-top: 19px; }
  body header a {
    color: #fff;
    float: right;
    padding-top: 21px; }
    body header a i {
      margin-right: 10px; }
    body header a:hover {
      color: #eee; }
body main label {
  color: #008080; }
body main h2 {
  font-weight: 600;
  font-size: 18px; }
body main #crisis-header {
  height: 144px;
  padding: 32px 0 24px 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
  body main #crisis-header h2 {
    margin-bottom: 16px; }
  body main #crisis-header #add-new-crisis-btn {
    float: right;
    margin-top: -16px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
    body main #crisis-header #add-new-crisis-btn:active {
      box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
    body main #crisis-header #add-new-crisis-btn .fa {
      margin-right: 10px; }
  body main #crisis-header #crisis-search {
    outline: none;
    width: 100%;
    border-radius: 3px;
    padding: 6px 16px 6px 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    body main #crisis-header #crisis-search:active {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
    body main #crisis-header #crisis-search:focus, body main #crisis-header #crisis-search:active {
      border: 1px solid #008080; }
  body main #crisis-header input + .fa {
    float: left;
    margin-top: -24px;
    margin-left: 16px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.5); }
  body main #crisis-header #crisis-status-radio {
    margin-top: 10px; }
    body main #crisis-header #crisis-status-radio label {
      padding: 6px 16px;
      cursor: pointer;
      color: #767676;
      vertical-align: bottom;
      user-select: none; }
    body main #crisis-header #crisis-status-radio .active {
      color: #008080;
      border-bottom: 2px solid #008080; }
    body main #crisis-header #crisis-status-radio input {
      display: none; }
body main #crisis-list {
  height: calc(100vh - 56px - 156px);
  overflow-y: auto;
  margin-top: 10px; }
  body main #crisis-list .crisis {
    padding: 10px 16px;
    cursor: pointer; }
    body main #crisis-list .crisis:nth-child(odd) {
      background-color: #fafafa; }
    body main #crisis-list .crisis:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  body main #crisis-list .crisis.active {
    background-color: #008080;
    color: #fff; }
body main #crisis-detail {
  padding: 32px;
  height: calc(100vh - 56px - 5px);
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body main #crisis-detail h2 {
    margin: 0;
    margin-bottom: 32px; }
  body main #crisis-detail #crisis-status label {
    margin-right: 16px;
    cursor: pointer;
    color: #767676;
    vertical-align: bottom; }
  body main #crisis-detail #crisis-status .crisis-status {
    margin: 5px; }
  body main #crisis-detail #crisis-status input {
    outline: none;
    vertical-align: sub; }
  body main #crisis-detail .form-control {
    margin-bottom: 16px; }
  body main #crisis-detail #action-buttons {
    text-align: right;
    margin-top: 48px; }
    body main #crisis-detail #action-buttons button {
      margin-left: 16px;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      body main #crisis-detail #action-buttons button:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
      body main #crisis-detail #action-buttons button i {
        margin-right: 10px;
        margin-left: 10px; }

/*# sourceMappingURL=crisis-panel.css.map */
