::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  body h1, body h2, body h3, body h4 {
    margin: 0;
    text-transform: uppercase; }
  body header {
    flex-basis: 100%;
    height: 56px;
    background-color: #004d4d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
    body header a {
      color: #fff; }
      body header a .fa {
        margin-right: 10px; }
      body header a:hover {
        color: #fff; }
  body aside {
    flex-basis: 27%; }
    body aside #crisis-header {
      height: 144px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 16px 0 16px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      body aside #crisis-header h2 {
        flex-basis: 60%;
        font-weight: 500;
        font-size: 19px;
        color: #008080; }
      body aside #crisis-header a {
        cursor: pointer;
        color: #008080; }
        body aside #crisis-header a .fa {
          margin-right: 10px; }
      body aside #crisis-header #search-wrapper {
        flex-basis: 100%;
        position: relative;
        margin: 8px 0; }
        body aside #crisis-header #search-wrapper input {
          width: 100%;
          height: 32px;
          padding: 0 16px 0 32px;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          background-color: transparent; }
          body aside #crisis-header #search-wrapper input:focus {
            border-color: #008080; }
        body aside #crisis-header #search-wrapper i {
          position: absolute;
          left: 10px;
          top: 8px;
          color: rgba(0, 0, 0, 0.3);
          font-size: 16px; }
      body aside #crisis-header #crisis-status-radio {
        flex-basis: 100%;
        align-self: flex-end; }
        body aside #crisis-header #crisis-status-radio label {
          padding: 6px 16px;
          margin-bottom: 0;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.5);
          vertical-align: bottom;
          user-select: none; }
        body aside #crisis-header #crisis-status-radio .active {
          color: #008080;
          border-bottom: 2px solid #008080; }
        body aside #crisis-header #crisis-status-radio input {
          display: none; }
    body aside #crisis-list {
      height: calc(100vh - 56px - 144px);
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 16px; }
      body aside #crisis-list .crisis {
        padding: 10px 16px;
        cursor: pointer; }
        body aside #crisis-list .crisis:nth-child(odd) {
          background-color: #fafafa; }
        body aside #crisis-list .crisis:hover {
          background-color: rgba(0, 0, 0, 0.1); }
      body aside #crisis-list .crisis.active {
        background-color: #008080;
        color: #fff; }
  body main {
    flex-basis: 60%;
    background-color: #fff;
    height: calc(100vh - 56px);
    padding: 10px 32px 0 32px;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
    body main label {
      margin-bottom: 6px;
      font-weight: bold; }
    body main a {
      margin-bottom: 6px;
      color: #008080; }
    body main .selectize-control {
      margin-bottom: 8px; }
      body main .selectize-control .selectize-input {
        min-height: 32px;
        border-radius: 3px;
        padding: 6px 4px; }
    body main form {
      padding: 10px 16px; }
      body main form h2 {
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 32px;
        color: #008080; }
      body main form > div {
        margin-bottom: 16px; }
        body main form > div > input[type="text"] {
          width: 100%;
          height: 32px;
          padding: 0 16px 0 8px;
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          background-color: transparent; }
          body main form > div > input[type="text"]:focus {
            border-color: #008080; }
      body main form #date-field-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body main form #date-field-wrapper div {
          flex-basis: 48%; }
          body main form #date-field-wrapper div input {
            width: 100%;
            height: 32px;
            padding: 0 16px 0 8px;
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            background-color: transparent; }
            body main form #date-field-wrapper div input:focus {
              border-color: #008080; }
      body main form #crisis-status-wrapper label {
        margin-right: 16px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
        vertical-align: bottom; }
      body main form #crisis-status-wrapper .crisis-status {
        margin: 5px; }
      body main form #crisis-status-wrapper input {
        outline: none;
        vertical-align: sub; }
      body main form #action-buttons {
        display: flex;
        justify-content: space-between; }
        body main form #action-buttons button {
          padding: 6px 16px;
          color: #fff;
          box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5); }
          body main form #action-buttons button:active {
            box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5); }
          body main form #action-buttons button .fa {
            margin-right: 10px; }
        body main form #action-buttons #save-btn {
          background-color: #3498db; }
        body main form #action-buttons #delete-btn {
          background-color: #e74c3c; }

/*# sourceMappingURL=crisis-panel.css.map */
