::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    padding: 18px; }
    nav #crisis-wrapper .selectize-input, nav #crisis-wrapper .input-active {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 0;
      color: #b3caca;
      font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input .item, nav #crisis-wrapper .input-active .item {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input input, nav #crisis-wrapper .input-active input {
        text-transform: uppercase !important;
        color: #b3caca; }
      nav #crisis-wrapper .selectize-input:after, nav #crisis-wrapper .input-active:after {
        margin-top: -10px;
        border-color: #b3caca transparent transparent transparent; }
    nav #crisis-wrapper .dropdown-active:after {
      border-color: transparent transparent #b3caca transparent; }
    nav #crisis-wrapper .selectize-dropdown {
      text-align: left !important; }
    nav #crisis-wrapper .focus {
      border: none;
      color: #fff;
      box-shadow: none; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1001; }

body {
  margin-top: 56px;
  padding: 0;
  background-color: #f5f5f5;
  overflow: hidden; }
  body #map-section h2 {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 24px 16px 16px 16px; }
  body #map-section #the-map {
    background: transparent;
    height: 44vh; }
  body #map-section #overview {
    height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body #map-section #overview h1 {
      margin: 0;
      text-transform: uppercase;
      margin-bottom: 24px;
      color: #008080; }
    body #map-section #overview label {
      color: #414141;
      font-size: 16px;
      font-weight: 300;
      vertical-align: super; }
    body #map-section #overview .number {
      display: inline-block;
      text-align: right;
      margin-right: 10px;
      margin-left: 10px;
      font-size: 3em;
      color: #767676;
      min-width: 4ch;
      font-family: 'Inconsolata', monospace; }
  body #body {
    box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.3);
    overflow-x: hidden; }
    body #body #header {
      height: 48px;
      padding-top: 6px;
      z-index: 1; }
      body #body #header h3 {
        margin: 0;
        text-transform: uppercase;
        padding-top: 10px; }
    body #body #back-btn {
      margin-right: 10px;
      cursor: pointer; }
    body #body #timeline-table-wrapper {
      width: 100%;
      overflow-x: hidden; }
      body #body #timeline-table-wrapper #timeline-table-col0-container {
        max-height: calc(56vh - 56px - 48px);
        overflow-y: hidden;
        overflow-x: scroll; }
      body #body #timeline-table-wrapper #timeline-table-container {
        max-height: calc(56vh - 56px - 48px);
        overflow-y: scroll; }
      body #body #timeline-table-wrapper #timeline-table-col0 {
        border-right: 1px solid #008080; }
      body #body #timeline-table-wrapper #timeline-table, body #body #timeline-table-wrapper #timeline-table-col0 {
        border-collapse: separate;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
        body #body #timeline-table-wrapper #timeline-table thead td, body #body #timeline-table-wrapper #timeline-table-col0 thead td {
          color: #008080;
          border-bottom: 1px solid #008080;
          text-transform: uppercase;
          background-color: #fff; }
        body #body #timeline-table-wrapper #timeline-table td, body #body #timeline-table-wrapper #timeline-table-col0 td {
          padding: 16px;
          text-align: center;
          height: 56px;
          z-index: 0; }
        body #body #timeline-table-wrapper #timeline-table tr, body #body #timeline-table-wrapper #timeline-table-col0 tr {
          background-color: #f8f8f8; }
          body #body #timeline-table-wrapper #timeline-table tr:nth-child(even), body #body #timeline-table-wrapper #timeline-table-col0 tr:nth-child(even) {
            background-color: #fafafa; }
          body #body #timeline-table-wrapper #timeline-table tr:not(:last-child) td, body #body #timeline-table-wrapper #timeline-table-col0 tr:not(:last-child) td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        body #body #timeline-table-wrapper #timeline-table .active, body #body #timeline-table-wrapper #timeline-table-col0 .active {
          background-color: #008080;
          margin: 10px;
          cursor: pointer;
          color: #fff;
          transform: scale(0.98); }
          body #body #timeline-table-wrapper #timeline-table .active .fa, body #body #timeline-table-wrapper #timeline-table-col0 .active .fa {
            transform: scale(2); }
        body #body #timeline-table-wrapper #timeline-table .country-name, body #body #timeline-table-wrapper #timeline-table-col0 .country-name {
          cursor: pointer; }
  body .country-details thead td:first-child {
    font-weight: 600; }

/*# sourceMappingURL=dashboard.css.map */
