::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    padding: 18px; }
    nav #crisis-wrapper .selectize-input, nav #crisis-wrapper .input-active {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 0;
      color: #b3caca;
      font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input .item, nav #crisis-wrapper .input-active .item {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input input, nav #crisis-wrapper .input-active input {
        text-transform: uppercase !important;
        color: #b3caca; }
      nav #crisis-wrapper .selectize-input:after, nav #crisis-wrapper .input-active:after {
        margin-top: -10px;
        border-color: #b3caca transparent transparent transparent; }
    nav #crisis-wrapper .dropdown-active:after {
      border-color: transparent transparent #b3caca transparent; }
    nav #crisis-wrapper .selectize-dropdown {
      text-align: left !important; }
    nav #crisis-wrapper .focus {
      border: none;
      color: #fff;
      box-shadow: none; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  padding-top: 56px; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001; }

#main h2 {
  text-transform: uppercase;
  color: #008080;
  font-size: 1.5em;
  margin-bottom: 24px; }
#main label {
  color: #717171; }
#main #filters {
  margin-top: 10px;
  margin-bottom: 10px; }
  #main #filters label {
    text-transform: uppercase;
    font-size: 0.8em; }
  #main #filters #reliability-filter-container, #main #filters #severity-filter-container {
    margin-top: -26px; }
#main #clear-filter-btn {
  font-size: 0.8em;
  outline: none;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
  #main #clear-filter-btn:active {
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
#main #toggle-panel {
  text-align: left;
  margin-bottom: 16px; }
  #main #toggle-panel a {
    margin-left: 16px;
    color: #969696;
    transition: all 0.2s ease-in-out; }
  #main #toggle-panel .active {
    color: #008080;
    transform: scale(1.41); }
#main #visualizations .first-child {
  padding-right: 4px; }
#main #visualizations .low-padding {
  padding-left: 4px;
  padding-right: 4px; }
#main #visualizations .last-child {
  padding-left: 4px; }
#main #visualizations .visualization-block {
  background-color: #fff;
  margin-bottom: 8px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1); }
  #main #visualizations .visualization-block h3 {
    margin: 0;
    padding: 16px 16px 26px 16px;
    text-transform: uppercase; }
  #main #visualizations .visualization-block .sort-buttons {
    float: right;
    margin-left: 10px;
    padding-top: 16px; }
#main #visualizations #entry-timeline-wrapper {
  padding-bottom: 16px; }
  #main #visualizations #entry-timeline-wrapper #entry-count {
    position: absolute;
    right: 32px;
    top: 10px;
    font-size: 14px; }
#main #visualizations #severity-legend {
  padding-bottom: 16px; }
  #main #visualizations #severity-legend .inactive label {
    color: #ccc; }
  #main #visualizations #severity-legend .inactive .severity {
    filter: grayscale(100%); }
  #main #visualizations #severity-legend .severity {
    display: inline-block;
    height: 16px;
    width: 24px;
    margin-left: 24px;
    cursor: pointer; }
    #main #visualizations #severity-legend .severity:hover {
      box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8); }
  #main #visualizations #severity-legend .severity-1 {
    background-color: #fbd4d4; }
  #main #visualizations #severity-legend .severity-2 {
    background-color: #f7a5a5; }
  #main #visualizations #severity-legend .severity-3 {
    background-color: #f47575; }
  #main #visualizations #severity-legend .severity-4 {
    background-color: #f04646; }
  #main #visualizations #severity-legend .severity-5 {
    background-color: #ec1717; }
  #main #visualizations #severity-legend .severity-6 {
    background-color: #c01010; }
  #main #visualizations #severity-legend label {
    font-size: 14px;
    margin-left: 10px;
    vertical-align: super; }
  #main #visualizations #severity-legend p {
    margin-bottom: 6px; }
#main #visualizations #sectors-visualization {
  height: 592px;
  overflow-y: auto; }
  #main #visualizations #sectors-visualization label {
    cursor: pointer; }
  #main #visualizations #sectors-visualization img {
    height: 24px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer; }
  #main #visualizations #sectors-visualization .inactive label {
    color: #ccc; }
  #main #visualizations #sectors-visualization .inactive img {
    filter: grayscale(100%); }
  #main #visualizations #sectors-visualization .inactive .severities {
    filter: grayscale(100%); }
#main #visualizations .attr-visualization {
  padding-bottom: 16px; }
  #main #visualizations .attr-visualization .attr {
    padding: 6px; }
    #main #visualizations .attr-visualization .attr label {
      padding-left: 10px;
      margin-right: 8px;
      width: 112px;
      vertical-align: middle;
      text-align: right;
      line-height: 1; }
    #main #visualizations .attr-visualization .attr .severities {
      display: inline-block;
      height: 24px;
      vertical-align: middle; }
      #main #visualizations .attr-visualization .attr .severities .severity {
        display: inline-block;
        height: 24px;
        cursor: pointer; }
        #main #visualizations .attr-visualization .attr .severities .severity:hover {
          box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8); }
      #main #visualizations .attr-visualization .attr .severities .severity-1 {
        background-color: #fbd4d4; }
      #main #visualizations .attr-visualization .attr .severities .severity-2 {
        background-color: #f7a5a5; }
      #main #visualizations .attr-visualization .attr .severities .severity-3 {
        background-color: #f47575; }
      #main #visualizations .attr-visualization .attr .severities .severity-4 {
        background-color: #f04646; }
      #main #visualizations .attr-visualization .attr .severities .severity-5 {
        background-color: #ec1717; }
      #main #visualizations .attr-visualization .attr .severities .severity-6 {
        background-color: #c01010; }
#main #visualizations #pie-wrapper {
  width: 256px;
  height: 256px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.88);
  position: absolute;
  top: 24px;
  right: 48px;
  border-radius: 3px; }
  #main #visualizations #pie-wrapper svg {
    margin-left: 24px;
    margin-top: -16px;
    width: 208px;
    height: 208px;
    background: transparent;
    border-radius: 50%; }
  #main #visualizations #pie-wrapper path {
    cursor: pointer;
    fill: transparent;
    stroke-width: 56;
    transition: all 0.2s ease-in-out; }
    #main #visualizations #pie-wrapper path:hover {
      stroke-width: 64;
      stroke-linecap: butt; }
  #main #visualizations #pie-wrapper .severity-1 {
    stroke: #fbd4d4; }
  #main #visualizations #pie-wrapper .severity-2 {
    stroke: #f7a5a5; }
  #main #visualizations #pie-wrapper .severity-3 {
    stroke: #f47575; }
  #main #visualizations #pie-wrapper .severity-4 {
    stroke: #f04646; }
  #main #visualizations #pie-wrapper .severity-5 {
    stroke: #ec1717; }
  #main #visualizations #pie-wrapper .severity-6 {
    stroke: #c01010; }
#main #visualizations #the-map {
  position: relative;
  height: 540px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #visualizations #the-map #map-shadow-overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: inset 10px 0 15px -8px rgba(0, 0, 0, 0.5); }
  #main #visualizations #the-map path {
    stroke: #717171;
    stroke-width: 1px;
    stroke-linejoin: round; }
  #main #visualizations #the-map .leaflet-top {
    z-index: 1;
    top: auto;
    bottom: 24px;
    left: 24px; }
#main #visualizations #map-controls {
  margin-top: 8px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88); }
  #main #visualizations #map-controls #admin-level-buttons {
    text-align: center; }
    #main #visualizations #map-controls #admin-level-buttons button {
      margin: 4px !important;
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
#main #visualizations #country-select-wrapper {
  margin-top: 8px;
  margin-left: 10px; }
#main #visualizations #entry-header {
  padding: 16px 24px; }
  #main #visualizations #entry-header h3 {
    text-transform: uppercase;
    margin: 0; }
#main #visualizations #entry-timeline-container {
  height: 160px;
  cursor: crosshair; }
  #main #visualizations #entry-timeline-container #entry-timeline {
    width: 100%;
    height: 100%; }
#main #loading-animation {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  #main #loading-animation p {
    font-size: 2em;
    color: #969696;
    font-weight: 300;
    text-transform: lowercase;
    margin-top: 64px; }
  #main #loading-animation #loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left: 2px solid #008080;
    border-right: 2px solid #008080;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-spacing: 10px 50px;
    animation: loading 1s infinite linear; }
@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(1); } }
#main #filters .first-child {
  padding-right: 2px; }
#main #filters .low-padding {
  padding-left: 2px;
  padding-right: 2px; }
#main #filters .last-child {
  padding-left: 2px; }
#main #filters .form-control, #main #filters .selectize-input {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 3px; }
  #main #filters .form-control:active, #main #filters .form-control:focus, #main #filters .selectize-input:active, #main #filters .selectize-input:focus {
    border: 1px solid #008080; }
#main #filters .focus {
  border: 1px solid #008080; }
#main #entries .entry {
  background-color: #fff;
  color: #414141;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px; }
  #main #entries .entry .entry-title-extra {
    margin-left: 16px;
    text-transform: uppercase; }
    #main #entries .entry .entry-title-extra i {
      margin-right: 10px; }
    #main #entries .entry .entry-title-extra .created-by {
      margin-right: 24px; }
  #main #entries .entry .btn-action {
    float: right;
    width: 40px;
    margin: 10px;
    margin-top: 16px; }
  #main #entries .entry h2 {
    margin-top: 16px;
    margin-bottom: 8px;
    margin-left: 16px; }
  #main #entries .entry .information {
    background-color: #f0f0f0;
    padding: 16px; }
    #main #entries .entry .information label {
      text-transform: uppercase;
      font-size: 0.8em;
      color: #969696; }
    #main #entries .entry .information .severity, #main #entries .entry .information .reliability {
      margin-top: 8px; }
      #main #entries .entry .information .severity span, #main #entries .entry .information .reliability span {
        width: 10px;
        height: 16px;
        background-color: #ccc;
        display: inline-block; }
      #main #entries .entry .information .severity label, #main #entries .entry .information .reliability label {
        vertical-align: super;
        margin-right: 16px; }
    #main #entries .entry .information .reliability ._1 {
      background-color: #afb5f0; }
    #main #entries .entry .information .reliability ._2 {
      background-color: #858de7; }
    #main #entries .entry .information .reliability ._3 {
      background-color: #5a65df; }
    #main #entries .entry .information .reliability ._4 {
      background-color: #2f3dd7; }
    #main #entries .entry .information .reliability ._5 {
      background-color: #222eb1; }
    #main #entries .entry .information .reliability ._6 {
      background-color: #1e299b; }
    #main #entries .entry .information .reliability .active {
      transform: scale(1.2); }
    #main #entries .entry .information .severity ._1 {
      background-color: #f7a5a5; }
    #main #entries .entry .information .severity ._2 {
      background-color: #f47575; }
    #main #entries .entry .information .severity ._3 {
      background-color: #f04646; }
    #main #entries .entry .information .severity ._4 {
      background-color: #ec1717; }
    #main #entries .entry .information .severity ._5 {
      background-color: #d81212; }
    #main #entries .entry .information .severity ._6 {
      background-color: #c01010; }
    #main #entries .entry .information .severity .active {
      transform: scale(1.2); }
    #main #entries .entry .information .excerpt {
      min-height: 96px;
      white-space: pre-line; }
    #main #entries .entry .information .affected-group {
      color: #e74c3c; }
    #main #entries .entry .information .geo-location {
      margin-top: 4px; }
    #main #entries .entry .information .geo-location, #main #entries .entry .information .affected-group {
      padding: 0 4px;
      min-height: 64px; }
    #main #entries .entry .information .vulnerable-group, #main #entries .entry .information .specific-need-group {
      min-height: 64px;
      padding: 0 4px; }
    #main #entries .entry .information .pillar, #main #entries .entry .information .sector {
      font-weight: bold; }
    #main #entries .entry .information .sub-pillar, #main #entries .entry .information .sub-sector {
      font-size: 0.9em; }
  #main #entries .entry .information:nth-child(even) {
    background-color: #fafafa; }

/*# sourceMappingURL=entries.css.map */
