::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  line-height: 1.8;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    width: 96px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #main-menu {
    flex-basis: 40%; }
  nav .menu-item {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out;
    text-align: center;
    font-size: 13px;
    height: 56px;
    padding: 0 16px;
    padding-top: calc(calc(56px - 13px - 8px) / 2); }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 500; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 13px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    flex-basis: 28%; }
    nav #crisis-wrapper .selectize-control.single .selectize-input, nav #crisis-wrapper .selectize-control.single.single, nav #crisis-wrapper .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    nav #crisis-wrapper .selectize-input {
      border: none; }
      nav #crisis-wrapper .selectize-input > div, nav #crisis-wrapper .selectize-input input {
        background-color: transparent;
        color: #fff; }
      nav #crisis-wrapper .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    nav #crisis-wrapper a {
      vertical-align: middle; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  padding-top: 56px; }

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001; }

main h2 {
  text-transform: uppercase;
  color: #008080;
  font-size: 1.5em;
  margin-bottom: 24px; }
main label {
  color: #717171; }
main #filters {
  padding: 10px 16px; }
main #clear-filter-btn {
  font-size: 0.8em;
  outline: none;
  float: right;
  margin-right: 16px;
  margin-top: -6px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
  main #clear-filter-btn:active {
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
main #toggle-panel {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 16px; }
  main #toggle-panel a {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out; }
  main #toggle-panel .active {
    color: #008080;
    transform: scale(1.41); }
main #visualizations {
  padding: 0 16px; }
  main #visualizations .visualization-block {
    background-color: #fff;
    margin-bottom: 4px;
    box-sizing: border-box;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1); }
    main #visualizations .visualization-block h3 {
      margin: 0;
      padding: 16px 16px 26px 16px;
      text-transform: uppercase; }
    main #visualizations .visualization-block .sort-buttons {
      float: right;
      margin-left: 10px;
      padding-top: 16px; }
  main #visualizations #entry-timeline-wrapper {
    width: calc(84% - 240px);
    float: left;
    padding-bottom: 38px; }
  main #visualizations #severity-legend {
    width: 16%;
    float: left;
    padding-bottom: 38px; }
    main #visualizations #severity-legend .inactive label {
      color: #ccc; }
    main #visualizations #severity-legend .inactive .severity {
      filter: grayscale(100%); }
    main #visualizations #severity-legend .severity {
      display: inline-block;
      height: 16px;
      width: 24px;
      margin-left: 24px;
      cursor: pointer; }
      main #visualizations #severity-legend .severity:hover {
        box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8); }
    main #visualizations #severity-legend .severity-1 {
      background-color: #fbd4d4; }
    main #visualizations #severity-legend .severity-2 {
      background-color: #f7a5a5; }
    main #visualizations #severity-legend .severity-3 {
      background-color: #f47575; }
    main #visualizations #severity-legend .severity-4 {
      background-color: #f04646; }
    main #visualizations #severity-legend .severity-5 {
      background-color: #ec1717; }
    main #visualizations #severity-legend .severity-6 {
      background-color: #c01010; }
    main #visualizations #severity-legend label {
      font-size: 13px;
      margin-left: 10px;
      vertical-align: super; }
    main #visualizations #severity-legend p {
      margin-bottom: 6px; }
  main #visualizations #pie-wrapper-container {
    width: 240px;
    float: left;
    padding-bottom: 1px; }
    main #visualizations #pie-wrapper-container #pie-wrapper {
      width: 100%;
      background-color: #fff; }
      main #visualizations #pie-wrapper-container #pie-wrapper svg {
        margin-top: -16px;
        margin-left: 16px;
        width: 208px;
        height: 208px;
        background: transparent;
        border-radius: 50%; }
        main #visualizations #pie-wrapper-container #pie-wrapper svg text {
          color: #414141;
          font-family: "monospace";
          font-size: 24px; }
      main #visualizations #pie-wrapper-container #pie-wrapper path {
        cursor: pointer;
        fill: transparent;
        stroke-width: 56;
        transition: all 0.2s ease-in-out; }
        main #visualizations #pie-wrapper-container #pie-wrapper path:hover {
          stroke-width: 64;
          stroke-linecap: butt; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-1 {
        stroke: #fbd4d4; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-2 {
        stroke: #f7a5a5; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-3 {
        stroke: #f47575; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-4 {
        stroke: #f04646; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-5 {
        stroke: #ec1717; }
      main #visualizations #pie-wrapper-container #pie-wrapper .severity-6 {
        stroke: #c01010; }
  main #visualizations #sectors-visualization {
    float: left;
    width: 30% !important;
    height: 592px;
    overflow-y: auto; }
    main #visualizations #sectors-visualization label {
      cursor: pointer; }
    main #visualizations #sectors-visualization img {
      height: 24px;
      margin-right: 10px;
      display: inline-block;
      cursor: pointer; }
    main #visualizations #sectors-visualization .inactive label {
      color: #ccc; }
    main #visualizations #sectors-visualization .inactive img {
      filter: grayscale(100%); }
    main #visualizations #sectors-visualization .inactive .severities {
      filter: grayscale(100%); }
    main #visualizations #sectors-visualization .attr-scale-container {
      padding: 0; }
      main #visualizations #sectors-visualization .attr-scale-container label {
        cursor: inherit; }
      main #visualizations #sectors-visualization .attr-scale-container .attr-scale .scale {
        width: calc(240px/5); }
  main #visualizations .attr-visualization {
    padding-bottom: 16px; }
    main #visualizations .attr-visualization .attr {
      padding: 6px; }
      main #visualizations .attr-visualization .attr label {
        padding-left: 10px;
        margin-right: 8px;
        width: 112px;
        vertical-align: middle;
        text-align: right;
        line-height: 1; }
      main #visualizations .attr-visualization .attr .severities {
        display: inline-block;
        height: 24px;
        vertical-align: middle; }
        main #visualizations .attr-visualization .attr .severities .severity {
          display: inline-block;
          height: 24px;
          cursor: pointer; }
          main #visualizations .attr-visualization .attr .severities .severity:hover {
            box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.8); }
        main #visualizations .attr-visualization .attr .severities .severity-1 {
          background-color: #fbd4d4; }
        main #visualizations .attr-visualization .attr .severities .severity-2 {
          background-color: #f7a5a5; }
        main #visualizations .attr-visualization .attr .severities .severity-3 {
          background-color: #f47575; }
        main #visualizations .attr-visualization .attr .severities .severity-4 {
          background-color: #f04646; }
        main #visualizations .attr-visualization .attr .severities .severity-5 {
          background-color: #ec1717; }
        main #visualizations .attr-visualization .attr .severities .severity-6 {
          background-color: #c01010; }
    main #visualizations .attr-visualization .attr-scale-container {
      margin-top: 16px;
      padding: 6px; }
      main #visualizations .attr-visualization .attr-scale-container label {
        padding-left: 10px;
        margin-right: 8px;
        width: 112px; }
      main #visualizations .attr-visualization .attr-scale-container .blank-space {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 10px; }
      main #visualizations .attr-visualization .attr-scale-container .attr-scale .scale {
        position: relative;
        border-top: 1px solid black;
        display: inline-block;
        width: calc(192px/5);
        height: 24px; }
        main #visualizations .attr-visualization .attr-scale-container .attr-scale .scale:after {
          position: absolute;
          left: 0;
          content: '';
          border-left: 1px solid black;
          display: inline-block;
          width: 100%;
          height: 4px; }
        main #visualizations .attr-visualization .attr-scale-container .attr-scale .scale:last-child:after {
          border-right: 1px solid black; }
      main #visualizations .attr-visualization .attr-scale-container .attr-scale .val, main #visualizations .attr-visualization .attr-scale-container .attr-scale .val-right {
        margin-top: 8px;
        font-family: 'Inconsolata', monospace;
        color: rgba(0, 0, 0, 0.5); }
      main #visualizations .attr-visualization .attr-scale-container .attr-scale .val {
        float: left; }
      main #visualizations .attr-visualization .attr-scale-container .attr-scale .val-right {
        float: right; }
  main #visualizations #attr-visualizations-container {
    width: 100%;
    clear: both; }
    main #visualizations #attr-visualizations-container .attr-visualization {
      width: 25% !important;
      float: left; }
  main #visualizations #map-wrapper {
    width: 70%;
    float: left; }
    main #visualizations #map-wrapper #the-map {
      position: relative;
      height: 538px;
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
      main #visualizations #map-wrapper #the-map #map-shadow-overlay {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        box-shadow: inset 10px 0 15px -8px rgba(0, 0, 0, 0.5); }
      main #visualizations #map-wrapper #the-map path {
        stroke: #717171;
        stroke-width: 1px;
        stroke-linejoin: round; }
      main #visualizations #map-wrapper #the-map .leaflet-top {
        z-index: 1;
        top: auto;
        bottom: 24px;
        left: 24px; }
    main #visualizations #map-wrapper #map-controls {
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.88);
      padding: 11px 0 12px 4px;
      display: flex;
      justify-content: space-between; }
      main #visualizations #map-wrapper #map-controls #country-select-wrapper {
        flex-basis: 25%;
        box-sizing: border-box; }
      main #visualizations #map-wrapper #map-controls #admin-level-buttons {
        flex-basis: 75%;
        text-align: center; }
        main #visualizations #map-wrapper #map-controls #admin-level-buttons button {
          margin: 0 4px;
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  main #visualizations #entry-header {
    padding: 16px 24px; }
    main #visualizations #entry-header h3 {
      text-transform: uppercase;
      margin: 0; }
  main #visualizations #entry-timeline-container {
    height: 160px;
    cursor: crosshair;
    position: relative; }
    main #visualizations #entry-timeline-container #entry-timeline {
      width: 100%;
      height: 100%; }
    main #visualizations #entry-timeline-container .timeline-scale {
      height: 90%;
      width: 5%;
      display: inline-block;
      position: absolute;
      left: 5%;
      top: 0;
      border-left: 1px solid black;
      pointer-events: none; }
      main #visualizations #entry-timeline-container .timeline-scale .scale {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 20%; }
        main #visualizations #entry-timeline-container .timeline-scale .scale:after {
          position: absolute;
          content: '';
          top: 0;
          left: -4px;
          width: 4px;
          height: 1px;
          display: inline-block;
          border-top: 1px solid black; }
        main #visualizations #entry-timeline-container .timeline-scale .scale .val {
          display: inline-block;
          width: 100%;
          font-family: 'Inconsolata', monospace;
          color: rgba(0, 0, 0, 0.5);
          text-align: right;
          transform: translateY(-10px) translateX(-110%); }
main #loading-animation {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main #loading-animation p {
    font-size: 2em;
    color: #969696;
    font-weight: 300;
    text-transform: lowercase;
    margin-top: 64px; }
  main #loading-animation #loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left: 2px solid #008080;
    border-right: 2px solid #008080;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-spacing: 10px 50px;
    animation: loading 1s infinite linear; }
@keyframes loading {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(1); } }
main #entry-filters {
  display: flex;
  justify-content: space-between; }
  main #entry-filters label {
    flex-basis: 100%; }
  main #entry-filters #left-block {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    main #entry-filters #left-block > input[type="text"].filter {
      padding: 3px 5px;
      font-size: 12px;
      border: 1px solid rgba(0, 0, 0, 0.1); }
    main #entry-filters #left-block .filter {
      flex-basis: calc(20% - 1px);
      outline: none;
      border: none; }
    main #entry-filters #left-block #search, main #entry-filters #left-block #lead-title-search {
      flex-basis: calc(13% - 1px); }
    main #entry-filters #left-block #sources-filter {
      flex-basis: calc(14% - 2px); }
  main #entry-filters #right-block {
    flex-basis: 20%;
    display: flex;
    justify-content: space-around; }
    main #entry-filters #right-block .filter {
      flex-basis: 50%;
      box-sizing: border-box; }
main #entries {
  padding: 0 16px; }
  main #entries .entry {
    margin-bottom: 10px;
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3); }
    main #entries .entry .entry-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.66);
      color: #fff; }
      main #entries .entry .entry-header > div:first-child {
        padding: 10px 16px; }
      main #entries .entry .entry-header h2 {
        margin: 0;
        flex-basis: 80%;
        color: inherit; }
      main #entries .entry .entry-header p {
        margin: 0;
        flex-basis: 100%; }
        main #entries .entry .entry-header p .fa {
          margin-right: 10px; }
        main #entries .entry .entry-header p span {
          margin-right: 16px; }
      main #entries .entry .entry-header .action-buttons {
        flex-basis: 112px;
        flex-shrink: 0;
        align-self: stretch;
        display: flex;
        justify-content: space-between; }
        main #entries .entry .entry-header .action-buttons a {
          width: 56px;
          height: 100%;
          font-size: 19px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          cursor: pointer; }
        main #entries .entry .entry-header .action-buttons .delete-btn {
          background-color: #e74c3c;
          color: #fff; }
        main #entries .entry .entry-header .action-buttons .edit-btn {
          background-color: #3498db;
          color: #fff; }
  main #entries .information-list .information {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #f5f5f5; }
    main #entries .information-list .information:nth-child(odd) {
      background-color: #fff; }
    main #entries .information-list .information > * {
      padding: 0 6px; }
    main #entries .information-list .information .excerpt {
      flex-basis: 25%;
      text-align: justify; }
    main #entries .information-list .information date {
      font-family: 'Inconsolata', monospace; }
    main #entries .information-list .information > div:nth-child(2) {
      flex-basis: 10%;
      flex-shrink: 0;
      min-width: 174px; }
      main #entries .information-list .information > div:nth-child(2) > div {
        min-height: 48px; }
        main #entries .information-list .information > div:nth-child(2) > div label {
          min-width: 84px; }
      main #entries .information-list .information > div:nth-child(2) .severity span, main #entries .information-list .information > div:nth-child(2) .reliability span {
        width: 8px;
        height: 16px;
        display: inline-block;
        border-radius: 2px;
        margin-right: 1px; }
      main #entries .information-list .information > div:nth-child(2) .severity ._0, main #entries .information-list .information > div:nth-child(2) .reliability ._0 {
        opacity: 0; }
      main #entries .information-list .information > div:nth-child(2) .severity ._1, main #entries .information-list .information > div:nth-child(2) .reliability ._1 {
        opacity: 0.2; }
      main #entries .information-list .information > div:nth-child(2) .severity ._2, main #entries .information-list .information > div:nth-child(2) .reliability ._2 {
        opacity: 0.4; }
      main #entries .information-list .information > div:nth-child(2) .severity ._3, main #entries .information-list .information > div:nth-child(2) .reliability ._3 {
        opacity: 0.6; }
      main #entries .information-list .information > div:nth-child(2) .severity ._4, main #entries .information-list .information > div:nth-child(2) .reliability ._4 {
        opacity: 0.8; }
      main #entries .information-list .information > div:nth-child(2) .severity ._5, main #entries .information-list .information > div:nth-child(2) .reliability ._5 {
        opacity: 1; }
      main #entries .information-list .information > div:nth-child(2) .severity .active, main #entries .information-list .information > div:nth-child(2) .reliability .active {
        width: 12px;
        height: 24px;
        margin-bottom: -4px; }
      main #entries .information-list .information > div:nth-child(2) .reliability span {
        background-color: #1A2386; }
      main #entries .information-list .information > div:nth-child(2) .severity span {
        background-color: #c01010; }
    main #entries .information-list .information > div:nth-child(3) {
      flex-basis: 12%; }
    main #entries .information-list .information > div:nth-child(4) {
      flex-basis: 14%; }
    main #entries .information-list .information > div:nth-child(5) {
      flex-basis: 10%; }
    main #entries .information-list .information > div:nth-child(6) {
      flex-basis: 10%; }
    main #entries .information-list .information > div:nth-child(7) {
      flex-basis: 20%; }
      main #entries .information-list .information > div:nth-child(7) .attribute {
        display: flex !important; }
        main #entries .information-list .information > div:nth-child(7) .attribute > * {
          flex-basis: 50%; }
        main #entries .information-list .information > div:nth-child(7) .attribute .pillar, main #entries .information-list .information > div:nth-child(7) .attribute .sector {
          font-weight: 500; }
        main #entries .information-list .information > div:nth-child(7) .attribute .sub-sector, main #entries .information-list .information > div:nth-child(7) .attribute .sub-pillar {
          color: rgba(0, 0, 0, 0.5); }
    main #entries .information-list .information > div:nth-child(3) span, main #entries .information-list .information > div:nth-child(4) span, main #entries .information-list .information > div:nth-child(5) span, main #entries .information-list .information > div:nth-child(6) span, main #entries .information-list .information > div:nth-child(7) span {
      display: block;
      line-height: 1;
      margin-bottom: 10px;
      padding-left: 10px; }
    main #entries .information-list .information > div:nth-child(3) label, main #entries .information-list .information > div:nth-child(4) label, main #entries .information-list .information > div:nth-child(5) label, main #entries .information-list .information > div:nth-child(6) label, main #entries .information-list .information > div:nth-child(7) label {
      display: block;
      padding: 6px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 10px; }

/*# sourceMappingURL=entries.css.map */
