::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  body h1, body h2, body h3, body h4 {
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle; }
  body a {
    color: #008080;
    cursor: pointer; }
  body > nav {
    flex-basis: 100%;
    height: 56px;
    background-color: #004d4d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
    body > nav > header {
      flex-basis: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      body > nav > header .deep-logo {
        width: 32px;
        margin-right: 24px; }
    body > nav a {
      color: #fff;
      cursor: pointer; }
      body > nav a .fa {
        margin-right: 10px; }
      body > nav a:hover {
        color: #fff; }
  body aside {
    position: relative;
    flex-basis: 30%;
    height: calc(100vh - 56px);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: auto; }
    body aside .title-block {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      body aside .title-block #template-name {
        font-size: 19px; }
      body aside .title-block button {
        padding: 8px;
        color: #fff; }
      body aside .title-block #save-button {
        background-color: #008080; }
      body aside .title-block #cancel-button {
        background-color: #e74c3c; }
    body aside section {
      margin-bottom: 32px; }
      body aside section > header {
        height: 48px;
        display: flex;
        align-items: center;
        padding-left: 16px; }
      body aside section #widgets {
        max-height: 200px;
        overflow: auto; }
        body aside section #widgets .widget {
          display: flex;
          justify-content: space-between;
          padding: 10px 16px;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.05); }
          body aside section #widgets .widget button {
            background-color: transparent;
            border: none; }
            body aside section #widgets .widget button .fa {
              margin-right: 6px; }
      body aside section #elements {
        max-height: 360px;
        overflow: auto; }
        body aside section #elements .element .header {
          display: flex;
          justify-content: space-between;
          padding: 16px;
          margin-bottom: 6px;
          background-color: #fff;
          border: 1px solid rgba(0, 0, 0, 0.05); }
          body aside section #elements .element .header button {
            padding: 4px;
            background-color: transparent;
            border: none; }
            body aside section #elements .element .header button .delete-element {
              color: #e74c3c; }
            body aside section #elements .element .header button .fa {
              margin-right: 6px; }
        body aside section #elements .element .properties .property {
          display: flex;
          justify-content: space-between;
          padding: 16px; }
          body aside section #elements .element .properties .property label {
            font-size: 13px; }
          body aside section #elements .element .properties .property input[type="text"] {
            padding: 4px; }
          body aside section #elements .element .properties .property.scale-property button {
            margin: 2px;
            padding: 4px 8px; }
          body aside section #elements .element .properties .property.scale-property .values-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end; }
    body aside footer {
      position: absolute;
      bottom: 0;
      height: 64px;
      width: 100%;
      background-color: #fefefe;
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
      body aside footer button {
        width: 100%;
        height: 100%;
        padding: 10px; }
  body main {
    flex-basis: 70%; }
    body main #page-one {
      width: 100%;
      height: 100%;
      position: relative; }
    body main #page-two {
      width: 100%;
      height: 100%;
      position: relative; }
      body main #page-two .entry {
        display: block;
        height: 312px;
        margin: 16px;
        background-color: #dedede; }
    body main .element {
      display: inline-block;
      position: absolute; }
      body main .element .handle {
        display: none;
        cursor: move;
        color: rgba(0, 0, 0, 0.5); }
      body main .element:hover .handle {
        display: inherit; }
    body main .page-one-entry-selector {
      padding: 16px; }
      body main .page-one-entry-selector .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .page-one-entry-selector .select-container {
        width: 200px; }
        body main .page-one-entry-selector .select-container select {
          width: 100%;
          height: 100%; }
    body main .page-one-excerpt, body main .page-two-excerpt {
      padding: 16px; }
      body main .page-one-excerpt .handle, body main .page-two-excerpt .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .page-one-excerpt .excerpt-container, body main .page-two-excerpt .excerpt-container {
        width: 200px;
        height: 200px; }
        body main .page-one-excerpt .excerpt-container textarea, body main .page-two-excerpt .excerpt-container textarea {
          width: 100%;
          height: 100%;
          padding: 16px; }
    body main .page-one-image {
      padding: 16px; }
      body main .page-one-image .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .page-one-image .image-container {
        display: inline-block;
        width: 200px;
        height: calc(200px - 16px);
        background-color: #fff;
        padding: 16px;
        color: rgba(0, 0, 0, 0.5); }
    body main .input-element {
      padding: 16px; }
      body main .input-element .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .input-element .input-container {
        width: 100%;
        height: 100%; }
        body main .input-element .input-container input, body main .input-element .input-container select, body main .input-element .input-container textarea {
          padding: 4px 8px;
          width: 100%;
          height: 100%; }
    body main .scale-element {
      background-color: #ffffff; }
      body main .scale-element .handle {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 2; }
      body main .scale-element .scale-container {
        padding: 16px;
        width: 100%;
        height: 100%;
        min-height: 32px; }
        body main .scale-element .scale-container .scale {
          width: 100%;
          height: 100%;
          padding: 4px; }
          body main .scale-element .scale-container .scale .value {
            display: inline-block;
            margin: 2px;
            width: 8px;
            height: calc(100% - 16px);
            min-height: 16px;
            border-radius: 2px; }
            body main .scale-element .scale-container .scale .value.default {
              transform: scale(1.5); }
    body main .matrix1d {
      padding: 16px; }
      body main .matrix1d .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .matrix1d .title {
        margin-left: 32px;
        margin-bottom: 16px;
        font-size: 15px; }
      body main .matrix1d .pillars .pillar {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 24px;
        position: relative; }
        body main .matrix1d .pillars .pillar .title-block {
          display: inline-block;
          margin: 8px;
          padding: 16px 8px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.9); }
          body main .matrix1d .pillars .pillar .title-block[contenteditable=true] {
            cursor: text;
            border: 1px dotted black; }
        body main .matrix1d .pillars .pillar .subpillars {
          display: flex;
          flex-direction: row; }
          body main .matrix1d .pillars .pillar .subpillars .subpillar {
            display: inline-block;
            position: relative; }
            body main .matrix1d .pillars .pillar .subpillars .subpillar .title-block {
              display: inline-block;
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.4);
              margin: 8px;
              padding: 16px 8px; }
              body main .matrix1d .pillars .pillar .subpillars .subpillar .title-block[contenteditable=true] {
                cursor: text;
                border: 1px dotted black; }
            body main .matrix1d .pillars .pillar .subpillars .subpillar .remove-subpillar {
              display: none;
              position: absolute;
              right: 8px;
              top: 8px; }
            body main .matrix1d .pillars .pillar .subpillars .subpillar:hover .remove-subpillar {
              display: inherit;
              background-color: transparent;
              border: none;
              outline: none; }
        body main .matrix1d .pillars .pillar .remove-pillar {
          position: absolute;
          top: 16px;
          left: 0px; }
      body main .matrix1d .add-pillar, body main .matrix1d .add-subpillar, body main .matrix1d .remove-pillar {
        display: none;
        padding: 8px;
        background-color: transparent;
        border: none;
        outline: none; }
      body main .matrix1d .fa-times {
        color: #e74c3c; }
      body main .matrix1d .fa-plus {
        color: #27ae60; }
      body main .matrix1d:hover {
        background-color: rgba(0, 0, 0, 0.05); }
        body main .matrix1d:hover .pillar {
          background-color: rgba(0, 0, 0, 0.06); }
        body main .matrix1d:hover .add-pillar, body main .matrix1d:hover .add-subpillar, body main .matrix1d:hover .remove-pillar {
          display: inherit; }
    body main .matrix2d {
      padding: 16px;
      word-break: break-all; }
      body main .matrix2d .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .matrix2d .title {
        flex-basis: 100%;
        margin-left: 32px;
        margin-bottom: 16px;
        font-size: 15px; }
      body main .matrix2d .pillars-container {
        display: flex;
        flex-direction: column;
        width: 300px; }
        body main .matrix2d .pillars-container .pillars {
          width: 300px; }
          body main .matrix2d .pillars-container .pillars .pillar {
            width: 100%;
            display: flex;
            padding: 8px;
            position: relative;
            cursor: pointer; }
            body main .matrix2d .pillars-container .pillars .pillar > .title-block {
              display: flex;
              align-items: center;
              flex-basis: 50%;
              max-width: 50%;
              padding: 8px; }
              body main .matrix2d .pillars-container .pillars .pillar > .title-block[contenteditable=true] {
                cursor: text;
                border: 1px dotted black; }
            body main .matrix2d .pillars-container .pillars .pillar .remove-pillar {
              display: none;
              align-self: center;
              position: absolute;
              left: -8px; }
            body main .matrix2d .pillars-container .pillars .pillar:hover .remove-pillar {
              display: inline-block; }
            body main .matrix2d .pillars-container .pillars .pillar .subpillars-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-basis: 50%;
              max-width: 50%; }
              body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars {
                width: 100%; }
                body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars .subpillar {
                  position: relative;
                  padding: 8px;
                  cursor: pointer; }
                  body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars .subpillar .title-block {
                    padding: 8px;
                    width: calc(100% - 16px); }
                    body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars .subpillar .title-block[contenteditable=true] {
                      cursor: text;
                      border: 1px dotted black; }
                  body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars .subpillar .remove-subpillar {
                    display: none;
                    position: absolute;
                    right: 4px;
                    top: 0px; }
                  body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .subpillars .subpillar:hover .remove-subpillar {
                    display: inline-block; }
              body main .matrix2d .pillars-container .pillars .pillar .subpillars-container .add-subpillar {
                display: none;
                width: calc(100% - 32px);
                padding: 8px 0px;
                border: 1px dashed rgba(0, 0, 0, 0.2); }
              body main .matrix2d .pillars-container .pillars .pillar .subpillars-container:hover .add-subpillar {
                display: inline-block; }
        body main .matrix2d .pillars-container .add-pillar {
          display: none;
          padding: 8px;
          width: 100%;
          padding: 8px 0px;
          border: 1px dashed rgba(0, 0, 0, 0.2); }
        body main .matrix2d .pillars-container:hover .add-pillar {
          display: inline-block; }
      body main .matrix2d .sectors-container {
        display: flex;
        align-items: center;
        min-height: 16px; }
        body main .matrix2d .sectors-container .sectors {
          display: flex;
          margin-left: 300px; }
          body main .matrix2d .sectors-container .sectors .sector {
            padding: 16px;
            position: relative;
            cursor: pointer; }
            body main .matrix2d .sectors-container .sectors .sector .title-block {
              padding: 8px; }
              body main .matrix2d .sectors-container .sectors .sector .title-block[contenteditable=true] {
                cursor: text;
                border: 1px dotted black; }
            body main .matrix2d .sectors-container .sectors .sector .remove-sector {
              display: none;
              position: absolute;
              right: 4px;
              top: 4px; }
            body main .matrix2d .sectors-container .sectors .sector:hover .remove-sector {
              display: inline-block; }
        body main .matrix2d .sectors-container .add-sector {
          display: none;
          width: 72px;
          height: 32px;
          padding: 8px 0px;
          border: 1px dashed rgba(0, 0, 0, 0.2); }
        body main .matrix2d .sectors-container:hover .add-sector {
          display: inline-block; }
      body main .matrix2d button {
        background-color: transparent;
        border: none;
        outline: none; }
      body main .matrix2d .fa-times {
        color: #e74c3c; }
      body main .matrix2d .fa-plus {
        color: #27ae60; }
    body main .matrix2d-list {
      padding: 16px; }
      body main .matrix2d-list .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .matrix2d-list .container {
        display: flex;
        justify-content: space-between;
        width: 128px; }
        body main .matrix2d-list .container .col-1 .pillar {
          font-weight: 500; }
        body main .matrix2d-list .container .col-2 .sector {
          font-weight: 500; }
    body main .organigram {
      padding: 16px; }
      body main .organigram .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
    body main .geolocations {
      padding: 16px; }
      body main .geolocations .handle {
        position: absolute;
        top: 4px;
        left: 4px; }
      body main .geolocations .container .locations {
        display: flex;
        flex-direction: column; }
  body.page-two {
    display: block; }
    body.page-two main {
      height: calc(100vh - 56px - 32px); }
    body.page-two aside {
      position: absolute;
      display: flex;
      flex-basis: 100%;
      width: 100%;
      bottom: 0px;
      height: 300px;
      border-right: none;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 10; }
      body.page-two aside .title-block {
        position: absolute;
        width: 360px;
        height: 64px;
        margin: 0;
        bottom: 0;
        z-index: 15; }
      body.page-two aside section {
        margin-left: 64px;
        max-height: calc(100% - 64px);
        width: 512px; }
      body.page-two aside #widgets {
        max-height: calc(100% - 64px); }
      body.page-two aside #elements {
        max-height: calc(100% - 64px); }
      body.page-two aside footer {
        bottom: inherit;
        bottom: 0;
        width: 100%;
        border-top: none;
        outline: none;
        display: flex;
        align-items: center; }
        body.page-two aside footer button {
          width: auto;
          height: auto;
          margin-left: 360px;
          border: 1px solid #a1a1a1; }

/*# sourceMappingURL=entry-template.css.map */
