::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    padding: 18px; }
    nav #crisis-wrapper .selectize-input, nav #crisis-wrapper .input-active {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 0;
      color: #b3caca;
      font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input .item, nav #crisis-wrapper .input-active .item {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important;
        display: block;
        width: calc(100% - 32px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        nav #crisis-wrapper .selectize-input .item.focus .item, nav #crisis-wrapper .input-active .item.focus .item {
          display: inline-block; }
      nav #crisis-wrapper .selectize-input input, nav #crisis-wrapper .input-active input {
        text-transform: uppercase !important;
        color: #b3caca; }
      nav #crisis-wrapper .selectize-input:after, nav #crisis-wrapper .input-active:after {
        margin-top: -10px;
        border-color: #b3caca transparent transparent transparent; }
    nav #crisis-wrapper .selectize-dropdown {
      text-align: left; }
      nav #crisis-wrapper .selectize-dropdown .option {
        padding: 6px 10px; }
    nav #crisis-wrapper .dropdown-active:after {
      border-color: transparent transparent #b3caca transparent; }
    nav #crisis-wrapper .focus {
      border: none;
      color: #fff;
      box-shadow: none; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

#main hr {
  border: 1px solid rgba(0, 0, 0, 0.05); }
#main h1, #main h2, #main h3, #main h4 {
  text-transform: uppercase;
  vertical-align: middle;
  margin: 0; }
#main h1 {
  color: #008080;
  margin-top: 24px;
  margin-bottom: 24px; }
#main h2 {
  font-weight: 600;
  margin-bottom: 24px; }
#main h3 {
  font-size: 14px;
  margin-bottom: 10px; }
#main #export-entries #export-entries-doc, #main #export-entries #export-entries-excel {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px; }
#main #export-entries #export-entries-doc-form {
  float: right; }
  #main #export-entries #export-entries-doc-form button {
    min-width: 160px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
    #main #export-entries #export-entries-doc-form button:active {
      box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
  #main #export-entries #export-entries-doc-form .fa {
    margin-right: 10px; }
#main #export-entries #export-entries-excel-form button {
  min-width: 160px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
  #main #export-entries #export-entries-excel-form button:active {
    box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
#main #export-entries #export-entries-excel-form .fa {
  margin-right: 10px; }
#main .form-group {
  height: 32px; }
#main ul {
  list-style: none;
  padding-left: 0; }
  #main ul li {
    padding: 10px 32px;
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
    font-weight: bold;
    color: #767676;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    #main ul li:active {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
#main #sos-export {
  margin-top: 48px; }
  #main #sos-export #sos-export-excel {
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    #main #sos-export #sos-export-excel #export-sos-excel-btn {
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7);
      min-width: 160px; }
      #main #sos-export #sos-export-excel #export-sos-excel-btn:active {
        box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
      #main #sos-export #sos-export-excel #export-sos-excel-btn i {
        margin-right: 10px; }

/*# sourceMappingURL=export.css.map */
