::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 100%; }
  body > nav #crisis-select-container {
    flex-basis: 28%; }
    body > nav #crisis-select-container .selectize-control.single .selectize-input, body > nav #crisis-select-container .selectize-control.single.single, body > nav #crisis-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #crisis-select-container .selectize-input {
      border: none; }
      body > nav #crisis-select-container .selectize-input > div, body > nav #crisis-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #crisis-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #crisis-select-container a {
      vertical-align: middle; }
  body > nav #main-menu {
    flex-basis: 40%; }
  body > nav #extra-menu {
    flex-basis: calc(15% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items div {
          padding: 16px;
          text-transform: uppercase;
          color: #414141; }
          body > nav #extra-menu .dropdown .items div .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items div:hover {
            background-color: rgba(0, 0, 0, 0.1); }

#main {
  padding: 24px 16px 0 16px; }
  #main h1, #main h2, #main h3, #main h4 {
    margin: 0;
    text-transform: uppercase; }
  #main h1 {
    color: #008080;
    margin-bottom: 16px; }
  #main h2 {
    font-weight: 500;
    margin-bottom: 24px; }
  #main h3 {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px; }
  #main ul {
    list-style: none;
    padding-left: 0; }
    #main ul li {
      padding: 10px 32px;
      margin-bottom: 10px;
      border: none;
      background-color: #fff;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      #main ul li:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
  #main #export-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px; }
    #main #export-entries h1 {
      flex-basis: 100%; }
    #main #export-entries #export-entries-doc {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-basis: 73%;
      margin-right: 16px;
      padding: 16px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      #main #export-entries #export-entries-doc #export-entries-doc-form {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between; }
      #main #export-entries #export-entries-doc label {
        margin-bottom: 3px; }
      #main #export-entries #export-entries-doc > div:nth-child(2) {
        flex-basis: 60%; }
      #main #export-entries #export-entries-doc > div:last-child {
        flex-basis: 35%; }
      #main #export-entries #export-entries-doc #filters {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap; }
        #main #export-entries #export-entries-doc #filters > div {
          flex-basis: 49%; }
          #main #export-entries #export-entries-doc #filters > div:last-child {
            flex-basis: 49%; }
          #main #export-entries #export-entries-doc #filters > div > input[type="text"], #main #export-entries #export-entries-doc #filters > div input[type="number"] {
            width: 100%;
            outline: none;
            padding: 4px 6px;
            margin-bottom: 8px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            background-color: #fff; }
            #main #export-entries #export-entries-doc #filters > div > input[type="text"]:focus, #main #export-entries #export-entries-doc #filters > div input[type="number"]:focus {
              border-color: #008080; }
          #main #export-entries #export-entries-doc #filters > div .selectize-control {
            margin-bottom: 8px; }
        #main #export-entries #export-entries-doc #filters #severity-filter-container, #main #export-entries #export-entries-doc #filters #reliability-filter-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          #main #export-entries #export-entries-doc #filters #severity-filter-container label, #main #export-entries #export-entries-doc #filters #reliability-filter-container label {
            flex-basis: 100%; }
          #main #export-entries #export-entries-doc #filters #severity-filter-container > div, #main #export-entries #export-entries-doc #filters #reliability-filter-container > div {
            flex-basis: 48%; }
      #main #export-entries #export-entries-doc .hierarchy {
        margin-top: 32px; }
      #main #export-entries #export-entries-doc button {
        color: #fff;
        background-color: #3498db;
        padding: 6px 10px;
        box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5); }
        #main #export-entries #export-entries-doc button:active {
          box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5); }
        #main #export-entries #export-entries-doc button i {
          margin-right: 8px; }
    #main #export-entries #export-entries-excel {
      flex-basis: 25%;
      padding: 16px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1); }
      #main #export-entries #export-entries-excel button {
        background-color: #008080;
        color: #fff;
        padding: 6px 10px;
        box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5); }
        #main #export-entries #export-entries-excel button:active {
          box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5); }
        #main #export-entries #export-entries-excel button .fa {
          margin-right: 10px; }
  #main #sos-export {
    width: 25%; }
    #main #sos-export #sos-export-excel {
      padding: 16px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1); }
    #main #sos-export button {
      background-color: #008080;
      color: #fff;
      padding: 6px 12px;
      box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5); }
      #main #sos-export button:active {
        box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.5); }
      #main #sos-export button .fa {
        margin-right: 8px; }

/*# sourceMappingURL=export.css.map */
