html, body{
    height: 100%;
}

#body-section{
    padding-top: 30px;
}
#body-section .container{
}

#action-block{
    margin-bottom:30px;
    text-align: right;
}
#action-block .title, #leads-block .title{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #2980b9;
}

#action-block a{
    margin-right: 20px;
}

#leads-table tbody tr[role="row"]{
    cursor: pointer;
}
#leads-table tbody tr[role="row"]:hover{
    background-color: #2980b9;
    color: #fff;
}

.row-detail{
    padding: 24px;
}
.row-detail .row-title{
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 10px;
}
.row-detail .extra > span{
    margin-right: 40px;
}
.row-detail .details{
    margin-top: 20px;
    margin-bottom: 20px;
}

.row-detail .details label{
    min-width: 150px;
}
.lead-content label{
    margin-right: 10px;
}

.row-detail .actions button{
    margin-right: 10px;
}

#filters{
    margin-bottom: 20px;
}

.btn-add-entry .fa{
    color: #3498db;
}
.btn-edit .fa{
    color: #f39c12;
}
.btn-mark-processed .fa{
    color: #2ecc71;
}
.btn-delete .fa{
    color: #e74c3c;
}


#drag-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 100px;
}

#drag-overlay #border{
    border: 2px dashed #fff;
    height: 100%;
    font-size: 3em;
    color: #f0f0f0;
    text-align: center;
    padding-top: 15%;
}

.modal-content{
    padding: 50px;
}
.modal-content .title{
    font-size: 2em;
    color: #3498db;
    margin-bottom: 32px;
}
form .input-label{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
form .row{
    margin-bottom: 20px;
}
#action-row{
    margin-bottom: 0;
    margin-top: 40px;
    text-align: right;
}

#action-row button{
    margin-right: 16px;
}

.odd, .odd+tr:not(.even){
    background-color: #f0f0f0;
}
.even, .even+tr:not(.odd){
    background-color: #fafafa;
}
