body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

#main #filters {
  margin-top: 24px; }
  #main #filters label {
    vertical-align: sub; }
#main #add-lead-btn {
  margin-bottom: -40px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
  #main #add-lead-btn:active {
    box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
#main #leads-table {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #leads-table thead {
    background-color: #fff; }
  #main #leads-table tbody tr[role="row"] {
    cursor: pointer; }
  #main #leads-table tbody .odd, #main #leads-table tbody .odd + tr:not(.even) {
    background-color: #f0f0f0; }
  #main #leads-table tbody .even, #main #leads-table tbody .even + tr:not(.odd) {
    background-color: #fafafa; }
  #main #leads-table tbody .btn-action {
    margin: 2px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    #main #leads-table tbody .btn-action:active {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
  #main #leads-table tbody .row-detail {
    padding: 10px 24px; }
    #main #leads-table tbody .row-detail .fa {
      margin-right: 10px; }
    #main #leads-table tbody .row-detail .extra {
      margin-bottom: 16px; }
      #main #leads-table tbody .row-detail .extra span {
        margin-right: 24px; }
    #main #leads-table tbody .row-detail label {
      color: #969696;
      margin-right: 10px;
      width: 100px; }
    #main #leads-table tbody .row-detail .lead-content {
      white-space: pre-wrap; }
    #main #leads-table tbody .row-detail button {
      margin: 4px;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      #main #leads-table tbody .row-detail button:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
    #main #leads-table tbody .row-detail .lead-content a {
      text-transform: none; }
  #main #leads-table tbody .btn-add-entry .fa {
    color: #8e44ad; }
  #main #leads-table tbody .btn-edit .fa {
    color: #d35400; }
  #main #leads-table tbody .btn-mark-processed .fa {
    color: #27ae60; }
  #main #leads-table tbody .btn-delete .fa {
    color: #e74c3c; }

#drag-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 100px; }
  #drag-overlay #border {
    border: 2px dashed #fff;
    height: 100%;
    font-size: 3em;
    color: #f0f0f0;
    text-align: center;
    padding-top: 15%; }

#add-lead-from-attachment .modal-content {
  padding: 10px 32px; }
  #add-lead-from-attachment .modal-content #action-row {
    text-align: right; }
  #add-lead-from-attachment .modal-content h3 {
    margin-bottom: 32px; }
  #add-lead-from-attachment .modal-content .row {
    margin-top: 10px; }

/*# sourceMappingURL=leads.css.map */
