body{
    margin-top: 10px;
}

.app-info{
    padding: 24px 20px;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .app-info{
        text-align: right;
    }
    body{
        margin-top: 100px!important;
    }
}

.app-info .logo{
    width: 100px;
    margin-bottom: 20px;
}

.welcome-msg{
    margin-bottom: 20px;
}

.welcome-msg .name{
    display: block;
    color: #2980b9;
    font-size: 1.5em;
    font-weight: 300;
}

.title{
    font-size: 2em;
    font-weight: 300;
    color: #2980b9;
    display: block;
    padding-bottom: 20px;
}

.form-wrapper{
    padding: 24px;
    background-color: #fafafa;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.form-wrapper input[type="text"],
.form-wrapper input[type="password"]{
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 10px 0px;
}

.form-wrapper .action{
    text-align: right;
    margin-top: 20px;
}

.extra a{
    font-size: 1.1em;
}
