#header-section{
    background-color: #008080;
    color: #fff;
}

#header-section .app-name{
    font-size: 2em;
    font-weight: 100;
    padding: 4px;
    color: #fff;
    display: block;
}

.menu{
    display: flex;
}

.menu-item{
    vertical-align: middle;
    padding: 19px 26px;
    color: #fff;
}
.menu-item:hover{
    color: #eee;
}
.menu .active {
    background-color: #18bc9c;
    color: #fff;
}


.logo{
    width: 50px;
    margin-bottom: -10px;
}

#user-menu{
    float: right;
}
#user-menu button, #event-menu button{
    border: none;
    outline: none;
    background-color: transparent;
    padding: 18px 26px;
    font-weight: bold;
    border-radius: 0;
}
#user-menu button:hover, #user-menu button:active,
#event-menu button:hover, #event-menu button:active{
    background-color: #18bc9c;
    color: #fff;
}

#user-menu button .caret, #event-menu button .caret{
    margin-left: 10px;
}

.fa{
    margin-right: 10px!important;
}
