::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

nav {
  flex-basis: 100%;
  height: 56px;
  background-color: #004d4d;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav a:hover, nav a:active {
    color: #fff; }
  nav h1, nav h2, nav h3, nav h4, nav a {
    margin: 0;
    text-transform: uppercase; }
  nav #left-part {
    display: flex;
    align-items: center; }
    nav #left-part h2 {
      font-size: 1.5em;
      margin-left: 16px;
      color: #fff; }
    nav #left-part #deep-logo-container {
      width: 36px;
      flex-shrink: 0;
      flex-grow: 0; }
      nav #left-part #deep-logo-container img {
        width: 100%; }
  nav .dropdown {
    flex-basis: 232px;
    position: relative;
    cursor: pointer;
    outline: none; }
    nav .dropdown .dropdown-toggle {
      color: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: space-around; }
      nav .dropdown .dropdown-toggle .fa {
        margin-right: 10px; }
    nav .dropdown .items {
      position: absolute;
      top: calc(8px + 56px / 2);
      right: 0;
      background-color: #fff;
      width: 100%;
      min-width: 200px;
      z-index: 1011;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
      nav .dropdown .items hr {
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0; }
      nav .dropdown .items a, nav .dropdown .items button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 16px;
        text-transform: uppercase;
        color: #414141;
        cursor: pointer;
        outline: none;
        border: none;
        text-decoration: none;
        background-color: transparent; }
        nav .dropdown .items a .fa, nav .dropdown .items button .fa {
          width: 32px; }
        nav .dropdown .items a:hover, nav .dropdown .items button:hover {
          background-color: rgba(0, 0, 0, 0.1); }

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0;
    text-transform: uppercase; }
  body aside {
    margin-left: 32px;
    flex-basis: 26%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }
    body aside > header {
      background-color: #fff;
      padding-bottom: 16px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
      body aside > header > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px; }
        body aside > header > div:first-child {
          height: 64px; }
          body aside > header > div:first-child button {
            color: #008080;
            cursor: pointer;
            border: none;
            outline: none; }
            body aside > header > div:first-child button .fa {
              margin-right: 8px; }
        body aside > header > div:nth-child(2) {
          height: 24px;
          align-items: stretch;
          justify-content: flex-start;
          font-size: 1.1em; }
          body aside > header > div:nth-child(2) .fa {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            color: rgba(0, 0, 0, 0.3); }
          body aside > header > div:nth-child(2) input {
            font-size: inherit;
            background-color: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    body aside #project-list {
      height: calc(100vh - 56px - 64px - 32px - 16px);
      overflow-y: auto; }
      body aside #project-list .project {
        min-height: 48px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-left: 6px solid transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9; }
        body aside #project-list .project.active {
          background-color: #fff;
          border-left: 6px solid #008080; }
        body aside #project-list .project:hover header button {
          opacity: 1; }
        body aside #project-list .project header {
          padding: 10px 16px;
          flex-basis: 100%;
          min-height: 56px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap; }
          body aside #project-list .project header .name {
            display: block;
            font-size: 1.2em;
            font-weight: 500;
            padding: 6px 0;
            flex-basis: calc(100% - 32px);
            color: #008080;
            text-transform: none; }
          body aside #project-list .project header button {
            width: 32px;
            height: 32px;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s all ease-in-out;
            opacity: 0; }
            body aside #project-list .project header button:hover {
              background-color: rgba(0, 0, 0, 0.05); }
          body aside #project-list .project header .dates {
            flex-basis: 100%; }
            body aside #project-list .project header .dates label {
              margin-right: 10px; }
              body aside #project-list .project header .dates label date {
                font-family: "Inconsolata", monospace;
                font-size: 1.33em; }
        body aside #project-list .project .details {
          flex-basis: 100%;
          padding: 10px 16px; }
          body aside #project-list .project .details .project-description {
            text-align: justify;
            color: #616161; }
          body aside #project-list .project .details .action-buttons {
            text-align: right;
            padding: 10px 0; }
            body aside #project-list .project .details .action-buttons button {
              color: #008080;
              text-transform: uppercase;
              background-color: transparent;
              outline: none;
              border: none; }
        body aside #project-list .project.expanded header button {
          transform: rotate(-180deg); }
  body main {
    margin-left: 32px;
    flex-basis: 60%;
    overflow-y: auto; }
    body main > header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 72px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
      body main > header a {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500; }
        body main > header a.active {
          font-size: 1.5em;
          color: #008080; }
    body main form {
      width: 80%;
      margin: auto; }
      body main form .action-buttons {
        height: 96px;
        display: flex;
        align-items: center;
        padding: 0 32px;
        justify-content: space-between; }
        body main form .action-buttons button {
          border: none;
          padding: 10px 12px;
          margin-left: 10px;
          color: #fff;
          border-radius: 3px;
          box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
          body main form .action-buttons button:active {
            box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
          body main form .action-buttons button .fa {
            margin-right: 8px; }
          body main form .action-buttons button#save-btn {
            background-color: #3498db; }
          body main form .action-buttons button#save-and-proceed-btn {
            background-color: #008080; }
          body main form .action-buttons button#delete-btn {
            background-color: #e74c3c; }
      body main form .input-group-list {
        height: calc(100vh - 56px - 72px - 96px);
        padding: 0 32px;
        overflow-y: auto; }
        body main form .input-group-list .input-group {
          width: 100%;
          position: relative;
          padding: 0 10px;
          margin-bottom: 24px; }
          body main form .input-group-list .input-group > label {
            width: 100%; }
            body main form .input-group-list .input-group > label a {
              color: #008080; }
              body main form .input-group-list .input-group > label a .fa {
                margin-left: 8px; }
          body main form .input-group-list .input-group > input, body main form .input-group-list .input-group textarea {
            width: 100%;
            border: none;
            background-color: transparent;
            padding: 4px 0;
            outline: none;
            font-size: 1.1em;
            margin: 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
            body main form .input-group-list .input-group > input:focus, body main form .input-group-list .input-group textarea:focus {
              border-bottom: 2px solid #008080; }
          body main form .input-group-list .input-group .radio-group {
            margin-top: 6px; }
            body main form .input-group-list .input-group .radio-group label {
              display: inline-flex;
              align-items: center;
              margin-right: 10px;
              cursor: pointer; }
              body main form .input-group-list .input-group .radio-group label input {
                margin: 0 4px 0 0; }
          body main form .input-group-list .input-group .selectize-control.single {
            background-color: transparent; }
          body main form .input-group-list .input-group .selectize-input {
            font-size: 1.1em !important;
            border: none;
            padding: 4px 0;
            background-color: transparent;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
            body main form .input-group-list .input-group .selectize-input.focus {
              border-bottom: 2px solid #008080; }
            body main form .input-group-list .input-group .selectize-input.has-items {
              padding: 0;
              padding-top: 5px; }
            body main form .input-group-list .input-group .selectize-input > input {
              font-size: 1.1em !important;
              background-color: transparent; }
          body main form .input-group-list .input-group#start-date-input, body main form .input-group-list .input-group#end-date-input {
            flex-basis: 30%; }
        body main form .input-group-list .input-groups {
          display: flex; }
          body main form .input-group-list .input-groups .input-group {
            flex-basis: 50%; }
  body #new-project-modal .error {
    padding: 16px 0 0 16px;
    color: #e74c3c; }
    body #new-project-modal .error .fa {
      margin-right: 8px; }

/*# sourceMappingURL=project-details.css.map */
