::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #008080;
  background-image: url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-blend-mode: soft-light; }

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  main form {
    width: 600px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
    main form > div, main form > header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 24px;
      padding: 0 32px; }
      main form > div:last-child, main form > header:last-child {
        min-height: 64px;
        background-color: #f0f0f0;
        margin-bottom: 0;
        font-size: 15px; }
    main form #error {
      color: #e74c3c;
      padding: 0 32px 16px 32px;
      margin: 0;
      text-align: center;
      font-size: 15px; }
      main form #error .fa {
        margin-right: 10px; }
    main form #action-buttons {
      min-height: auto;
      font-size: 15px;
      justify-content: space-between; }
    main form header {
      min-height: 64px;
      background-color: #008080;
      color: #fff; }
      main form header h1 {
        margin: 0;
        text-transform: uppercase; }
    main form input[type="text"], main form input[type="password"] {
      outline: none;
      border: 1px solid transparent;
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
      flex-basis: 100%;
      padding: 0 10px 5 10px;
      font-size: 15px; }
      main form input[type="text"]:focus, main form input[type="password"]:focus {
        border-bottom: 2px solid #008080; }
    main form label {
      flex-basis: 100%;
      margin: 0;
      color: rgba(0, 0, 0, 0.3); }
    main form a {
      margin-left: 4px;
      cursor: pointer; }
    main form button {
      background-color: #f0f0f0;
      padding: 6px 32px;
      background-color: #008080;
      color: #fff;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border: none;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      main form button:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=register.css.map */
