::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 3px;
  background-color: rgba(0, 128, 255, 0.1); }

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #004d4d; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

#main h1, #main h2, #main h3, #main h4 {
  margin: 0;
  text-transform: uppercase; }
#main h1 {
  font-weight: bold;
  margin-bottom: 24px;
  margin-top: 24px; }
#main #country-list {
  background-color: #fff;
  height: calc(100vh - 56px - 80px);
  overflow-y: auto;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #country-list #search-country {
    float: right;
    outline: none;
    margin-right: 10px;
    margin-top: 20px;
    padding: 4px 10px;
    padding-left: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px; }
  #main #country-list #search-country + .fa {
    float: right;
    margin-right: -24px;
    margin-top: 27px;
    color: rgba(0, 0, 0, 0.5); }
  #main #country-list h2 {
    padding: 28px 0 26px 24px;
    border-bottom: 1px solid #008080; }
  #main #country-list hr {
    margin: 0; }
  #main #country-list .country {
    padding: 16px 24px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #main #country-list .country .event {
      color: #767676;
      text-transform: none; }
  #main #country-list .country:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  #main #country-list .active {
    border-left: 3px solid #008080;
    background-color: #f0f0f0; }
#main #report-list {
  background-color: #fff;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #report-list header {
    padding-right: 24px;
    border-bottom: 1px solid #008080; }
    #main #report-list header .selectize-input {
      margin-top: 16px; }
  #main #report-list h2 {
    padding: 24px;
    font-weight: 600;
    font-size: 1.5em;
    color: #008080; }
  #main #report-list hr {
    margin: 0; }
  #main #report-list .reports #weekly-report-list {
    padding-top: 10px; }
    #main #report-list .reports #weekly-report-list #header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 16px; }
    #main #report-list .reports #weekly-report-list h3 {
      margin: 0;
      padding: 16px 0 16px 24px;
      font-weight: 600;
      display: inline-block; }
    #main #report-list .reports #weekly-report-list #add-weekly-report-btn {
      margin-right: 24px;
      margin-top: 6px;
      float: right;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      #main #report-list .reports #weekly-report-list #add-weekly-report-btn:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
      #main #report-list .reports #weekly-report-list #add-weekly-report-btn .fa {
        margin-right: 10px; }
    #main #report-list .reports #weekly-report-list .weekly-report {
      padding: 10px 24px; }
      #main #report-list .reports #weekly-report-list .weekly-report a {
        margin-left: 16px;
        cursor: pointer;
        float: right; }
        #main #report-list .reports #weekly-report-list .weekly-report a .fa {
          margin-right: 6px; }
      #main #report-list .reports #weekly-report-list .weekly-report h4 {
        margin-bottom: 16px;
        font-weight: 400;
        display: inline-block;
        font-size: 1em;
        margin-right: 10px; }
      #main #report-list .reports #weekly-report-list .weekly-report p {
        display: inline-block;
        margin: 0;
        font-family: monospace; }
        #main #report-list .reports #weekly-report-list .weekly-report p:before {
          content: '['; }
        #main #report-list .reports #weekly-report-list .weekly-report p:after {
          content: ']'; }
      #main #report-list .reports #weekly-report-list .weekly-report button {
        float: right;
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
        #main #report-list .reports #weekly-report-list .weekly-report button:active {
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
  #main #report-list .reports #monthly-report-list .monthly-report {
    padding: 24px; }
    #main #report-list .reports #monthly-report-list .monthly-report button {
      margin-right: 10px;
      box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
      #main #report-list .reports #monthly-report-list .monthly-report button:active {
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
    #main #report-list .reports #monthly-report-list .monthly-report .fa {
      margin-right: 10px; }

/*# sourceMappingURL=report-dash.css.map */
