body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 14px;
  line-height: 1.5; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 18px; }
  body h2 {
    font-size: 16px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #767676;
    text-transform: uppercase;
    font-size: 12px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  line-height: 1;
  text-align: center;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    height: 40px;
    margin-top: 10px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #event-menu {
    display: inline-block;
    padding: 21px; }
  nav .menu-item {
    height: 56px;
    padding: 21px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    padding: 18px; }
    nav #crisis-wrapper .selectize-input, nav #crisis-wrapper .input-active {
      border: none;
      background-color: transparent;
      text-align: left;
      padding: 0;
      color: #b3caca;
      font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input .item, nav #crisis-wrapper .input-active .item {
        text-transform: uppercase;
        text-align: left;
        font-size: 14px !important; }
      nav #crisis-wrapper .selectize-input input, nav #crisis-wrapper .input-active input {
        text-transform: uppercase !important;
        color: #b3caca; }
      nav #crisis-wrapper .selectize-input:after, nav #crisis-wrapper .input-active:after {
        margin-top: -10px;
        border-color: #b3caca transparent transparent transparent; }
    nav #crisis-wrapper .dropdown-active:after {
      border-color: transparent transparent #b3caca transparent; }
    nav #crisis-wrapper .selectize-dropdown {
      text-align: left !important; }
    nav #crisis-wrapper .focus {
      border: none;
      color: #fff;
      box-shadow: none; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  background-color: #f0f0f0;
  min-height: 100vh; }

#main header {
  height: 176px; }
  #main header h1 {
    text-transform: uppercase;
    font-weight: 600; }
    #main header h1 span {
      font-weight: 400; }
  #main header button {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7); }
    #main header button:active {
      box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7); }
    #main header button .fa {
      margin-right: 10px; }
  #main header #filters {
    margin-top: 10px; }
    #main header #filters #reliability-filter-container, #main header #filters #severity-filter-container {
      margin-top: -26px; }
#main #last-seven-days-btn {
  float: right; }
#main #entries {
  height: calc(100vh - 56px - 176px - 48px) !important;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #entries h3 {
    padding-left: 32px; }
  #main #entries .entry {
    padding: 24px;
    background-color: #fafafa; }
    #main #entries .entry:nth-child(odd) {
      background-color: #fff; }
    #main #entries .entry header {
      height: auto;
      margin-bottom: 16px; }
      #main #entries .entry header h4 {
        color: #008080; }
      #main #entries .entry header label {
        margin-right: 10px; }
    #main #entries .entry .excerpt {
      margin-top: 10px; }
    #main #entries .entry label {
      margin-right: 10px; }
    #main #entries .entry .severity, #main #entries .entry .reliability {
      margin-top: 8px; }
      #main #entries .entry .severity span, #main #entries .entry .reliability span {
        width: 10px;
        height: 16px;
        background-color: #ccc;
        display: inline-block; }
    #main #entries .entry .reliability ._1 {
      background-color: #aab0ed; }
    #main #entries .entry .reliability ._2 {
      background-color: #7f88e5; }
    #main #entries .entry .reliability ._3 {
      background-color: #5561dc; }
    #main #entries .entry .reliability ._4 {
      background-color: #2b3ad3; }
    #main #entries .entry .reliability ._5 {
      background-color: #232fa8; }
    #main #entries .entry .reliability ._6 {
      background-color: #1e2993; }
    #main #entries .entry .reliability .active {
      transform: scale(1.2); }
    #main #entries .entry .severity ._1 {
      background-color: #f2adad; }
    #main #entries .entry .severity ._2 {
      background-color: #ec8080; }
    #main #entries .entry .severity ._3 {
      background-color: #e55454; }
    #main #entries .entry .severity ._4 {
      background-color: #de2828; }
    #main #entries .entry .severity ._5 {
      background-color: #cd1f1f; }
    #main #entries .entry .severity ._6 {
      background-color: #b71c1c; }
    #main #entries .entry .severity .active {
      transform: scale(1.2); }
#main #entries-header-container h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.2em; }
#main #entries-header-container, #main #navigator {
  padding: 16px;
  background-color: #fafafa;
  height: 48px; }
#main #navigator a {
  display: inline-block;
  padding: 0 24px;
  padding-bottom: 8px;
  cursor: pointer; }
#main #navigator .active {
  border-bottom: 2px solid #008080; }
#main #report-content {
  height: calc(100vh - 56px - 176px - 48px) !important;
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  #main #report-content h5 {
    text-transform: uppercase; }
  #main #report-content section {
    padding: 16px; }
    #main #report-content section h3 {
      margin: 0;
      margin-bottom: 16px; }
  #main #report-content #reporting-parameters #week-select-interval {
    padding-top: 4px;
    font-weight: 600; }
  #main #report-content #reporting-parameters #date-hour-of-entry {
    padding-left: 16px;
    font-weight: 600;
    text-transform: uppercase; }
  #main #report-content #key-events #toggle-panel {
    height: 64px; }
    #main #report-content #key-events #toggle-panel .fa {
      margin-right: 10px; }
    #main #report-content #key-events #toggle-panel a {
      margin: 10px;
      margin-right: 32px;
      transition: 0.2s all ease-in-out;
      color: #414141; }
    #main #report-content #key-events #toggle-panel .active {
      color: #008080; }
    #main #report-content #key-events #toggle-panel button {
      float: right; }
  #main #report-content #key-events #header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 16px; }
  #main #report-content #key-events .key-event {
    min-height: 48px;
    margin-top: 10px;
    margin-bottom: 10px; }
  #main #report-content #key-events #timeline-view {
    position: relative;
    padding: 32px; }
    #main #report-content #key-events #timeline-view #line {
      position: absolute;
      height: 100%;
      width: 2px;
      left: calc(50% - 1px);
      background-color: #008080; }
    #main #report-content #key-events #timeline-view .time-element {
      width: calc(50% - 30px);
      background-color: #f0f0f0;
      border-radius: 3px;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
      padding: 10px 24px;
      position: relative; }
      #main #report-content #key-events #timeline-view .time-element h3 {
        margin: -10px -24px 10px -24px;
        padding: 16px 24px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #008080;
        color: #fff; }
      #main #report-content #key-events #timeline-view .time-element:nth-child(odd) {
        clear: both;
        float: left; }
        #main #report-content #key-events #timeline-view .time-element:nth-child(odd):before {
          display: inline-block;
          content: '';
          width: 30px;
          height: 2px;
          background-color: #008080;
          position: absolute;
          right: -30px;
          top: 30px; }
      #main #report-content #key-events #timeline-view .time-element:nth-child(even) {
        clear: both;
        float: right; }
        #main #report-content #key-events #timeline-view .time-element:nth-child(even):before {
          display: inline-block;
          content: '';
          width: 30px;
          height: 2px;
          background-color: #008080;
          position: absolute;
          left: -30px;
          top: 30px; }
  #main #report-content #key-events button {
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    #main #report-content #key-events button:active {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
  #main #report-content #humanitarian-profile #humanitarian-profile-field-error {
    color: #e74c3c;
    text-align: center; }
  #main #report-content #humanitarian-profile .row-group {
    margin-left: -16px;
    margin-right: -16px;
    padding: 10px 16px 2px 16px; }
    #main #report-content #humanitarian-profile .row-group:nth-child(even) {
      background-color: #f0f0f0; }
  #main #report-content #humanitarian-profile .row {
    margin-bottom: 10px; }
  #main #report-content #humanitarian-profile .sub {
    margin-left: 24px; }
  #main #report-content #people-in-need .toplevel {
    padding-bottom: 20px; }
    #main #report-content #people-in-need .toplevel .sub {
      margin-left: 24px; }
    #main #report-content #people-in-need .toplevel.parent {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      background-color: #f0f0f0; }
      #main #report-content #people-in-need .toplevel.parent + .toplevel:not(.parent) {
        margin-top: 20px; }
  #main #report-content #people-in-need .row {
    margin-bottom: 10px; }
  #main #report-content #humanitarian-access {
    text-transform: none; }
    #main #report-content #humanitarian-access .right-pane {
      padding-left: 48px; }
  #main #report-content #weekly-severity-score .score-0 {
    background-color: rgba(231, 76, 60, 0.2); }
  #main #report-content #weekly-severity-score .score-1 {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(231, 76, 60, 0.5); }
  #main #report-content #weekly-severity-score .score-2 {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(231, 76, 60, 0.75); }
  #main #report-content #weekly-severity-score .score-3 {
    color: white;
    background-color: #e74c3c; }

/*# sourceMappingURL=report-weekly.css.map */
