@charset "UTF-8";
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 100%; }
  body > nav #report-link-wrapper {
    flex-basis: 10%; }
  body > nav #crisis-select-container {
    flex-basis: 30%; }
    body > nav #crisis-select-container .selectize-control.single .selectize-input, body > nav #crisis-select-container .selectize-control.single.single, body > nav #crisis-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #crisis-select-container .selectize-input {
      border: none; }
      body > nav #crisis-select-container .selectize-input > div, body > nav #crisis-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #crisis-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #crisis-select-container a {
      vertical-align: middle; }
  body > nav #main-menu {
    flex-basis: 30%; }
  body > nav #extra-menu {
    flex-basis: calc(20% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items div {
          padding: 16px;
          text-transform: uppercase;
          color: #414141; }
          body > nav #extra-menu .dropdown .items div .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items div:hover {
            background-color: rgba(0, 0, 0, 0.1); }

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px; }
  main > header {
    flex-basis: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px; }
    main > header h1 {
      margin: 0;
      text-transform: uppercase; }
  main > section {
    box-sizing: border-box; }
    main > section:nth-child(2) {
      flex-basis: 66%; }
    main > section:nth-child(3) {
      flex-basis: 33%; }
  main #country-panel {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    main #country-panel #country-panel-header {
      height: 56px;
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: stretch; }
      main #country-panel #country-panel-header #crisis-status input {
        display: none; }
      main #country-panel #country-panel-header #crisis-status label {
        padding: 6px 16px;
        cursor: pointer;
        height: 100%;
        vertical-align: baseline;
        padding-top: calc(calc(56px - 12px) / 2); }
      main #country-panel #country-panel-header #crisis-status .active {
        color: #008080;
        border-bottom: 2px solid #008080; }
      main #country-panel #country-panel-header > div:nth-child(2) {
        flex-basis: 320px;
        align-self: center;
        margin-right: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px; }
        main #country-panel #country-panel-header > div:nth-child(2) i {
          flex-basis: 10%; }
        main #country-panel #country-panel-header > div:nth-child(2) input {
          flex-basis: 90%;
          outline: none;
          border: none; }
    main #country-panel #country-list #country-list-header {
      height: 32px;
      background-color: #f0f0f0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16); }
      main #country-panel #country-list #country-list-header label {
        margin: 0; }
        main #country-panel #country-list #country-list-header label:nth-child(1) {
          flex-basis: 10%; }
        main #country-panel #country-list #country-list-header label:nth-child(2) {
          flex-basis: 15%; }
        main #country-panel #country-list #country-list-header label:nth-child(3), main #country-panel #country-list #country-list-header label:nth-child(4), main #country-panel #country-list #country-list-header label:nth-child(5), main #country-panel #country-list #country-list-header label:nth-child(6), main #country-panel #country-list #country-list-header label:nth-child(7) {
          flex-basis: 11%; }
        main #country-panel #country-list #country-list-header label:nth-child(8), main #country-panel #country-list #country-list-header label:nth-child(9) {
          flex-basis: 7.5%; }
        main #country-panel #country-list #country-list-header label:nth-child(10) {
          flex-basis: 5%; }
        main #country-panel #country-list #country-list-header label[data-sort] {
          cursor: pointer; }
        main #country-panel #country-list #country-list-header label.asc:after {
          content: '⇂';
          color: #008080; }
        main #country-panel #country-list #country-list-header label.dsc:after {
          content: '↾';
          color: #008080; }
    main #country-panel #country-list #countries {
      height: calc(100vh - 56px - 48px - 64px - 32px);
      overflow: hidden;
      overflow-y: scroll;
      backface-visibility: hidden; }
      main #country-panel #country-list #countries .name {
        font-weight: 500; }
      main #country-panel #country-list #countries .events {
        color: rgba(0, 0, 0, 0.5); }
      main #country-panel #country-list #countries .country {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0px 10px;
        box-sizing: border-box;
        cursor: pointer; }
        main #country-panel #country-list #countries .country > div {
          padding: 0 2px; }
          main #country-panel #country-list #countries .country > div:nth-child(1) {
            flex-basis: 10%; }
          main #country-panel #country-list #countries .country > div:nth-child(2) {
            flex-basis: 15%; }
          main #country-panel #country-list #countries .country > div:nth-child(3), main #country-panel #country-list #countries .country > div:nth-child(4), main #country-panel #country-list #countries .country > div:nth-child(5), main #country-panel #country-list #countries .country > div:nth-child(6), main #country-panel #country-list #countries .country > div:nth-child(7) {
            flex-basis: 11%; }
          main #country-panel #country-list #countries .country > div:nth-child(8), main #country-panel #country-list #countries .country > div:nth-child(9) {
            flex-basis: 7.5%; }
          main #country-panel #country-list #countries .country > div:nth-child(10) {
            flex-basis: 5%; }
        main #country-panel #country-list #countries .country .assigned-to {
          flex-basis: 8%; }
          main #country-panel #country-list #countries .country .assigned-to span {
            display: block;
            font-size: 11px;
            color: rgba(0, 0, 0, 0.5); }
            main #country-panel #country-list #countries .country .assigned-to span .fa {
              margin-right: 4px; }
        main #country-panel #country-list #countries .country .fa {
          margin-right: 8px; }
        main #country-panel #country-list #countries .country .fa-arrow-up {
          color: #27ae60; }
        main #country-panel #country-list #countries .country .fa-arrow-down {
          color: #c0392b; }
        main #country-panel #country-list #countries .country .fa-arrow-right {
          color: #b79622; }
        main #country-panel #country-list #countries .country.active {
          border-left: 3px solid #008080;
          background-color: rgba(0, 128, 128, 0.1); }
        main #country-panel #country-list #countries .country .viz {
          height: 50px;
          margin-top: 6px;
          text-align: center;
          position: relative; }
          main #country-panel #country-list #countries .country .viz .health-bar-invalid {
            height: 12px;
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: 4px; }
          main #country-panel #country-list #countries .country .viz .health-bar {
            height: 12px;
            background-color: #414141;
            margin-bottom: 4px; }
            main #country-panel #country-list #countries .country .viz .health-bar .health-indicator {
              height: 100%;
              background-color: #7CB342; }
          main #country-panel #country-list #countries .country .viz .no-change-block {
            width: 24px;
            height: 24px;
            margin: auto;
            border-radius: 50%;
            background-color: #e74c3c; }
          main #country-panel #country-list #countries .country .viz .change-block {
            width: 24px;
            height: 24px;
            top: 12px;
            left: calc(50% - 12px);
            margin: auto;
            border-radius: 50%;
            background-color: #27ae60;
            position: absolute; }
          main #country-panel #country-list #countries .country .viz path {
            stroke: #7f8c8d; }
        main #country-panel #country-list #countries .country:nth-child(odd) {
          background-color: #fafafa; }
        main #country-panel #country-list #countries .country:hover {
          background-color: rgba(0, 0, 0, 0.05); }
  main #weekly-report-panel {
    border: 1px solid rgba(0, 0, 0, 0.1); }
    main #weekly-report-panel #weekly-report-panel-header {
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 0 16px; }
      main #weekly-report-panel #weekly-report-panel-header h2 {
        margin: 0;
        flex-basis: 50%;
        text-transform: uppercase;
        color: #008080; }
      main #weekly-report-panel #weekly-report-panel-header div {
        flex-basis: 50%; }
    main #weekly-report-panel #weekly-report-list h3 {
      margin: 0;
      text-transform: uppercase; }
    main #weekly-report-panel #weekly-report-list #weekly-report-list-header {
      height: 64px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px; }
      main #weekly-report-panel #weekly-report-list #weekly-report-list-header i {
        border: none;
        cursor: pointer; }
    main #weekly-report-panel #weekly-report-list #weekly-reports {
      height: calc(100vh - 56px - 48px - 64px - 64px);
      overflow: hidden;
      overflow-y: auto; }
      main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report {
        height: 32px;
        display: flex;
        padding: 0 16px;
        justify-content: space-between;
        align-items: center; }
        main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report h4 {
          flex-basis: 16%;
          margin: 0;
          font-size: 13px; }
        main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report p {
          margin: 0; }
        main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report date {
          font-family: 'Inconsolata', monospace; }
        main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report .action-buttons {
          text-align: right;
          flex-basis: 40%; }
          main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report .action-buttons a {
            margin-left: 24px;
            cursor: pointer; }
            main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report .action-buttons a .fa {
              margin-right: 10px; }
          main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report .action-buttons .delete-btn {
            color: #e74c3c; }
        main #weekly-report-panel #weekly-report-list #weekly-reports .weekly-report:nth-child(odd) {
          background-color: #fff; }
      main #weekly-report-panel #weekly-report-list #weekly-reports .empty-text {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 3em;
        color: rgba(0, 0, 0, 0.3); }

.jqstooltip {
  box-sizing: content-box;
  font-size: 13px;
  border: none !important;
  background-color: rgba(0, 0, 0, 0.9) !important; }

.jqsfield {
  font-size: 13px !important;
  /*set the text color here */ }

/*# sourceMappingURL=report-dash.css.map */
