::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

.selectize-control {
  position: relative;
  width: 100%;
  font-size: 12px; }
  .selectize-control.plugin-remove_button {
    position: relative; }
  .selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    width: 16px;
    margin-left: 3px;
    text-align: center;
    color: #e74c3c; }
  .selectize-control .selectize-input, .selectize-control.single, .selectize-control .selectize-input.input-active {
    background-color: #fff;
    cursor: text;
    display: inline-block;
    box-sizing: border-box; }
  .selectize-control .selectize-input {
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 4px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .selectize-control .selectize-input > * {
      vertical-align: baseline;
      display: inline-block;
      box-sizing: border-box; }
    .selectize-control .selectize-input > input {
      padding: 0;
      outline: none;
      border: none; }
  .selectize-control.multi .selectize-input > div {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1px 4px 2px 4px; }
  .selectize-control .selectize-input.has-items > input {
    font-size: 13px;
    padding: 0;
    margin: 0; }
    .selectize-control .selectize-input.has-items > input:focus {
      font-size: 12px; }
  .selectize-control.multi .selectize-input.has-items {
    padding: 2px 6px; }
  .selectize-control .selectize-dropdown {
    position: absolute;
    z-index: 11;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    box-sizing: border-box; }
    .selectize-control .selectize-dropdown [data-selectable] {
      cursor: pointer;
      overflow: hidden;
      padding: 6px 10px; }
      .selectize-control .selectize-dropdown [data-selectable]:hover {
        background-color: #008080;
        color: #fff; }
    .selectize-control .selectize-dropdown .selectize-dropdown-content {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 320px; }
  .selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent; }

/*# sourceMappingURL=selectize.css.map */
