::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 100%; }
  body > nav #project-select-container {
    flex-basis: 20%; }
    body > nav #project-select-container .selectize-control.single .selectize-input, body > nav #project-select-container .selectize-control.single.single, body > nav #project-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #project-select-container .selectize-input {
      border: none; }
      body > nav #project-select-container .selectize-input > div, body > nav #project-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #project-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #project-select-container #project-dropdown-alt {
      vertical-align: middle;
      color: #fff;
      font-size: 12px; }
      body > nav #project-select-container #project-dropdown-alt .fa {
        width: 16px; }
  body > nav #main-menu {
    flex-basis: 50%; }
  body > nav #extra-menu {
    flex-basis: calc(20% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items a, body > nav #extra-menu .dropdown .items button {
          display: block;
          width: 100%;
          text-align: left;
          padding: 16px;
          text-transform: uppercase;
          color: #414141;
          cursor: pointer;
          outline: none;
          border: none;
          text-decoration: none;
          background-color: transparent; }
          body > nav #extra-menu .dropdown .items a .fa, body > nav #extra-menu .dropdown .items button .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items a:hover, body > nav #extra-menu .dropdown .items button:hover {
            background-color: rgba(0, 0, 0, 0.1); }

body {
  background-color: #f0f0f0; }

.dataTables_scrollHead {
  background-color: #fff; }

.dataTables_scrollBody {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2); }

.dataTables_filter {
  margin-bottom: 8px; }

main {
  margin-top: 16px;
  padding: 10px 16px; }
  main input[type="search"] {
    height: 28px;
    padding: 0 8px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff; }
    main input[type="search"]:focus {
      border-color: #008080; }
  main #sos-table {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
    main #sos-table thead tr th {
      background-color: #fff;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2); }
      main #sos-table thead tr th:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.03); }
    main #sos-table .sorting {
      background-image: url("../img/datatables/sort_both.png"); }
    main #sos-table .sorting_asc {
      background-image: url("../img/datatables/sort_asc.png"); }
    main #sos-table .sorting_desc {
      background-image: url("../img/datatables/sort_desc.png"); }
    main #sos-table .sorting_asc_disabled {
      background-image: url("../img/datatables/sort_asc_disabled.png"); }
    main #sos-table .sorting_desc_disabled {
      background-image: url("../img/datatables/sort_desc_disabled.png"); }
    main #sos-table tbody tr[role="row"] td:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.03); }
    main #sos-table tbody .odd, main #sos-table tbody .odd + tr:not(.even) {
      background-color: #f0f0f0; }
    main #sos-table tbody .even, main #sos-table tbody .even + tr:not(.odd) {
      background-color: #fff; }
    main #sos-table tbody .btn-action {
      color: #3498db;
      cursor: pointer; }
      main #sos-table tbody .btn-action .fa {
        color: inherit;
        margin-right: 10px; }
    main #sos-table tbody .row-detail {
      padding: 10px 24px; }
      main #sos-table tbody .row-detail .fa {
        margin-right: 10px; }
      main #sos-table tbody .row-detail .extra {
        margin-bottom: 16px; }
        main #sos-table tbody .row-detail .extra span {
          margin-right: 24px; }
      main #sos-table tbody .row-detail label {
        margin-right: 10px;
        width: 100px; }
      main #sos-table tbody .row-detail .lead-content {
        white-space: pre-wrap; }
      main #sos-table tbody .row-detail button {
        margin: 4px;
        box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
        main #sos-table tbody .row-detail button:active {
          box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
      main #sos-table tbody .row-detail .lead-content a {
        text-transform: none; }

/*# sourceMappingURL=sos.css.map */
