::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  line-height: 1.8; }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: #818181;
    text-transform: uppercase;
    font-size: 11px; }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    width: 96px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #main-menu {
    flex-basis: 40%; }
  nav .menu-item {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out;
    text-align: center;
    font-size: 13px;
    height: 56px;
    padding: 0 16px;
    padding-top: calc(calc(56px - 13px - 8px) / 2); }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 500; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 13px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    flex-basis: 28%; }
    nav #crisis-wrapper .selectize-control.single .selectize-input, nav #crisis-wrapper .selectize-control.single.single, nav #crisis-wrapper .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    nav #crisis-wrapper .selectize-input {
      border: none; }
      nav #crisis-wrapper .selectize-input > div, nav #crisis-wrapper .selectize-input input {
        background-color: transparent;
        color: #fff; }
      nav #crisis-wrapper .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    nav #crisis-wrapper a {
      vertical-align: middle; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

#main h2 {
  color: #008080;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 24px; }
#main #sos-table thead tr th {
  background-color: #fff; }
  #main #sos-table thead tr th:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.03); }
#main #sos-table tbody tr[role="row"] {
  cursor: pointer; }
  #main #sos-table tbody tr[role="row"] td:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.03); }
#main #sos-table tbody .odd, #main #sos-table tbody .odd + tr:not(.even) {
  background-color: #f5f5f5; }
#main #sos-table tbody .even, #main #sos-table tbody .even + tr:not(.odd) {
  background-color: #fff; }
#main #sos-table tbody .btn-action {
  margin: 2px;
  box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
  #main #sos-table tbody .btn-action:active {
    box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
#main #sos-table tbody .row-detail {
  padding: 10px 24px; }
  #main #sos-table tbody .row-detail .fa {
    margin-right: 10px; }
  #main #sos-table tbody .row-detail .extra {
    margin-bottom: 16px; }
    #main #sos-table tbody .row-detail .extra span {
      margin-right: 24px; }
  #main #sos-table tbody .row-detail label {
    margin-right: 10px;
    width: 100px; }
  #main #sos-table tbody .row-detail .lead-content {
    white-space: pre-wrap; }
  #main #sos-table tbody .row-detail button {
    margin: 4px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3); }
    #main #sos-table tbody .row-detail button:active {
      box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3); }
  #main #sos-table tbody .row-detail .lead-content a {
    text-transform: none; }
#main #sos-table tbody .btn-add-entry .fa {
  color: #8e44ad; }
#main #sos-table tbody .btn-edit .fa {
  color: #333399; }
#main #sos-table tbody .btn-mark-processed .fa {
  color: #cc6600; }
#main #sos-table tbody .btn-mark-pending .fa {
  color: #009900; }
#main #sos-table tbody .btn-delete .fa {
  color: #e74c3c; }

/*# sourceMappingURL=sos.css.map */
