::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }
  body .issue-collector {
    position: fixed;
    bottom: 0;
    right: 0; }
    body .issue-collector button {
      background-color: #fff;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 2px 6px;
      font-weight: 500; }
      body .issue-collector button#finance-a-feature {
        background-color: #ffc200; }

body > nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  body > nav a:hover, body > nav a:active {
    color: #fff; }
  body > nav .menu-item {
    font-weight: 400;
    font-size: 13px;
    height: 56px;
    display: inline-block;
    padding: calc(calc(56px - 13px - 8px) / 2) 16px 0 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out; }
    body > nav .menu-item.active {
      font-weight: 500;
      border-bottom: 2px solid #fff;
      color: #fff; }
  body > nav #deep-logo-container {
    flex-basis: 96px;
    flex-shrink: 0;
    flex-grow: 0; }
    body > nav #deep-logo-container img {
      width: 125px;
      height: 40px; }
  body > nav #project-select-container {
    flex-basis: 20%; }
    body > nav #project-select-container .selectize-control.single .selectize-input, body > nav #project-select-container .selectize-control.single.single, body > nav #project-select-container .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    body > nav #project-select-container .selectize-input {
      border: none; }
      body > nav #project-select-container .selectize-input > div, body > nav #project-select-container .selectize-input input {
        background-color: transparent;
        color: #fff; }
      body > nav #project-select-container .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    body > nav #project-select-container #project-dropdown-alt {
      vertical-align: middle;
      color: #fff;
      font-size: 12px; }
      body > nav #project-select-container #project-dropdown-alt .fa {
        width: 16px; }
  body > nav #main-menu {
    flex-basis: 50%; }
  body > nav #extra-menu {
    flex-basis: calc(20% - 96px);
    display: flex;
    justify-content: space-between; }
    body > nav #extra-menu #chrome-extension-download-link {
      flex-basis: 24px;
      color: #fff; }
    body > nav #extra-menu .name .fa {
      margin-right: 10px; }
    body > nav #extra-menu .dropdown {
      flex-basis: calc(90% - 24px);
      position: relative;
      cursor: pointer;
      outline: none; }
      body > nav #extra-menu .dropdown .dropdown-toggle {
        color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around; }
      body > nav #extra-menu .dropdown .items {
        position: absolute;
        top: calc(8px + 56px / 2);
        right: 0;
        background-color: #fff;
        width: 100%;
        min-width: 200px;
        z-index: 1011;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
        body > nav #extra-menu .dropdown .items hr {
          border: 1px solid rgba(0, 0, 0, 0.05);
          margin: 0; }
        body > nav #extra-menu .dropdown .items a, body > nav #extra-menu .dropdown .items button {
          display: block;
          width: 100%;
          text-align: left;
          padding: 16px;
          text-transform: uppercase;
          color: #414141;
          cursor: pointer;
          outline: none;
          border: none;
          text-decoration: none;
          background-color: transparent; }
          body > nav #extra-menu .dropdown .items a .fa, body > nav #extra-menu .dropdown .items button .fa {
            width: 32px; }
          body > nav #extra-menu .dropdown .items a:hover, body > nav #extra-menu .dropdown .items button:hover {
            background-color: rgba(0, 0, 0, 0.1); }

body {
  background-color: #f0f0f0; }
  body #entries {
    padding: 0 16px;
    overflow-y: auto; }
    body #entries p.message {
      text-align: center;
      margin-top: 100px;
      font-size: 1.5em;
      color: rgba(0, 0, 0, 0.5); }
    body #entries .entry {
      box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.5); }
      body #entries .entry .entry-header {
        position: sticky;
        top: 0;
        color: white;
        z-index: 1;
        background-color: #616161;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body #entries .entry .entry-header h2 {
          margin: 0 0 8px 0; }
        body #entries .entry .entry-header .action-buttons {
          display: flex;
          align-items: stretch;
          justify-content: center;
          align-self: stretch; }
          body #entries .entry .entry-header .action-buttons > a {
            width: 48px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer; }
        body #entries .entry .entry-header > div:first-child {
          padding: 6px 16px;
          flex-basis: calc(100% - 96px); }
          body #entries .entry .entry-header > div:first-child > div > span, body #entries .entry .entry-header > div:first-child > div date {
            margin-right: 24px; }
            body #entries .entry .entry-header > div:first-child > div > span .fa, body #entries .entry .entry-header > div:first-child > div date .fa {
              margin-right: 8px; }
        body #entries .entry .entry-header > div:last-child {
          flex-basis: 96px; }
          body #entries .entry .entry-header > div:last-child > a:first-child {
            background-color: #3498db; }
          body #entries .entry .entry-header > div:last-child > a:last-child {
            background-color: #e74c3c; }
      body #entries .entry .informations {
        overflow-x: hidden; }
        body #entries .entry .informations .information-container {
          padding: 10px 0;
          background-color: #fff; }
          body #entries .entry .informations .information-container:nth-child(odd) {
            background-color: #f8f8f8; }
          body #entries .entry .informations .information-container .information {
            height: 100%;
            box-sizing: padding-box;
            overflow: hidden; }
            body #entries .entry .informations .information-container .information label {
              font-weight: bold;
              padding: 4px 2px;
              margin-bottom: 6px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              width: 100%; }
            body #entries .entry .informations .information-container .information .excerpt-container {
              padding: 6px 10px;
              text-align: justify;
              line-height: 1.5; }
              body #entries .entry .informations .information-container .information .excerpt-container img {
                width: 100%; }
            body #entries .entry .informations .information-container .information .scale-container {
              height: 100%; }
              body #entries .entry .informations .information-container .information .scale-container .scale {
                display: flex;
                justify-content: center;
                align-items: center;
                height: calc(100% - 24px); }
                body #entries .entry .informations .information-container .information .scale-container .scale span {
                  display: inline-block;
                  width: 10px;
                  height: 20px;
                  margin: 0 2px;
                  border-radius: 2px; }
                  body #entries .entry .informations .information-container .information .scale-container .scale span.active {
                    width: 12px;
                    height: 24px; }
            body #entries .entry .informations .information-container .information .list-container.matrix1d {
              width: 160px; }
            body #entries .entry .informations .information-container .information .list-container.matrix2d, body #entries .entry .informations .information-container .information .list-container.number2d {
              width: 240px; }
            body #entries .entry .informations .information-container .information .list-container .row {
              display: flex;
              justify-content: space-between;
              padding: 4px 0; }
              body #entries .entry .informations .information-container .information .list-container .row .col {
                flex-basis: 49%; }
                body #entries .entry .informations .information-container .information .list-container .row .col > div:first-child {
                  font-weight: 500; }
                body #entries .entry .informations .information-container .information .list-container .row .col > div:last-child > * {
                  display: block;
                  padding: 0 2px; }
            body #entries .entry .informations .information-container .information .list-container .row1 {
              margin-bottom: 8px; }
              body #entries .entry .informations .information-container .information .list-container .row1 > span {
                font-weight: 500; }
            body #entries .entry .informations .information-container .information .list-container .column {
              display: flex;
              width: 100%;
              justify-content: space-between; }
              body #entries .entry .informations .information-container .information .list-container .column span {
                font-family: 'inconsolata', monospace;
                font-size: 1.2em; }
            body #entries .entry .informations .information-container .information .input-container {
              height: 100%; }
  body #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 16px;
    position: relative; }
    body #filters .filter {
      flex-basis: calc(100% / 7 - 2px);
      margin: 1px; }
      body #filters .filter > input, body #filters .filter > select, body #filters .filter > div {
        outline: none;
        border: none; }
      body #filters .filter > input {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0 6px; }
      body #filters .filter.range {
        display: flex;
        position: relative; }
        body #filters .filter.range > {
          flex-basis: 50%; }
        body #filters .filter.range > label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          padding: 0 6px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          text-transform: none;
          color: rgba(0, 0, 0, 0.3);
          background-color: #fff;
          z-index: 1;
          font-size: 1em;
          font-weight: 400; }
        body #filters .filter.range:hover label, body #filters .filter.range.filled label {
          display: none; }
      body #filters .filter.geo-filter {
        position: relative; }
        body #filters .filter.geo-filter > a {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1px 3px;
          cursor: pointer; }
    body #filters > input {
      padding: 4px 6px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box; }
  body #overflow-x {
    width: calc(100% - 32px);
    margin: auto;
    overflow-x: auto; }
    body #overflow-x > div {
      min-height: 1px; }
  body .modal {
    height: 800px;
    width: 800px !important; }
    body .modal .map-section .map {
      height: 537px;
      width: 100%; }
    body .modal .map-section .buttons-container {
      text-align: center;
      padding: 4px;
      background-color: #f0f0f0; }
    body .modal .control-section {
      padding: 10px 16px 0 16px; }
      body .modal .control-section label {
        margin-bottom: 6px; }
      body .modal .control-section .selectize-control {
        margin-bottom: 16px; }

/*# sourceMappingURL=template-entries.css.map */
