::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  line-height: 1.8;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body h1, body h2, body h3 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none !important; }
  body .btn, body .btn:hover, body .btn:visited, body .btn:focus {
    border: none;
    border-radius: 3px;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

nav {
  background-color: #004d4d;
  height: 56px;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav img {
    width: 96px; }
  nav a, nav a:visited {
    display: inline-block; }
  nav #main-menu {
    flex-basis: 40%; }
  nav .menu-item {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.2s all ease-in-out;
    text-align: center;
    font-size: 13px;
    height: 56px;
    padding: 0 16px;
    padding-top: calc(calc(56px - 13px - 8px) / 2); }
    nav .menu-item.active {
      border-bottom: 2px solid #fff;
      color: #fff;
      font-weight: 500; }
  nav a:hover, nav a:active, nav button:hover, nav button:active {
    color: #fff; }
  nav button, nav button:visited {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 13px; }
    nav button .fa, nav button:visited .fa {
      margin-right: 10px; }
    nav button .caret, nav button:visited .caret {
      margin-left: 10px; }
  nav #crisis-wrapper {
    flex-basis: 28%; }
    nav #crisis-wrapper .selectize-control.single .selectize-input, nav #crisis-wrapper .selectize-control.single.single, nav #crisis-wrapper .selectize-control.single .selectize-input.input-active {
      background-color: transparent !important; }
    nav #crisis-wrapper .selectize-input {
      border: none; }
      nav #crisis-wrapper .selectize-input > div, nav #crisis-wrapper .selectize-input input {
        background-color: transparent;
        color: #fff; }
      nav #crisis-wrapper .selectize-input:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #808080 transparent transparent transparent; }
    nav #crisis-wrapper a {
      vertical-align: middle; }
  nav .dropdown ul li a {
    padding-top: 8px;
    padding-bottom: 8px; }
    nav .dropdown ul li a .fa {
      margin-right: 10px; }

body {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between; }
  body h1, body h2, body h3, body h4 {
    margin: 0;
    text-transform: uppercase; }
  body nav {
    flex-basis: 100%;
    height: 56px;
    background-color: #004d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; }
    body nav a {
      color: #fff; }
      body nav a i {
        margin-right: 10px; }
  body main {
    flex-basis: 76%;
    height: calc(100vh - 56px); }
    body main header {
      flex-basis: 100%;
      height: 144px;
      background-color: #008080;
      color: #fff;
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body main header img {
        width: 72px;
        height: 72px;
        object-fit: contain;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.3); }
      body main header .user-info {
        width: calc(100% - 112px); }
        body main header .user-info .name {
          font-size: 32px; }
        body main header .user-info .extra {
          font-size: 15px;
          color: rgba(255, 255, 255, 0.5); }
    body main #projects {
      height: 50vh;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      body main #projects h2 {
        padding: 24px;
        background-color: #fff; }
      body main #projects .header {
        display: flex;
        justify-content: space-between;
        padding: 16px; }
        body main #projects .header div {
          flex-basis: 20%;
          font-weight: 500; }
      body main #projects .project {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-color: #fff;
        cursor: pointer; }
        body main #projects .project:nth-child(even) {
          background-color: rgba(255, 255, 255, 0.5); }
        body main #projects .project div {
          flex-basis: 20%; }
    body main #user-groups {
      height: calc(50vh - 144px - 56px); }
      body main #user-groups h2 {
        padding: 24px;
        background-color: #fff; }
  body aside {
    flex-basis: 24%;
    height: calc(100vh - 56px);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #fff; }
    body aside h2 {
      padding: 24px;
      background-color: #f0f0f0; }

/*# sourceMappingURL=user-profile.css.map */
