@charset "UTF-8";
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.04); }

::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24); }

body {
  margin: 0;
  background-color: #f0f0f0;
  color: #414141;
  font-size: 13px;
  /*float-alert-toast - position it at the top-center of the screen*/ }
  body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; }
  body h1, body h2, body h3, body h4 {
    font-weight: 400; }
  body h1 {
    font-size: 19px; }
  body h2 {
    font-size: 17px; }
  body h3 {
    font-size: 15px; }
  body a, body a:hover, body a:active, body a:visited, body a:focus {
    text-decoration: none; }
  body a, body button, body input[type="submit"], body input[type="button"], body .btn, body .btn:focus, body button:focus {
    text-transform: uppercase;
    outline: none; }
  body button {
    background-color: #fff;
    color: #414141;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s all ease-in-out; }
  body label {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    display: inline-block; }
  body .float-alert-toast {
    display: none;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    right: 10%;
    /* Towards the right */
    top: 30px;
    /* 30px from the top */ }

nav {
  flex-basis: 100%;
  height: 56px;
  background-color: #004d4d;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
  nav a:hover, nav a:active {
    color: #fff; }
  nav h1, nav h2, nav h3, nav h4, nav a {
    margin: 0;
    text-transform: uppercase; }
  nav #left-part {
    display: flex;
    align-items: center; }
    nav #left-part h2 {
      font-size: 1.5em;
      margin-left: 16px;
      color: #fff; }
    nav #left-part #deep-logo-container {
      width: 36px;
      flex-shrink: 0;
      flex-grow: 0; }
      nav #left-part #deep-logo-container img {
        width: 100%; }
  nav .dropdown {
    flex-basis: 232px;
    position: relative;
    cursor: pointer;
    outline: none; }
    nav .dropdown .dropdown-toggle {
      color: rgba(255, 255, 255, 0.7);
      display: flex;
      justify-content: space-around; }
      nav .dropdown .dropdown-toggle .fa {
        margin-right: 10px; }
    nav .dropdown .items {
      position: absolute;
      top: calc(8px + 56px / 2);
      right: 0;
      background-color: #fff;
      width: 100%;
      min-width: 200px;
      z-index: 1011;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3); }
      nav .dropdown .items hr {
        border: 1px solid rgba(0, 0, 0, 0.05);
        margin: 0; }
      nav .dropdown .items a, nav .dropdown .items button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 16px;
        text-transform: uppercase;
        color: #414141;
        cursor: pointer;
        outline: none;
        border: none;
        text-decoration: none;
        background-color: transparent; }
        nav .dropdown .items a .fa, nav .dropdown .items button .fa {
          width: 32px; }
        nav .dropdown .items a:hover, nav .dropdown .items button:hover {
          background-color: rgba(0, 0, 0, 0.1); }

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden; }
  body h1, body h2, body h3, body h4, body a {
    margin: 0;
    text-transform: uppercase; }
  body #add-members-modal {
    width: 960px; }
    body #add-members-modal header {
      justify-content: space-between; }
      body #add-members-modal header #search-input-wrapper {
        flex-basis: 50%;
        padding: 8px 10px;
        background-color: #f0f0f0; }
        body #add-members-modal header #search-input-wrapper .fa {
          width: 24px;
          box-sizing: border-box;
          color: rgba(0, 0, 0, 0.3); }
        body #add-members-modal header #search-input-wrapper input {
          font-size: 15px;
          width: calc(100% - 28px);
          box-sizing: border-box;
          background-color: transparent;
          border: none;
          outline: none; }
    body #add-members-modal .user {
      flex-basis: 30%;
      background-color: #fff;
      display: flex;
      margin: 8px;
      height: 72px;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      position: relative; }
      body #add-members-modal .user .img-container {
        flex-basis: 48px;
        box-sizing: border-box;
        padding: 0 4px;
        flex-shrink: 0;
        flex-grow: 0; }
        body #add-members-modal .user .img-container img {
          margin: 8px;
          width: 100%;
          border: 2px solid #3498db;
          border-radius: 50%;
          -webkit-user-select: none;
          background-color: #f0f0f0; }
      body #add-members-modal .user .user-details {
        padding: 0 24px;
        flex-basis: calc(100% - 48px - 24px); }
        body #add-members-modal .user .user-details > * {
          word-break: break-all; }
        body #add-members-modal .user .user-details .name {
          text-transform: uppercase;
          font-weight: 500; }
        body #add-members-modal .user .user-details .extra {
          color: rgba(0, 0, 0, 0.5);
          font-weight: 300;
          font-size: 12px; }
        body #add-members-modal .user .user-details .admin {
          display: none; }
      body #add-members-modal .user .action-container {
        position: absolute;
        align-self: flex-start;
        bottom: -72px;
        right: 0;
        cursor: pointer;
        width: 100%;
        height: 72px;
        align-items: stretch;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.2s all ease-in-out;
        display: flex; }
        body #add-members-modal .user .action-container > div {
          flex-basis: 50%;
          transition: 0.2s all ease-in-out;
          text-align: center; }
          body #add-members-modal .user .action-container > div p {
            color: #fff; }
          body #add-members-modal .user .action-container > div label {
            font-size: 12px;
            font-weight: 300;
            color: #fff; }
        body #add-members-modal .user .action-container .add-admin-btn:hover {
          background-color: #e74c3c; }
        body #add-members-modal .user .action-container .add-member-btn:hover {
          background-color: #3498db; }
      body #add-members-modal .user.admin .admin {
        display: inherit; }
    body #add-members-modal .input-container {
      padding: 0; }
    body #add-members-modal .search-container {
      height: 40vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: calc(5% + 16px);
      align-items: flex-start;
      overflow-y: auto;
      background-color: #f0f0f0;
      z-index: 5; }
      body #add-members-modal .search-container .user:hover {
        box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); }
        body #add-members-modal .search-container .user:hover .action-container {
          bottom: 0; }
    body #add-members-modal .selected-container-wrapper {
      position: relative;
      z-index: 6;
      background-color: #414141;
      height: 144px; }
      body #add-members-modal .selected-container-wrapper h4 {
        padding: 16px 0 8px 16px;
        color: #fff;
        height: 32px; }
      body #add-members-modal .selected-container-wrapper .selected-container {
        height: 112px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 16px;
        margin-right: 16px; }
        body #add-members-modal .selected-container-wrapper .selected-container::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.24); }
        body #add-members-modal .selected-container-wrapper .selected-container::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, 0.08);
          border: 1px solid rgba(0, 0, 0, 0.04); }
        body #add-members-modal .selected-container-wrapper .selected-container .user {
          flex-shrink: 0;
          flex-grow: 0; }
          body #add-members-modal .selected-container-wrapper .selected-container .user .action-container {
            align-self: flex-start;
            flex-grow: 0;
            flex-shrink: 0;
            right: 0;
            top: 0;
            cursor: pointer;
            flex-basis: 24px;
            height: 24px;
            width: 24px;
            align-items: center;
            background-color: #fff;
            border: 1px solid #e74c3c;
            transition: 0.2s all ease-in-out;
            vertical-align: sub; }
            body #add-members-modal .selected-container-wrapper .selected-container .user .action-container .fa {
              font-size: 18px;
              padding: 2px;
              margin-left: 2px;
              height: 24px;
              font-weight: 300;
              color: #e74c3c;
              transition: 0.2s all ease-in-out; }
  body main {
    flex-basis: 76%; }
    body main header {
      position: relative;
      z-index: 5;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      height: 168px;
      background-color: #008080;
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3); }
      body main header #logo-input {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        left: -100px;
        top: -100px; }
      body main header #group-logo {
        width: 112px;
        height: 112px;
        margin-left: 24px;
        margin-right: 10px;
        object-fit: contain; }
      body main header #group-info {
        flex-basis: calc(100% - 144px - 112px);
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body main header #group-info h2 {
          font-size: 32px;
          color: #fff;
          margin-bottom: 10px;
          padding: 4px 10px; }
        body main header #group-info .extra {
          font-size: 15px;
          padding: 4px 10px;
          color: rgba(255, 255, 255, 0.5); }
        body main header #group-info [contenteditable="true"] {
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          outline: none;
          text-transform: none; }
          body main header #group-info [contenteditable="true"]:focus {
            border-bottom: 2px solid rgba(0, 0, 0, 0.3); }
      body main header .action-buttons {
        flex-basis: 96px;
        font-size: 1.5em;
        text-align: center;
        align-self: flex-start;
        padding: 16px;
        display: flex;
        justify-content: space-between; }
        body main header .action-buttons a {
          cursor: pointer;
          color: white; }
      body main header #navigator {
        flex-basis: 60%;
        align-self: flex-end;
        background-color: transparent;
        height: 48px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start; }
        body main header #navigator a {
          text-align: center;
          padding: calc(calc(48px - 13px) / 2) 32px 0 32px;
          font-size: 15px;
          cursor: pointer;
          color: #fff;
          box-sizing: border-box;
          vertical-align: baseline; }
          body main header #navigator a.nav-active {
            border-bottom: 2px solid #fff; }
      body main header #search-items-wrapper {
        flex-basis: 30%;
        padding: 8px 10px;
        margin-right: 96px;
        align-self: center;
        background-color: #f0f0f0; }
        body main header #search-items-wrapper .fa {
          width: 24px;
          box-sizing: border-box;
          color: rgba(0, 0, 0, 0.3); }
        body main header #search-items-wrapper input {
          font-size: 15px;
          width: calc(100% - 28px);
          box-sizing: border-box;
          background-color: transparent;
          border: none;
          outline: none; }
    body main section {
      position: relative; }
      body main section .floating-btn {
        position: absolute;
        right: 28px;
        top: -32px;
        border-radius: 50%;
        height: 56px;
        width: 56px;
        z-index: 6;
        border: none;
        background-color: #3498db;
        color: #fff;
        font-size: 24px;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;
        transform: scale(1);
        opacity: 1; }
      body main section .btn-animation {
        transform: scale(0);
        opacity: 0; }
      body main section #clear-selection-toast {
        position: absolute;
        right: 35%;
        bottom: -172px;
        width: 30%;
        border-radius: 3px;
        height: 72px;
        z-index: 6;
        background-color: #414141;
        color: #fff;
        box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px; }
        body main section #clear-selection-toast > div {
          margin: 0 16px;
          color: rgba(255, 255, 255, 0.7);
          text-transform: uppercase; }
          body main section #clear-selection-toast > div span {
            margin-right: 8px;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.8); }
        body main section #clear-selection-toast .clear-btn {
          cursor: pointer;
          text-transform: uppercase;
          color: #fff; }
      body main section .clear-selection-show {
        bottom: 0 !important; }
      body main section #members-wrapper {
        height: calc(100vh - 144px - 56px); }
        body main section #members-wrapper #members {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          max-height: 100%;
          overflow-y: auto;
          padding: 16px; }
          body main section #members-wrapper #members .member {
            flex-basis: 23.5%;
            background-color: #fff;
            margin: 8px;
            margin-top: 16px;
            height: 96px;
            box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-items: center; }
            body main section #members-wrapper #members .member .img-container {
              flex-basis: 64px;
              box-sizing: border-box;
              padding: 0 4px;
              flex-shrink: 0;
              cursor: pointer;
              flex-grow: 0; }
              body main section #members-wrapper #members .member .img-container img {
                margin: 8px;
                width: 100%;
                border: 2px solid #3498db;
                border-radius: 50%;
                -webkit-user-select: none;
                background-color: #f0f0f0; }
            body main section #members-wrapper #members .member .member-details {
              padding: 0 24px;
              cursor: pointer;
              flex-basis: calc(100% - 56px - 32px); }
              body main section #members-wrapper #members .member .member-details > * {
                word-break: break-all; }
              body main section #members-wrapper #members .member .member-details .name {
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 6px; }
              body main section #members-wrapper #members .member .member-details .extra {
                color: rgba(0, 0, 0, 0.5);
                font-weight: 300;
                font-size: 12px; }
              body main section #members-wrapper #members .member .member-details .admin {
                display: none; }
            body main section #members-wrapper #members .member .action-container {
              align-self: flex-start;
              flex-grow: 0;
              flex-shrink: 0;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: stretch;
              cursor: pointer;
              flex-basis: 24px;
              height: 96px;
              align-items: center;
              transition: 0.2s all ease-in-out; }
              body main section #members-wrapper #members .member .action-container > div {
                border: 1px solid transparent;
                flex-basis: 100%; }
                body main section #members-wrapper #members .member .action-container > div .fa {
                  transform: scale(0);
                  font-size: 16px;
                  height: 24px;
                  padding: 4px;
                  box-sizing: border-box;
                  font-weight: 300;
                  color: rgba(0, 0, 0, 0.3);
                  transition: 0.2s all ease-in-out; }
            body main section #members-wrapper #members .member.cannot-edit .action-container {
              display: none; }
            body main section #members-wrapper #members .member:not(.cannot-edit):hover {
              box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); }
              body main section #members-wrapper #members .member:not(.cannot-edit):hover .action-container > div {
                border: 1px solid rgba(0, 0, 0, 0.3); }
                body main section #members-wrapper #members .member:not(.cannot-edit):hover .action-container > div .fa {
                  transform: scale(1); }
              body main section #members-wrapper #members .member:not(.cannot-edit):hover .action-container .check-action:hover .fa {
                color: #008080; }
              body main section #members-wrapper #members .member:not(.cannot-edit):hover .action-container .add-admin-action:hover .fa {
                color: #e74c3c; }
              body main section #members-wrapper #members .member:not(.cannot-edit):hover .action-container .delete-action:hover .fa {
                color: #e74c3c; }
            body main section #members-wrapper #members .member.admin .admin {
              display: inherit; }
            body main section #members-wrapper #members .member.admin .img-container img {
              border: 2px solid #e74c3c; }
          body main section #members-wrapper #members .member-selected {
            background-color: rgba(0, 0, 0, 0.05);
            box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.4); }
            body main section #members-wrapper #members .member-selected .action-container .check-action {
              background-color: #fff;
              border: 1px solid #008080; }
              body main section #members-wrapper #members .member-selected .action-container .check-action .fa {
                transform: scale(1);
                color: #008080; }
            body main section #members-wrapper #members .member-selected:hover .action-container .check-action {
              border: 1px solid #008080; }
      body main section #projects-wrapper {
        height: calc(100vh - 144px - 56px); }
        body main section #projects-wrapper .name {
          flex-basis: 30%; }
        body main section #projects-wrapper .type {
          flex-basis: 30%; }
        body main section #projects-wrapper .countries {
          flex-basis: 25%; }
        body main section #projects-wrapper .start-date {
          flex-basis: 15%; }
        body main section #projects-wrapper #projects-header {
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 16px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          margin-right: 12px; }
          body main section #projects-wrapper #projects-header label {
            margin: 0; }
            body main section #projects-wrapper #projects-header label[data-sort] {
              cursor: pointer; }
            body main section #projects-wrapper #projects-header label.asc:after {
              content: '⇂';
              color: #008080; }
            body main section #projects-wrapper #projects-header label.dsc:after {
              content: '↾';
              color: #008080; }
        body main section #projects-wrapper #projects {
          height: calc(100% - 48px);
          overflow-y: scroll;
          border-bottom: 2px solid rgba(0, 0, 0, 0.05); }
          body main section #projects-wrapper #projects .project {
            min-height: 56px;
            padding: 10px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer; }
            body main section #projects-wrapper #projects .project:nth-child(even) {
              background-color: #fff; }
            body main section #projects-wrapper #projects .project:hover {
              background-color: rgba(0, 0, 0, 0.2); }
  body aside {
    flex-basis: 24%;
    height: calc(100vh - 56px);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #fff; }
    body aside header {
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      background-color: #f0f0f0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
    body aside #activity-log {
      height: calc(100vh - 56px - 48px);
      overflow-y: auto; }
      body aside #activity-log .activity {
        padding: 10px;
        margin-bottom: 6px; }
        body aside #activity-log .activity date {
          float: right;
          font-family: 'Inconsolata', monospace; }
        body aside #activity-log .activity h3 {
          display: inline-block;
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase; }
        body aside #activity-log .activity a {
          display: block;
          text-transform: none;
          cursor: pointer;
          font-size: 12px;
          color: #008080; }
        body aside #activity-log .activity:nth-child(even) {
          background-color: #f5f5f5; }

/*# sourceMappingURL=user-group-panel.css.map */
