{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | User Group Panel
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/user-group-panel.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/modal.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/floating-button.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/usergroup/user-group-panel.js' %}"></script>

<script>
let crisis_panel_url = '{% url "custom_admin:crisis_panel" %}';
let userGroupPk = '{{ usergroup.pk }}';
let activities = [
    {% for activity in activities %}
    $.extend(
        {
            timestamp: new Date('{{ activity.timestamp.isoformat }}'),
            user: {
                pk: '{{activity.user.pk}}', name: '{{activity.user.get_full_name}}'
            },
            {% if activity.group %}
            group: {
                pk: '{{activity.group.pk}}', name: '{{activity.group.name}}'
            }
            {% endif %}
        },
        JSON.parse('{{activity.activity|escapejs}}')
    ),
    {% endfor %}
];

</script>

{% endblock %}

{% block body %}

<nav>
    <header>
        <a title="DEEP" href="{% url 'login' %}"><img class="deep-logo" src="{% watchful_static_url 'img/deep-logo-sm-white.png' %}"></a>
        <h1>User Group Management</h1>
    </header>
    <!-- <a href="{% url 'login' %}"><i class="fa fa-long-arrow-left"></i>Back to DEEP</a> -->
    <a onclick="window.location.href = document.referrer;"><i class="fa fa-long-arrow-left"></i>Back</a>
</nav>

<main>
    <header>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="logo" id="logo-input" accept="image/*">
            <input id="form-group-name" name="name" type="hidden">
            <input id="form-group-description" name="description" type="hidden">
        </form>
        <img id="group-logo" src="{% if usergroup.photo %}{{ usergroup.photo.url }}{% else %}{% watchful_static_url 'img/default-user-group.png' %}{% endif %}">
        <div id="group-info">
            <h2 id="group-name" class="editable">{{ usergroup.name }}</h2>
            <div id="group-description" class="extra editable">{{ usergroup.description }}</div>
        </div>
        <div class="action-buttons">
            {% if request.user in usergroup.admins.all %}
            <a id="save-group-info-btn" hidden><i class="fa fa-save"></i></a>
            <a id="edit-group-info-btn" ><i class="fa fa-edit"></i></a>
            <a id="save-group-info-progress-btn" hidden><i class="fa fa-spinner fa-pulse"></i></a>
            {% endif %}
        </div>
        <div id="navigator">
            <a data-target="#members-wrapper" class="nav-active">Members</a>
            <a data-target="#projects-wrapper">Projects</a>
            <a data-target="#templates-wrapper">Templates</a>
        </div>
        <div id="search-items-wrapper">
            <i class="fa fa-search"></i>
            <input id="search-items" type="text" placeholder="Search">
        </div>
    </header>

    <section>
        <div id="members-wrapper">
            <div id="members">
                {% for member in usergroup.members.all %}
                <div class="member {% if member in usergroup.admins.all %}admin{% endif %} {% if member == request.user or request.user not in usergroup.admins.all %}cannot-edit{% endif %}" data-url="{% url 'user_profile' member.pk %}" data-pk="{{member.pk}}">
                    <div class="img-container">
                        <img src="{% watchful_static_url 'img/default-avatar.png' %}">
                    </div>
                    <div class="member-details">
                        <div class="name">{{member.get_full_name}}</div>
                        <div class="extra">{{member.email}}</div>
                        <div class="admin">Admin</div>
                    </div>
                    <div class="action-container">
                        <div class="check-action"><i class="fa fa-check"></i></div>
                        <div class="add-admin-action"><i class="fa fa-user-secret"></i></div>
                        <div class="delete-action"><i class="fa fa-trash-o"></i></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="projects-wrapper" hidden>
            <div id="projects-header">
                <label class="name" data-sort=".name">Name</label>
                <label class="type" data-sort=".type">Type</label>
                <label class="countries" data-sort=".countries">Countries</label>
                <label class="start-date" data-sort=".start-date date">Start Date</label>
            </div>
            <div id="projects">
                {% for crisis in usergroup.projects.all %}
                <div class="project" data-url="{% url 'custom_admin:crisis_panel' %}?selected={{crisis.pk}}">
                    <div class="name">{{crisis.name}}</div>
                    <div class="type">{{crisis.disaster_type.name}}</div>
                    <div class="countries">{% for country in crisis.countries.all %}{{country}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                    <div class="start-date"><date hidden>{{crisis.start_date|date:"Y-m-d"}}</date>{{crisis.start_date}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="templates-wrapper" hidden>
            <div id="templates">
                Templates
            </div>
        </div>
        <div id="clear-selection-toast">
            <div><span></span>Selected</div>
            <div class="clear-btn">Clear selection</div>
        </div>
        {% if request.user in usergroup.admins.all %}<button class="floating-btn" id="add-members">+</button>{% endif %}
    </section>
</main>
<aside>
    <header>
        <h2>Activity log</h2>
    </header>
    <div id='activity-log'>
    </div>
    <div class='activity-template' hidden>
        <h3></h3>
        <date></date>
        <a></a>
    </div>
</aside>
<div class="modal-container" hidden>
    <div id="add-members-modal" class="modal" hidden>
        <header>
            <h3 class="modal-title">Add Members</h3>
            <div id="search-input-wrapper">
                <i class="fa fa-search"></i>
                <input id="search-users" name="logo" type="text" placeholder="Search for users">
            </div>
        </header>
        <div class="search-container">
            {% for user in users.all %}
            <div class="user" data-pk="{{user.pk}}">
                <div class="img-container">
                    <img src="{% watchful_static_url 'img/default-avatar.png' %}">
                </div>
                <div class="user-details">
                    <div class="name">{{user.get_full_name}}</div>
                    <div class="extra">{{user.email}}</div>
                    <div class="admin">Admin</div>
                </div>
                <div class="action-container">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="selected-container-wrapper">
            <h4>Selected</h4>
            <div class="selected-container">
            </div>
        </div>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
            <button id="ok-btn" class="success" data-action="proceed"><i class="fa fa-plus"></i>Add selected</button>
        </div>
    </div>
</div>
{% endblock %}
