.display-card{
    position: absolute;
    z-index: 1;
    color: #fff;

    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #414141;
    border-radius: 5px;
    cursor: default;
    @include shadow();

    &.focus {
        display: flex;
    }
    a {
        color: #fff;
    }
    .severity-color{
        flex-basis: 36px;
        flex-grow: 0;
        flex-shrink: 0;
        width: 0;
        height: 0;
        border-top: 36px solid blue;
        border-right: 36px solid transparent;
        border-top-radius: 5px;
        margin-bottom: 8px;
    }
    .source-url{
        flex-basis: 24px;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 6px 4px;
        cursor: pointer;
    }
    .source-excerpt-container{
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0 24px;
        margin: -16px 0;
        text-align: justify;

        .source-details{
            flex-wrap: wrap;
            align-items: flex-start;

            >div{
                display: flex;
                flex-wrap: wrap;
                flex-basis: 100%;
                margin-bottom: 8px;
                align-items: baseline;

                label{
                    text-align: left;
                    color: #fff;
                    width: 72px;
                }
                span{
                    flex-basis: calc(100% - 72px);
                    align-self: flex-end;
                }
            }
        }
    }
    .source-flip{
        flex-basis: 24px;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: flex-end;
        padding: 4px 6px;
        cursor: pointer;
    }
    .reliability-color{
        flex-basis: 36px;
        flex-grow: 0;
        flex-shrink: 0;
        width: 0;
        height: 0;
        border-bottom: 36px solid red;
        border-left: 36px solid transparent;
    }
    &:before {
        content:"";
        position: absolute;
        width: 0;
        height: 0;

    }

    .reliability-color {
        @for $i from 0 through 6 { &._#{$i}{ border-bottom: 36px solid lighten($reliability-base, (6-$i)*10); } }
    }
    .severity-color {
        @for $i from 0 through 6 { &._#{$i}{ border-top: 36px solid lighten($severity-base, (6-$i)*10); } }
    }
}
.display-card-left{
    right: calc(100% + 16px);
    top: auto;
    bottom: auto;
    left: auto;
    width: 380px;

    &:before{
        bottom: auto;
        left: auto;
        right: -16px;
        top: 16px;
        border-top: 8px solid transparent;
        border-left: 16px solid #414141;
        border-bottom: 8px solid transparent;
    }
}
.display-card-right{
    left: calc(100% + 16px);
    top: 0;
    bottom: auto;
    right: auto;
    width: 320px;

    &:before{
        bottom: auto;
        left: -16px;
        right: auto;
        top: 16px;
        border-top: 8px solid transparent;
        border-right: 16px solid #414141;
        border-bottom: 8px solid transparent;
    }
}
.display-card-top{
    left: auto;
    top: auto;
    right: auto;
    bottom: calc(100% + 16px);
    width: 360px;

    &:before{
        top: auto;
        right: auto;
        bottom: -16px;
        left: calc(50% - 10px);
        border-right: 8px solid transparent;
        border-top: 16px solid #414141;
        border-left: 8px solid transparent;
    }
}
.display-card-bottom{
    left: auto;
    bottom: auto;
    right: auto;
    top: calc(100% + 16px);
    width: 360px;

    &:before{
        bottom: auto;
        right: auto;
        top: -16px;
        left: calc(50% - 10px);
        border-right: 8px solid transparent;
        border-bottom: 16px solid #414141;
        border-left: 8px solid transparent;
    }
}
&:nth-child(odd){
    background-color: #f5f5f5;
}
