@import 'common/base';
@import 'common/navbar';

body{
    height: 100vh;
    background-color: red;
    @import 'entries/add-template-entries-page-one';
    @import 'entries/add-template-entries-page-two';

    .modal{
        height: 800px;
        width: 800px !important;
        .map-section{
            position: relative;

            .map{
                height: 537px;
                width: 100%;
            }

            .buttons-container{
                text-align: center;
                padding: 4px;
                background-color: #f0f0f0;
            }

            .reload-map-button {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1000;
                padding: 4px 8px;
            }
        }
        .control-section{
            padding: 10px 16px 0 16px;

            label{
                margin-bottom: 6px;
            }
            .selectize-control{
                margin-bottom: 16px;
            }
        }
    }
}
