@import 'common/base';

body{
    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    header{
        background-color: darken($primary-color, 10%);
        color: #fff;
        height: $navbar-height;
        @include shadow();

        h1{
            padding-top: ($navbar-height - $text-size-sl)/2;
        }
        a{
            color: #fff;
            padding-top: ($navbar-height - $text-size-md)/2;
            float: right;

            i{
                margin-right: 10px;
            }
            &:hover{
                color: #eee;
            }
        }
    }
    main{
        #country-list{
            margin-top: 24px;
            padding: 16px;
            height: calc(100vh - #{$navbar-height} - 32px);

            h2{
                font-weight: bold;
                font-size: $text-size-sl;
                margin-bottom: 32px;
                margin-top: 8px;
            }
            button{
                float: right;
                @include btn-shadow-lg();

                i{
                    margin-right: 10px;
                }
            }
            input{
                margin-bottom: 16px;
            }

            #countries {
                overflow-y: auto;
                height: calc(100% - 96px);

                .country{
                    padding: 16px;
                    border-top: 1px solid rgba(0, 0, 0, 0.05);
                    cursor: pointer;

                    &.active {
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
        #wrapper{
            padding: 0;
            @include shadow();

            #navigator{
                padding: 16px;
                background-color: #fafafa;
                height: 48px;

                a{
                    display: inline-block;
                    padding: 0 24px;
                    padding-bottom: 8px;
                    cursor: pointer;
                }
                .nav-active{
                    border-bottom: 2px solid $primary-color;
                }
                section{
                    margin-top: -8px;
                    display: inline-block;
                    float: right;

                    #save-btn, #delete-btn{
                        margin-left: 16px;
                        @include btn-shadow-sm();

                        .fa{
                            margin-right: 10px;
                        }
                    }
                }
            }
            #content-wrapper{
                #country-detail{
                    background-color: #fff;
                    height: calc(100vh - #{$navbar-height} - 48px);
                    padding: 24px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    h2{
                        font-weight: bold;
                        font-size: $text-size-sl;
                        margin-bottom: 32px;
                        margin-top: 10px;
                    }
                    #the-map{
                        height: 400px;

                        path {
                            stroke: #717171;
                            stroke-width: 1px;
                            stroke-linejoin: round;
                        }
                    }
                    #map-controls{
                        text-align: center;
                        padding: 8px;
                        max-width: 80%;
                        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
                        background-color: rgba(255, 255, 255, 0.88);
                        position: absolute;
                        left: 10%;
                        bottom: 24px;
                        border-radius: 3px;

                        #admin-level-buttons{
                            button{
                                margin: 4px!important;
                            }
                        }
                    }
                    #country-detail-inputs{
                        margin-bottom: 72px;
                    }

                    h3{
                        margin-top: -10px;
                        margin-bottom: 16px;
                    }
                    .admin-level-details{
                        background-color: #f0f0f0;
                        padding: 16px 24px;
                        margin-left: -24px;
                        margin-right: -24px;

                        &:nth-child(even){
                            background: #fafafa;
                        }

                        .file-input {
                            width: 0.1px;
                            height: 0.1px;
                            opacity: 0;
                            overflow: hidden;
                            position: absolute;
                            z-index: -1;
                        }
                        .file-input + label {
                            margin-left: 10px;
                            margin-right: 10px;
                            padding: 6px 24px;
                            background-color: #fff;
                            font-size: 1em;
                            border-radius: 3px;
                            display: inline-block;
                            cursor: pointer;
                            @include btn-shadow-sm();

                            i{
                                margin-right: 10px;
                            }
                        }
                        .file-input:focus + label,
                        .file-input + label:hover {
                        }
                        .geojson-current{
                            display: inline-block;
                        }
                        .delete-admin-level{
                            float: right;
                            cursor: pointer;
                            font-size: $text-size-lg;
                            color: #e74c3c;
                            padding-top: 16px;

                            input{
                                margin-right: 10px;
                                margin-top: 0;
                                vertical-align: middle;
                                border: none;
                                box-shadow: none;
                            }
                            span{
                                display: inline-block;
                            }
                        }
                    }
                    #add-new-admin-level{
                        margin-top: 16px;
                        @include btn-shadow-sm();

                        i{
                            margin-right: 10px;
                        }
                    }
                }
                #key-figures{
                    background-color: #fff;
                    height: calc(100vh - #{$navbar-height} - 48px);
                    padding: 24px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    .key-figure{
                        margin-bottom: 48px;

                        h2{
                            font-weight: bold;
                            font-size: $text-size-sl;
                            margin-top: 10px;
                            margin-bottom: 8px;
                        }
                    }
                }
                #population-data{
                    background-color: #fff;
                    height: calc(100vh - #{$navbar-height} - 48px);
                    padding: 24px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
                #seasonal-calendar{
                    background-color: #fff;
                    height: calc(100vh - #{$navbar-height} - 48px);
                    padding: 24px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            }
        }

    }

}
