@import 'common/base';

body{
    background-color: #f0f0f0;

    label{
        text-transform: uppercase;
        color: #969696;
        font-size: 0.9em;
    }
    h2{
        text-transform: uppercase;
    }
    h3{
        text-transform: uppercase;
    }
    h4{
        text-transform: uppercase;
    }

    header{
        background-color: $primary-color;
        color: #fff;
        padding: 24px;
        height: 60px;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);

        h1{
            text-transform: uppercase;
            font-size: 1.5em;
            margin: 0;
        }
        a{
            color: #fff;
            float: right;
            i{
                margin-right: 10px;
            }

            &:hover{
                color: #eee;
            }
        }
    }
    main{
        #country-list{
            background-color: #fff;
            height: calc(100vh - 100px);
            margin-top: 24px;
            overflow-y: scroll;

            .country{
                padding: 16px 24px;
                border-bottom: 1px solid #f0f0f0;
                cursor: pointer;
            }
            .active{
                background-color: $primary-color;
                color: #fff;
            }
        }
        #country-detail{
            height: calc(100vh - 120px);
            margin-top: 40px;

            #the-map{
                height: 400px;

                path {
                    stroke: #717171;
                    stroke-width: 1px;
                    stroke-linejoin: round;
                }
                .leaflet-top{
                    z-index: 1;
                    top: auto;
                    bottom: 24px;
                    left: 24px;
                }
            }

            h3{
                margin-top: 32px;
                margin-bottom: 24px;
            }
            .admin-level-details{
                background: #fafafa;
                padding: 16px;
                margin-bottom: 8px;
            }
            #add-new-admin-level-div{
                background: #fafafa;
                padding: 16px;
                margin-bottom: 8px;
            }
            #add-new-admin-level{
                margin-top: 16px;
            }
        }
    }

}
