@import 'common/base';
@import 'common/simplified-navbar';

body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    a{
        color: $primary-color;
        cursor: pointer;
    }
    label{
        margin-bottom: 4px;
    }
    input[type="text"], input[type="number"], input[type="url"], input[type="search"]{
        width: 100%;
        padding: 6px 10px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        background-color: #fff;

        &:focus{
            border-color: $primary-color;
        }
    }
    aside{
        $countries-header-height: 144px;
        flex-basis: 25%;

        #countries-header{
            height: $countries-header-height;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px 16px 0 16px;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            h2{
                flex-basis: 60%;
                font-weight: $font-weight-bold;
                font-size: $text-size-sl;
            }
            #search-wrapper{
                flex-basis: 100%;
                position: relative;
                margin: 8px 0;

                input{
                    width: 100%;
                    height: 32px;
                    outline: none;
                    padding: 0 16px 0 32px;
                    background-color: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                }
                i{
                    position: absolute;
                    left: 10px;
                    top: 8px;
                    color: rgba(0, 0, 0, 0.3);
                    font-size: 16px;
                }
            }
        }

        #country-list{
            padding: 0 16px;
            height: calc(100vh - #{$navbar-height} - 144px);

            #countries {
                overflow-y: auto;
                height: 100%;

                .country{
                    padding: 16px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    cursor: pointer;

                    &.active {
                        background-color: $primary-color;
                        color: #fff;
                    }
                }
            }
        }
    }
    main{
        flex-basis: 75%;
        @include shadow();

        #navigator{
            background-color: #fafafa;
            box-sizing: border-box;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            .tabs{
                flex-basis: 64%;

                a{
                    font-size: $text-size-md;
                    padding: 10px 16px 14px 16px;
                    cursor: pointer;

                    &.nav-active{
                        border-bottom: 2px solid $primary-color;
                    }
                    &.invalid {
                        color: $primary-color;
                        animation: blink 2s infinite linear;
                    }
                    @keyframes blink{
                        0% { color: $primary-color; }
                        30% { color: $error-color; }
                        70% { color: $error-color; }
                        100% { color: $primary-color; }
                    }
                }
            }
            .action-buttons{
                flex-basis: 36%;
                text-align: right;
                padding-right: 16px;

                button{
                    padding: 6px 16px;
                    color: #fff;
                    @include btn-shadow-sm();

                    .fa{
                        margin-right: 10px;
                    }
                }
                #delete-btn{ background-color: $danger-color; }
                #save-btn{
                    margin-left: 10px;
                    background-color: $info-color;
                }

            }
        }
        #content-wrapper{
            :invalid {
                border-color: $error-color;
            }
            #country-detail > div{
                max-height: calc(100vh - #{$navbar-height} - 48px);
                overflow-y: auto;
                background-color: #fff;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start!important;

                h2, h3{
                    margin: 0;
                }
                #country-detail-header{
                    height: 48px;
                    flex-basis: 100%;
                    padding: 0 24px;
                    display: flex;
                    align-items: center;
                }
                #country-detail-inputs{
                    flex-basis: 40%;
                    align-self: flex-start;
                    padding: 0 10px 0 24px;

                    > div{
                        padding: 5px 0;
                    }
                }
                #map-wrapper{
                    flex-basis: 60%;
                    padding: 0 24px 0 10px;

                    #the-map{
                        height: 440px;

                        path {
                            stroke: #717171;
                            stroke-width: 1px;
                            stroke-linejoin: round;
                        }
                        @include shadow();
                    }
                    #map-controls{
                        #admin-level-buttons{
                            margin-top: 10px;
                            text-align: center;

                            button{
                                padding: 4px 10px;
                                //margin: 4px;
                                //@include shadow();

                                &.active{
                                    background-color: $primary-color;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                #admin-level-list{
                    flex-basis: 100%;
                }
                #admin-level-list-header{
                    display: flex;
                    justify-content: space-between;
                    height: 48px;
                    align-items: center;
                    padding: 0 24px;
                    border-top: 2px solid rgba(0, 0, 0, 0.05);
                    margin-top: 16px;
                }
                .admin-level-details{
                    background-color: #f0f0f0;
                    padding: 16px 24px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;

                    >div{
                        flex-basis: 24%;

                        &:nth-child(6){
                            flex-basis: 80%;
                            margin-top: 16px;

                            .file-input {
                                width: 0.1px;
                                height: 0.1px;
                                opacity: 0;
                                left: 0;
                                top: 0;
                                overflow: hidden;
                                position: absolute;
                                z-index: -1;
                            }
                            .file-input + label {
                                margin-left: 10px;
                                margin-right: 10px;
                                padding: 6px 16px;
                                background-color: #fff;
                                font-size: 1em;
                                border-radius: 3px;
                                display: inline-block;
                                cursor: pointer;
                                @include btn-shadow-sm();

                                i{
                                    margin-right: 10px;
                                }
                            }
                        }
                        &:last-child{
                            flex-basis: 20%;
                            text-align: right;

                            label{
                                cursor: pointer;
                                font-size: $text-size-lg;
                                color: $danger-color;

                                input{
                                    margin-right: 10px;
                                    margin-top: 0;
                                    vertical-align: middle;
                                    border: none;
                                    box-shadow: none;
                                }
                                span{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    &:nth-child(even){
                        background: #fafafa;
                    }
                    .geojson-current{
                        flex-basis: 100%;
                    }
                }
                #add-new-admin-level{
                    background-color: $primary-color;
                    color: #fff;
                    padding: 4px 10px;
                    @include btn-shadow-sm();

                    i{
                        margin-right: 10px;
                    }
                }
            }
            #key-figures{
                background-color: #fff;
                height: calc(100vh - #{$navbar-height} - 48px);
                padding: 24px;
                overflow-y: scroll;
                overflow-x: hidden;

                .key-figure{
                    margin-bottom: 32px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    h2{
                        font-weight: bold;
                        flex-basis: 100%;
                        font-size: $text-size-lg;
                        margin-top: 10px;
                        margin-bottom: 8px;
                    }
                    input:read-only{
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                    >div{
                        flex-basis: 30%;
                        padding: 0 8px;

                        >div{
                            padding: 6px 0;
                        }
                    }
                }
            }
            #population-data{
                background-color: #fff;
                height: calc(100vh - #{$navbar-height} - 48px);
                padding: 24px;
                overflow-y: scroll;
                overflow-x: hidden;

                >div{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;

                    >div{
                        flex-basis: 30%;
                        margin: 8px 4px;

                        &:nth-child(2){
                            flex-basis: 50%;
                        }
                    }
                }
            }
            #seasonal-calendar{
                background-color: #fff;
                height: calc(100vh - #{$navbar-height} - 48px);
                padding: 24px;
                overflow-y: scroll;
                overflow-x: hidden;
            }
            #media-sources > div{
                background-color: #fff;
                height: calc(100vh - #{$navbar-height} - 48px);
                padding: 24px;
                display: flex;
                justify-content: space-between;


                >div{
                    flex-basis: 33%;
                    overflow: auto;

                    .media-source-header{
                        padding: 10px 24px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;

                        a{
                            cursor: pointer;
                            margin: 0;
                        }
                    }
                    label{
                        flex-basis: 100%;
                    }

                    .media-source {
                        padding: 10px 24px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        input {
                            flex-basis: 90%;

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }
                        }

                        a {
                            &.remove-source-btn {
                                color: #e04756;
                            }
                            &.fa-twitter {
                                font-size: 1.2em;
                            }
                            cursor: pointer;
                        }

                        &:nth-child(odd) {
                            background-color: #f0f0f0;
                        }

                    }
                }
            }

            .last-checked-date {
                color: $label-color;
                flex-basis: 100%;
                margin-bottom: 16px;

                date{
                    color: $text-color;
                    font-family: 'Inconsolata', monospace;
                }
            }
        }
    }

}
