@import 'common/base';

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    h1,h2,h3,h4{
        margin: 0;
        text-transform: uppercase;
    }
    nav{
        flex-basis: 100%;
        height: $navbar-height;
        background-color: darken($primary-color, 10%);
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        @include shadow;

        >header{
            flex-basis: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .deep-logo{
                width: $deep-logo-sm-width;
                margin-right: 24px;
            }
        }
        a{
            color: #fff;
            cursor:pointer;

            .fa{
                margin-right: 10px;
            }
            &:hover{
                color: #fff;
             }
        }
    }
    aside{
        $crisis-header-height: 144px;
        flex-basis: 27%;

        #crisis-header{
            height: $crisis-header-height;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 10px 16px 0 16px;
            align-items: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);

            h2{
                flex-basis: 60%;
                font-weight: $font-weight-bold;
                font-size: $text-size-sl;
                color: $primary-color;
            }
            a{
                //flex-basis: 30%;
                //@include btn-shadow-lg;
                cursor: pointer;
                color: $primary-color;
                .fa{
                    margin-right: 10px;
                }
            }
            #search-wrapper{
                flex-basis: 100%;
                position: relative;
                margin: 8px 0;

                input{
                    width: 100%;
                    height: 32px;
                    padding: 0 16px 0 32px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    background-color: transparent;

                    &:focus{
                        border-color: $primary-color;
                    }
                }
                i{
                    position: absolute;
                    left: 10px;
                    top: 8px;
                    color: rgba(0, 0, 0, 0.3);
                    font-size: 16px;
                }
            }

            #crisis-status-radio{
                flex-basis: 100%;
                align-self: flex-end;

                label{
                    padding: 6px 16px;
                    margin-bottom: 0;
                    cursor: pointer;
                    color: $label-color;
                    vertical-align: bottom;
                    user-select: none;
                }
                .active {
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                }
                input{
                    display: none;
                }
            }
        }
        #crisis-list{
            height: calc(100vh - #{$navbar-height} - #{$crisis-header-height});
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0 16px;

            .crisis{
                padding: 10px 16px;
                cursor: pointer;

                &:nth-child(odd){
                    background-color: #fafafa;
                }

                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
            .crisis.active{
                background-color: $primary-color;
                color: #fff;
            }
        }
    }
    main{
        label {
            margin-bottom: 6px;
            font-weight: bold;
        }
        a {
            margin-bottom: 6px;
            color: $primary-color;
        }
        flex-basis: 60%;
        background-color: #fff;
        height: calc(100vh - #{$navbar-height});
        padding: 10px 32px 0 32px;
        @include shadow;

        .selectize-control{
            margin-bottom: 8px;

            .selectize-input{
                min-height: 32px;
                border-radius: 3px;
                padding: 6px 4px;
            }
        }

        form{
            padding: 10px 16px;

            h2{
                font-weight: $font-weight-bold;
                font-size: $text-size-sl;
                margin-bottom: 32px;
                color: $primary-color;
            }
            >div{
                margin-bottom: 16px;

                >input[type="text"]{
                    width: 100%;
                    height: 32px;
                    padding: 0 16px 0 8px;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    background-color: transparent;

                    &:focus{
                        border-color: $primary-color;
                    }
                }
            }
            #date-field-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;

                div{
                    flex-basis: 48%;

                    input{
                        width: 100%;
                        height: 32px;
                        padding: 0 16px 0 8px;
                        outline: none;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        border-radius: 3px;
                        background-color: transparent;

                        &:focus{
                            border-color: $primary-color;
                        }
                    }
                }
            }
            #crisis-status-wrapper{
                label{
                    margin-right: 16px;
                    cursor: pointer;
                    color: $label-color;
                    vertical-align: bottom;
                }
                .crisis-status{
                    margin: 5px;
                }
                input{
                    outline: none;
                    vertical-align: sub;
                }
            }
            #action-buttons{
                display: flex;
                justify-content: space-between;

                button{
                    padding: 6px 16px;
                    color: #fff;
                    @include btn-shadow-md();

                    .fa{ margin-right: 10px; }
                }
                #save-btn{ background-color: $info-color; }
                #delete-btn{ background-color: $danger-color; }
            }
        }
    }
}
