    @import 'common/base';

body{
    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    header{
        background-color: darken($primary-color, 10%);
        color: #fff;
        height: $navbar-height;
        @include shadow();

        h1{
            padding-top: ($navbar-height - $text-size-sl)/2;
        }
        a{
            color: #fff;
            float: right;
            padding-top: ($navbar-height - $text-size-md)/2;
            i{
                margin-right: 10px;
            }

            &:hover{
                color: #eee;
            }
        }
    }

    main{
        label{
            color: $primary-color;
        }
        h2{
            font-weight: $font-weight-bold;
            font-size: $text-size-sl;
        }
        #crisis-header{
            height: 144px;
            padding: 32px 0 24px 0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);

            h2{
                margin-bottom: 16px;
            }
            #add-new-crisis-btn{
                float: right;
                margin-top: -16px;
                @include btn-shadow-lg();

                .fa{
                    margin-right: 10px;
                }
            }
            #crisis-search{
                outline: none;
                width: 100%;
                border-radius: 3px;
                padding: 6px 16px 6px 40px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                background-color: transparent;
                @include btn-shadow-sm();

                &:focus, &:active{
                    border: 1px solid $primary-color;
                }
            }
            input+.fa{
                float: left;
                margin-top: -24px;
                margin-left: 16px;
                z-index: 1;
                color: rgba(0, 0, 0, 0.5);
            }
            #crisis-status-radio{

                margin-top: 10px;

                label{
                    padding: 6px 16px;
                    cursor: pointer;
                    color: $label-color;
                    vertical-align: bottom;
                    user-select: none;
                }
                .active {
                    color: $primary-color;
                    border-bottom: 2px solid $primary-color;
                }
                input{
                    display: none;
                }
            }
        }

        #crisis-list{
            height: calc(100vh - #{$navbar-height} - 156px);
            overflow-y: auto;
            margin-top: 10px;

            .crisis{
                padding: 10px 16px;
                //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                cursor: pointer;

                &:nth-child(odd){
                    background-color: #fafafa;
                }

                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
            .crisis.active{
                background-color: $primary-color;
                color: #fff;
            }
        }


        #crisis-detail{
            padding: 32px;
            height: calc(100vh - #{$navbar-height} - 5px);
            overflow-y: auto;
            background-color: #fff;
            @include shadow();

            h2{
                margin: 0;
                margin-bottom: 32px;
            }

            #crisis-status{
                label{
                    margin-right: 16px;
                    cursor: pointer;
                    color: $label-color;
                    vertical-align: bottom;
                }
                .crisis-status{
                    margin: 5px;
                }
                input{
                    outline: none;
                    vertical-align: sub;
                }
            }

            .form-control{
                margin-bottom: 16px;
            }
            #action-buttons{
                text-align: right;
                margin-top: 48px;


                button{
                    margin-left: 16px;
                    @include btn-shadow-sm();

                    i{
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
