@import 'common/base';

body{
    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    header{
        background-color: darken($primary-color, 10%);
        color: #fff;
        height: $navbar-height;
        @include shadow();

        h1{
            padding-top: ($navbar-height - $text-size-sl)/2;
        }
        a{
            color: #fff;
            float: right;
            padding-top: ($navbar-height - $text-size-md)/2;
            i{
                margin-right: 10px;
            }

            &:hover{
                color: #eee;
            }
        }
    }

    main{
        label{
            color: $primary-color;
        }
        h2{
            font-weight: $font-weight-bold;
            font-size: $text-size-sl;
        }
        #crisis-list{
            margin-top: 24px;
            padding: 24px;
            height: calc(100vh - #{$navbar-height} - 32px);
            overflow-y: auto;

            h2{
                padding-top: 8px;
            }
            #add-new-crisis-btn{
                float: right;
                @include btn-shadow-lg();

                i{
                    margin-right: 10px;
                }
            }
            .crisis{
                padding: 16px 24px;
                margin-left: -24px;
                margin-right: -24px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                cursor: pointer;
            }
            .active{
                background-color: $primary-color;
                color: #fff;
            }
        }


        #crisis-detail{
            padding: 32px;
            height: calc(100vh - #{$navbar-height} - 5px);
            overflow-y: auto;
            //border-radius: 10px;
            background-color: #fff;
            @include shadow();

            h2{
                margin: 0;
                margin-bottom: 32px;
            }

            #crisis-status{


                label{
                    margin-right: 16px;
                    cursor: pointer;
                    color: $label-color;    
                }
                .crisis-status{
                    margin: 5px;
                }


            }

            .form-control{
                margin-bottom: 16px;
            }
            #action-buttons{
                text-align: right;
                margin-top: 48px;


                button{
                    margin-left: 16px;
                    @include btn-shadow-sm();

                    i{
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}
