@import 'common/base';
@import 'common/navbar';

nav{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

body{
    margin-top: $navbar-height;
    padding: 0;
    background-color: #f5f5f5;
    overflow: hidden;

    #map-section{
        h2{
            display: inline-block;
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 24px 16px 16px 16px;
        }
        #the-map{
            background: transparent;
            height: 44vh;
        }
        #overview{
            height: 44vh;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                margin: 0;
                text-transform: uppercase;
                margin-bottom: 24px;
                color: $primary-color;
            }
            div{
            }
            label{
                color: $text-color;
                font-size: $text-size-xl;
                font-weight: $font-weight-thin;
                vertical-align: super;
            }
            .number{
                display: inline-block;
                text-align: right;
                margin-right: 10px;
                margin-left: 10px;
                font-size: 3em;
                color: $label-color;
                min-width: 4ch;
                font-family: 'Inconsolata', monospace;
            }

        }
    }
    #body{
        box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.3);
        overflow-x: hidden;

        #header{
            height: 48px;
            padding-top: 6px;
            z-index: 1;

            h3{
                margin: 0;
                text-transform: uppercase;
                padding-top: 10px;
            }
        }
        #back-btn{
            position: absolute;
            margin-top: 24px;
            @include btn-shadow-lg();

            .fa{
                margin-right: 10px;
            }
        }

        #timeline-table-wrapper {
            width: 100%;
            overflow-x: hidden;

            #timeline-table-col0-container{
                max-height: calc(56vh - #{$navbar-height} - 48px);
                overflow-y: hidden;
                overflow-x: scroll;
            }
            #timeline-table-container{
                max-height: calc(56vh - #{$navbar-height} - 48px);
                overflow-y: scroll;
            }
            #timeline-table-col0{
                border-right: 1px solid $primary-color;
            }
            #timeline-table, #timeline-table-col0{
                border-collapse: separate;
                @include shadow();

                thead{
                    td{
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                        text-transform: uppercase;
                        background-color: #fff;
                    }
                }
                td{
                    padding: 16px;
                    text-align: center;
                    height: 56px;
                    z-index: 0;
                }
                tr{
                    background-color: #f8f8f8;
                    &:nth-child(even){
                        background-color: #fafafa;
                    }
                    &:not(:last-child){
                        td{
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                .active{
                    background-color: $primary-color;
                    margin: 10px;
                    cursor: pointer;
                    color: #fff;
                    transform: scale(0.98);
                    .fa{
                        transform: scale(2);
                    }
                }
                .country-name{
                    cursor: pointer;
                }
            }
        }
    }
    .country-details{
        thead{
            td{
                &:first-child{
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}
