@import 'common/base';
@import 'common/navbar';

nav{
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
}

body{
    margin-top: $navbar-height;
    padding: 0;
    background-color: #f5f5f5;

    #map-section{
        h2{
            display: inline-block;
            font-size: 1.2em;
            text-transform: uppercase;
            margin: 24px 16px 16px 16px;
        }
        #the-map{
            background: transparent;
            height: 480px;
        }
        #overview{
            padding-top: 32px;
            height: 480px;

            h1{
                margin: 0;
                text-transform: uppercase;
                margin-bottom: 24px;
                color: $primary-color;
                margin-left: 166px;
            }
            div{
                margin-bottom: 16px;
            }
            label{
                margin-left: 16px;
                color: $text-color;
                font-size: $text-size-xl;
                font-weight: $font-weight-thin;
                vertical-align: super;
            }
            .number{
                display: inline-block;
                width: 156px;
                text-align: right;
                font-size: 3.2em;
                color: $label-color;
            }

        }
    }
    #body{
        box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.3);
        min-height: 50vh;

        #filters{
            margin-top: 16px;
        }
        label{
            vertical-align: sub;
        }
        h3{
            text-transform: uppercase;
            margin: 16px 0;
        }

        #back-btn{
            position: absolute;
            margin-top: 24px;
            @include btn-shadow-lg();

            .fa{
                margin-right: 10px;
            }
        }
        #timeline-table-container {
            width: 100%;
            overflow-x: scroll;

            #timeline-table{
                border-collapse: separate;
                @include shadow();

                thead{
                    td{
                        color: $primary-color;
                        border-bottom: 1px solid $primary-color;
                        text-transform: uppercase;
                        background-color: #fff;
                    }
                }
                .overlay-td{
                    width: 176px;
                    position: absolute;
                    box-shadow: 5px 0 10px -5px rgba(0,0,0,0.3);
                    overflow: hidden;

                    & + td{
                        padding-left: 192px;
                    }
                }
                td{
                    padding: 16px;
                    text-align: center;
                    height: 56px;
                }
                tr{
                    background-color: #f8f8f8;
                    &:nth-child(even){
                        background-color: #fafafa;
                    }
                    &:not(:last-child){
                        td{
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        }
                    }
                }
                .active{
                    background-color: $primary-color;
                    margin: 10px;
                    cursor: pointer;
                    color: #fff;
                    transform: scale(0.98);
                    .fa{
                        transform: scale(2);
                    }
                }
                .country-name{
                    cursor: pointer;
                }
            }
        }
    }
    .country-details{
        thead{
            td{
                &:first-child{
                    font-weight: $font-weight-bold;

                }
            }
        }
    }
}
