@import 'common/base';
@import 'common/navbar';

body {
    $map-height: 44vh;

    h1, h2, h3, h4 {
        margin: 0;
        text-transform: uppercase;
    }

    #map {
        display: flex;
        justify-content: space-between;

        #the-map {
            background-color: transparent;
            height: $map-height;
            flex-basis: 75%;

            .info {
                padding: 6px 8px;
                font: 14px/16px Arial, Helvetica, sans-serif;
                background: white;
                background: rgba(255,255,255,0.8);
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
                border-radius: 5px;
                max-width:200px;

                i {
                    width: 18px;
                    height: 18px;
                    float: left;
                    margin-right: 8px;
                    opacity: 0.7;
                }
            }

        }
        #overview{
            height: $map-height;
            overflow: auto;
            flex-basis: 25%;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: #fff;

            path {
                stroke: $primary-color;
                stroke-width: 1;
                fill: none;
            }

            >h3 {
                text-align: center;
                margin: 0;
                padding: 12px 0;
                background-color: #fff;
                font-size: 2em;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            .table-wrapper {
                padding: 0;

                h3 {
                    padding: 16px 0 8px 6px;
                    background-color: #fff;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                }
                table {
                    width: 100%;
                    border-spacing: 0;

                    tr {
                        margin-left: 10px;

                        td {
                            margin: 0;
                            padding: 8px 10px;
                            border-left: 0 solid transparent;
                            transition: 0.2s all ease-in-out;
                        }
                        &:nth-child(even) {
                            background-color: #f0f0f0;
                        }
                        &.clickable {
                            cursor: pointer;

                            &.active {
                                transition: 0.2s all ease-in-out;
                                td:first-child {
                                    border-left: 8px solid $primary-color;
                                }
                            }
                        }
                    }
                }
            }
            .number{
                font-family: 'Inconsolata', monospace;
                font-size: 1.2em;
                display: inline-block;
                width: 50px;
                text-align: right;
            }
            .spark-lines{
                width:60px;
            }

            label{
                font-size: 0.8em;
            }
            > div{
                padding: 10px 0;
            }
        }
    }
    #timeline{
        box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.3);

        > header{
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;
            background-color: #fff;


            #filters{
                flex-basis: 60%;
                display: flex;
            }
        }
        #timeline-table{
            $min-col-height: 48px;

            > header, .report{
                min-height: $min-col-height;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 16px;

                .aside{
                    flex-basis: 20%;
                    align-self: stretch;
                    border-right: 1px solid $primary-color;
                    padding-top: calc(calc(#{$min-col-height} - #{$text-size-md}) / 2);
                }
                .weeks{
                    flex-basis: 80%;
                    overflow-x: hidden;
                    display: flex;

                    .week{
                        flex: none;
                        font-family: 'Inconsolata', monospace;
                        text-align: center;
                        width: 48px;

                    }
                }
            }
            > header{
                box-sizing: border-box;
                border-bottom: 1px solid $primary-color;
                margin-right: 12px;

                h4{
                    color: $primary-color;

                    .fa{
                        margin-right: 10px;
                        cursor: pointer;
                    }
                }
            }
            #reports{
                height: calc(100vh - #{$navbar-height} - #{$map-height} - 48px - #{$min-col-height} - 12px);
                overflow-y: scroll;

                .loading-message{
                    text-align: center;
                    padding: 32px;
                    color: rgba(0, 0, 0, 0.3);
                    text-transform: uppercase;
                    font-size: 2em;
                }
                .report{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    .aside{
                        cursor: pointer;
                    }
                    .weeks{
                        align-self: stretch;

                        .week{
                            height: calc(100% - 6px);
                            margin-top:3px;
                            transition:0.2s all ease-in-out;
                            transform: scaleX(0.9);
                            &:hover{
                                transform:scaleX(1);
                                height:100%;
                                margin-top:0;
                            }
                            &.active{
                                border-radius: 3px;
                                cursor: pointer;
                                border-right: 1px solid #fff;
                                background-color: $primary-color;
                            }
                            &.grade0 {
                                background-color:#d0d1e6;
                            }
                            &.grade1 {
                                background-color:#a6bddb;
                            }
                            &.grade2 {
                                background-color:#74a9cf;
                            }
                            &.grade3 {
                                background-color:#3690c0;
                            }
                            &.grade4 {
                                background-color:#0570b0;
                            }
                            &.grade5 {
                                background-color:#034e7b;
                            }
                        }
                    }
                    &:nth-child(odd){
                        background-color: #fff;
                    }
                }
            }
            #horizontal-scroll{
                height: 12px;
                display: flex;
                justify-content: space-between;
                border-top: 1px solid rgba(0, 0, 0, 0.1);

                .aside{
                    flex-basis: 20%;
                }
                .weeks{
                    flex-basis: 80%;
                    height: 100%;
                    overflow-x: auto;

                    #scrollbar{
                        height: 12px;
                        flex: none;
                    }
                }
            }
        }
    }

    #non-acaps {
       display: flex;
       height: calc(100vh - #{$navbar-height});
       justify-content: center;
       align-items: center;
       flex-direction: column;

       img {
           height: 30vh;
           filter: brightness(80%);
       }

       p {
           color: rgba(0, 0, 0, 0.5);
           font-size: 3em;
           text-transform: uppercase;
       }
       >div{
           >div{
               padding: 10px 0;
               color: rgba(0, 0, 0, 0.5);
               font-weight: $font-weight-bold;
               font-size: 1.2em;
               text-transform: uppercase;
               text-align: center;
           }

           }
       .fa{
           font-size: 0.9em;
           margin-left: 10px;
           color: rgba(0, 0, 0, 0.5);

       }
    }
}
