@import 'common/base';

body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    a{
        color: $primary-color;
        cursor: pointer;
    }
    >nav{
        flex-basis: 100%;
        height: $navbar-height;
        background-color: darken($primary-color, 10%);
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        @include shadow;

        >header{
            flex-basis: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .deep-logo{
                width: $deep-logo-sm-width;
                margin-right: 24px;
            }
        }
        a{
            color: #fff;
            cursor: pointer;

            .fa{
                margin-right: 10px;
            }
            &:hover{
                color: #fff;
             }

        }
    }

    aside{
        flex-basis: 30%;
        height: calc(100vh - #{$navbar-height});
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        overflow-y: auto;

        .title-block {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-bottom: 1px solid rgba(0,0,0,0.2);

            #template-name {
                font-size: $text-size-sl;
            }

            button {
                padding: 8px;
                color: #fff;
            }

            #save-button {
                background-color: $primary-color;
            }

            #cancel-button {
                background-color: $danger-color;
            }
        }

        section{
            margin-bottom: 32px;

            > header{
                height: 48px;
                display: flex;
                align-items: center;
                padding-left: 16px;
            }
            #widgets{
                .widget{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 16px;
                    background-color: #fff;
                    border: 1px solid rgba(0, 0, 0, 0.05);

                    button{
                        background-color: transparent;
                        border: none;

                        .fa{
                            margin-right: 6px;
                        }
                    }
                }
            }
            #elements{
                .element{
                    .header {
                        display: flex;
                        justify-content: space-between;
                        padding: 16px;
                        margin-bottom: 6px;
                        background-color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.05);

                        button{
                            padding: 4px;
                            background-color: transparent;
                            border: none;

                            .delete-element {
                                color: $danger-color;
                            }

                            .fa{
                                margin-right: 6px;
                            }
                        }
                    }

                    .properties {
                        .property {
                            display: flex;
                            justify-content: space-between;
                            padding: 16px;

                            label {
                                font-size: $text-size-md;
                            }

                            input[type="text"] {
                                padding: 4px;
                            }
                        }
                    }
                }
            }
        }

    }

    main {
        flex-basis: 70%;
        position: relative;

        .element {
            display: inline-block;
            position: absolute;

            .handle {
                display: none;
                cursor: move;
                color: $label-color;
            }

            &:hover {
                .handle {
                    display: inherit;
                }
            }
        }

        .page-one-entry-selector {
            padding: 16px;

            .handle {
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .select-container {
                width: 200px;

                select {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .page-one-excerpt {
            padding: 16px;

            .handle {
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .excerpt-container {
                width: 200px;
                height: 200px;

                textarea {
                    width: 100%;
                    height: 100%;
                    padding: 16px;
                }
            }
        }

        .page-one-image {
            padding: 16px;

            .handle {
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .image-container {
                display: inline-block;
                width: 200px;;
                height: calc(200px - 16px);
                background-color: #fff;
                padding: 16px;
                color: $label-color;
            }
        }

        .noob-widget {
            width: 64px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
            -webkit-user-select: none;
            cursor: move;
        }

        .matrix1d {
            padding: 16px;

            .handle {
                position: absolute;
                top: 4px;
                left: 4px;
            }

            .title {
                margin-left: 32px;
                margin-bottom: 16px;
                font-size: $text-size-lg;
            }

            .pillars {
                .pillar {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 24px;
                    position: relative;

                    .title-block {
                        display: inline-block;
                        margin: 8px;
                        padding: 16px 8px;
                        cursor: pointer;
                        background-color: rgba(255, 255, 255, 0.9);

                        &[contenteditable=true] {
                            cursor: text;
                            border: 1px dotted black;
                        }
                    }

                    .subpillars {
                        display: flex;
                        flex-direction: row;

                        .subpillar {
                            display: inline-block;
                            position: relative;

                            .title-block {
                                display: inline-block;
                                cursor: pointer;
                                background-color: rgba(255, 255, 255, 0.4);
                                margin: 8px;
                                padding: 16px 8px;

                                &[contenteditable=true] {
                                    cursor: text;
                                    border: 1px dotted black;
                                }
                            }

                            .remove-subpillar {
                                display: none;
                                position: absolute;
                                right: 8px;
                                top: 8px;
                            }

                            &:hover {
                                .remove-subpillar {
                                    display: inherit;
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                }
                            }
                        }
                    }

                    .remove-pillar {
                        position: absolute;
                        top: 16px;
                        left: 0px;
                    }
                }
            }

            .add-pillar, .add-subpillar, .remove-pillar {
                display: none;
                padding: 8px;
                background-color: transparent;
                border: none;
                outline: none;
            }

            .fa-times {
                color: $danger-color;
            }

            .fa-plus {
                color: $success-color;
            }

            &:hover {
                background-color: rgba(0,0,0,0.05);

                .pillar {
                    background-color: rgba(0,0,0,0.06);
                }

                .add-pillar, .add-subpillar, .remove-pillar {
                    display: inherit;
                }
            }
        }
    }
}
