@import 'common/base';
@import 'common/navbar';

$background-color: #fafafa;

body{
    padding-top: $navbar-height;
}
nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
}

main{
    h2{
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1.5em;
        margin-bottom: 24px;
    }
    label{
        color: #717171;
    }

    #filters{
        padding: 10px 16px;
    }
    #clear-filter-btn{
        font-size: 0.8em;
        outline: none;
        float: right;
        margin-right: 16px;
        margin-top: -6px;
        @include btn-shadow-sm();
    }
    #toggle-panel{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 16px;

        a{
            margin-left: 10px;
            color: rgba(0, 0, 0, 0.3);
            transition: all 0.2s ease-in-out;
        }
        .active{
            color: $primary-color;
            transform: scale(1.41);
        }
    }
    $severity-base: #c01010;

    @import 'entries/visualizations';
    @import 'entries/entries';

}
