@import 'common/base';

body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    h1, h2, h3, h4{
        text-transform: uppercase;
        margin: 0;
        vertical-align: middle;
    }
    a{
        color: $primary-color;
        cursor: pointer;
    }
    >nav{
        flex-basis: 100%;
        height: $navbar-height;
        background-color: darken($primary-color, 10%);
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        @include shadow;

        >header{
            flex-basis: 60%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .deep-logo{
                width: $deep-logo-sm-width;
                margin-right: 24px;
            }
        }
        a{
            color: #fff;
            cursor: pointer;

            .fa{
                margin-right: 10px;
            }
            &:hover{
                color: #fff;
             }

        }
    }
}
