@import 'common/base';
@import 'common/navbar';


body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >nav {
        flex-basis: 100%;
    }

    main {
        flex-basis: 70%;
        border-left: 2px solid rgba(0, 0, 0, 0.1);

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            text-transform: uppercase;
        }

        section {
            min-height: 108px;
            padding-bottom: 10px;

            h2 {
                height: 54px;
                display: flex;
                align-items: center;
                padding: 0 16px;
                background-color: #fff;
                box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.5);
            }

            h3 {
                height: 48px;
                display: flex;
                align-items: center;
                padding: 0 16px;
                background-color: #f5f5f5;
            }

            h4 {
                height: 32px;
                display: flex;
                align-items: center;
                padding: 0 16px;
            }

            .content {
                padding: 16px;
            }

            .filters {
                padding: 0 16px;

                .filter-group {
                    padding-bottom: 8px;

                    &#basic-information-filters, &#lead-information-filters {
                        .filters-container {
                            .filter {
                                flex-basis: calc(100% / 5 - 2px);
                            }
                        }
                    }
                    &#entry-attributes-filters {
                        .filters-container {
                            .filter{
                                flex-basis: calc(100% / 5 - 2px);
                            }
                        }
                    }

                    >header {
                        height: 24px;
                        display: flex;
                        align-items: center;
                    }

                    .filters-container {
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;

                        .filter {
                            margin: 1px;
                            box-shadow: 0 1px 7px -5px rgba(0, 0, 0, 0.3);

                            > input {
                                width: 100%;
                                height: 100%;
                                padding: 0 4px;
                                border: 1px solid rgba(0, 0, 0, 0.1);
                                outline: none;
                            }

                            &.range-filter {
                                display: flex;
                                justify-content: space-between;
                                position: relative;

                                label {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;
                                    text-transform: none;
                                    color: rgba(0, 0, 0, 0.4);
                                    font-size: 1em;
                                    font-weight: $font-weight-normal;
                                    padding: 0 6px;
                                    top: 0;
                                    left: 0;
                                    z-index: 1;
                                    background-color: #fff;
                                    border: 1px solid rgba(0, 0, 0, 0.1);
                                }
                                >div {
                                    flex-basis: 50%;
                                }

                                &.filled, &:hover {
                                    label {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &#entries-export {
                h2 {
                    flex-basis: 100%;
                }

                .lead-filters {
                    display: flex;
                    .filter {
                        flex-basis: 25%;
                    }
                }

                .leads-container {
                    flex-basis: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                    header {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        label{
                            display: flex;
                            align-items: center;
                            vertical-align: super;
                            font-size: 1em;

                            input{
                                margin-top: 2px;
                            }
                        }
                        >*{
                            color: $label-color;
                            text-transform: uppercase;
                            font-size: 0.9em;
                            font-weight: $font-weight-bold;
                        }
                    }
                    .leads{
                        height: 192px;
                        overflow-y: scroll;
                    }

                    header, .lead {
                        display: flex;
                        align-items: center;
                        min-height: 24px;
                        padding: 6px 16px;

                        .select{
                            flex-basis: 96px;
                        }
                        .created-at{
                            flex-basis: 20%;
                            time, date{
                                font-family: 'Inconsolata', monospace;
                            }
                            date{
                                margin-right: 10px;
                            }
                        }
                        .title{
                            flex-basis: calc(80% - 96px);
                        }
                    }
                    .lead:nth-child(even){
                        background-color: #f9f9f9;
                    }
                }

                .export-format {
                    padding: 0 16px;
                    height: 32px;
                    display: flex;

                    label {
                        display: flex;
                        align-items: center;
                        padding: 0 16px;
                        cursor: pointer;
                        font-size: 1em;
                        font-weight: $font-weight-normal;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        &.active {
                            font-weight: $font-weight-bold;
                            border-bottom: 2px solid $primary-color;
                            color: $primary-color;
                        }
                        input {
                            display: none;
                        }
                    }
                }

                .action-buttons {
                    padding: 10px 16px;
                }
                #preview-docx {
                    margin-left: 16px;
                }
                .excel-export {
                    flex-basis: 24%;
                }
                #action-section {
                    display: flex;

                    >div {
                        flex-basis: 50%;

                        &:nth-child(2) {
                            border-left: 1px solid rgba(0, 0, 0, 0.1);
                            padding: 42px 0 0 16px;
                        }
                    }
                }
            }
        }

        button {
            padding: 6px 16px;
            @include btn-shadow-sm;

            .fa {
                margin-right: 8px;
            }
            &.btn-word {
                background-color: #295497;
                color: #fff;
            }
            &.btn-pdf {
                background-color: #c11e07;
                color: #fff;
            }
            &.btn-excel {
                background-color: #1f7244;
                color: #fff;
            }
        }

    }

    aside {
        flex-basis: 30%;
        height: calc(100vh - #{$navbar-height});

        >div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.3);
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}
