@import 'common/base';
@import 'common/navbar';


$word-color: $info-color;
$excel-color: $primary-color;
$pdf-color: #ff0000;

#main{
    padding: 24px 16px 0 16px;

    h1, h2, h3, h4{
        margin: 0;
        text-transform: uppercase;
    }
    h1{
        color: $primary-color;
        margin-bottom: 16px;
    }
    h2{
        font-weight: $font-weight-bold;
        margin-bottom: 24px;
    }
    h3{
        font-size: $text-size-md;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            padding: 10px 32px;
            margin-bottom: 10px;
            border: none;
            background-color: #fff;
            font-weight: bold;
            color: $label-color;
            @include btn-shadow-sm();
        }
    }
    #export-entries{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 16px;

        h1{
            flex-basis: 100%;
        }
        #export-entries-doc{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-basis: 73%;
            margin-right: 16px;
            padding: 16px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);

            #export-entries-doc-form{
                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                #word{
                    button{
                        color: #fff;
                        padding: 6px 10px;
                        @include btn-shadow-sm;
                        margin-top: 20px;
                        margin-left: 40px;
                        background-color: $word-color;
                        i{
                            margin-right: 8px;
                        }

                        &:disabled {
                            background-color: rgba(0,0,0,0.4);
                            cursor: inherit;
                        }
                    }
                }

                #pdf{
                    button{
                        color: #fff;
                        padding: 6px 10px;
                        @include btn-shadow-sm;
                        margin-top: 20px;
                        margin-left: 40px;
                        background-color: $pdf-color;
                        i{
                            margin-right: 8px;
                        }

                        &:disabled {
                            background-color: rgba(0,0,0,0.4);
                            cursor: inherit;
                        }
                    }
                }
            }

            label{
                margin-bottom: 3px;
            }
            >div:nth-child(2){
                flex-basis: 60%;
            }
            >div:last-child{
                flex-basis: 35%;
            }
            #filters{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;

                >div{
                    flex-basis: 49%;

                    &:last-child{
                        flex-basis: 49%;
                    }
                    >input[type="text"], input[type="number"]{
                        width: 100%;
                        outline: none;
                        padding: 4px 6px;
                        margin-bottom: 8px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        background-color: #fff;

                        &:focus{
                            border-color: $primary-color;
                        }
                    }
                    .selectize-control{
                        margin-bottom: 8px;
                    }
                }
                #severity-filter-container,#reliability-filter-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    label{
                        flex-basis: 100%;
                    }
                    >div{
                        flex-basis: 48%;
                    }
                }
            }
            .hierarchy{
                margin-top: 40px;
            }


        }
        #export-entries-excel{
            flex-basis: 25%;
            padding: 16px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);

            button{
                background-color: $excel-color;
                color: #fff;
                padding: 6px 10px;
                margin-bottom: 8px;
                @include btn-shadow-sm;

                .fa{
                    margin-right: 10px;
                }
            }
        }
    }
    #sos-export{
        width: 25%;

        #sos-export-excel{
            padding: 16px;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        button{
            background-color: $excel-color;
            color: #fff;
            padding: 6px 12px;
            @include btn-shadow-md;

            .fa{
                margin-right: 8px;
            }
        }
    }
}
