@import 'common/base';

#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $primary-color;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-blend-mode: soft-light;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form{
        width: 600px;
        background-color: #fff;
        box-sizing: border-box;
        box-shadow: 0 5px 30px -3px rgba(0, 0, 0, 0.5);
        border-radius: 5px;

        >div, >header{
            min-height: 64px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 24px;
            padding: 0 32px;
        }
        #error{
            color: #e74c3c;
            padding: 0 32px 16px 32px;
            margin: 0;
            text-align: center;
            font-size: $text-size-lg;

            .fa{
                margin-right: 10px;
            }
        }

        header {
            background-color: $primary-color;
            color: #fff;

            h1 {
                margin: 0;
                text-transform: uppercase;
            }
        }

        input[type="text"], input[type="password"] {
            outline: none;
            border: 1px solid transparent;
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
            flex-basis: 100%;
            padding: 0 0 3px 0;
            font-size: $text-size-lg;

            &:focus {
                border-bottom: 2px solid $primary-color;
            }
        }
        label {
            flex-basis: 100%;
            margin: 0;
            color: rgba(0, 0, 0, 0.3);
        }
        button, a {
            cursor: pointer;
            font-size: $text-size-lg;
        }
        #submit-btn-container {
            justify-content: space-between;
            margin-bottom: 16px;
        }
        button {
            background-color: $primary-color;
            border: none;
            color: #fff;
            padding: 10px 16px;
            border-radius: 2px;
            @include btn-shadow-sm;
        }
        a{
            color: $primary-color;
        }
        .action-buttons {
            font-size: $text-size-lg;
            justify-content: flex-end;
            margin-bottom: 0;
            padding: 0;
            background-color: #f0f0f0;
            align-self: stretch;
            height: 56px;
            min-height: auto;

            #register-link{
                background-color: $info-color;
                flex-basis: 40%;
                align-self: stretch;
                color: #fff;
                font-size: $text-size-lg;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            $humanitarianIdColor: #79CFDF;
            #login-hid{
                background-color: $humanitarianIdColor;
                align-self: stretch;
                flex-basis: 60%;

                img{
                    padding: 6px 32px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    #info-snippet {
        position: absolute;
        background-color: #ef5350;
        color: #fff;
        font-size: 1.1em;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .12);

        p {
            margin: 0;
            padding: 0;
        }
    }
}
