@import 'common/base';

#main{
    padding-top: 100px;
    background-color: #414141;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-blend-mode: soft-light;
    min-height: 100vh;

    #wrapper{
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.6);


        p{
            color: #fff;
            strong{
                text-transform: uppercase;
                font-weight: 700;
            }
        }
        p:last-child{
            text-align: center;
        }

        form{
            input{
                margin-top: 16px;
            }
        }
    }
}
