@import 'common/base';
@import 'common/navbar';

$header-height: 172px;
body{
    min-height: 100vh;
    header{
        height: $header-height;
        //padding: 16px 16px 0 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;

        h1{
            margin: 0;
            flex-basis: 60%;
            text-transform: uppercase;
            font-weight: $font-weight-bold;

            span{
                font-weight: $font-weight-thin;
            }
        }
        #main-action-buttons{
            flex-basis: 40%;
            text-align: right;

            button{
                color: #fff;
                padding: 6px 16px;
                @include btn-shadow-md;

                .fa{
                    margin-right: 10px;
                }
            }
            #cancel-btn{
                margin-right: 10px;
                background-color: $danger-color;
            }
            #save-btn{
                background-color: $info-color;
            }
        }
        #filters{
            flex-basis: 100%;
            box-sizing: border-box;
        }
        @import 'entries/entry-filters';
    }
}
aside{
    width: 30%;
    margin-left: 16px;
    margin-right: 10px;
    float: left;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 13px -3px rgba(0, 0, 0, 0.3);

    #entry-list-header{
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        h2{
            margin: 0;
            text-transform: uppercase;
            font-size: 1.5em;
            color:$primary-color;
        }
        a{
            color: $primary-color;
        }
    }
    #entries{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 58px);
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;

        h4{

            font-size: 18px;
        }
        label{
            font-weight: bold;
        }
        a{
            color:$primary-color;
        }
        .entry{
            padding: 10px 16px;

            .severity, .reliability{
                margin-top: 15px;
                span{
                    width: 8px;
                    height: 16px;
                    display: inline-block;
                    border-radius: 2px;
                    margin-right: 1px;
                }
                // @for $i from 0 through 5 { ._#{$i}{ opacity: ($i/5); } }
                .active{ width: 12px; height: 24px; margin-bottom: -4px; }
            }
            // .reliability{ span{ background-color: $reliability-base; } }
            // .severity{ span{ background-color: $severity-base; } }

            .reliability {
                @for $i from 0 through 6 { ._#{$i}{ background-color: lighten($reliability-base, (6-$i)*10); } }
            }
            .severity {
                @for $i from 0 through 6 { ._#{$i}{ background-color: lighten($severity-base, (6-$i)*10); } }
            }

            label{
                margin-right: 8px;
            }
            .information{
                .information-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 48px;

                    .source-id{
                        margin-top: 10px;
                        font-weight: bold;
                        color: $info-color;
                        width: 100%
                    }
                }
                .excerpt-text{
                    text-align: justify;
                }
                .excerpt-image{
                    width: 100%;
                    border: 2px dashed $primary-color;
                }
            }
            hr{
                margin: 0;
                border: 1px solid rgba(0, 0, 0, 0.05);
            }
            date{
                font-family: 'Inconsolata', monospace;
            }
            &:nth-child(odd){
                background-color: #f5f5f5;
            }
        }
    }
}
main{
    margin-right: 24px;

    #navigator{
        height: 56px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 10px;
        background-color: #fff;
        box-shadow: 0 -2px 13px -3px rgba(0, 0, 0, 0.3);

        a{
            flex-grow: 1;
            text-align: center;
            padding-top: calc(calc(56px - #{$text-size-md}) / 2 - 4px);
            cursor: pointer;
            color:$primary-color;
        }
        .active{
            border-bottom: 2px solid $primary-color;
        }
    }
    #report-content{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 56px);
        padding: 0 16px;
        overflow-y: auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 13px -3px rgba(0, 0, 0, 0.3);

        h5{
            text-transform: uppercase;
        }
        section{
            padding: 16px 0;
            box-sizing: border-box;
            h3{
                margin: 0;
                margin-bottom: 16px;
            }
        }

        @import 'report/weekly-reporting-parameters';
        @import 'report/weekly-key-events';
        @import 'report/weekly-humanitarian-profile';
        @import 'report/weekly-people-in-need';
        @import 'report/weekly-humanitarian-access';
        @import 'report/weekly-severity-score';
    }
}
