@import 'common/base';
@import 'common/navbar';

#main{
    h1, h2, h3, h4{
        margin: 0;
        text-transform: uppercase;
    }
    h1{
        font-weight: bold;
        margin-bottom: 32px;
        margin-top: 24px;
    }

    #country-list{
        background-color: #fff;
        @include shadow();

        h2{
            padding: 16px 32px;
        }
        hr{
            margin: 0;
        }
        .country{
            padding: 16px 32px;
            cursor: pointer;
            transition: 0.2s all ease-in-out;

            .event{
                color: $label-color;
            }
        }
        .country:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
        .active{
            border-right: 3px solid $primary-color;
            background-color: #f0f0f0;
        }
    }

    #report-list{
        background-color: #fff;
        @include shadow();

        header{
            padding-right: 24px;
            .selectize-input{
                margin-top: 16px;
            }
        }
        h2{
            padding: 24px;
            color: $primary-color;
        }
        hr{
            margin: 0;
        }
        .reports{
            #weekly-report-list{
                .weekly-report{
                    padding: 24px;
                    h4{
                        margin-bottom: 10px;
                    }
                    date{
                        font-weight: $font-weight-bold;
                        color: $label-color;
                    }
                    button{
                        float: right;
                        margin-right: 24px;
                        @include btn-shadow-sm();
                    }
                }
            }
            #monthly-report-list{
                .monthly-report{
                    padding: 24px;

                    button{
                        margin-right: 10px;
                        @include btn-shadow-sm();
                    }
                    .fa{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
