@import 'common/base';
@import 'common/navbar';

body{
    min-height: 100vh;
}

#main{
    $header-height: 172px;

    .form-control, .selectize-input{
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border-radius: 3px;

        &:active, &:focus {
            border: 1px solid $primary-color;
        }
    }
    .focus{
        border: 1px solid $primary-color;
    }
    .selectize-dropdown-content{
        .option{
            color: $label-color;
            padding: 10px;
            line-height: 1;
        }
    }
    header{
        height: $header-height;

        h1{
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            span{
                font-weight: $font-weight-normal;
            }
        }
        button{
            float: right;
            margin-left: 16px;
            margin-top: 10px;
            @include btn-shadow-lg();

            .fa{
                margin-right: 10px;
            }
        }
        #filters{
            margin-top: 6px;

            .form-control, .selectize-input{
                box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3);
            }
            #reliability-filter-container, #severity-filter-container{
                margin-top: -26px;
            }
            .first-child{
                padding-right: 2px;
            }
            .low-padding{
                padding-left: 2px;
                padding-right: 2px;
            }
            .last-child{
                padding-left: 2px;
            }
        }
    }
    #last-seven-days-btn{
        float: right;
    }
    #entries{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 48px)!important;
        background-color: #fff;
        overflow-y: auto;
        @include shadow();

        h3{
            padding-left: 32px;
        }

        .entry{
            padding: 10px 24px;
            background-color: #f5f5f5;

            &:nth-child(odd){
                background-color: #fff;
            }
            header{
                height: auto;
                margin-bottom: 16px;

                h4{
                    color: $primary-color;
                }
                label{
                    margin-right: 10px;
                }
            }
            .excerpt{
                margin-top: 10px;
            }
            label{
                margin-right: 10px;
            }
            hr{
                margin: 6px 0;
            }
            .severity, .reliability{
                margin-top: 8px;
                span{
                    width: 10px;
                    height: 16px;
                    background-color: #ccc;
                    display: inline-block;
                }
            }

            $reliability-base: #1A237E;
            .reliability{
                ._1{ background-color: lighten($reliability-base, 50%); }
                ._2{ background-color: lighten($reliability-base, 40%); }
                ._3{ background-color: lighten($reliability-base, 30%);  }
                ._4{ background-color: lighten($reliability-base, 20%); }
                ._5{ background-color: lighten($reliability-base, 10%); }
                ._6{ background-color: lighten($reliability-base, 5%); }
                .active{ transform: scale(1.2); }
            }
            $severity-base: #B71C1C;
            .severity{
                ._1{ background-color: lighten($severity-base, 40%); }
                ._2{ background-color: lighten($severity-base, 30%); }
                ._3{ background-color: lighten($severity-base, 20%);  }
                ._4{ background-color: lighten($severity-base, 10%); }
                ._5{ background-color: lighten($severity-base, 5%); }
                ._6{ background-color: lighten($severity-base, 0%); }
                .active{ transform: scale(1.2); }
            }
        }
    }
    #entries-header-container{
        h3{
            margin: 0;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }
    #entries-header-container, #navigator{
        padding: 16px;
        background-color: #fafafa;
        height: 48px;
    }
    #navigator{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        overflow: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;

        a{
            display: block;
            cursor: pointer;
            padding: 0 10px 8px 10px;
        }
        .active{
            border-bottom: 2px solid $primary-color;
        }
    }
    #report-content{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 48px)!important;
        //padding: 24px;
        background-color: #fff;
        overflow-y: auto;
        @include shadow();

        h5{
            text-transform: uppercase;
        }
        section{
            padding: 16px;
            h3{
                margin: 0;
                margin-bottom: 16px;
            }
        }
        #reporting-parameters{
            #week-select-interval {
                padding-top: 4px;
                font-weight: $font-weight-bold;
            }
            #date-hour-of-entry {
                padding-left: 16px;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }
        }
        #key-events{
            #toggle-panel{
                height: 64px;

                .fa{
                    margin-right: 10px;
                }
                a{
                    margin: 10px;
                    margin-right: 32px;
                    transition: 0.2s all ease-in-out;
                    color: #414141;
                }
                .active{
                    color: $primary-color;
                }
                button{
                    float: right;
                }
            }
            #header{
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                margin-bottom: 16px;
            }
            .key-event{
                min-height: 48px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #timeline-view{
                position: relative;
                padding: 32px;

                #line{
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    left: calc(50% - 1px);
                    background-color: $primary-color;
                }
                .time-element{
                    width: calc(50% - 30px);
                    background-color: #f0f0f0;
                    border-radius: 3px;
                    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
                    padding: 10px 24px;
                    position: relative;

                    h3{
                        margin: -10px -24px 10px -24px;
                        padding: 16px 24px;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        background-color: $primary-color;
                        color: #fff;
                    }

                    &:nth-child(odd){
                        clear: both;
                        float: left;

                        &:before{
                            display: inline-block;
                            content: '';
                            width: 30px;
                            height: 2px;
                            background-color: $primary-color;
                            position: absolute;
                            right: -30px;
                            top: 30px;
                        }
                    }
                    &:nth-child(even){
                        clear: both;
                        float: right;

                        &:before{
                            display: inline-block;
                            content: '';
                            width: 30px;
                            height: 2px;
                            background-color: $primary-color;
                            position: absolute;
                            left: -30px;
                            top: 30px;
                        }
                    }
                }
            }

            button{
                @include btn-shadow-sm();
            }
        }

        #humanitarian-profile{
            #humanitarian-profile-field-error{
                color: #e74c3c;
                text-align: center;
            }
            .row-group{
                margin-left: -16px;
                margin-right: -16px;
                padding: 10px 16px 2px 16px;;

                &:nth-child(even){
                    background-color: #f0f0f0;
                }
            }
            .row{
                margin-bottom: 10px;
            }
            .sub{
                margin-left: 24px;
            }
        }

        #people-in-need{
            .toplevel{
                padding-bottom: 20px;
                //padding-left: 16px;

                .sub{
                    margin-left: 24px;
                }

                &.parent {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: #f0f0f0;

                    + .toplevel:not(.parent) {
                        margin-top: 20px;
                    }
                }
            }
            .row{
                margin-bottom: 10px;
            }
        }
        #humanitarian-access{
            text-transform: none;

            .right-pane{
                padding-left: 48px;
            }
            label{

            }
        }
        #weekly-severity-score{
            .score-0{
                background-color: rgba(231,76,60,0.2);
            }
            .score-1{
                color: rgba(0, 0, 0, 0.6);
                background-color: rgba(231,76,60,0.5);
            }
            .score-2{
                color: rgba(255, 255, 255, 0.8);
                background-color: rgba(231,76,60,0.75);
            }
            .score-3{
                color: rgb(255, 255, 255);
                background-color: rgba(231,76,60,1);
            }
        }
    }
}
