@import 'common/base';
@import 'common/navbar';

body{
    background-color: #f0f0f0;
    min-height: 100vh;

}

#main{
    $header-height: 176px;

    header{
        height: $header-height;

        h1{
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            span{
                font-weight: $font-weight-normal;
            }
        }
        button{
            float: right;
            margin-right: 16px;
            margin-top: 16px;
            @include btn-shadow-lg();

            .fa{
                margin-right: 10px;
            }
        }
        #filters{
            margin-top: 10px;

            #reliability-filter-container, #severity-filter-container{
                margin-top: -26px;
            }
        }
    }
    #last-seven-days-btn{
        float: right;
    }
    #entries{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 48px)!important;
        background-color: #fff;
        overflow-y: auto;
        @include shadow();

        h3{
            padding-left: 32px;
        }

        .entry{
            padding: 24px;
            background-color: #fafafa;

            &:nth-child(odd){
                background-color: #fff;
            }

            header{
                height: auto;
                margin-bottom: 16px;

                h4{
                    color: $primary-color;
                }
                label{
                    margin-right: 10px;
                }
            }
            .excerpt{
                margin-top: 10px;
            }
            label{
                margin-right: 10px;
            }
            .severity, .reliability{
                margin-top: 8px;
                span{
                    width: 10px;
                    height: 16px;
                    background-color: #ccc;
                    display: inline-block;
                }
            }

            $reliability-base: #1A237E;
            .reliability{
                ._1{ background-color: lighten($reliability-base, 50%); }
                ._2{ background-color: lighten($reliability-base, 40%); }
                ._3{ background-color: lighten($reliability-base, 30%);  }
                ._4{ background-color: lighten($reliability-base, 20%); }
                ._5{ background-color: lighten($reliability-base, 10%); }
                ._6{ background-color: lighten($reliability-base, 5%); }
                .active{ transform: scale(1.2); }
            }
            $severity-base: #B71C1C;
            .severity{
                ._1{ background-color: lighten($severity-base, 40%); }
                ._2{ background-color: lighten($severity-base, 30%); }
                ._3{ background-color: lighten($severity-base, 20%);  }
                ._4{ background-color: lighten($severity-base, 10%); }
                ._5{ background-color: lighten($severity-base, 5%); }
                ._6{ background-color: lighten($severity-base, 0%); }
                .active{ transform: scale(1.2); }
            }
        }
    }
    #entries-header-container{
        h3{
            margin: 0;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }
    #entries-header-container, #navigator{
        padding: 16px;
        background-color: #fafafa;
        height: 48px;
    }
    #navigator{
        a{
            display: inline-block;
            padding: 0 24px;
            padding-bottom: 8px;
            cursor: pointer;
        }
        .active{
            border-bottom: 2px solid $primary-color;
        }
    }
    #report-content{
        height: calc(100vh - #{$navbar-height} - #{$header-height} - 48px)!important;
        //padding: 24px;
        background-color: #fff;
        overflow-y: auto;
        @include shadow();

        h5{
            text-transform: uppercase;
        }
        section{
            padding: 16px;
            h3{
                margin: 0;
                margin-bottom: 16px;
            }
        }

        #key-events{
            .event-timeline{
                margin-bottom: 16px;

                .row:first-child{
                    margin-bottom: 16px;
                }
            }
            button{
                @include btn-shadow-sm();
            }
        }

        #humanitarian-profile{
            #humanitarian-profile-field-error{
                color: #e74c3c;
                text-align: center;
            }
            .row-group{
                margin-left: -16px;
                margin-right: -16px;
                padding: 10px 16px 2px 16px;;

                &:nth-child(even){
                    background-color: #f0f0f0;
                }
            }
            .row{
                margin-bottom: 10px;
            }
            .sub{
                margin-left: 24px;
            }
        }

        #people-in-need{
            .toplevel{
                padding-bottom: 20px;
                //padding-left: 16px;

                .sub{
                    margin-left: 24px;
                }
            }
            .row{
                margin-bottom: 10px;
            }
        }
        #humanitarian-access{
            text-transform: none;

            .right-pane{
                padding-left: 48px;
            }
            label{

            }
        }
        #weekly-severity-score{
            .score-0{
                background-color: rgba(231,76,60,0.2);
            }
            .score-1{
                color: rgba(0, 0, 0, 0.6);
                background-color: rgba(231,76,60,0.5);
            }
            .score-2{
                color: rgba(255, 255, 255, 0.8);
                background-color: rgba(231,76,60,0.75);
            }
            .score-3{
                color: rgb(255, 255, 255);
                background-color: rgba(231,76,60,1);
            }
        }

    }
}
