@import 'common/base';
@import 'common/navbar';

#main{
    h2{
        color: $primary-color;
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 24px;
    }
    #sos-table{
    }
}
