@import 'common/base';
@import 'common/simplified-navbar';

body{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;

    h1, h2, h3, h4{
        margin: 0;
        text-transform: uppercase;
    }
    h2{
        color: $primary-color;
        font-weight: bold;
    }
    main{
        flex-basis: 76%;
        height: calc(100vh - #{$navbar-height});
        $header-height: 180px;

        >header{
            flex-basis: 100%;
            height: $header-height;
            background-color: $primary-color;
            color: #fff;
            padding: 0 16px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            #avatar-input{
                position: absolute;
                height: 0;
                width: 0;
                opacity: 0;
                left: -100px;
                top: -100px;
            }
            img{
                align-self: center;
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: center;
                background-color: #fff;
                border-radius: 50%;
                border: 2px solid rgba(0, 0, 0, 0.3);
            }
            .user-info {
                flex-basis: calc(100% - 112px - 96px);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                //align-self: stretch;
                //flex-direction: column;
                //justify-content: flex-start;


                #full-name {
                    flex-basis: 100%;
                    font-size: 32px;
                    padding: 0px 16px;
                    border-bottom: 2px solid rgba(0, 0, 0, 0);

                    height: 45%;
                    overflow: hidden;

                    display: flex;
                    margin-top: -10px;
                    // padding-top: 16px;
                    align-items: flex-start;
                    justify-content: flex-start;

                    label{
                        transition: all 0.2s ease-in-out;
                        // color: #fff;
                    }
                    >div{
                        padding: 0 10px;

                        label {
                            visibility: hidden;
                            opacity: 0;
                            // display: none;
                        }
                        .name {
                            position: relative;
                            line-height: 1;

                            &[contenteditable="true"]{
                                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                                outline: none;

                                &:focus{
                                    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
                                }
                            }
                        }
                    }
                    &.edit{
                        justify-content: space-between;

                        > div{
                            flex-basis: 50%;

                            label{
                                // display: block;
                                opacity: 1;
                                visibility: visible;
                            }
                            .name{
                                text-transform: none;
                            }
                        }
                    }
                }
                .extra{
                    height: 55%;
                    padding: 0 16px;
                    flex-basis: 100%;
                    font-size: $text-size-lg;
                    color: #fff;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;

                    >div {
                        padding: 0 10px;
                    }

                    .username {
                        flex-basis: 100%;
                        padding: 4px 10px;
                    }

                    label {
                        display: none;
                        // color: #fff;
                    }

                    #user-organization {
                        padding: 4px 0;

                        &[contenteditable="true"]{
                            border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                            outline: none;

                            &:focus{
                                border-bottom: 2px solid rgba(0, 0, 0, 0.3);
                            }
                        }
                    }

                    #user-organization-wrapper, #user-country-select-wrapper {
                        flex-basis: 100%;
                    }

                    .selectize-control {
                        margin-left: -5px;
                        background-color: transparent;

                        .selectize-input {
                            font-size: 1.2em;
                            background-color: transparent;
                            border: none;
                            text-transform: uppercase;

                            input {
                                background-color: transparent;
                            }

                            &:after {
                                display: none;
                            }
                        }

                        .selectize-dropdown {
                            .option {
                                color: $text-color;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }

                }
            }
            &.edit-mode {
                .user-info {
                    .extra {
                        .username {
                            display: none;
                        }
                        label {
                            display: block;
                        }
                        #user-organization-wrapper, #user-country-select-wrapper {
                            flex-basis: 50%;

                            >div {
                                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                            }
                        }

                        .selectize-control {
                            .selectize-input {
                                &:after {
                                    display: block;
                                    border-color: #fff transparent transparent transparent;
                                }

                                &.focus {
                                    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
                                }
                            }
                        }
                    }
                }
            }
            .action-buttons{
                flex-basis: 96px;
                font-size: 1.5em;
                text-align: center;
                align-self: flex-start;
                padding: 16px;
                display: flex;
                justify-content: space-between;

                a{
                    cursor: pointer;
                }
            }
        }
        #project-list{
            height: 50vh;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            #project-list-header{
                background-color: #fff;
                height: 48px;
                padding: 0 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    height: 100%;
                    display: flex;

                    .fa-search {
                        width: 18px;
                        margin-bottom: 12px;
                        align-self: flex-end;
                    }
                    input {
                        align-self: flex-end;
                        margin-right: 12px;
                        margin-bottom: 4px;
                        padding: 6px 8px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        &:focus {
                            border-bottom-color: $primary-color;
                        }
                    }

                    button{
                        height: 100%;
                        background-color: $info-color;
                        color: $text-color-light;
                        border: none;
                        margin-right: -16px;
                        padding: 0 24px;

                        .fa{
                            margin-right: 10px;
                        }
                    }
                }

            }

            date {
                font-family: $font-monospace;
            }

            .name { flex-basis: 20%; }
            .rights { flex-basis: 15%; }
            .created-on { flex-basis: 15%; }
            .status { flex-basis: 15%; }
            .last-modified {
                flex-basis: 15%;

                span {
                    color: $label-color;
                }
            }
            .members { flex-basis: 10%; }
            .actions {
                flex-basis: 10%;

                a {
                    color: $primary-color;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

            #projects-header {
                height: 36px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-right: 12px;

                label{
                    margin: 0;

                    &[data-sort]{ cursor: pointer; }
                    &.asc{
                        &:after{
                            content: '⇂';
                            color: $primary-color;
                        }
                    }
                    &.dsc{
                        &:after{
                            content: '↾';
                            color: $primary-color;
                        }
                    }
                }
            }
            #projects{
                height: calc(50vh - 48px - 36px);
                overflow-y: scroll;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);

                .project {
                    min-height: 56px;
                    padding: 10px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    &:nth-child(even){
                        background-color: #fff;
                    }
                }
            }

        }
        #user-group-list{
            height: calc(50vh - #{$header-height} - #{$navbar-height});

            #user-group-list-header{
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 16px;
                background-color: #fff;

                button{
                    height: 100%;
                    background-color: $info-color;
                    color: $text-color-light;
                    border: none;
                    margin-right: -16px;
                    padding: 0 24px;

                    .fa{
                        margin-right: 10px;
                    }
                }
            }
            #user-groups{
                height: calc(100% - 48px);
                overflow-x: scroll;
                display: flex;
                align-items: center;
                padding: 0 16px;

                .user-group{
                    height: 80%;
                    width: 144px;
                    margin-right: 16px;
                    background-color: #fff;
                    display: flex;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);


                    .name{
                        align-self: flex-start;
                        text-align: center;
                        width: 100%;
                        padding: 6px 10px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        color: $primary-color;
                    }
                }
            }
        }

    }
    aside{
        flex-basis: 24%;
        height: calc(100vh - #{$navbar-height});
        border-left: 2px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;

        header{
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 16px;
            background-color: #f0f0f0;
            border-bottom: 2px solid rgba(0, 0, 0, 0.1);

            h2{
            }
        }

        #activity-log {
            height: calc(100vh - #{$navbar-height} - 48px);
            overflow-y: auto;

            .activity {
                padding: 10px;
                margin-bottom: 6px;

                date {
                    float: right;
                    font-family: 'Inconsolata', monospace;
                }
                h3 {
                    display: inline-block;
                    font-size: $text-size-md;
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                }

                a {
                    display: block;
                    text-transform: none;
                    cursor: pointer;
                    font-size: $text-size-sm;
                    color: $primary-color;
                }

                &:nth-child(even){
                    background-color: #f5f5f5;
                }
            }
        }
    }

    #new-user-group-modal, #new-project-modal {
        .error {
            padding: 10px 24px;
            color: $danger-color;
            display: block;

            &:empty {
                display: none;
            }

        }
        .cancel-button{
            color: $danger-color;
        }
        .proceed-button{
            color: $info-color;
        }
    }
}
