{% extends 'base.html' %}
{% load watchful_url %}
{% load check_acaps %}

{% block title %}
DEEP | Dashboard
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/modal.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/dashboard.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/split.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>

{% if event and event.is_acaps %}
<script type="text/javascript" src="{% watchful_static_url 'js/dashboard.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{% watchful_static_url 'css/leaflet.label.css' %}" >
<script src="{% watchful_static_url 'js/common/leaflet.label.js' %}"></script>

<script>
    var active_projects = [
        {% for project in active_events %}{
            name: "{{project.name}}", start_date: "{{project.start_date|date:'Y-m-d'}}", status: "{{project.status}}",
            countries: [
                {% for country in project.countries.all %}{ code: "{{country.code}}", name: "{{country.name}}" },{% endfor %}
            ],
        },{% endfor %}
    ];

    var countries = {
        {% for country in countries %}
        "{{country.code}}": "{{country.name}}",
        {% endfor %}
    };

    var projects_per_country = {
        {% for country, projects in projects_per_country.items %}
        "{{country.code}}": { {% for project in projects %} "{{project.pk}}" : "{{project.name}}", {% endfor %} },
        {% endfor %}
    };
</script>
{% endif %}

{% endblock %}
{% block body %}
{% include 'navbar.html' %}

{% if event and event.is_acaps %}
<main>
    <section id="map">
        <div id="the-map"></div>
        <div id="overview">
            <div id="number-of-leads"><span class="number">{{ leads|length }}</span><label>Leads</label></div>
            <div id="number-of-entries"><span class="number">{{ informations|length }}</span><label>Entries</label></div>
            <div id="number-of-active-projectes"><span class="number">{{ active_events|length }}</span><label>Active projects</label></div>
            <div id="number-of-global-monitoring"><span class="number">{{ active_events|length }}</span><label>Countries monitored</label></div>
        </div>
    </section>
    <section id="timeline">
        <header>
            <h3>Timeline of humanitarian project per country</h3>
            <div id="filters">
                <select id="country-filter" placeholder="Country" multiple>
                    <option value="">Country</option>
                    {% for country in countries %}
                    <option value="{{country.pk}}">{{country.name}}<option>
                    {% endfor %}
                </select>
                <select id="date-created-filter" placeholder="Date Created">
                    <option value="">Date Created</option>
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="last-seven-days">Last 7 days</option>
                    <option value="this-week">This week</option>
                    <option value="last-thirty-days">Last 30 days</option>
                    <option value="this-month">This month</option>
                    <option value="range">Range</option>
                </select>
                <select id="disaster-type-filter" placeholder="Disaster Type" multiple>
                    <option value="">Disaster Type</option>
                    {% for disaster_type in disaster_types %}
                    <option value="{{disaster_type.pk}}">{{disaster_type.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </header>
        <div id="timeline-table">
            <header>
                <h4 class="aside">Countries</h4>
                <div class="weeks"></div>
            </header>
            <div id="reports">
                <p class="loading-message">Loading reports ...</p>
            </div>
            <div id="horizontal-scroll">
                <div class="aside"></div>
                <div class="weeks">
                    <div id="scrollbar"></div>
                </div>
            </div>
            <div class="report-template" hidden>
                <div class="aside"></div>
                <div class="weeks"></div>
            </div>
        </div>
    </section>
</div>
<div class="modal-container" hidden>
    <div id="date-range-input" class="modal" hidden>
        <header>
            <h3 class="modal-title">Enter date range</h3>
        </header>
        <div class="input-container">
            <label>start date:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="input-container">
            <label>end date:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
            <button id="ok-btn" class="success" data-action="proceed"><i class="fa fa-check"></i>Ok</button>
        </div>
    </div>
</div>

{% else %}

<div id="non-acaps">
    <img src="{% watchful_static_url 'img/favicon.png' %}">
    <p>WELCOME TO DEEP</p>
    <div>
        <h5>1. Select Your project</h5>
        <h5>2. Download the Chrome Extension <a id="chrome-extension-download-link" target="_blank" title=" Click here to download Chrome Extension" href="https://chrome.google.com/webstore/detail/deep-create-lead/ggplhkhciodfdkkonmhgniaopboeoopi"><i class="fa fa-chrome fa-spin"></i></a></h5>
        <h5>3. Import Leads</h5>
        <h5>4. GO DEEP !! </h5>
    </div>
</div>

{% endif %}
{% endblock %}
