{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Dashboard
{% endblock %}

{% block head %}
<link href="{% static 'css/dashboard.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<div class="section" id="body-section">
    <div class="container">
        <div class="under-construction">
            Under construction!
        </div>
    </div>
</div>
<div class="section" id="footer-section">
</div>
{% endblock %}
