{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Dashboard
{% endblock %}

{% block head %}
<link href="{% static 'css/dashboard.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/split.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{% static 'css/leaflet.label.css' %}" >
<script src="{% static 'js/common/leaflet.label.js' %}"></script>

<script>
    var active_crises = [
        {% for crisis in active_events %}{
            name: "{{crisis.name}}", start_date: "{{crisis.start_date|date:'Y-m-d'}}", status: "{{crisis.status}}",
            countries: [
                {% for country in crisis.countries.all %}{ code: "{{country.code}}", name: "{{country.name}}" },{% endfor %}
            ],
        },{% endfor %}
    ];

    var weekly_reports = [
        {% for report in weekly_reports %}
        {
            start_date: new Date("{{ report.0|date:'Y-m-d' }}"), end_date: new Date("{{ report.1|date:'Y-m-d' }}"),
            countries: [{% for country in report.2 %} "{{country.code}}", {% endfor %}],
            crises: [{% for crisis in report.3 %} "{{crisis.pk}}", {% endfor %}],
            report_ids: [{% for report_id in report.4 %} "{{report_id}}", {% endfor %}],
            label: "{{report.5}}",
            data: [{% for data in report.6 %} {{data|safe}}, {% endfor %}],
            created_at: [{% for dt in report.7 %} "{{ dt|date:'Y-m-d' }}", {% endfor %}],
        },
        {% endfor %}
    ]

    var countries = {
        {% for country in countries %}
        "{{country.code}}": "{{country.name}}",
        {% endfor %}
    };

    var crises_per_country = {
        {% for country, crises in crises_per_country.items %}
        "{{country.code}}": { {% for crisis in crises %} "{{crisis.pk}}" : "{{crisis.name}}", {% endfor %} },
        {% endfor %}
    };
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<section id="map-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div id="the-map"></div>
            </div>
            <div class="col-md-3">
                <div id="overview">
                    <div id="number-of-leads">
                        <span class="number">{{ leads|length }}</span><label>Leads</label>
                    </div>
                    <div id="number-of-entries">
                        <span class="number">{{ informations|length }}</span><label>Entries</label>
                    </div>
                    <div id="number-of-active-crisises">
                        <span class="number">{{ active_events|length }}</span><label>Active crises</label>
                    </div>
                    <div id="number-of-global-monitoring">
                        <span class="number">{{ active_events|length }}</span><label>Countries monitored</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="body">
    <div class="container-fluid">
        <div id="header">
            <div class="row">
                <div class="col-md-4">
                    <h3>Timeline of humanitarian crisis per country</h3>
                </div>
                <div class="col-md-8">
                    <div id="filters">
                        <div class="row">
                            <div class="col-md-3" style="padding-left: 4px; padding-right: 2px">
                                <select id="country-filter" placeholder="Country" multiple>
                                    <option value="">Country</option>
                                    {% for country in countries %}
                                    <option value="{{country.pk}}">{{country.name}}<option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3" style="padding-right: 2px; padding-left: 2px">
                                <select id="date-created-filter" placeholder="Date Created">
                                    <option value="">Date Created</option>
                                    <option value="today">Today</option>
                                    <option value="yesterday">Yesterday</option>
                                    <option value="last-seven-days">Last 7 days</option>
                                    <option value="this-week">This week</option>
                                    <option value="last-thirty-days">Last 30 days</option>
                                    <option value="this-month">This month</option>
                                    <option value="range">Range</option>
                                </select>
                            </div>
                            <div class="col-md-3" style="padding-right: 2px; padding-left: 2px">
                                <select id="disaster-type-filter" placeholder="Disaster Type" multiple>
                                    <option value="">Disaster Type</option>
                                    {% for disaster_type in disaster_types %}
                                    <option value="{{disaster_type.pk}}">{{disaster_type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="timeline-table-wrapper">
            <div class="row">
                <div class="col-md-2" style="padding-right:0">
                    <div id="timeline-table-col0-container">
                        <table id="timeline-table-col0">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-10" style="padding-left:0">
                    <div id="timeline-table-container">
                        <table id="timeline-table">
                            <thead>
                                <tr>
                                    {% comment %}{% for weekly_report in weekly_reports %}
                                    <td class="week-id" data-toggle="tooltip" title="{{weekly_report.0|date:"d-m-Y"}} to {{weekly_report.1|date:"d-m-Y"}}">{{weekly_report.5}}</td>
                                    {% endfor %}{% endcomment %}
                                </tr>
                            </thead>
                            <tbody>
                                {% comment %}{% for country in countries %}
                                <tr class="country-data">
                                    <td class="country-name">{{country.name}}</td>
                                    {% for weekly_report in weekly_reports %}
                                    <td class="weekly-report {% if country in weekly_report.2 %}active{% endif %}"></td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}{% endcomment %}
                            </tbody>
                        </table>
                        <a id="back-btn" class="btn btn-primary" hidden> <i class="fa fa-long-arrow-left"></i>Back to countries</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<div id="date-range-input" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Enter date range</h3>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <label>start date:</label><br>
                        <div style="position: relative;">
                            <input type="date" id="start-date" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label>end date:</label><br>
                        <div style="position: relative;">
                            <input type="date" id="end-date" class="form-control">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 24px; text-align: right;">
                    <button type="button" class="btn btn-default" id="cancel-btn" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" id="ok-btn" style="min-width: 50px; margin-left: 16px;" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
