{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Sign in
{% endblock %}

{% block head %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="app-info">
                <img class="logo" src="{% static 'img/deep-logo-blue.png' %}">
                <div class="welcome-msg">Welcome to <span class="name">Data Entry &amp; Extraction Platform<span></div>
                <div class="extra">Sign in to get started or <a href="/register">Register</a></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-wrapper">
                <div class="title">Sign in</div>
                <form method="post">
                    {% csrf_token %}
                    {% if error %}
                        <div>{{ error }}</div>
                    {% endif %}
                    <input type="text" placeholder="Email" name="email" {% if email %}value="{{email}}"{% endif %} required>
                    <input type="password" placeholder="Password" name="password" required>
                    <div class="action">
                        <input type="submit" class="btn btn-default" value="Sign in">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
