{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Sign in
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/login.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/users/login.js' %}"></script>

<script>
let hid_access_token_url = '{% url "hid_access_token" %}';

{% if hid_config and hid_config.development %}
let hid_login_url = 'https://api2.dev.humanitarian.id/oauth/authorize?response_type=token&client_id={{ hid_config.client_id|safe }}&scope=profile&state=12345&redirect_uri={{ hid_config.redirect_url|safe }}';
{% else %}
let hid_login_url = 'https://auth.humanitarian.id/oauth/authorize?response_type=token&client_id={{ hid_config.client_id|safe }}&scope=profile&state=12345&redirect_uri={{ hid_config.redirect_url|safe }}';
{% endif %}

</script>
{% endblock %}

{% block body %}
<div id="background"></div>
<main>
    <form method="post">
        {% csrf_token %}
        <header>
            <h1>Data entry and exploration platform</h1>
            <!-- <img src="{% watchful_static_url 'img/deep-logo-header.png' %}"> -->
        </header>
        {% if error %}
        <p id="error"><i class="fa fa-exclamation-triangle"></i>{{ error }}</p>
        {% endif %}
        <div>
            <label>Email</label>
            <input type="text" placeholder="Your email id (eg: john.cena@gmail.com)" name="email" {% if email %}value="{{email}}"{% endif %} required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" placeholder="Enter your password" name="password" required>
        </div>
        <div id="submit-btn-container">
            <div><a href="{% url 'password_reset' %}">Forgot password?</a></div>
            <button type="submit">Sign in</button>
        </div>
        <div class="action-buttons">
            <a id="register-link" href="/register">Register</a>
            <a id="login-hid"><img src="{% watchful_static_url 'img/hid-logo.png' %}"></a>
        </div>
    </form>
</main>
{% endblock %}
