{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Sign in
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/login.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/users/login.js' %}"></script>

<script>
let hid_access_token_url = '{% url "hid_access_token" %}';
</script>
{% endblock %}

{% block body %}
<div id="background"></div>
<main>
    <form method="post">
        {% csrf_token %}
        <header>
            <h1>Data entry and exploration platform</h1>
            <!-- <img src="{% watchful_static_url 'img/deep-logo-header.png' %}"> -->
        </header>
        {% if error %}
        <p id="error"><i class="fa fa-exclamation-triangle"></i>{{ error }}</p>
        {% endif %}
        <div>
            <label>Email</label>
            <input type="text" placeholder="Your email id (eg: john.cena@gmail.com)" name="email" {% if email %}value="{{email}}"{% endif %} required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" placeholder="Enter your password" name="password" required>
        </div>
        <div id="action-buttons">
            <div></div>
            <button type="submit" >Sign in</button>
        </div>
        <div>
            <div>
                Don't have an account? <a href="/register">Register</a>
            </div>
            <a id="login-hid">
                Login with HID <small>(TEST)</small>
            </a>
        </div>
    </form>
</main>
{% endblock %}
