{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | User Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% watchful_static_url 'css/user-profile.css' %}" >
<link rel="stylesheet" href="{% watchful_static_url 'css/modal.css' %}" >

<script src="{% watchful_static_url 'js/users/profile.js' %}"></script>
<script src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script>
var activities = [
    {% for activity in user.activitylog_set.all %}
    $.extend(
        { timestamp: new Date('{{ activity.timestamp.isoformat }}'), },
        JSON.parse('{{activity.activity|escapejs}}')
    ),
    {% endfor %}
];
</script>
{% endblock %}

{% block body %}
<nav>
    <h1>User profile</h1>
    <a href="{% url 'login' %}"><i class="fa fa-long-arrow-left"></i>Back to deep</a>
</nav>
<main>
    <header>
        <img src="{% watchful_static_url 'img/default-avatar.png' %}">
        <div class="user-info">
            <h2 id="full-name">
                <div>
                    <label>First name:</label>
                    <div id="first-name" class="name">{{ user.first_name }}</div>
                </div>
                <div>
                    <label>Last name:</label>
                    <div id="last-name" class="name">{{ user.last_name }}</div>
                </div>
            </h2>
            <div class="extra">{{ user.username }}</div>
        </div>
        <div class="action-buttons">
            <a id="save-user-info-btn" hidden><i class="fa fa-save"></i></a>
            <a id="edit-user-info-btn" ><i class="fa fa-edit"></i></a>
            <a id="save-user-info-progress-btn" hidden><i class="fa fa-spinner fa-pulse"></i></a>
        </div>
    </header>
    <section id="project-list">
        <div id="project-list-header">
            <h2>Projects</h2>
            <button><i class="fa fa-plus"></i>Add new project</button>
        </div>
        <div id="projects-header">
            <label class="name" data-sort=".name">Name</label>
            <label class="type" data-sort=".type">Type</label>
            <label class="countries" data-sort=".countries">Countries</label>
            <label class="groups" data-sort=".groups">Groups</label>
        </div>
        <div id="projects">
            {% for crisis in user.event_set.all %}
            <div class="project">
                <div class="name">{{crisis.name}}</div>
                <div class="type">{{crisis.disaster_type.name}}</div>
                <div class="countries">{% for country in crisis.countries.all %}{{country}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                <div class="groups">{% for usergroup in crisis.usergroup_set.all %}{{usergroup}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="user-group-list">
        <div id="user-group-list-header">
            <h2>User groups</h2>
            <button id="new-user-group-btn"><i class="fa fa-plus"></i>Add new User group</button>
        </div>
        <div id="user-groups">
            {% for usergroup in user.usergroup_set.all %}
            <div class="user-group">
                <a class="name" href="{% url 'usergroup:user_group_panel' usergroup.slug %}">{{ usergroup }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<aside>
    <header>
        <h2>Activity log</h2>
    </header>
    <div id='activity-log'>
    </div>
    <div class='activity-template' hidden>
        <h3></h3>
        <date></date>
        <a></a>
    </div>
</aside>
<div class="modal-container" hidden>
    <div class="modal" id="new-user-group-modal" hidden>
        <header>
            <h3 class="modal-header">Add new user group</h3>
        </header>
        <div class="input-container">
            <label>Name</label>
            <input type="text" name="name">
        </div>
        <div class="textarea-container">
            <label>Description</label>
            <textarea name="description"></textarea>
        </div>
        <div class="action-buttons">
            <button data-action="dismiss">Cancel</button>
            <button data-action="proceed">Create user group</button>
        </div>
    </div>
</div>
{% endblock %}
