{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | User Profile
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% watchful_static_url 'css/user-profile.css' %}" >
<script src="{% watchful_static_url 'js/users/profile.js' %}"></script>
{% endblock %}

{% block body %}
<nav>
    <h1>User profile</h1>
    <a href="{% url 'dashboard' %}"><i class="fa fa-long-arrow-left"></i>Back to deep</a>
</nav>
<main>
    <header>
        <img src="{% watchful_static_url 'img/default-avatar.png' %}">
        <div class="user-info">
            <h2 class="name">{{ user.get_full_name }}</h2>
            <div class="extra">{{ user.username }}</div>
        </div>
    </header>
    <section id="project-list">
        <div id="project-list-header">
            <h2>Projects</h2>
            <button><i class="fa fa-plus"></i>Add new project</button>
        </div>
        <div id="projects-header">
            <label class="name" data-sort=".name">Name</label>
            <label class="type" data-sort=".type">Type</label>
            <label class="countries" data-sort=".countries">Countries</label>
            <label class="groups" data-sort=".groups">Groups</label>
        </div>
        <div id="projects">
            {% for crisis in user.event_set.all %}
            <div class="project">
                <div class="name">{{crisis.name}}</div>
                <div class="type">{{crisis.disaster_type.name}}</div>
                <div class="countries">{% for country in crisis.countries.all %}{{country}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
                <div class="groups">TODO</div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="user-group-list">
        <div id="user-group-list-header">
            <h2>User groups</h2>
            <button><i class="fa fa-plus"></i>Add new User group</button>
        </div>
        <div id="user-groups">
            {% for usergroup in user.usergroup_set.all %}
            <div class="user-group">
                <a class="name" href="{% url 'usergroup:user_group_panel' usergroup.slug %}">{{ usergroup }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<aside>
    <h2>Activity log</h2>
</aside>
{% endblock %}
