{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Register
{% endblock %}

{% block head %}
<link href="{% static 'css/register.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="background"></div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="wrapper">
                    <header>
                        <img src="{% static 'img/deep-logo-header.png' %}">
                    </header>
                    <form method="post">
                        {% csrf_token %}
                        {% if error %}
                            <div id="error">{{ error }}</div>
                        {% endif %}
                        <!-- The registration form -->
                        <!-- TODO: Client side form validation: password matching, valid email etc. -->

                        <div class="form-group">
                            <label>First name</label>
                            <input class="form-control" type="text" placeholder="First Name" name="first-name" {% if first_name %}value="{{first_name}}"{% endif %} required>
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input class="form-control" type="text" placeholder="Last Name" name="last-name" {% if last_name %}value="{{last_name}}"{% endif %} required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="Email" name="email" {% if email %}value="{{email}}"{% endif %} required>
                        </div>
                        <div class="form-group">
                            <label>Organization</label>
                            <input class="form-control" type="text" placeholder="Organization" name="organization" {% if organization %}value="{{organization}}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="Password" name="password" required>
                        <div class="form-group">
                        </div>
                            <label>Confirm password</label>
                            <input class="form-control" type="password" placeholder="Retype Password" name="re-password" required>
                        </div>
                        <div class="action">
                            <input type="submit" class="btn btn-primary" value="Register">
                        </div>
                    </form>
                    <p>Register for new account or <a href="/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
