{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Register
{% endblock %}

{% block head %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="app-info">
                <img class="logo" src="{% static 'img/deep-logo.png' %}">
                <div class="welcome-msg">Welcome to <span class="name">Data Entry &amp; Extraction Platform<span></div>
                <div class="extra">Register for new user or <a href="/login">Login</a></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-wrapper">
                <div class="title">Register</div>
                <form>
                    <input type="text" placeholder="Full Name" name="name">
                    <input type="text" placeholder="Username" name="username">
                    <input type="password" placeholder="Password" name="password">
                    <input type="password" placeholder="Retye Password" name="re-password">
                    <div class="action">
                        <input type="submit" class="btn btn-default">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
