{% load watchful_url %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel='shortcut icon' href="{% watchful_static_url 'img/favicon.png' %}" type='image/x-icon' >

    <title>{% block title %}DEEP{% endblock %}</title>

    <script src="{% watchful_static_url 'js/common/jquery.min.js' %}"></script>

    {% block head %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="float-alert-toast">
    </div>
    {% block body %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {% comment %}
    <!-- <script src="{% watchful_static_url 'js/common/bootstrap.min.js' %}"></script> -->
    <!-- <script type="text/javascript">
    // Doorbell feedback system
    window.doorbellOptions = {
        appKey: 'FFuxTK3IJfd3vtTzAqMn4ZZDSubg65C77WbcMHBNouXORwcXAjoVz7slc0ARppKl'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/4308?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));

    </script> -->
    {% endcomment %}
    <script>

        <script type="text/javascript" src="https://togglecorp.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/g6wb3c/b/c/7ebd7d8b8f8cafb14c7b0966803e5701/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=aaa59b20"></script>

    // script for Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88197525-1', 'auto');
    ga('send', 'pageview'{% if user %}, {user_id: '{{user.pk}}'} {% endif %});
    </script> 
</body>
</html>
