{% load watchful_url %}

{% if all_events %}
<script>
    $(document).ready(function(){
        var currentDropdownVal = $('#crisis-dropdown').val();

        var crisisDropdown = $('#crisis-dropdown').selectize({
            onDropdownOpen: function(dropdown) {
                crisisDropdown.clear();
                dropdown.stop().hide().slideToggle();
            },
            onDropdownClose: function(dropdown) {
                if(crisisDropdown.getValue() == ''){
                    crisisDropdown.setValue(currentDropdownVal);
                }
                dropdown.stop().show().slideToggle();
            }
        })[0].selectize;
        $('#crisis-dropdown').change(function() {
            if ($(this).val() != null && $(this).val() != '' && $(this).val() != currentDropdownVal){
                window.location.href = $(this).val();
            }
        });

        // HumanitarianId link
        $('#link-with-hid').click(function() {
            window.location.href = 'http://auth.dev.humanitarian.id/oauth/authorize?response_type=token&client_id=deep-dev&scope=profile&state=833912&redirect_uri=http://www.thedeep.io/login/';
        });

        if (window.location.hash.indexOf('access_token=') >= 0
            && window.location.hash.indexOf('state=833912') >= 0)
        {
            window.location.href = '{% url "hid_access_token" %}' + '?' + window.location.hash.substr(1);
        }
    });
</script>
{% endif %}

<nav>
    <!-- DEEP logo -->
    {% if event %}
    <a href="{% url 'dashboard' event=event.pk%}"><img src="{% watchful_static_url 'img/deep-logo-white.png' %}"></a>
    {% else %}
    <a href="{% url 'dashboard' %}?last_event=1"><img src="{% watchful_static_url 'img/deep-logo-white.png' %}"></a>
    {% endif %}

    <!-- Report -->
    <div id=report-wrapper>
        <a class="{% if current_page == 'report' %}active{% endif %} menu-item" href="{% url 'report:dashboard' %}{% if event %}?event={{event.pk}}&country={{event.countries.all.0.code}}{% endif %}">Report</a>
    </div>
    <!-- Event selector -->
    <div id="crisis-wrapper">
        {% if all_events %}
        <select id="crisis-dropdown" placeholder="Select event">
            <option>Select event</option>
            {% if event %}
            <option value="{% url 'dashboard' %}">None</option>
            {% endif %}
            {% for ev in all_events %}
            <option value="{% url request.resolver_match.view_name event=ev.pk %}" {% if event and event == ev %}selected{% endif %}>{{ev}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if event %}
        <a href="#" style="color: #fff; font-weight: bold; width: 100%; overflow: hidden;"><span class="fa fa-location-arrow" style="margin-right: 8px;"></span>{{event}}</a>
        {% endif %}
        {% endif %}
    </div>

    <!-- Main menu -->
    <div id="main-menu">
        {% if event %}
        <a class="{% if current_page == 'leads' %}active{% endif %} menu-item" href="{% url 'leads:leads' event=event.pk %}">Leads</a>
        <a class="{% if current_page == 'entries' %}active{% endif %} menu-item" href="{% url 'entries:entries' event=event.pk %}">Entries</a>
        <a class="{% if current_page == 'sos' %}active{% endif %} menu-item" href="{% url 'leads:sos' event=event.pk %}">Survey of surveys</a>
        <a class="{% if current_page == 'export' %}active{% endif %} menu-item" href="{% url 'entries:export' event=event.pk %}">Export</a>
        {% endif %}
    </div>

    <div id="chrome-login-wrapper">
        <!-- Chrome extension download -->
        <a class="menu-item" style="padding-left: 0; padding-right: 0; color: #fff;" target="_blank" onmouseover="$(this).tooltip('show')" data-toggle="tooltip" data-placement="bottom" title="Download Chrome Extension" href="https://chrome.google.com/webstore/detail/deep-create-lead/ggplhkhciodfdkkonmhgniaopboeoopi"><i class="fa fa-chrome fa-spin" style="margin-right: 0"></i></a>

        <!-- User menu -->
        <span class="dropdown menu-item pull-right" id="user-menu">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-user"></i>{{ user.first_name }}<span class="caret" style="margin-right: 0"></span>
            </button>
            <ul class="dropdown-menu">
                {% if request.user.is_superuser %}
                <li><a href="/admin"><i class="fa fa-user-secret"></i>Admin panel</a></li>
                <li><a href="{% url 'custom_admin:country_management' %}"><i class="fa fa-globe"></i>Country Panel</a></li>
                <li><a href="{% url 'custom_admin:crisis_panel' %}"><i class="fa fa-wrench"></i>Crisis Panel</a></li>
                {% endif %}
                {% if request.user.userprofile.hid %}
                <!-- TODO: Maybe show link to official hid profile page -->
                {% else %}
                <li><a id="link-with-hid" href="#"><i class="fa fa-link"></i>Link with HID <small>(TEST)</small></a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </span>
    </div>
</nav>
