{% load watchful_url %}
{% load check_acaps %}

<script>
    $(document).ready(function(){
        {% if all_events %}
        var currentDropdownVal = $('#project-dropdown').val();

        var projectDropdown = $('#project-dropdown').selectize({
            onDropdownOpen: function(dropdown) {
                projectDropdown.clear();
                //dropdown.stop().hide().slideToggle();
            },
            onDropdownClose: function(dropdown) {
                if(projectDropdown.getValue() == ''){
                    projectDropdown.setValue(currentDropdownVal);
                }
                //dropdown.stop().show().slideToggle();
            }
        })[0].selectize;
        $('#project-dropdown').change(function() {
            if ($(this).val() != null && $(this).val() != '' && $(this).val() != currentDropdownVal){
                window.location.href = $(this).val();
            }
        });
        {% endif %}

        $('body nav').on('click', '.dropdown-toggle', function(){
            $(this).closest('.dropdown').find('.items').toggle();
        });
        $(document).on('click', function(e) {
            if (!$('body nav .dropdown').is(e.target) && $('body nav .dropdown').has(e.target).length == 0) {
                $('body nav .dropdown').find('.items').hide();
            }
        });

        $('div[data-url]').click(function() {
            if ($(this).data('target') == 'new-tab') {
                window.open($(this).data('url'), '_blank');
            } else {
                window.location.href = $(this).data('url');
            }
        });
    });
</script>

<nav>
    <!-- DEEP logo -->
    <div id="deep-logo-container">
        {% if event %}
        <a href="{% url 'dashboard' event=event.pk%}"><img src="{% watchful_static_url 'img/deep-logo-white.png' %}"></a>
        {% else %}
        <a href="{% url 'dashboard' %}?last_event=1"><img src="{% watchful_static_url 'img/deep-logo-white.png' %}"></a>
        {% endif %}
    </div>

    <!-- Report -->


    <!-- Event selector -->
    <div id="project-select-container">
        {% if all_events %}
        <select id="project-dropdown" placeholder="Select event">
            <option>Select event</option>
            {% if request.user|allow_acaps %}
            {% if event %}
            <option value="{% url 'dashboard' %}">All events</option>
            {% else %}
            <option value="{% url request.resolver_match.view_name 0 %}" selected>All events</option>
            {% endif %}
            {% endif %}
            {% for ev in all_events %}
            <option value="{% url request.resolver_match.view_name event=ev.pk %}" {% if event and event == ev %}selected{% endif %}>{{ev}}</option>
            {% endfor %}
        </select>
        {% else %}
        {% if event %}
        <div id="project-dropdown-alt"><span class="fa fa-location-arrow"></span>{{event}}</div>
        {% endif %}
        {% endif %}
    </div>

    <!-- Main menu -->
    <div id="main-menu">
        {% if event %}
            <a class="{% if current_page == 'leads' %}active{% endif %} menu-item" href="{% url 'leads:leads' event=event.pk %}">Leads</a>
            <a class="{% if current_page == 'entries' %}active{% endif %} menu-item" href="{% url 'entries:entries' event=event.pk %}">Entries</a>

            {% if event.is_acaps %}
            <a class="{% if current_page == 'sos' %}active{% endif %} menu-item" href="{% url 'leads:sos' event=event.pk %}">Assessment Registry</a>
            <a class="{% if current_page == 'report' %}active{% endif %} menu-item" href="{% url 'report:dashboard' %}?event={{event.pk}}&country={{event.countries.all.0.code}}">Weekly Snapshot</a>
            {% endif %}

            <a class="{% if current_page == 'export' %}active{% endif %} menu-item" href="{% url 'entries:export' event=event.pk %}">Export</a>
        {% else %}
            <a class="{% if current_page == 'leads' %}active{% endif %} menu-item" href="{% url 'leads:leads' 0 %}">Leads</a>
            <a class="{% if current_page == 'entries' %}active{% endif %} menu-item" href="{% url 'entries:entries' 0 %}">Entries</a>
        {% endif %}
    </div>
    <div id="extra-menu">
        <!-- Chrome extension download -->
        <a id="chrome-extension-download-link" target="_blank" title="Download Chrome Extension" href="https://chrome.google.com/webstore/detail/deep-create-lead/ggplhkhciodfdkkonmhgniaopboeoopi"><i class="fa fa-chrome fa-spin"></i></a>

        <!-- User menu -->
        <div class="dropdown" id="user-menu" tabindex="-1">
            <a class="dropdown-toggle"><div class="name"><i class="fa fa-user"></i>{{ user.first_name }}</div><i class="fa fa-chevron-down"></i></a>
            <div class="items" hidden>
                <a href="{% url 'user_profile' user.pk %}"><i class="fa fa-user"></i>Profile</small></a>
                {% if request.user.is_superuser %}
                <a href="/admin"><i class="fa fa-user-secret"></i>Admin panel</a>
                <a href="{% url 'custom_admin:country_management' %}"><i class="fa fa-globe"></i>Country Panel</a>
                {% endif %}

                {% if event and request.user in event.get_admins %}
                <a href="{% url 'project:project_details' event.pk %}"><i class="fa fa-wrench"></i>Project Panel</a>
                {% endif %}

                <hr>
                {% comment %}
                <a href="{% url 'password_change' %}"><i class="fa fa-key"></i>Change password</small></a>
                {% if not request.user.userprofile.hid %}
                <a id="link-with-hid"><i class="fa fa-link"></i>Link with HID</a>
                {% endif %}
                {% endcomment %}
                <a onclick="window.location.href = '{% url 'logout' %}';"><i class="fa fa-sign-out"></i>Logout</a>
            </div>
        </div>
    </div>
</nav>
