{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Country Management Panel
{% endblock %}

{% block head %}

<link href="{% static 'css/country-management.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom-admin/country-management.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom-admin/country-management-map.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{% static 'css/leaflet.label.css' %}" >
<script src="{% static 'js/common/leaflet.label.js' %}"></script>

<script>
    var countries = {
        {% for country in countries %}
        '{{country.code}}': {
            name: '{{country.name}}',
            admin_levels: [
                {% for admin_level in country.adminlevel_set.all %}
                { id: '{{admin_level.pk}}', level: '{{admin_level.level}}', name: '{{admin_level.name}}', property_name: '{{admin_level.property_name}}',
                  property_pcode: '{{admin_level.property_pcode}}', geojson: '{{admin_level.geojson.url}}' },
                {% endfor %}
            ]
        },
        {% endfor %}
    };
</script>

{% endblock %}

{% block body %}

<header>
    <div class="container-fluid">
        <a href="{% url 'login' %}"><i class="fa fa-long-arrow-left"></i>Back to DEEP</a>
        <h1>Country Management Panel</h1>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="col-md-3 ">
            <div id="country-list">
                <button class="btn btn-primary" onclick="addNewCountry();"><i class="fa fa-plus"></i>Add new country</button>
                <h2>Countries</h2>
                {% for country in countries %}
                <div class="country {% if selected_country == country.pk %}active{% endif %}" data-country-code="{{country.code}}">{{country.name}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div id="country-detail">
                <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div id="country-detail-inputs">
                            <h2>Add new country</h2>
                            <div class="form-group">
                                <label>Country code</label>
                                <input name="country-code" type="text" class="form-control" id="country-code" placeholder="Enter country code" required>
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input name="country-name" type="text" class="form-control" id="country-name" placeholder="Enter country name" required>
                            </div>
                        </div>
                        <button id="save-btn" name="save" class="btn btn-info"><i class="fa fa-save"></i>Save changes</button>
                        <button id="delete-btn" name="delete" class="btn btn-danger" onclick="return confirm('Are you sure?');"><i class="fa fa-trash"></i>Delete country</button>
                    </div>
                    <div class="col-md-8" style="position: relative;">
                        <div id="the-map">
                        </div>
                        <div id="map-controls">
                            <div id="admin-level-buttons"></div>
                        </div>
                    </div>

                </div>
                <h3>Admin Levels</h3>
                <div id="admin-levels-container"></div>
                <button id="add-new-admin-level" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>Add new admin level</button>


                </form>
            </div>
        </div>
    </div>
</main>

<div class="admin-level-details-template" hidden>
    <div class="row">
        <input name="admin-level-pk" class="admin-level-pk" value="new" type="hidden">
        <div class="col-md-3">
            <div class="form-group">
                <label>Admin level</label>
                <input name="admin-level" type="number" min="1" step="1" class="form-control admin-level" placeholder="Enter admin level">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Admin level name</label>
                <input name="admin-level-name" type="text" class="form-control admin-level-name" placeholder="Enter admin level name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Property name</label>
                <input name="property-name" type="text" class="form-control property-name" placeholder="Enter property name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Property pcode</label>
                <input name="property-pcode" type="text" class="form-control property-pcode" placeholder="Enter property pcode">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <label> GeoJSON file </label>
            <input id="geojson-file-input" name="geojson" type="file" class="geojson file-input">
            <label for="geojson-file-input"><i class="fa fa-upload"></i>Choose a file</label>
            <p class="geojson-current"></p>
            <p class="geojson-old"></p> <input type="hidden" name="geojson-selected" class="geojson-selected" value="false">
        </div>
        <div class="col-md-2">
            {% comment %}
                Note that by putting a hidden input followed by checkbox input, we will get only the hidden value (0)
                if checkbox was not checked and both the checkbox and hidden values (1, 0) if it was.
            {% endcomment %}
            <label class="delete-admin-level"><input name="delete-admin-level" type="checkbox" class"delete-admin-level form-control" value="1"><span>Delete</span></label>
            <input name="delete-admin-level" type="hidden" value="0">
        </div>
    </div>
</div>
{% endblock %}
