{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link href="{% static 'css/crisis-panel.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

{% endblock %}

{% block body %}
<header>
    <a href="{% url 'dashboard' %}"><i class="fa fa-long-arrow-left"></i>Back to DEEP</a>
    <h1>Crisis Manager</h1>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div id="crisis-list">
                    <div class="crisis">Crisis #1</div>
                    <div class="crisis">Crisis #2</div>
                    <div class="crisis">Crisis #3</div>
                    <div class="crisis">Crisis #4</div>
                    <div class="crisis">Crisis #5</div>
                    <div class="crisis">Crisis #6</div>
                    <div class="crisis">Crisis #7</div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="crisis-detail">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
