{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Crisis Manager
{% endblock %}

{% block head %}

<link href="{% static 'css/crisis-panel.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/crisis-panel.js' %}"></script>


<script>
    var crises = {
        {% for event in events %}
        "{{event.pk}}": {
            name: "{{event.name}}", countries: [{% for country in event.countries.all %}"{{country.pk}}",{%endfor%}],
            start_date: "{{event.start_date|date:'Y-m-d'}}", end_date: "{{event.end_date|date:'Y-m-d'}}",
            disaster_type: "{{event.disaster_type.pk}}", assigned_to: "{{event.assigned_to.pk}}"
        },
        {% endfor %}
    };
</script>

{% endblock %}

{% block body %}
<header>
    <div class="container-fluid">
        <a href="{% url 'login' %}"><i class="fa fa-long-arrow-left"></i>Back to DEEP</a>
        <h1>Crisis Manager</h1>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div id="crisis-list">
                    <button class="btn btn-primary" onclick="addNewCrisis()">Add new crisis</button>
                    
                    {% for event in events %}
                    <div class="crisis {% if event.pk == selected_event %}active{% endif %}" data-crisis-pk="{{event.pk}}">{{event.name}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <div id="crisis-detail">
                    <form method="post" action="{% url 'custom_admin:crisis_panel' %}">
                    {%csrf_token%}
                    <h2> Add new crisis </h2>
                    <input type="hidden" name="crisis-pk" id="crisis-pk" value="new">
                    <div class="form-group">
                        <label> Name </label>
                        <input name="crisis-name" type="text" class="form-control" id="crisis-name" placeholder="Enter crisis name" required>
                    </div>
                    <div class="form-group">
                        <label> Disaster Type </label>
                        <select name="disaster-type" class="form-control" id="disaster-type" placeholder="Select disaster type">
                            <option value="">Select disaster type</option>
                            {% for disaster_type in disaster_types %}
                            <option value="{{disaster_type.pk}}">{{disaster_type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label> Countries </label>
                        <select name="countries" class="form-control" id="countries" placeholder="Select countries" multiple>
                            <option value="">Select countries</option>
                            {% for country in countries %}
                            <option value="{{country.pk}}">{{country.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-6">
                                <label id="padded-label">Start date:</label>
                                <div style="position: relative;">
                                    <input name="crisis-start-date" type="date" class="form-control" id="crisis-start-date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label id="padded-label">End date:</label>
                                <div style="position: relative;">
                                    <input name="crisis-end-date" type="date" class="form-control" id="crisis-start-date">
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <label> Assigned To</label>
                        <select name="assigned-to" class="form-control" id="assigned-to" placeholder="Assigned to">
                            <option value="">Assigned to</option>
                            {% for u in users %}
                            {% if u.first_name != "" %}
                            <option value="{{u.pk}}">{{u.get_full_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class = "form-group" style = 'text-align: right'>
                        <button class='btn btn-danger' name="delete" id="delete-btn" onclick="return confirm('Are you sure?');" hidden> <i class='fa fa-trash'> </i> Delete </button>
                        <button class='btn btn-primary' name="save"> <i class='fa fa-save'> </i> Save </button>
                    </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}