{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Country Panel
{% endblock %}

{% block head %}

<link href="{% watchful_static_url 'css/entry-template.css' %}" type="text/css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>

{% endblock %}

{% block body %}

<nav>
    <header>
        <a title="DEEP" href="{% url 'login' %}"><img class="deep-logo" src="{% watchful_static_url 'img/deep-logo-sm-white.png' %}"></a>
        <h1>Entry Template Editor</h1>
    </header>
    <a onclick="window.location.href = document.referrer;"><i class="fa fa-long-arrow-left"></i>Back</a>
</nav>

{% endblock %}
