{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Entry Template Editor
{% endblock %}

{% block head %}

<link href="{% watchful_static_url 'css/entry-template.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/jquery-ui.min.css' %}"/>

<script type="text/javascript" src="{% watchful_static_url 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>

<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/elements.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/page-one.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/grid-elements.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/page-two.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/scale-elements.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/input-elements.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/chart-elements.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/entry-template.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entry-template/html2canvas.js' %}"></script>

<script>
let csrf_token = "{% csrf_token %}";

let templateData = {
    name: '{{ entry_template.name }}',
    elements: JSON.parse('{{ entry_template.elements|escapejs }}'),
};


const num_entries = '{{ num_entries }}';
const redirect_location = {% if redirect_location %}'{{ redirect_location }}'{% else %}null{% endif %};
</script>

{% endblock %}

{% block body %}

{% include 'simplified-navbar.html' with page_title='Entry template editor' %}

<aside>
    <section class="title-block">
        <h2 id="template-name">New template</h2>
        <div class="action-container">
            <button id="switch-in-bar" class="switch-page">Switch page</button>
            <button id="save-button" title="Save">Save</button>
            <button id="cancel-button" title="Cancel">Cancel</button>
        </div>
    </section>
    <section>
        <header>
            <h3>Widgets</h3>
        </header>
        <div id="widgets">
            <div id="matrix1d-widget" class="widget">
                <h4>1d Matrix</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="matrix2d-widget" class="widget">
                <h4>2d Matrix</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="number-widget" class="widget">
                <h4>Number Input</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="date-widget" class="widget">
                <h4>Date Input</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="scale-widget" class="widget">
                <h4>Scale Input</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="multiselect-widget" class="widget">
                <h4>Multiselect Input</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="organigram-widget" class="widget">
                <h4>Organigram</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
            <div id="geolocations-widget" class="widget">
                <h4>Geolocations</h4>
                <button><i class="fa fa-plus"></i>Add</button>
            </div>
        </div>
    </section>
    <section>
        <header>
            <h3>Elements</h3>
        </header>
        <div id="elements">
            <div class="element-template" hidden>
                <div class="header">
                    <h4></h4>
                    <div class="action-container">
                        <button><i class="delete-element fa fa-trash" title="Delete element"></i></button>
                    </div>
                </div>
                <div class="properties">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button id="switch-in-footer" class="switch-page" >Switch page</button>
    </footer>
</aside>

<main>
    <div id="page-one">
    </div>
    <div id="page-two" hidden>
        <div class="entry"></div>
    </div>
</main>

{% endblock %}
