{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Project Management Panel
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/project-panel.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/custom-admin/project-panel.js' %}"></script>

<script>
var projects = {
    {% for event in events %}
    "{{event.pk}}": {
        name: "{{event.name|escapejs}}",
        countries: [{% for country in event.countries.all %}"{{country.pk}}",{%endfor%}],
        description: "{{event.description}}",
        start_date: "{{event.start_date|date:'Y-m-d'}}",
        end_date: "{{event.end_date|date:'Y-m-d'}}",
        status: "{{event.status}}",
        disaster_type: "{{event.disaster_type.pk}}",
        glide_number: "{{event.glide_number}}",
        spillover: {% if event.spill_over %}"{{event.spill_over.pk}}"{% else %}null{% endif %},
        usergroups: [{% for group in event.usergroup_set.all %}"{{group.pk}}", {% endfor %}],
        admins: [{% for admin in event.admins.all %}"{{admin.pk}}", {% endfor %}],
        members: [{% for member in event.members.all %}"{{member.pk}}", {% endfor %}],
        entry_template: {% if event.entry_template %}"{{ event.entry_template.pk }}"{% else %}null{% endif %},
        num_entries: {{ event.get_num_entries }}
    },
    {% endfor %}
};

var defaultGroupSelection = {% if selected_group %}["{{selected_group}}"]{% else %}""{% endif %};
var defaultAdminSelection = ["{{request.user.pk}}"];
let myPk = '{{request.user.pk}}';
</script>

{% endblock %}

{% block body %}

{% include 'simplified-navbar.html' with page_title="Project Management Panel" %}

<aside>
    <div id="project-header">
        <h2>Crises</h2>
        <a id="add-new-project-btn" onclick="addNewProject()"><i class="fa fa-plus fa-lg data-toggle="tooltip" data-placement="bottom" title="Add New Project" "></i></a>
        <div id="search-wrapper">
            <input id="project-search" placeholder="Search project">
            <i class="fa fa-search"></i>
        </div>
        <div id="project-status-radio">
            <label class="active"><input name="project-status-radio" value="2" type="radio" checked>All</label>
            <label><input name="project-status-radio" value="0" type="radio">Global Monitoring</label>
            <label><input name="project-status-radio" value="1" type="radio">Active Project</label>
        </div>
    </div>
    <div id="project-list">
        {% for event in events %}
        <div class="project {% if event.pk == selected_event %}active{% endif %}" data-project-status="{{ event.status }}" data-project-pk="{{ event.pk }}">{{event.name}}</div>
        {% endfor %}
    </div>
</aside>

<main>
    <div id="project-detail">
        <form method="post" action="{% url 'custom_admin:project_panel' %}">
            {%csrf_token%}
            <header>
                <h2>Add new project</h2>
                <div id="action-buttons">
                    <button class='btn-danger' name="delete" id="delete-btn"onclick="return confirm('Are you sure you want to delete this project?');" hidden> <i class='fa fa-trash'></i>Delete Project</button>
                    <div></div>
                    <button class='btn-info' id="save-btn" name="save"> <i class='fa fa-save'></i>Save Project</button>
                </div>
            </header>
            <div class="input-group">
                <input type="hidden" name="project-pk" id="project-pk" value="new">
                <div>
                    <label>Name</label>
                    <input name="project-name" type="text" id="project-name" placeholder="Enter project name" required>
                </div>
                <div>
                    <label>Description</label>
                    <textarea name="project-description" id="project-description" placeholder="Enter project description"></textarea>
                </div>
                <div>
                    <label>Project Status</label>
                    <div id="project-status-wrapper">
                        <label><input class="project-status" name="project-status" value="0" type="radio">Global Monitoring</label>
                        <label><input class="project-status" name="project-status" value="1" type="radio" checked>Active Project</label>
                    </div>
                </div>
                <div>
                    <label> Disaster Type </label>
                    <select name="disaster-type" id="disaster-type" placeholder="Select disaster type">
                        <option value="">Select disaster type</option>
                        {% for disaster_type in disaster_types %}
                        <option value="{{disaster_type.pk}}">{{disaster_type.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label><a target="_blank" href="http://glidenumber.net/">Glide Number<span class="fa fa-external-link" style="margin-left: 8px;"></span></a></label>
                    <input name="glide-number" type="text" id="glide-number" placeholder="Enter Glide Number">
                </div>
                <div>
                    <label> Countries </label>
                    <select name="countries" id="countries" placeholder="Select countries" multiple>
                        <option value="">Select countries</option>
                        {% for country in countries %}
                        <option value="{{country.pk}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="date-field-wrapper">
                    <div>
                        <label id="padded-label">Start date:</label>
                        <div style="position: relative;">
                            <input name="project-start-date" type="date" id="project-start-date" required>
                        </div>
                    </div>
                    <div>
                        <label id="padded-label">End date:</label>
                        <div style="position: relative;">
                            <input name="project-end-date" type="date" id="project-start-date">
                        </div>
                    </div>
                </div>
                <div id="project-members-wrapper">
                    <div>
                        <label>User groups</label>
                        <select name="user-groups" id="user-groups" placeholder="User groups" multiple>
                            <option value="">User groups</option>
                            {% for group in usergroups %}
                            <option value="{{group.pk}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Other Members</label>
                        <select name="members" id="members" placeholder="Members" multiple>
                            <option value="">Members</option>
                            {% for u in users %}
                            {% if u.first_name != "" %}
                            <option value="{{u.pk}}">{{u.get_full_name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <label>Admins</label>
                    <select name="admins" id="admins" placeholder="Admins" multiple>
                        <option value="">Admins</option>
                        {% for u in users %}
                        {% if u.first_name != "" %}
                        <option value="{{u.pk}}">{{u.get_full_name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Spillover Effect</label>
                    <select name="spillover" id="spillover" placeholder="Spillover effect">
                        <option value="">Spillover</option>
                        {% for e in events %}
                        <option value="{{e.pk}}">{{e.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Entries template</label>
                    <select name="entry-template" id="entry-template" placeholder="Entries template">
                        <option value="">Select template for entries</option>
                        {% for template in entry_templates %}
                        <option value="{{template.pk}}">{{ template.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}
