{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | {% if entry %}Edit{% else %}Add{% endif %} Entry
{% endblock %}

{% block head %}

<link href="{% static 'css/add-entry.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/selectize.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/selectize.bootstrap3.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/split-pane.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split-pane.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<!-- <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
<script src="{% static 'js/leaflet.js' %}"></script> -->

<link rel="stylesheet" href="{% static 'css/leaflet.label.css' %}" >
<script src="{% static 'js/leaflet.label.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    // Is simplified option selected?
    var isSimplified;
    // Simplified version of the lead.
    var leadSimplified = "{% if lead_simplified %}{{lead_simplified|escapejs}}{% endif %}";
    leadSimplified = leadSimplified.replace(/(?:\r\n|\r|\n)/g, '<br />');

    // Sectors and tags.
    var tags = {
        {% for sector in sectors %} "{{sector.name}}": {{sector.tags_json|safe}}, {% endfor %}
    };
    // Currently selected tags and their colors.
    var selectedTags = {};

    // Current map selections.
    var mapSelections = [];

    // Information attributes.
    var attrs = [
    {% for group, attributes in attributes.items %}
        {
            'id': {'pk': '{{group.pk}}', 'text': '{{group.name|safe}}'},
            'data': [
        {% for attribute in attributes %}
            {'pk': '{{ attribute.pk }}', 'text': '{{attribute.name|safe}}'},
        {% endfor %}
            ]
        },
    {% endfor %}
    ];

    // Affected groups.
    // name, parent, tooltip.
    var affected_groups = [
        {% for group in affected_groups %}
        ['{{group.name}}', '{% if group.parent %}{{group.parent}}{% endif %}', ''],
        {% endfor %}
    ];

    // CSRF Token Tag for Form.
    var csrf_token = "{% csrf_token %}";
</script>

{% endblock %}

{% block body %}
{% include 'navigation-bar.html' %}

<div class="split-pane fixed-left">

    <div class="split-pane-component" id="left-component">
        {% if lead_simplified %}
        <div id="lead-options-container">
            <div class="btn-group" data-toggle="buttons" {% if lead.lead_type == 'MAN' %} style="display:none;" {% endif %}>
                <label class="btn btn-default radio-inline active"><input type="radio" name="lead-view-option" value="simplified" checked>Simplified</label>
                <label class="btn btn-default radio-inline"><input type="radio" name="lead-view-option" value="original">Original</label>
            </div>
            <div id="tag-buttons"></div>
        </div>
        {% endif %}

        <div id="lead-preview-container">
            {% if lead.lead_type == 'URL' %}
            <iframe id="lead-preview" src="{{ lead.url }}"></iframe>
            {% elif lead.lead_type == 'ATT' %}
            <iframe id="lead-preview" src="{{ lead.attachment.upload.url}}"></iframe>
            {% endif %}
            <div id="lead-simplified-preview">{{lead_simplified|safe|escape}}</div>
        </div>
    </div>

    <div class="split-pane-divider" id="my-divider"></div>

    <div class="split-pane-component" id="right-component">
        <div class="container-fluid">
            <div id="the-map" style="height:300px; margin-top:10px;"></div>

            <select name="country" id="country" placeholder="Select a country">
                <option value="">Select a country</option>
                {% for country in countries %}
                <option value="{{country.pk}}" {% if entry and entry.country == country %}selected{% endif %}>{{country.name}}</option>
                {% endfor %}
            </select>

            <div id="admin-level-buttons"></div>

            <div>
                <h3> Affected Groups </h3>
                <div id="chart-div"></div>
            </div>

            <!-- <div id="affected-groups">
                <div class="row">
                    <div class="col-sm-12"><button class="btn btn-primary">All Population</button></div>

                    <div class="col-sm-10">
                        <button class="btn btn-xs btn-primary">Affected</button>
                        <div class="row">
                            <div class="col-sm-9">
                                <button class="btn btn-xs btn-default">Displaced</button>
                                <div class="row">
                                    <div class="col-md-2"><button class="btn btn-xs btn-warning">IDP</button></div>
                                    <div class="col-md-2"><button class="btn btn-xs btn-warning">Refugee</button></div>
                                    <div class="col-md-2"><button class="btn btn-xs btn-warning">Asylum<br>Seekers</button></div>
                                    <div class="col-md-3"><button class="btn btn-xs btn-warning">Returnees</button></div>
                                    <div class="col-md-2"><button class="btn btn-xs btn-warning">Others</button></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <button class="btn btn-xs btn-success">Camp or<br>Camp-like</button>
                                        <div class="row">
                                            <div class="col-md-3"><button class="btn btn-xs btn-danger">Planned</button></div>
                                            <div class="col-md-3"><button class="btn btn-xs btn-danger">Self<br>setteled</button></div>
                                            <div class="col-md-3"><button class="btn btn-xs btn-danger">Collective<br>center</button></div>
                                            <div class="col-md-3"><button class="btn btn-xs btn-danger">Reception or<br>Transit site</button></div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-xs btn-success">Private or<br>Individual<br>Accomodation</button>
                                        <div class="row">
                                            <div class="col-md-6"><button class="btn btn-xs btn-danger">Privately<br>hosted</button></div>
                                            <div class="col-md-6"><button class="btn btn-xs btn-danger">Individual</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-xs btn-default">Non displaced</button>
                                <div class="row">
                                    <div class="col-md-6"><button class="btn btn-xs btn-warning">Host</button></div>
                                    <div class="col-md-6"><button class="btn btn-xs btn-warning">Non host</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"><button class="btn btn-xs btn-primary">Non affected</button></div>


                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-sm-12">
                    <div class="tree">
                        <ul>
                            <li>
                                <div class="checkbox"><label><input type="checkbox" name="all-population" id="all-population">All population</label></div>
                                <ul>
                                    <li>
                                        <div class="checkbox"><label><input type="checkbox" name="affected" id="affected">Affected</label></div>
                                        <ul>
                                            <li>
                                                <div class="checkbox"><label><input type="checkbox" name="displaced" id="displaced">Displaced</label></div>
                                                <ul>
                                                    <li><div class="checkbox" ><label><input type="checkbox" name="idp" id="idp">IDP</label></div></li>
                                                    <li><div class="checkbox" ><label><input type="checkbox" name="refugees" id="refugees">Refugees</label></div></li>
                                                    <li><div class="checkbox"><label><input type="checkbox" name="asylum-seekers" id="asylum-seekers">Asylum Seekers</label></div></li>
                                                    <li><div class="checkbox"><label><input type="checkbox" name="returnees" id="returnees">Returnees</label></div></li>
                                                    <li><div class="checkbox"><label><input type="checkbox" name="others" id="others">Others of Concern</label></div></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <div class="checkbox"><label><input type="checkbox" name="non-displaced" id="non-displaced">Non-Displaced</label></div>
                                                <ul>
                                                    <li><div class="checkbox"><label><input type="checkbox" name="host" id="host">Host</label></div></li>
                                                    <li><div class="checkbox"><label><input type="checkbox" name="non-host" id="non-host">Non-Host</label></div></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <div class="checkbox"><label><input type="checkbox" name="non-affected" id="non-affected">Non-Affected</label></div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="tree">
                        <ul>
                            <li>
                                <div class="checkbox"><label><input type="checkbox" name="camp" id="camp">Camp/Camplike</label></div>
                                <ul>
                                    <li><div class="checkbox"><label><input type="checkbox" name="planned" id="planned">Planned</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" name="self-setteled" id="self-setteled">Self-setteled</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" name="collective-center" id="collective-center">Collective center</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" name="site" id="site">Reception/Transit site</label></div></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="tree">
                        <ul>
                            <li>
                                <div class="checkbox"><label><input type="checkbox" name="accomodation" id="accomodation">Private/Individual Accomodation</label></div>
                                <ul>
                                    <li><div class="checkbox"><label><input type="checkbox" name="privately-hosted" id="privately-hosted">Privately Hosted</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox" name="non-hosted" id="non-hosted">Non-Hosted</label></div></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        <div id="information-attributes">
            <h3> Information Attributes </h3>
            <div class="row">
                <div class="col-md-6">
                    <div id="attr-contents">

                    </div>
                </div>

                <div class="col-md-6" id="attr-inputs">
                    <div id="selected-attr-title"></div>
                    <div id="contents"></div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:20px;">
            <button id="save-btn" class="col-md-offset-10 col-md-2 btn btn-primary">Save</button>
        </div>
    </div>
</div>

<div class="template-attr-input" hidden>
    <div class="row">
        <div class="col-xs-10">
            Excerpt:
            <textarea class="form-control" placeholder="Excerpt"></textarea>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-add" >+</button>
        </div>
    </div>
    <div class="row" style="padding-top:8px;">
        <div class="col-xs-5">
            Number:
            <input type="number" class="form-control" placeholder="Number">
        </div>
        <div class="col-xs-5">
            Reliability:
            <select class="form-control">
                <option value="NOA">N/A</option>
                {% for reliability in reliabilities %}
                <option value="{{reliability.0}}">{{reliability.1}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<script src="{% static 'js/add-entry.js' %}"></script>
<script src="{% static 'js/add-entry-map.js' %}"></script>

{% endblock %}
