{% load watchful_url %}
{% load startswith %}

<div class="entry-template" hidden>
    <div class="excerpt">
        <textarea class="excerpt-text" ></textarea>
        <img class="excerpt-image">
    </div>
    <div>
        <div class="reliability">
            <label>Reliability:</label>
            {% for reliability in reliabilities %}
            <span data-id="{{reliability.pk}}" class="_{{reliability.level}}" title="{{reliability}}"></span>
            {% endfor %}
        </div>
        <div class="severity">
            <label>Severity:</label>
            {% for severity in severities %}
            <span data-id="{{severity.pk}}" class="_{{severity.level}}" title="{{severity}}"></span>
            {% endfor %}
        </div>
        <div class="information-date">
            <label>Information's date:</label>
            <div class="action-buttons">
                <a class="fa fa-circle btn-date-apply-to-all" title="Apply to all"></a>
                <a class="fa fa-circle btn-date-apply-to-all-below" title="Apply to all below"></a>
            </div>
            <input type="date" class="entry-date" placeholder="Date">
            <input class="date-picker-template" data-alt=".entry-date" placeholder="Date">
        </div>
        <div class="number" hidden>
            <label>Number:</label>
            <input type="number" step="1" min="0" class="entry-number form-control form-group" placeholder="Number">
        </div>
    </div>
    <div class="vulnerable-groups">
        <label>Demographic groups:</label>
        <div class="action-buttons">
            <a class="fa fa-circle btn-demographic-apply-to-all" title="Apply to all"></a>
            <a class="fa fa-circle btn-demographic-apply-to-all-below" title="Apply to all below"></a>
        </div>
        <select class="vulnerable-group-select" class="form-control form-group" placeholder="Select demographic group" multiple>
            {% for vg in vulnerable_groups %}
            <option value="{{vg.pk}}">{{vg}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="specific-need-groups">
        <label>Specific need groups:</label>
        <div class="action-buttons">
            <a class="fa fa-circle btn-specific-needs-apply-to-all" title="Apply to all"></a>
            <a class="fa fa-circle btn-specific-needs-apply-to-all-below" title="Apply to all below"></a>
        </div>
        <select class="specific-need-group-select" class="form-control form-group" placeholder="Select specific need group" multiple>
            {% for sg in specific_needs_groups %}
            <option value="{{sg.pk}}">{{sg}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="affected-group">
        <label>Affected groups:</label><a class="affected-groups-modal-btn"><img src="{% watchful_static_url 'img/organigram.png' %}"></a>
        <div class="affected-group-list"></div>
    </div>
    <div class="geo-location">
        <label>Geo locations:</label><a class="map-modal-btn"><img src="{% watchful_static_url 'img/mapicon.png' %}"></a>
        <div class="geo-locations-list"></div>
    </div>
    <div class="attribute-list">
    </div>
    <div class="action-buttons">
        <a class="edit-entry-btn fa fa-edit" title="Edit Attributes"></a>
        <a class="delete-entry-btn fa fa-times" title="Delete Entry"></a>
    </div>
</div>
<div class="hidden">
    <div class="attribute-template">
        <div><div class="pillar"></div><div class="sub-pillar"></div></div>
        <div><div class="sector"></div><div class="dropdown" tabindex="-1"><div class='sub-sector-list'></div><a class="sub-sector"></a> <div class="dropdown-menu" hidden></div></div></div></div>
</div>
