{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | {% if entry %}Edit{% else %}Add{% endif %} Entry
{% endblock %}

{% block head %}
<link href="{% static 'css/add-entry.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/navigation-bar.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/selectize.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/selectize.bootstrap3.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/split-pane.css' %}" type="text/css" rel="stylesheet">

<script>
//@TODO: fill with map data
var shapes = [];
var shapeIdToken = 0;
</script>


<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split-pane.js' %}"></script>
<script type="text/javascript" src="{% static 'js/add-entry.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-nr38mjHS3Y_PapPYSmTaFFQ9ucQGwig&libraries=places,drawing&callback=initMap" async defer></script>

{% endblock %}

{% block body %}

{% include 'navigation-bar.html' %}

<script>
{% if lead %}
    var lead_type = '{{lead.lead_type}}';
    {% if lead.url %}var lead_url = '{{lead.url}}';{% endif %}
    {% if lead.description %}var lead_description = "{{lead.description|escapejs}}";{% endif %}
    {% if lead.attachment %}var attachment = {{lead.attachment.upload.url}};{% endif %}
{% else %}
    var lead_type = '';
{% endif %}
    var lead_simplified = "{% if lead_simplified %}{{lead_simplified|escapejs}}{% endif %}";
</script>

<div class="split-pane fixed-left">
    <div class="split-pane-component" id="left-component">
        <div id="lead-options-container">
            <label class="radio-inline"><input type="radio" name="lead-view-option" value="simplified" checked>Simplified</label>
            <label class="radio-inline"><input type="radio" name="lead-view-option" value="original">Original</label>
        </div>

        <div id="lead-preview-container">
            <iframe id="lead-preview" src=""></iframe>
            <!-- <iframe id="lead-preview" src="http://reliefweb.int/sites/reliefweb.int/files/resources/Open%20Mic%20Nepal%20_%20Issue%2018_%20English.pdf"></iframe> -->
        </div>
    </div>
    <div class="split-pane-divider" id="my-divider"></div>
    <div class="split-pane-component" id="right-component">
        <div class="form-wrapper">

            <div class="row row-form">
                <div class="col-xs-12">
                    <label>Excerpt</label>
                    <textarea name="excerpt" id="excerpt" class="form-control" rows="8"></textarea>
                </div>
            </div>

            <div class="row row-form">
                <div class="col-xs-12">
                    <label>Location</label>
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <div id="map"></div>
                    <div id="panel">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-default" id="delete-button">Delete selected shape</button>
                            </div>
                            <div class="col-sm-6">
                                <label>Selection color:</label>
                                <div id="color-palette"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="entry-form" method="post">
                {% csrf_token %}
                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Country:</label></div>
                    <div class="col-sm-9">
                        {% include 'entries/select-country.html' %}
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Locations (Geonames):</label></div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="location-geonames" id="location-geonames">
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Locations (Administrative):</label></div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="location-administrative" id="location-administrative">
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Sector:</label></div>
                    <div class="col-sm-9">
                        <select id="sector" name="sector" placeholder="Select sectors">
                            <option value="">Select sectors</option>
                            {% for sector in sectors %}
                            <option value="{{sector.pk}}">{{sector}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Vunerable Group:</label></div>
                    <div class="col-sm-9">
                        <select id="vunerable-group" name="vunerable-group" placeholder="Select a group">
                            <option value="">Select a group</option>
                            {% for vg in vulnerable_groups %}
                            <option value="{{vg.pk}}">{{vg}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="vunerable-group-known-cases", placeholder="Enter number of known cases" class="form-control">

                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Affected Group:</label></div>
                    <div class="col-sm-9">
                        <select id="affected-group" name="affected-group" placeholder="Select a group">
                            <option value="">Select a group</option>
                            {% for ag in affected_groups %}
                            <option value="{{ag.pk}}">{{ag}}</option>
                            {% endfor %}
                        </select>
                        <input type="text" name="affected-group-known-cases", placeholder="Enter number of known cases" class="form-control">
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Underlying Factor:</label></div>
                    <div class="col-sm-9">
                        <select id="underlying-factor" name="underlying-factor" placeholder="Select factors">
                            <option value="">Select factors</option>
                            {% for uf in underlying_factors %}
                            <option value="{{uf.pk}}">{{uf}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Crisis Driver:</label></div>
                    <div class="col-sm-9">
                        <select id="crisis-driver" name="crisis-driver" placeholder="Select crisis drivers">
                            <option value="">Select crisis drivers</option>
                            {% for cd in crisis_drivers %}
                            <option value="{{cd.pk}}">{{cd}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Status:</label></div>
                    <div class="col-sm-9">
                        <select id="status" name="status" placeholder="Select status">
                            <option value="">Select status</option>
                            {% for status in statuses %}
                            <option value="{{status.0}}">{{status.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Problem Timeline:</label></div>
                    <div class="col-sm-9">
                        <select id="problem-timeline" name="problem-timeline" placeholder="Select problem timeline">
                            <option value="">Select problem timeline</option>
                            {% for pt in problem_timelines %}
                            <option value="{{pt.0}}">{{pt.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Severity:</label></div>
                    <div class="col-sm-9">
                        <select id="severity" name="severity">
                            <option value="">Select severity</option>
                            {% for pt in severities %}
                            <option value="{{pt.0}}">{{pt.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form">
                    <div class="col-sm-3 label-container"><label>Reliability:</label></div>
                    <div class="col-sm-9">
                        <select id="reliability" name="reliability">
                            <option value="">Select reliability</option>
                            {% for pt in reliabilities %}
                            <option value="{{pt.0}}">{{pt.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row row-form row-action">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-default">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
