<div class="row"  style="margin-bottom: 36px;">
    <div class="col-md-4" style="padding-right: 0">
        <div id="sector-visualization">
            <h3>Sectors</h3>
            {% for sector in sectors %}
            <div class="sector" data-id="{{sector.pk}}">
                <span class="name">{{sector}}</span>
                {% if sector.icon %}
                <img src="{{sector.icon.url}}" >
                {% endif %}
                <span class="severities"></span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8" style="padding-left: 0">
        <div id="the-map"></div>
        <div id="pie-wrapper">
            <svg id="pies-container">
            </svg>
        </div>
        <div id="map-controls">
            <div class="row">
                <div class="col-md-5">
                    <select name="country" id="country" placeholder="Select a country">
                        {% for country in event.countries.all %}
                        <option value="{{country.pk}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-7">
                    <div id="admin-level-buttons"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-7" style="padding-left: 2px;">
        <div class="row">
            <div class="col-md-4">
                <h3>Donut</h3>
                <div id="donut-chart"></div>
            </div>
            <div class="col-md-8">
                <h3>Time thingy</h3>
                <div id="time-bar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Map</h3>
                <div id="the-map"></div>
            </div>
        </div>
    </div> -->
</div>
