<div class="row" >
    <div class="col-md-4" style="padding-right: 0">
        <div id="sectors-visualization" class="attr-visualization">
            <h3>Sectors</h3>
            {% for sector in sectors %}
            <div class="attr" data-id="{{sector.pk}}">
                <span class="name">{{sector}}</span>
                {% if sector.icon %}
                <img src="{{sector.icon.url}}" >
                {% endif %}
                <span class="severities"></span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8" style="padding-left: 0">
        <div id="the-map">
            <div id="map-shadow-overlay"></div>
        </div>
        <div id="pie-wrapper">
            <svg id="pies-container">
            </svg>
        </div>
        <div id="map-controls">
            <div class="row">
                <div class="col-md-5">
                    <select name="country" id="country" placeholder="Select a country">
                        {% for country in event.countries.all %}
                        <option value="{{country.pk}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-7">
                    <div id="admin-level-buttons"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="entry-timeline-container">
    <canvas id="entry-timeline"></canvas>
</div>
<div id="attr-visualization-container">
    <div class="row">
        <div class="col-md-3">
            <div id="vulnerable-groups-visualization" class="attr-visualization">
                <h3>Vulnerable groups</h3>
                {% for vg in vulnerable_groups %}
                <div class="attr" data-id="{{vg.pk}}">
                    <span class="name">{{vg}}</span>
                    <span class="severities"></span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="specific-needs-groups-visualization"  class="attr-visualization">
                <h3>Specific needs groups</h3>
                {% for sg in specific_needs_groups %}
                <div class="attr" data-id="{{sg.pk}}">
                    <span class="name">{{sg}}</span>
                    <span class="severities"></span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="sources-visualization"  class="attr-visualization">
                <h3>Sources</h3>
                {% for source in sources %}
                <div class="attr" data-id="{{source}}">
                    <span class="name">{{source}}</span>
                    <span class="severities"></span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <div id="affected-groups-visualization"  class="attr-visualization">
                <h3>Affected groups</h3>
                {% for ag in affected_groups %}
                <div class="attr" data-id="{{ag.pk}}">
                    <span class="name">{{ag}}</span>
                    <span class="severities"></span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
