<div class="entry-template" hidden>
    <div class="row">
        <div class="col-md-8">
            <h2 class="entry-title"></h2>
            <p class="entry-title-extra">
                <i class="fa fa-user"></i><span class="created-by">frozen helium</span>
                <i class="fa fa-calendar"></i><date class="created-on">2015-10-12</date>
            </p>
        </div>
        <div class="col-md-4">
            <a class="fa fa-trash delete-btn btn btn-danger btn-action" onmouseover="$(this).tooltip('show')" data-toggle="tooltip" data-placement="bottom" title="Delete Entry"></a>
            <a class="fa fa-edit edit-btn btn btn-info btn-action" onmouseover="$(this).tooltip('show')" style="margin-right: 0;" data-toggle="tooltip" data-placement="bottom" title="Edit Entry"></a>
        </div>
    </div>
    <div class="information-list">
    </div>
</div>

<div class="information-template" hidden>
    <div class="row">
        <div class="col-md-3">
            <p class="excerpt"></p>
        </div>
        <div class="col-md-1">
            <div class="reliability">
                <label>Reliability </label><br>
                {% for reliability in reliabilities %}
                <span data-id="{{reliability.pk}}" class="_{{reliability.level}}" onmouseover="$(this).tooltip('show')" data-toggle="tooltip" data-placement="bottom" title="{{reliability}}"></span>
                {% endfor %}
            </div>
            <div class="severity">
                <label>Severity </label><br>
                {% for severity in severities %}
                <span data-id="{{severity.pk}}" class="_{{severity.level}}" onmouseover="$(this).tooltip('show')" data-toggle="tooltip" data-placement="bottom" title="{{severity}}"></span>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1">
            <p><label>Date:</label><br><span class="date"></span></p>
            <p><label>Number:</label><br><span class="number"></span></p>
        </div>
        <div class="col-md-2">
            <div class="vulnerable-group"><label>Demographic groups:</label><br><span class="vulnerable-groups"></span></div>
            <div class="specific-need-group"><label>Specific need groups:</label></br><span class="sepecific-need-groups"></span></div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="affected-group">
                        <label>Affected groups:</label>
                        <div class="affected-group-list"></div>
                    </div>
                    <div class="geo-location">
                        <label>Geo locations:</label>
                        <div class="geo-locations-list"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <label>Pillar / Sub-pillar</label>
                    <div class="attribute-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="attribute-template" hidden>
    <div class="row">
        <div class="col-md-6">
            <span class="pillar"></span> <br> <span class="sub-pillar"></span>
        </div>
        <div class="col-md-6">
            <span class="sector"></span> <br> <span class="sub-sector"></span>
        </div>
    </div>
</div>
