{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/modal.css' %}"/>
<link href="{% watchful_static_url 'css/entries.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/split.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entries-filter.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entry-visualization-map.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entry-visualization.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entries.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{% watchful_static_url 'css/leaflet.label.css' %}" >
<script src="{% watchful_static_url 'js/common/leaflet.label.js' %}"></script>

<script>
    var eventId = "{{event.pk}}";
    var csrf_token = "{% csrf_token %}";

    var pillar_names = { {% for pillar in pillars %}{{pillar.pk}}: '{{pillar.name}}', {% endfor %} };
    var subpillar_names = { {% for subpillar in subpillars %}{{subpillar.pk}}: '{{subpillar.name}}', {% endfor %} };
    var sector_names = { {% for sector in sectors %}{{sector.pk}}: '{{sector.name}}', {% endfor %} };
    var subsector_names = { {% for subsector in subsectors %}{{subsector.pk}}: '{{subsector.name}}', {% endfor %} };

    var sectors = [
        {% for sector in sectors %}
        {
            id: {{ sector.pk }},
            iconUrl: "{% if sector.icon %}{{sector.icon.url}}{% endif %}",
            name: "{{ sector }}",
            severities: [
                {% for severity in severities %}
                { id: {{severity.level}}, value: 0, name: "{{severity}}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    var vulnerable_groups = [
        {% for vg in vulnerable_groups %}
        {
            id: {{vg.id}}, name: "{{vg}}",
            severities: [
                {% for severity in severities %}
                { id: {{severity.level}}, value: 0, name: "{{severity}}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    var specific_needs_groups = [
        {% for sg in specific_needs_groups %}
        {
            id: {{sg.id}}, name: "{{sg}}",
            severities: [
                {% for severity in severities %}
                { id: {{severity.level}}, value: 0, name: "{{severity}}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    var sources = [
        {% for source in sources %}
        {
            id: "{{source}}", name: "{{source}}",
            severities: [
                {% for severity in severities %}
                { id: {{severity.level}}, value: 0, name: "{{severity}}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    var affected_groups = [
        {% for ag in affected_groups %}
        {
            id: {{ag.id}}, name: "{{ag}}",
            severities: [
                {% for severity in severities %}
                { id: {{severity.level}}, value: 0, name: "{{severity}}" },
                {% endfor %}
            ]
        },
        {% endfor %}
    ];

    var severities = [
        {% for severity in severities %}
        { id: "{{severity.level}}", value: 0, name: "{{severity}}" },
        {% endfor %}
    ];
    var dateSeveritiesTemplate = {
        {% for severity in severities %}
        {{severity.level}}: 0,
        {% endfor %}
    };
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<main>
    <div id="loading-animation">
        <span id="loader"></span>
        <p>working...</p>
    </div>
    <div id="filters">
        {% include 'entries/entry-filters.html' %}
    </div>
    <div >
        <button class="btn btn-default btn-sm" id="clear-filter-btn" onclick="clearFilters();">Clear filters</button>
        <div id="toggle-panel">
            <a href="#" data-target="#entries" class="fa fa-list active"></a>
            <a href="#" data-target="#visualizations" class="fa fa-th"></a>
        </div>
        <div id="visualizations" hidden>
            {% include 'entries/entry-visualization.html' %}
        </div>
        <div id="entries">
        </div>
    </div>
</main>

{% include 'entries/entry-templates.html' %}

{% endblock %}
