{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link href="{% static 'css/entries.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/entries-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/entries.js' %}"></script>

<script>
    var eventId = "{{event.pk}}";
    var csrf_token = "{% csrf_token %}";
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<section id="main">
    <div class="container-fluid">
        <div id="filters">
            {% include 'entries/entry-filters.html' %}
        </div>
        <div id="entries">
        </div>
    </div>
</section>

{% include 'entries/entry-templates.html' %}

{% endblock %}
