<div class="row">
    <div class="col-sm-12">
        <label>Apply filter:</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 col-md-2 col-xs-6" hidden>
        <select id="date-modified-filter" placeholder="Date Modified">
            <option value="">Date Modified</option>
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="last-seven-days">Last 7 days</option>
            <option value="this-week">This week</option>
            <option value="last-thirty-days">Last 30 days</option>
            <option value="this-month">This month</option>
            <option value="range">Range</option>
        </select>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-2">
                <input id="search" class="form-control" placeholder="Search excerpt">
            </div>
            <div class="col-md-2">
                <input id="lead-title-search" class="form-control" placeholder="Lead title">
            </div>
            <div class="col-md-2">
                <select id="sources-filter" placeholder="Source">
                    <option value="">Source</option>
                    {% for s in sources %}
                    <option value="{{s.pk}}">{{s}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="users-filter" placeholder="User">
                    <option value="">User</option>
                    {% for u in users %}
                    <option value="{{u.pk}}">{{u.get_full_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="areas-filter" placeholder="Areas">
                    <option value="">Areas</option>
                    {% for area in areas %}
                    <option value="{{area}}">{{area}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="affected-groups-filter" placeholder="Affected Group">
                    <option value="">Affected Group</option>
                    {% for group in affected_groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="vulnerable-groups-filter" placeholder="Vulnerable group">
                    <option value="">Vulnerable group</option>
                    {% for vulnerable_group in vulnerable_groups %}
                    <option value="{{vulnerable_group}}">{{vulnerable_group}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <select id="specific-needs-groups-filter" placeholder="Specific Needs Group">
                    <option value="">Specific Needs Group</option>
                    {% for group in specific_needs_groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <select id="pillars-filter" placeholder="Pillars and subpillars" multiple>
                    <option value="">Pillars and subpillars</option>
                    {% for pillar in pillars %}
                    <option value="{{pillar.pk}}">{{pillar}}</option>
                    {% for subpillar in pillar.informationsubpillar_set.all %}
                    <option value="{{pillar.pk}}/{{subpillar.pk}}">{{pillar}} / {{subpillar}}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <!--div class="col-md-2">
                <select id="subpillars-filter" placeholder="Subpillar" multiple>
                    <option value="">Subpillar</option>
                    {% for subpillar in subpillars %}
                    <option value="{{subpillar.pk}}" data-pillar-id="{{subpillar.pillar.id}}">{{subpillar}}</option>
                    {% endfor %}
                </select>
            </div-->
            <div class="col-md-4">
                <select id="sectors-filter" placeholder="Sectors and subsectors" multiple>
                    <option value="">Sectors and subsectors</option>
                    {% for sector in sectors %}
                    <option value="{{sector.pk}}">{{sector}}</option>
                    {% for subsector in sector.subsector_set.all %}
                    <option value="{{sector.pk}}/{{subsector.pk}}">{{sector}} / {{subsector}}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <!--div class="col-md-2">
                <select id="subsectors-filter" placeholder="Subsector" multiple>
                    <option value="">Subsector</option>
                    {% for subsector in subsectors %}
                    <option value="{{subsector.pk}}">{{subsector}}</option>
                    {% endfor %}
                </select>
            </div-->
        </div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-6">
                <div id="reliability-filter-container">
                    <label>Reliability</label>
                    <select id="reliabilities-min-filter" class="reliabilities-filter" placeholder="from">
                        <option value="">from</option>
                        {% for reliability in reliabilities %}
                        <option value="{{reliability.level}}">{{reliability}}</option>
                        {% endfor %}
                    </select>
                    <select id="reliabilities-max-filter" class="reliabilities-filter" placeholder="to">
                        <option value="">to</option>
                        {% for reliability in reliabilities %}
                        <option value="{{reliability.level}}">{{reliability}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div id="severity-filter-container">
                    <label>Severity</label>
                    <select id="severities-min-filter" class="severities-filter" placeholder="from">
                        <option value="">from</option>
                        {% for severity in severities %}
                        <option value="{{severity.level}}">{{severity}}</option>
                        {% endfor %}
                    </select>
                    <select id="severities-max-filter" class="severities-filter" placeholder="to">
                        <option value="">to</option>
                        {% for severity in severities %}
                        <option value="{{severity.level}}">{{severity}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
