{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link href="{% static 'css/entries.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.bootstrap3.css' %}"/>
<script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selectize.js' %}"></script>
<script type="text/javascript" src="{% static 'js/split.js' %}"></script>
<script type="text/javascript" src="{% static 'js/entries.js' %}"></script>

<script>
    var eventId = "{{event.pk}}";
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<section id="main">
    <div class="container-fluid">
        <h2>Current Entries</h2>
        <div class="row" id="filters">
            <div class="col-sm-12">
                <label>Apply filter:</label>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="date-created-filter" placeholder="Date Created">
                    <option value="">Date Created</option>
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="last-seven-days">Last 7 days</option>
                    <option value="this-week">This week</option>
                    <option value="last-thirty-days">Last 30 days</option>
                    <option value="this-month">This month</option>
                    <option value="range">Range</option>
                </select>
            </div>

            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="areas-filter" placeholder="Areas">
                    <option value="">Areas</option>
                    {% for area in areas %}
                    <option value="{{area}}">{{area}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="sectors-filter" placeholder="Sectors">
                    <option value="">Sectors</option>
                    {% for sector in sectors %}
                    <option value="{{sector.pk}}">{{sector}}</option>
                    {% for subsector in sector.subsector_set.all %}
                    <option value="{{subsector.pk}}">{{sector}}/{{subsector}}</option>
                    {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="affected-groups-filter" placeholder="Affected Groups">
                    <option value="">Affected Groups</option>
                    {% for group in affected_groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="vulnerable-groups-filter" placeholder="Vulnerable groups">
                    <option value="">Vulnerable groups</option>
                    {% for vulnerable_group in vulnerable_groups %}
                    <option value="{{vulnerable_group}}">{{vulnerable_group}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3 col-md-2 col-xs-6">
                <select id="specific-needs-groups-filter" placeholder="Specific Needs Groups">
                    <option value="">Specific Needs Groups</option>
                    {% for group in specific_needs_groups %}
                    <option value="{{group}}">{{group}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="entries">
        </div>
    </div>
</section>

<div class="entry-template">
    <h2 class="entry-title"></h2>
    <div class="information-list">
    </div>
</div>

<div class="information-template" hidden>
    <div class="row">
        <div class="col-md-3">
            <p class="excerpt" ></p>
        </div>
        <div class="col-md-1">
            <div class="reliability">
                <label>Reliability </label><br>
                {% for reliability in reliabilities %}
                <span data-id="{{reliability.pk}}" class="_{{reliability.level}}"></span>
                {% endfor %}
            </div>
            <div class="severity">
                <label>Severity </label><br>
                {% for severity in severities %}
                <span data-id="{{severity.pk}}" class="_{{severity.level}}"></span>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1">
            <p><label>Date:</label><br><span class="date"></span></p>
            <p><label>Number:</label><br><span class="number"></span></p>
        </div>
        <div class="col-md-2">
            <p><label>Vunerable groups selected:</label><br><span class="vulnerable-groups"></span></p>
            <p><label>Specific need groups selected:</label></br><span class="sepecific-need-groups"></span></p>
        </div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="affected-group">
                        <label>Affected groups:</label>
                        <div class="affected-group-list"></div>
                    </div>
                    <div class="geo-location">
                        <label>Geo locations:</label>
                        <div class="geo-locations-list"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="attribute-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="attribute-template" hidden>
    <div class="row">
        <div class="col-md-6">
            <span class="pillar"></span> <br> <span class="sub-pillar"></span>
        </div>
        <div class="col-md-6">
            <span class="sector"></span> <br> <span class="sub-sector"></span>
        </div>
    </div>
</div>
{% endblock %}
