<div class="filter">
    <input type="text" id="search" class="filter" placeholder="Search excerpt">
</div>
<div class="filter">
    <select id="users-filter" multiple>
        <option value="">Imported by</option>
        {% for u in users %}
        <option value="{{u.pk}}">{{u.get_full_name}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter" id="date-imported-filter-container">
    <select id="date-imported-filter">
        <option value="">Date imported</option>
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-seven-days">Last 7 days</option>
        <option value="this-week">This week</option>
        <option value="last-thirty-days">Last 30 days</option>
        <option value="this-month">This month</option>
        <option value="range">Range</option>
    </select>
</div>
<div class="filter">
    <input type="text" id="lead-title-search" class="filter" placeholder="Lead title">
</div>
<div class="filter">
    <input type="text" id="sources-filter" class="filter" placeholder="Source">
</div>
<div class="filter" id="date-published-filter-container">
    <select id="date-published-filter">
        <option value="">Date Published</option>
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-seven-days">Last 7 days</option>
        <option value="this-week">This week</option>
        <option value="last-thirty-days">Last 30 days</option>
        <option value="this-month">This month</option>
        <option value="range">Range</option>
    </select>
</div>
<div class="filter range">
    <label>Reliability</label>
    <select id="reliabilities-min-filter" class="reliabilities-filter" placeholder="from">
        <option value="">from</option>
        {% for reliability in reliabilities %}
        <option value="{{reliability.level}}">{{reliability}}</option>
        {% endfor %}
    </select>
    <select id="reliabilities-max-filter" class="reliabilities-filter" placeholder="to">
        <option value="">to</option>
        {% for reliability in reliabilities %}
        <option value="{{reliability.level}}">{{reliability}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="areas-filter" multiple>
        <option value="">Geographical areas</option>
        {% for area in areas %}
        <option value="{{area}}">{{area}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="affected-groups-filter" multiple>
        <option value="">Affected groups</option>
        {% for group in affected_groups %}
        <option value="{{group}}">{{group}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="vulnerable-groups-filter" multiple>
        <option value="">Demographic group</option>
        {% for vulnerable_group in vulnerable_groups %}
        <option value="{{vulnerable_group}}">{{vulnerable_group}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="specific-needs-groups-filter" multiple>
        <option value="">Specific needs groups</option>
        {% for group in specific_needs_groups %}
        <option value="{{group}}">{{group}}</option>
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="pillars-filter" multiple>
        <option value="">Pillars and subpillars</option>
        {% for pillar in pillars %}
        <option value="{{pillar.pk}}">{{pillar}}</option>
        {% for subpillar in pillar.informationsubpillar_set.all %}
        <option value="{{pillar.pk}}/{{subpillar.pk}}">{{pillar}} / {{subpillar}}</option>
        {% endfor %}
        {% endfor %}
    </select>
</div>
<div class="filter">
    <select id="sectors-filter" multiple>
        <option value="">Sectors and subsectors</option>
        {% for sector in sectors %}
        <option value="{{sector.pk}}">{{sector}}</option>
        {% for subsector in sector.subsector_set.all %}
        <option value="{{sector.pk}}/{{subsector.pk}}">{{sector}} / {{subsector}}</option>
        {% endfor %}
        {% endfor %}
    </select>
</div>
<div class="filter range">
    <label>Severity</label>
    <select id="severities-min-filter" class="severities-filter" placeholder="from">
        <option value="">from</option>
        {% for severity in severities %}
        <option value="{{severity.level}}">{{severity}}</option>
        {% endfor %}
    </select>
    <select id="severities-max-filter" class="severities-filter" placeholder="to">
        <option value="">to</option>
        {% for severity in severities %}
        <option value="{{severity.level}}">{{severity}}</option>
        {% endfor %}
    </select>
</div>
