{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Export
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/export-progress.css' %}" type="text/css" rel="stylesheet">

<script>
    $(document).ready(function() {
        let url = "{% url 'download_file' %}?url=" + encodeURIComponent("{{ export_url }}");
        $.getJSON(url, function(data) {

            $('#loader').fadeOut(function() {
                $('#post-load').css('display', 'flex');
            });

            window.location.href = "{% url 'download_file' %}?path="
                + encodeURIComponent(data.path) + "&filename="
                + encodeURIComponent(data.filename) + "&content_type="
                + encodeURIComponent(data.content_type);
        });
    });
</script>
{% endblock %}

{% block body %}

<div id="loading-animation">
    <span id="loader"></span>
    <h2>Preparing data to download ...</h2>
    <p>This might take some time, please be patient</p>
</div>

<div id="post-load" hidden>
    <span class="fa fa-check fa-4x"></span>
    <h2>Data prepared succesfully</h2>
    <p>Your download should begin shortly</p>
</div>


{% endblock %}
