{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Export
{% endblock %}

{% block head %}
<script>
    var currentEvent = {{event.pk}};
    var heirarchy = [];
</script>
<link href="{% watchful_static_url 'css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/modal.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/export.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entries-filter.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/export.js' %}"></script>

<script>
    var eventId = "{{event.pk}}";
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<section id="main">
    <div id="export-entries">
        <h1>Export Entries</h1>
        <div id="export-entries-doc">
            <form id="export-entries-doc-form" action="{% url 'entries:exportdocx' event=event.pk %}" method="post">
                {% csrf_token %}
                <h2>Word Export</h2>
                <div>
                <div>
                    <button type="submit" disabled onclick="$('#new-format').remove();" class="btn-info" ><i style="background-color:blue;" class="fa fa-file-word-o"></i>Generic Export</button>
                    <button type="submit" disabled onclick="$('#new-format').remove();$('#export-entries-doc-form').append('<input id=\'new-format\' type=\'hidden\' name=\'export-geo-format\' value=\'true\'>');" class="btn-info"><i style="background-color:blue;" class="fa fa-file-word-o"></i>Export GEO</button>
                    <button type="submit" disabled onclick="$('#new-format').remove();$('#export-entries-doc-form').append('<input id=\'new-format\' type=\'hidden\' name=\'new-format\' value=\'true\'>');" class="btn-info"><i style="background-color:blue;" class="fa fa-file-word-o"></i>Briefing Note</button>
                </div>
                <div>
                    <button type="submit" disabled onclick="$('#new-format').remove();" class="btn-info" ><i style="background-color:red;" class="fa fa-file-pdf-o"></i>Generic Export</button>
                    <button type="submit" disabled onclick="$('#new-format').remove();$('#export-entries-doc-form').append('<input id=\'new-format\' type=\'hidden\' name=\'export-geo-format\' value=\'true\'>');" class="btn-info"><i style="background-color:red;" class="fa fa-file-pdf-o"></i>Export GEO</button>
                    <button type="submit" disabled onclick="$('#new-format').remove();$('#export-entries-doc-form').append('<input id=\'new-format\' type=\'hidden\' name=\'new-format\' value=\'true\'>');" class="btn-info"><i style="background-color:red;" class="fa fa-file-pdf-o"></i>Briefing Note</button>
                </div>
                </div>
            </form>
            <div>
                <h3>Filters</h3>
                <div id="filters">
                    {% include 'entries/export-entry-filters.html' %}
                </div>
            </div>
            <div id="hierarchy">
                <h3>Hierarchy <span>(drag to rearrange)</span></h3>
                <ul id="sortable">
                  <li class="ui-state-default" id="geoarea">Geo Area</li>
                  <li class="ui-state-default" id="affected">Affected</li>
                  <li class="ui-state-default" id="sector">Sector</li>
                </ul>
            </div>
        </div>
        <div id="export-entries-excel">
            <header>
                <h2>Excel Export</h2>
            </header>
            <form id="export-entries-excel-form" action="{% url 'entries:exportxls' event=event.pk %}">
                <button type="submit" class=" btn-primary" ><i class="fa fa-file-excel-o"></i>Export</button>
            </form>
            <form id="export-entries-excel-weekly-form" action="{% url 'entries:exportxls_weekly' event=event.pk %}">
                <button type="submit" class=" btn-primary" ><i class="fa fa-file-excel-o"></i>Export Weekly(Beta)</button>
            </form>
        </div>
    </div>
    <div id="sos-export">
        <h1>Survey of surveys</h1>
        <div id="sos-export-excel">
            <header>
                <h2>Excel Export</h2>
            </header>
            <button id="export-sos-excel-btn" href="{% url 'leads:exportsosxls' event=event.pk %}" type="submit" class=" btn-primary" ><i class="fa fa-file-excel-o"></i>Export</button>
        </div>
    </div>
</section>

<div class="modal-container" hidden>
    <div id="date-range-input" class="modal" hidden>
        <header>
            <h3 class="modal-title">Enter date range</h3>
        </header>
        <div class="input-container">
            <label>start date:</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="input-container">
            <label>end date:</label>
            <input type="date" id="end-date" class="form-control">
        </div>
        <div class="action-buttons">
            <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
            <button id="ok-btn" class="success" data-action="proceed"><i class="fa fa-check"></i>Ok</button>
        </div>
    </div>
</div>

{% endblock %}
