<div>
    <input type="text" id="search" placeholder="Search excerpt">
    <input type="text" id="lead-title-search" placeholder="Lead title">
    <input type="text" id="sources-filter" placeholder="Source">
    <select id="users-filter" placeholder="User" multiple>
        <option value="">User</option>
        {% for u in users %}
        <option value="{{u.pk}}">{{u.get_full_name}}</option>
        {% endfor %}
    </select>
    <select id="areas-filter" placeholder="Areas" multiple>
        <option value="">Areas</option>
        {% for area in areas %}
        <option value="{{area}}">{{area}}</option>
        {% endfor %}
    </select>
    <select id="affected-groups-filter" placeholder="Affected Group" multiple>
        <option value="">Affected Group</option>
        {% for group in affected_groups %}
        <option value="{{group}}">{{group}}</option>
        {% endfor %}
    </select>
</div>
<div>
    <select id="date-published-filter" placeholder="Date Published">
        <option value="">Date Modified</option>
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-seven-days">Last 7 days</option>
        <option value="this-week">This week</option>
        <option value="last-thirty-days">Last 30 days</option>
        <option value="this-month">This month</option>
        <option value="range">Range</option>
    </select>
    <select id="date-imported-filter" placeholder="Date Imported">
        <option value="">Date Imported</option>
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-seven-days">Last 7 days</option>
        <option value="this-week">This week</option>
        <option value="last-thirty-days">Last 30 days</option>
        <option value="this-month">This month</option>
        <option value="range">Range</option>
    </select>
    <select id="vulnerable-groups-filter" placeholder="Demographic group" multiple>
        <option value="">Demographic group</option>
        {% for vulnerable_group in vulnerable_groups %}
        <option value="{{vulnerable_group}}">{{vulnerable_group}}</option>
        {% endfor %}
    </select>
    <select id="specific-needs-groups-filter" placeholder="Specific Needs Group" multiple>
        <option value="">Specific Needs Group</option>
        {% for group in specific_needs_groups %}
        <option value="{{group}}">{{group}}</option>
        {% endfor %}
    </select>
    <select id="pillars-filter" placeholder="Pillars and subpillars" multiple>
        <option value="">Pillars and subpillars</option>
        {% for pillar in pillars %}
        <option value="{{pillar.pk}}">{{pillar}}</option>
        {% for subpillar in pillar.informationsubpillar_set.all %}
        <option value="{{pillar.pk}}/{{subpillar.pk}}">{{pillar}} / {{subpillar}}</option>
        {% endfor %}
        {% endfor %}
    </select>
    <select id="sectors-filter" placeholder="Sectors and subsectors" multiple>
        <option value="">Sectors and subsectors</option>
        {% for sector in sectors %}
        <option value="{{sector.pk}}">{{sector}}</option>
        {% for subsector in sector.subsector_set.all %}
        <option value="{{sector.pk}}/{{subsector.pk}}">{{sector}} / {{subsector}}</option>
        {% endfor %}
        {% endfor %}
    </select>
</div>
<div id="reliability-filter-container">
    <label>Reliability</label>
    <select id="reliabilities-min-filter" class="reliabilities-filter" placeholder="from">
        <option value="">from</option>
        {% for reliability in reliabilities %}
        <option value="{{reliability.level}}">{{reliability}}</option>
        {% endfor %}
    </select>
    <select id="reliabilities-max-filter" class="reliabilities-filter" placeholder="to">
        <option value="">to</option>
        {% for reliability in reliabilities %}
        <option value="{{reliability.level}}">{{reliability}}</option>
        {% endfor %}
    </select>
</div>
<div id="severity-filter-container">
    <label>Severity</label>
    <select id="severities-min-filter" class="severities-filter" placeholder="from">
        <option value="">from</option>
        {% for severity in severities %}
        <option value="{{severity.level}}">{{severity}}</option>
        {% endfor %}
    </select>
    <select id="severities-max-filter" class="severities-filter" placeholder="to">
        <option value="">to</option>
        {% for severity in severities %}
        <option value="{{severity.level}}">{{severity}}</option>
        {% endfor %}
    </select>
</div>
<div id="date-range-input" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title">Enter date range</h3>
                <br>
                <label>start date:</label><br>
                <div style="position: relative;">
                    <input type="date" id="start-date">
                </div>
                <label>end date:</label><br>
                <div style="position: relative;">
                    <input type="date" id="end-date">
                </div>
                <div style="margin-top: 24px; text-align: right;">
                    <button type="button" class="btn btn-default" id="cancel-btn" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn btn-primary" id="ok-btn" style="min-width: 50px; margin-left: 16px;" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
