<div class="leads-container">
    <input id="selected-leads" type="hidden" name="leads">
    <header>
        <div class="select"><label><input type="checkbox">Select</label></div>
        <div class="created-at">Created on</div>
        <div class="title">Title</div>
    </header>
    <div class="leads">
        <div class="lead-template" hidden>
            <div class="select"><label><input type="checkbox"></label></div>
            <div class="created-at"></div>
            <div class="title"></div>
        </div>
    </div>
</div>
