{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Export
{% endblock %}

{% block head %}
<link href="{% watchful_static_url 'css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/selectize.css' %}" type="text/css" rel="stylesheet"/>
<link href="{% watchful_static_url 'css/modal.css' %}" type="text/css" rel="stylesheet">
<link href="{% watchful_static_url 'css/export.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/export.js' %}"></script>

<script>
    var eventId = "{{ event.pk }}";
    var exportProgressUrl = "{% url 'export_progress' %}";
    var downloadUrl = "{% url 'download_file' %}";

    var pillars = [
        {% for pillar in pillars %}
        {
            id: "{{ pillar.pk }}",
            name: "{{ pillar.name|escapejs }}",
            contains_sectors: {% if pillar.contains_sectors %}true{% else %}false{% endif %},

            subpillars: [
                {% for subpillar in pillar.informationsubpillar_set.all %}
                { id: "{{ subpillar.pk }}", name: "{{ subpillar.name|escapejs }}", },
                {% endfor %}
            ],
        },
        {% endfor %}
    ];

    var sectors = [
        {% for sector in sectors %}
        {
            id: "{{ sector.pk }}",
            name: "{{ sector.name|escapejs }}",
            {% comment %}
            subsectors: [
                {% for subsector in sector.subsector_set.all %}
                { id: "{{ subsector.pk }}", name: "{{ subsector.name|escapejs }}", },
                {% endfor %}
            ],
            {% endcomment %}
        },
        {% endfor %}
    ];
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<aside id="preview-section">
    <div>No preview available</div>
    <iframe src="about:blank" hidden></iframe>
</aside>

<main>
    <section id="entries-export">
        <div>
            <form id="export-entries-doc-form" action="{% url 'entries:exportdoc' event=event.pk %}" method="post">
                <header>
                    <div class="export-format">
                        <label class="active"><input type="radio" name="export-format" value="generic" checked> Generic</label>
                        <label><input type="radio" name="export-format" value="geo"> Geo</label>
                        <label><input type="radio" name="export-format" value="briefing"> Briefing note</label>
                    </div>
                    <div class="action-buttons">
                        <div class="preview-buttons">
                            <button class="btn-word" id="preview-docx" type="button"><i class="fa fa-file-word-o"></i>Preview docx</button>
                        </div>
                        <div class="export-buttons">
                            <button class="btn-pdf" id="export-pdf" type="button"><i class="fa fa-file-pdf-o"></i>Export pdf</button>
                            <button class="btn-word" id="export-docx" type="button"><i class="fa fa-file-word-o"></i>Export docx</button>
                            <button class="btn-excel" type="button" id="export-xlsx"><i class="fa fa-file-excel-o"></i>Export xlsx</button>
                            <button class="btn-json export-button" type="button" data-url="{% url 'api_entries:entries' %}?event={{event.pk}}&file=1"><i class="fa fa-file-text-o"></i>Export json</button>
                        </div>
                    </div>
                </header>
                 
                <div id="filter-section">
                    <h4>Filters</h4>
                    <div class="filters">
                        {% include 'entries/export-entry-filters.html' %}
                        <div class="filter-group" id="leads-selection">
                            <header >
                                <h5 onclick="$(this).closest('.filter-group').toggleClass('filters-shown').find('.filters-container').slideToggle('200')"><label>Leads: <span id='selected-leads-count'></span></label><i class="fa fa-chevron-down"></i></h5>
                            </header>
                            <div class="filters-container" hidden>
                                {% include 'entries/export-leads.html' %}
                            </div>
                        </div>
                        <div class="filter-group" id="lead-published-order">
                            <h5>Leads published date order</h5>

                            <div class="radio-group">
                                <label><input name="published-date-order-input" type="radio" checked="checked">Most recent to ancient</label>
                                <label><input name="published-date-order-input" type="radio">Ancient to most recent</label>
                            </div>
                        </div>
                    </div>

                </div>
                 
                <div id="structure-section">
                    <h4>Report Structure</h4>
                    
                    <input id="list-order" name="list-order" value="" type="hidden">
                    <div class="check-group-list">
                    </div>

                    <div class="check-template" hidden><label><input type="checkbox"><span class="name"></span><span class="number"></span></label></div>
                    <div class="check-group-template expandable" hidden>
                        <header class="check"><label><input type="checkbox"><span class="name"></span><span class="number"></span></label><a class="fa fa-chevron-down check-group-expand"></a></header>
                        <div class="content" hidden></div>
                        <input class="group-order" type="hidden">
                    </div>
                </div>
                
            </form>
        </div>
    </section>
    <!--
    <section>
        <h2>Assessment Registry</h2>
        <div class="content">
            <button class="btn-excel export-button" data-url="{% url 'leads:exportsosxls' event=event.pk %}"><i class="fa fa-file-excel-o"></i>Export xlsx</button>
            <button class="btn-json export-button" data-url="{% url 'api_leads:sos' %}?event={{event.pk}}&file=1"><i class="fa fa-file-text-o"></i>Export json</button>
        </div>
    </section>
    <section>
        <h2>Weekly snapshot</h2>
        <div class="content">
            <button class="btn-excel export-button" data-url="{% url 'entries:exportxls_weekly' event=event.pk %}"><i class="fa fa-file-excel-o"></i>Export xlsx</button>
            <button class="btn-json export-button" data-url="{% url 'api_report:reports' %}?event={{event.pk}}&file=1"><i class="fa fa-file-text-o"></i>Export json</button>
        </div>
    </section>
    -->
</main>

<div class="modal-container" hidden>
<div id="date-range-input" class="modal" hidden>
    <header>
        <h3 class="modal-title">Enter date range</h3>
    </header>
    <div class="input-container">
        <label>start date:</label>
        <input type="date" id="start-date" class="form-control">
    </div>
    <div class="input-container">
        <label>end date:</label>
        <input type="date" id="end-date" class="form-control">
    </div>
    <div class="action-buttons">
        <button id="cancel-btn" class="cancel" data-action="dismiss"><i class="fa fa-times"></i>Cancel</button>
        <button id="ok-btn" class="success" data-action="proceed"><i class="fa fa-check"></i>Ok</button>
    </div>
</div>

{% endblock %}
