{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Export
{% endblock %}

{% block head %}
<script>
    var currentEvent = {{event.pk}};
    var heirarchy = [];
</script>
<link href="{% watchful_static_url 'css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link href="{% watchful_static_url 'css/export.css' %}" type="text/css" rel="stylesheet">
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/entries-filter.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/export.js' %}"></script>

<script>
    var eventId = "{{event.pk}}";
</script>

{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<section id="main">
    <div id="export-entries">
        <h1>Export Entries</h1>
        <div id="export-entries-doc">
            <form id="export-entries-doc-form" action="{% url 'entries:exportdocx' event=event.pk %}" method="post">
                {% csrf_token %}
                <h2>Word Export</h2>
                <div>
                    <button type="submit" class="btn btn-info" ><i class="fa fa-file-word-o"></i>Generic Export</button>
                    <button type="submit" onclick="$('#export-entries-doc-form').append('<input type=\'hidden\' name=\'new-format\' value=\'true\'>'); console.log($('#export-entries-doc-form'));" class="btn btn-info"><i class="fa fa-file-word-o"></i>Briefing Note</button>
                </div>
            </form>
            <div>
                <h3>Filters</h3>
                <div id="filters">
                    {% include 'entries/export-entry-filters.html' %}
                </div>
            </div>
            <div style="margin-top: 32px;">
                <h3>Hierarchy <span>(drag to rearrange)</span></h3>
                <ul id="sortable">
                  <li class="ui-state-default" id="geoarea">Geo Area</li>
                  <li class="ui-state-default" id="affected">Affected</li>
                  <li class="ui-state-default" id="sector">Sector</li>
                </ul>
            </div>
        </div>
        <div id="export-entries-excel">
            <header>
                <h2>Excel Export</h2>
            </header>
            <form id="export-entries-excel-form" action="{% url 'entries:exportxls' event=event.pk %}">
                <button type="submit" class="btn btn-primary" ><i class="fa fa-file-excel-o"></i>Export</button>
            </form>
        </div>
    </div>
    <div id="sos-export">
        <h1>Survey of surveys</h1>
        <div id="sos-export-excel">
            <header>
                <h2>Excel Export</h2>
            </header>
            <button id="export-sos-excel-btn" href="{% url 'leads:exportsosxls' event=event.pk %}" type="submit" class="btn btn-primary" ><i class="fa fa-file-excel-o"></i>Export</button>
        </div>
    </div>
</section>

{% endblock %}
