{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/modal.css' %}"/>
<link href="{% watchful_static_url 'css/template-entries.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/add-template-entry/map.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/template-entries-manager.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/template-entries.js' %}"></script>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"></script>

<script>
    let eventId = "{{ event.pk }}";
    let csrf_token = "{% csrf_token %}";

    // Template data
    let templateData = {
        name: '{{ entry_template.name }}',
        elements: JSON.parse('{{ entry_template.elements|escapejs }}'),
    };

    // Countries for this event
    let countries = [
        {% for country in event.countries.all %} { code: '{{ country.pk }}', name: '{{ country.name }}' }, {% endfor %}
    ];
</script>

{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<main>
    <div id="filters">
    </div>
    <div id="entries">
        <p class="message" hidden></p>
        <div class="entry-template" hidden>
            <div class="entry-header">
                <div>
                    <h2></h2>
                    <div>
                        <span class="user">
                            <i class="fa fa-user"> </i>
                            <span class="created-by">Jacky</span>
                        </span>
                        <date>
                            <i class="fa fa-calendar"> </i>
                            <span class="created-on">04-18-2017</span>
                        </date>
                    </div>
                </div>
                <div class="action-buttons">
                    <a class="fa fa-edit fa-lg edit-btn" title="Edit entry"> </a>
                    <a class="fa fa-trash fa-lg delete-btn" title="Delete entry"> </a>
                </div>
            </div>
            <div class="informations"></div>
        </div>
        <div class="information-template" style="position: relative; width: 100%; height: 312px;" hidden>
        </div>
        <div class="entries-loading-animation" style="width: 100%; height: 96px; display: flex; align-items: center; justify-content: center;"><i class="fa fa-spin fa-3x fa-circle-o-notch" style="margin-right: 10px"></i><span style="font-size: 1.6em">Loading more entries...</span></div>
    </div>
    <div id="overflow-x"><div></div></div>
    <div class="modal-container" hidden>
    </div>
</main>
{% endblock %}
