{% extends 'base.html' %}
{% load watchful_url %}

{% block title %}
DEEP | Entries
{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/selectize.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% watchful_static_url 'css/modal.css' %}"/>
<link href="{% watchful_static_url 'css/template-entries.css' %}" type="text/css" rel="stylesheet">

<script type="text/javascript" src="{% watchful_static_url 'js/common/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/selectize.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/utils.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/common/modal.js' %}"></script>
<script type="text/javascript" src="{% watchful_static_url 'js/entries/template-entries.js' %}"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

<link rel="stylesheet" href="{% watchful_static_url 'css/leaflet.label.css' %}" >
<script src="{% watchful_static_url 'js/common/leaflet.label.js' %}"></script>

<script>
    let eventId = "{{event.pk}}";

    // Template data
    let templateData = {
        name: '{{ entry_template.name }}',
        elements: JSON.parse('{{ entry_template.elements|escapejs }}'),
    };
</script>


{% endblock %}

{% block body %}
{% include 'navbar.html' %}

<main>
    <div id="entries">
        <div class="entry-template" hidden>
            <h2></h2>
            <div class="informations"></div>
        </div>
        <div class="information-template" style="position: relative; width: 100%; height: 312px;" hidden>
        </div>
    </div>
</main>
{% endblock %}
