$primary-color: #008080;
$danger-color: #e74c3c;
$info-color: #3498db;
$success-color: #27ae60;
$warning-color: #f39c12;

$body-background-color: #f0f0f0;

$text-color: #414141;
$text-color-light: #fff;

$header-color: #202020;
$header-color-light: #fff;

$label-color: rgba(0, 0, 0, 0.5);
$label-color-light: rgba(255, 255, 255, 0.5);

$error-color: #e74c3c;


$reliability-base: #1a2386;
$severity-base: #b71c1c;
