$line-height: 1.5;

$text-size-md: 14px;
$text-size-sm: 13px;
$text-size-xs: 12px;
$text-size-lg: 15px;
$text-size-xl: 16px;
$text-size-sl: 18px;

$navbar-height: 56px;

$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-bold: 600;
