$line-height: 1.8;

$text-size-md: 13px;
$text-size-sm: 12px;
$text-size-xs: 11px;
$text-size-lg: 15px;
$text-size-xl: 17px;
$text-size-sl: 19px;
$text-size-ml: 32px;

$navbar-height: 56px;

$font-weight-normal: 400;
$font-weight-thin: 300;
$font-weight-bold: 500;

$deep-logo-width: 96px;
$deep-logo-sm-width: 32px;
