nav{
    background-color: darken($primary-color, 10%);
    height: $navbar-height;
    z-index: 1010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    @include shadow();

    img{
        width: 96px;
    }
    a, a:visited{
        display: inline-block;
    }
    #report-wrapper{
    }
    #main-menu{
        flex-basis: 40%;
    }
    .menu-item{
        font-weight: $font-weight-normal;
        color: rgba(255, 255, 255, 0.7);
        transition: 0.2s all ease-in-out;
        text-align: center;
        font-size: $text-size-md;
        height: $navbar-height;
        padding: 0 16px;
        padding-top: calc(calc(#{$navbar-height} - #{$text-size-md} - 8px) / 2);

        &.active{
            border-bottom: 2px solid #fff;
            color: #fff;
            font-weight: $font-weight-bold;
        }
    }
    a:hover, a:active, button:hover, button:active{
        color: #fff;
    }
    button, button:visited{
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-weight: $font-weight-normal;
        font-size: $text-size-md;

        .fa{
            margin-right: 10px;
        }
        .caret{
            margin-left: 10px;
        }
    }
    #crisis-wrapper{
        flex-basis: 28%;

        .selectize-control.single{
            .selectize-input, &.single, .selectize-input.input-active{
                background-color: transparent!important;
            }
        }
        .selectize-input{
            border: none;
            > div, input{
                background-color: transparent;
                color: #fff;
            }
            &:after {
                content: ' ';
                display: block;
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -3px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #808080 transparent transparent transparent;
            }
        }
        a{
            vertical-align: middle;
        }
    }
    .dropdown{
        ul{
            li{
                a{
                    padding-top: 8px;
                    padding-bottom: 8px;
                    .fa{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
