body{
    > nav{
        background-color: darken($primary-color, 10%);
        height: $navbar-height;
        z-index: 1010;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 16px;
        @include shadow();
        $deep-logo-width: 96px;

        a:hover, a:active{
            color: #fff;
        }
        .menu-item{
            font-weight: $font-weight-normal;
            font-size: $text-size-md;
            height: $navbar-height;
            display: inline-block;
            padding: calc(calc(#{$navbar-height} - #{$text-size-md} - 8px) / 2) 16px 0 16px;
            color: rgba(255, 255, 255, 0.7);
            transition: 0.2s all ease-in-out;

            &.active{
                font-weight: $font-weight-bold;
                border-bottom: 2px solid #fff;
                color: #fff;
            }
        }
        #deep-logo-container{
            flex-basis: 96px;
            flex-shrink: 0;
            flex-grow: 0;

            img{
                width: 100%;
            }
        }
        #project-select-container{
            flex-basis: 20%;

            .selectize-control.single{
                .selectize-input, &.single, .selectize-input.input-active{
                    background-color: transparent!important;
                }
            }
            .selectize-input{
                border: none;
                > div, input{
                    background-color: transparent;
                    color: #fff;
                }
                &:after {
                    content: ' ';
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    margin-top: -3px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: #808080 transparent transparent transparent;
                }
            }
            #project-dropdown-alt{
                vertical-align: middle;
                color: #fff;
                font-size: $text-size-sm;

                .fa{
                    width: 16px;
                }
            }
        }
        #main-menu{
            flex-basis: 50%;
        }
        #extra-menu{
            flex-basis: calc(20% - #{$deep-logo-width});
            display: flex;
            justify-content: space-between;

            #chrome-extension-download-link{
                flex-basis: 24px;
                color: #fff;
            }

            .name{
                .fa{
                    margin-right: 10px;
                }
            }

            .dropdown{
                flex-basis: calc(90% - 24px);
                position: relative;
                cursor: pointer;
                outline: none;

                .dropdown-toggle{
                    color: rgba(255, 255, 255, 0.7);
                    display: flex;
                    justify-content: space-around;
                }

                .items{
                    position: absolute;
                    top: calc(8px + #{$navbar-height} / 2);
                    right: 0;
                    background-color: #fff;
                    width: 100%;
                    min-width: 200px;
                    z-index: 1011;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);

                    hr{
                        border: 1px solid rgba(0, 0, 0, 0.05);
                        margin: 0;
                    }
                    a, button {
                        display: block;
                        width: 100%;
                        text-align: left;
                        padding: 16px;
                        text-transform: uppercase;
                        color: $text-color;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        background-color: transparent;

                        .fa{
                            width: 32px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                    }
                }
            }
        }
    }
}
