nav{
    background-color: darken($primary-color, 10%);
    height: $navbar-height;
    z-index: 1010;
    line-height: 1;
    text-align: center;
    @include shadow();

    img{
        height: $navbar-height - 16px;
        margin-top: 8px + 2px;  // 2px to fix logo's bottom padding
    }
    a, a:visited{
        display: inline-block;
    }
    #event-menu{
        display: inline-block;
        padding: (($navbar-height - $text-size-md)/2);
    }
    .menu-item{
        height: $navbar-height;
        padding: (($navbar-height - $text-size-md)/2);
        vertical-align: middle;
        font-size: $text-size-md;
        font-weight: $font-weight-normal;
        color: rgba(255, 255, 255, 0.7);
        transition: 0.2s all ease-in-out;

        &.active{
            border-bottom: 2px solid #fff;
            color: #fff;
            font-weight: $font-weight-bold;
        }
    }
    a:hover, a:active, button:hover, button:active{
        color: #fff;
    }
    button, button:visited{
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.7);
        font-weight: $font-weight-normal;
        font-size: $text-size-md;

        .fa{
            margin-right: 10px;
        }
        .caret{
            margin-left: 10px;
        }
    }
    #crisis-wrapper{
        padding: 18px;

        .selectize-input, .input-active{
            border: none;
            background-color: transparent;
            text-align: left;
            padding: 0;
            color: #b3caca;
            font-size: $text-size-md!important;

            .item{
                text-transform: uppercase;
                text-align: left;
                font-size: $text-size-md!important;
            }

            input{
                text-transform: uppercase!important;
                color: #b3caca;
            }

            &:after{
                margin-top: -10px;
                border-color: #b3caca transparent transparent transparent;
            }
        }
        .dropdown-active{
            &:after{
                border-color: transparent transparent #b3caca transparent;
            }
        }
        .selectize-dropdown{
            text-align: left!important;
        }
        .focus{
            border: none;
            color: #fff;
            box-shadow: none;
        }
    }
    .dropdown{
        ul{
            li{
                a{
                    padding-top: 8px;
                    padding-bottom: 8px;
                    .fa{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
