@mixin shadow() {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
}

@mixin btn-shadow-lg(){
    box-shadow: 0 6px 15px -5px #000;

    &:active{
        box-shadow: 0 6px 10px -5px #000;
    }
}
@mixin btn-shadow-sm(){
    box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.5);

    &:active{
        box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
    }
}
