@mixin shadow() {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
}
@mixin shadow-lg() {
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.3);
}


@mixin btn-shadow-lg(){
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.7);

    &:active{
        box-shadow: 0 6px 3px -4px rgba(0, 0, 0, 0.7);
    }
}
@mixin btn-shadow-sm(){
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);

    &:active{
        box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.3);
    }
}
